/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


#page #eyeCatch {
	min-height: 270px;
}

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff') format('woff'),
		url('../fonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
#wrapper .flexslider {margin: 0; padding: 0;}
#wrapper .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#wrapper .flexslider .slides img {width: 100%; display: block;}
#wrapper .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
#wrapper .slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
#wrapper .no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
#wrapper .flexslider {
 margin: 20px 0 30px; position: relative; 
 zoom: 1; }
/*#wrapper .flexslider {
 margin: 0 0 40px; background: #fff; border: 4px solid #fff; position: relative;
 -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; 
 -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2);
 zoom: 1; }*/
#wrapper .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
#wrapper .loading .flex-viewport { max-height: 300px; }
#wrapper .flexslider .slides { zoom: 1; }
#wrapper .carousel li { margin-right: 5px; }

/* Direction Nav */
#base .flex-direction-nav {*height: 0;}
#base .flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
/*#base .flex-direction-nav .flex-prev { left: -50px; }
#base .flex-direction-nav .flex-next { right: -50px; text-align: right; }*/
#base .flex-direction-nav .flex-prev { opacity: 1; left: 0px; }
#base .flex-direction-nav .flex-next { opacity: 1; right: 0px; text-align: right; }
/*#base .flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
#base .flexslider:hover .flex-next { opacity: 0.7; right: 10px; }*/
#base .flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
#base .flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
#base .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
#base .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
/*.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }*/

#base .flex-prev {
	text-indent: -100em;
	background-image: url("../images/slide_prev.png");}
#base .flex-next {
	text-indent: -100em;
	background-image: url("../images/slide_next.png");}

/* Pause/Play */
/*#wrapper .flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
#wrapper .flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
#wrapper .flex-pauseplay a:hover  { opacity: 1; }
#wrapper .flex-pauseplay a.flex-play:before { content: '\f003'; }*/

/* Control Nav */
#base .flex-control-nav {width: 100%; position: absolute; bottom: -80px; text-align: center;}
#base .flex-control-nav li {margin: 0 18px; display: inline-block; zoom: 1; *display: inline;}
/*#wrapper .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }*/



#base .flex-control-paging li a {
    background: url("../images/slider_bg_dot_ov.png") no-repeat left top;
    cursor: pointer;
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 18px;
 }
#base .flex-control-paging li a:hover {
    background: url("../images/slider_bg_dot_ov.png") no-repeat left top;
}
#base .flex-control-paging li a.flex-active {
    background: url("../images/slider_bg_dot.png") no-repeat left top;
    cursor: default;
}
/*
#wrapper .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
#wrapper .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
#wrapper .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
#wrapper .flex-control-thumbs img:hover {opacity: 1;}
#wrapper .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}