@charset "utf-8";

/*=========================================================
	::Date
		date : 20130624

	::Explanation
		1.reset
		2.common link
		
=========================================================*/

/* reset
---------------------------------------------------------*/
html, body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
p, table, caption, th, td{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 100%;
	color: #222;
}
table, tr, th, td {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
	vertical-align: top;
}
li {
	list-style:none;
}
address{
	font-style: normal;
}
a{
	outline: none;
}
html{
	overflow-y: scroll;
}

em{
	background: #ffebad;
	font-style: normal;
}

.gr{
	background: #E3E3E3;
	font-style: normal;
}

/* common link styles
---------------------------------------------------------*/

a:link {
	color: #00345c;
	text-decoration: none;
}
a:visited {   
	color: #00345c;
	text-decoration: none;
}
a:hover {
	color: #00345c;
	text-decoration: underline;
}
a:active {
	color: #c45800;
}
