@charset "utf-8";
/*=========================================================
		
=========================================================*/

/*
--------------------------------------------------------
 commonlayouts
--------------------------------------------------------
*/

body {
	clear: both;
	background: #fff;
	font-size: 0.81em;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
	color: #1f1f1f;
}
#Wrapper {
}
#WrapperInner {
}
