@charset "UTF-8";

.pc-main .pc_index section#cont02 div.inner div.lead .strong {
  display: block;
  font-size: 23px;
  text-align: center;
  letter-spacing: -0.12em;
  color: #c21126;
  margin: 0 0 3px 0;
}

.pc-main .pc_index section#cont02 div.inner div.lead .strong .em {
  letter-spacing: -0.54em;
}

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box .strong {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  position: absolute;
  left: 138px;
  background: url(../migrate/images/common/comment.svg) center top no-repeat;
  background-size: contain;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5em;
  width: 145px;
  height: 147px;
}

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg div.box .strong {
  top: -100px;
}

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box .strong .em {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg div.box .strong {
  top: -110px;
}

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg div.box .strong {
  top: -107px;
}

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg div.box .strong {
  top: -100px;
}

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg div.box .strong {
  top: -106px;
}

.pc-main .pc_index section#cont02 div.inner h2 .em {
  display: block;
  font-size: 30px;
  text-indent: 21px;
  line-height: 1.66667;
  margin: 37px 0 0 9px;
}