@charset "UTF-8";

body{
  position: relative;
}

/*  common
--------------------------------------------- */

h2{
  margin-bottom: 60px;
}
h2.left-mg{
  margin-left: -40px;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

/*  main
--------------------------------------------- */
.main{
  float: none;
  width: auto;
}
.main .main-fv{
  width:100%;
  height: 670px;
  min-height:670px;
  max-height: 670px;
  background:#fff url(../img/adgallery/2020/ad_main.png) no-repeat center center;
  animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@media screen and (max-width: 1730px){
  .main .main-fv{
    background-size:cover;
  }
}
/*  concept
--------------------------------------------- */
.concept{
  width:100%;
  height: 788px;
  min-height:788px;
  max-height: 788px;
  background:#ddd url(../img/adgallery/2020/ad_concept_bg.png) no-repeat center center;
  background-size:cover;
  text-align: center;
}
.concept .inner{
  padding-top: 80px;
}

/*  graphic
--------------------------------------------- */
.graphic{
  position: relative;
  padding-top: 50px;
  background-color: #FFF;
  background-image: url(../img/adgallery/2020/ad_line.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 100px;
}
.graphic::before{
  content:" ";
  position: absolute;
  top:0;
  width:100%;
  height:465px;
  background-color: #fff2f7;
  z-index: 0;
}
.graphic .inner{
  position: relative;
  z-index: 99;
  text-align: center;
  width: 1120px;
  margin: 0 auto;
}
.graphic .box-item{
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.graphic .box-item.new-ico::before{
  content:" ";
  position: absolute;
  width: 86px;
  height: 86px;
  display: block;
  background:url(../img/adgallery/2020/ad_new_ico.png) no-repeat center center;
  top:-45px;
  left:-30px;
  z-index:10;
}
.graphic .item-txt{
  color:#a93f55;
  font-size: 1.1rem;
  letter-spacing: 6px;
  padding-top: 20px;
}
.graphic .ad-box.col1{
  margin-bottom: 140px;
}
.graphic .ad-box.col2{
  display: flex;
  justify-content:space-between;
  margin-bottom: 85px;
}
.graphic .ad-box.col2 .col-inner{

}
.graphic .ad-box.col2.last{
  margin-bottom: 50px;
}
.graphic .ad-box.col2 .box-item.new-ico::before{
  left:10px;
  top:-45px;
}
.graphic .ad-box a:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.graphic .more-btn{
  width: 580px;
  margin: 0 auto;
  text-align: center;
  background-color: #e07a8f;
  position: relative;
}
.graphic .more-btn::before{
  position: absolute;
  content:" ";
  width: 16px;
  height: 16px;
  background:url(../img/adgallery/2020/ad_slide_icon01.png) no-repeat center center;
  right: 15px;
  top:50%;
  margin-top: -8px;
}
.graphic .more-btn.close::before{
  position: absolute;
  content:" ";
  width: 16px;
  height: 16px;
  background:url(../img/adgallery/2020/ad_slide_icon02.png) no-repeat center center;
  right: 15px;
  top:50%;
  margin-top: -8px;
}
.graphic .more-btn a{
  display: block;
}
.graphic .more-btn a:hover{
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f0b4c0;
}
.graphic .more-btn img{
  vertical-align: middle;
  padding: 20px 0;
}
.hide-area{
  padding-top: 0px;
}

/*  tv cm
--------------------------------------------- */
.tv-cm {
  text-align: center;
  padding-bottom: 100px;
}
.tv-cm .inner{
  width: 700px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}
.tv-cm .cm-box{
  margin-bottom: 80px;
}
.tv-cm .cm-box p.txt{
  padding-top: 20px;
  color:#a93f55;
  font-size: 1.1rem;
  letter-spacing: 6px;
}


/*  profile
--------------------------------------------- */
.profile{
  position: relative;
  padding-top: 50px;
  background-color: #FFF;
  margin-bottom: 120px;
}
.profile::before{
  content:" ";
  position: absolute;
  top:0;
  width:100%;
  height:380px;
  background-color: #fff2f7;
  z-index: 0;
}
.profile .inner{
  width: 1120px;
  margin: 0 auto;
  z-index: 99;
  position:relative;
  text-align: center;
}
.profile .col2-box{
  padding: 0 60px;
  display: flex;
  justify-content:space-between;
}
.profile .col2-box .box-item{
  width: 450px;
}
.profile .col2-box .box-item .item-cont{
  color:#6a5b5e;
  padding: 0 20px;
}
.profile .col2-box .box-item .name{
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.profile .col2-box .box-item .item-txt{
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.7;
  letter-spacing: 4px;
}


/*  music
--------------------------------------------- */
.music{
  text-align: center;
  margin-bottom: 150px;
}
.music p{
  color: #6a5b5e;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
