.sec-box {
  width: 100%;
  margin-bottom:40px;
}
.sec-box-last {
  width: 100%;
}

.gr-bg-img {
  width: 100%;
  margin-bottom:40px;
  padding:10px 0;
  background-image: url(https://ginza-calla.jp/wp-content/themes/calla_pc/resource/img/adgallery/2019/gr-bg-img.png);
  background-repeat:repeat;
}


.pad-20-20-0 {
  padding:20px 20px 0;
  margin-bottom:50px;
}

.pad-20-20-0 .mar-bot-30 {
  margin-bottom:30px;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.pad-20-20-0 .inner {
  float: left;
  width:280px;
  margin-right:27px;
}
.pad-20-20-0 .right{
  float:right;
  width:280px;
}

.pad-20-20-0 .bold-txt {
  color:#333333;
  font-size:17px;
  font-weight:bold;
  text-align:center;
  margin:7px 0 5px;
}

.pad-20-20-0 .kakudai {

}

.pad-20-20-0 .kakudai2 {
  margin-left:40px;
}

.mar-rl-center {
  text-align:center;
  display: block;
}

.mar-33-0 {
  margin:33px 0;
}

.txt-15c {
  color:#333333;
  font-size:15px;
  line-height:2;
  text-align:center;
}

.ad-movie {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.pad-prof {
  padding:25px 49px 0;
}

.pad-prof .inner-ph {
  float: left;
  width:180px;
  margin-right:90px;
  margin-left:30px;
}
.pad-prof .right-ph{
  float:right;
  width:180px;
  margin-right:30px;
}

.pad-prof .inner-name {
  float: left;
  width:240px;
  margin-right:50px;
  text-align:center;
  color:#333333;
  font-size: 15px;
  margin: 15px 0 10px;
  line-height: 1;
}

.pad-prof .right-name {
  float:right;
  width:240px;
  text-align:center;
  color:#333333;
  font-size: 15px;
  margin: 15px 0 10px;
  line-height: 1;
}

.pad-prof .inner-name span,
.pad-prof .right-name span {
  font-size: 12px;
  letter-spacing: 5px;
}

.pad-prof .inner-txt {
  float: left;
  width:240px;
  margin-right:50px;
  color:#333333;
  font-size: 13px;
  line-height: 1.9;
  text-align:justify;
}
.pad-prof .right-txt {
  float:right;
  width:240px;
  color:#333333;
  font-size: 13px;
  line-height: 1.9;
  text-align:justify;
}

p.new-ico a{
  position: relative;
  display: block;
}
p.new-ico a::after{
  display: block;
  content:" ";
  position: absolute;
  width: 60px;
  height: 63px;
  background-image: url(../img/adgallery/2019/new-ico.png);
  top:0px;
  left:-1px;
}
