@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap
  @銀座カラーの脱毛について1804
--------------------------- */

/* ---------------------------
	@ Block about
--------------------------- */

.block_anshin {
	margin:10px 0 30px 0;
}

.line-anshin {
	width:100%;
	height:1px;
	margin:20px 0 20px 0;
	background:url('../img/common/bg-dot-line.gif') repeat-x center bottom;
}

.anshin-box {
	width:300px;
	display:inline-block;
	margin:0 auto;
	vertical-align:top;
}

.anshin-box img {
	width:90px;
	display:inline-block;
	margin:0 auto;
}

.anshin-box h2 {
	margin:14px 0 0 10px;
	font-size:19px;
	display:inline-block;
	font-size:20px;
	color:#d2081f;
	line-height:120%;
}

.anshin-box p {
	font-size:14px;
	line-height:150%;
	margin:10px 0 0 0;
	padding: 15px 15px 35px 15px;
}

.mgnR {
	margin-right:22px;
}


/* 銀座カラーの脱毛について1804 */
.datsumo_div1{
	border: 1px solid #d2081f;
	box-sizing:border-box;
	width: 305px;
	margin: 0px 10px 15px 0;
}
.div1_1{
	background: #fbe8e8;
	padding: 15px;
	box-sizing:  border-box;
}
.datsumo_div2{
	border: 1px solid #d2081f;
	box-sizing:  border-box;
	margin-right:  0;
	width:  305px;
}

/* 高結果サポート */
.result_sec{
	padding: 50px 0 0;
}
.result_h2{
	width: 100%;
	background-color: #fbe8e8;
	font-size: 24px;
	color: #d2081f;
	font-weight: bold;
	text-align: center;
	margin: 0 0 20px 0;
	border-radius: 45px;
}
.result_div1{
	border: 1px solid #d2081f;
	box-sizing:  border-box;
	margin: 0 10px 15px 0;
}
.result_div1 h3{
	text-align:center;
	display: inline-block;
	color: #d2081f;
	line-height: 120%;
	margin: 15px auto 0;
	font-size: 19px;
	width:  100%;
}
