@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN SHOKAI COMMON
	@ Parts
	  - Shokai Head
	  - Shokai Head Lower
	  - Shokai Area Stripe
	  - Shokai Area White
--------------------------- */

/* ---------------------------
  @ Shokai Head
--------------------------- */
.campaign-head-area.shokai-head {
  height: 457px;
  background-color: #fff7ef;
}
.campaign-head-area.shokai-head .campaign-mainimage {
  height: 457px;

}
/* ---------------------------
  @ Shokai Head Lower
--------------------------- */
.shokai-head-lower {
  background-color: #fea3a3;
  padding: 30px 0 25px;
  position: relative;
}
.shokai-head-lower:after {
  content: "";
  width: 80px;
  height: 28px;
  background: url('../img/campaign/shokai/icon-triangle.png') no-repeat;
  background-position: center bottom;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -28px;
  margin-left: -40px;
}
.shokai-head-lower > div {
  width: 800px;
  margin: 0 auto 15px;
  background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.shokai-head-lower .shokai-head-txt {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.shokai-head-lower .shokai-head-txt span {
  color: #fff44a;
}

/* ---------------------------
  @ Shokai Area Stripe
--------------------------- */
.shokai-area-stripe {
  padding-top: 43px;
  padding-bottom: 52px;
  background: url('../img/campaign/shokai/bg-stripe.png');
}
.block-shokai-tokuten {
  background: url('../img/campaign/shokai/bg-alpha.png');
  padding: 40px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.block-shokai-tokuten p {
  font-size: 38px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 20px;
}
.block-shokai-tokuten p:first-child {
  font-size: 28px;
}
.block-shokai-tokuten p span {
  font-weight: bold;
}
.block-shokai-tokuten p .text-red {
  color: #ff5564;
}
.block-shokai-tokuten p .text-blue {
  color: #008fdd;
}
.block-shokai-tokuten .tokuten-inner {
  padding: 10px 30px 0 5px;
  overflow: hidden;
  position: relative;
}
.block-shokai-tokuten .tokuten-left {
  width: 385px;
  float: left;
}
.block-shokai-tokuten .tokuten-right {
  width: 385px;
  float: right;
}
.block-shokai-tokuten .tokuten-center {
  width: 500px;
  margin: 0px auto;
}
.shokai-area-stripe .tokuten-txt {
  text-align: center;
  margin-top: -30px;
  position: relative;
}
.shokai-area-stripe .block-btn-shokai {
  background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

/* ---------------------------
  @ Shokai Area White
--------------------------- */
.shokai-area-white {
  background-color: #fff;
  border-bottom: #fbe8e8 4px solid;
  padding: 35px 0;
  margin-bottom: 50px;
}
.shokai-area-white .title {
  width: 865px;
  height: 0;
  padding-top: 154px;
  background: url('../img/campaign/shokai/img-flow-pc.png') no-repeat;
  background-position: center top;
  overflow: hidden;
  margin: 0 auto 60px;
}
.shokai-area-white ol {
  padding-bottom: 25px;
}
.shokai-area-white ol li {
  margin-top: 35px;
  display: table;
  width: 100%;
}
.shokai-area-white ol li:first-child {
  margin-top: 0;
}
.shokai-area-white ol li span {
  display: table-cell;
  vertical-align: top;
}
.shokai-area-white ol li .number {
  width: 54px;
  padding-top: 5px;
}
.shokai-area-white ol li .text {
  width: 550px;
  padding-left: 20px;
  font-size: 25px;
}
.shokai-area-white ul {
  font-size: 16px;
  padding: 12px 0 0;
  border-top: #999 1px dashed;
}

/*
2015 11 16 add
*/
@media (max-width: 736px) {
    body {
      width:100% !important;
      min-width: 100%;
    }
    .campaign-mainimage img {
      width: 100%;
    }
  }
