@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN COMMON
	@ Parts
	  - Block Campaign
	  - Campaign Head Area
	  - Block Shokai Promo
--------------------------- */

/* ---------------------------
  @ Block Campaign
--------------------------- */
.block-campaign {
  margin: 35px 0;
}
.block-campaign > div {
  text-align: center;
  margin-top: 14px;
}
.block-campaign > div a {
  display: block;
  position: relative;
}
.block-campaign > div span {
  color: #f06993;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 135px;
}
.block-campaign div:first-child {
  margin-top: 0;
}

.bnr-campaign-box01{
  background: url('../img/common/bg-pink-arrow01.png') no-repeat;
  background-position: 600px 45px;
  background-color: #fff0ee;
  border: 1px solid #ff7272;
  padding: 5px 0;
  width: 628px;
  margin: 20px auto 5px;
}
.bnr-campaign-box03{
  width: 391px;
  margin: 0 auto;
}
.bnr-campaign-box01 .bnr-campaign-box02 p:first-child{
  color: #ff0155;
  font-size: 16px;
  border-bottom: 1px dotted #ff0155;
  text-align: center;
  margin: 0 auto;
  width: 368px;
}
.bnr-campaign-box01 .bnr-campaign-box03 p:last-child{
  margin-left: 5px;
  width: 180px;
}
.bnr-tit-campaign{
  font-size: 32px;
  color: #ff0155;
  padding-left: 25px;
  line-height: 1.9;
  font-weight: bold;
  text-align: center;
  background-position: 33px 14px;
}
.bnr-stripe-pink{
  margin: 0 auto 2px;
  padding: 5px 10px;
  width: 206px;
  background: url('../img/common/bg-pinkstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: #fff;
  float: left;
}

/* ---------------------------
  @ Campaign Head Area
--------------------------- */
.campaign-head-area {
  border-top: #fbe8e8 4px solid;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.campaign-mainimage {
  width: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -650px;
}
.campaign-mainimage img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}


/* ---------------------------
  @ Block Shokai Promo
--------------------------- */
.block-shokai-promo {
  width: 690px;
  margin: 0 auto;
}

/* Btn Campaign
 * ------------------------- */
.btn-campaign {
  width: 628px;
  margin: 0 auto;
  background: #fff;
}
