@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN UNDER20 COMMON
	@ Parts
	  - Under20 Head Area
	  - Under20 Area White
	  - Under20 Body
--------------------------- */

/* ---------------------------
  @ Under20 Head
--------------------------- */
.campaign-head-area.under20-head {
  height: 375px;
  background-color: #FFAFB4;
}
.campaign-head-area.under20-head .campaign-mainimage {
  height: 375px;

}


/* ---------------------------
  @ Under20 Area White
--------------------------- */
.under20-area-white {
  background: #fff;
  border-bottom: #fbe8e8 4px solid;
  padding: 30px 0;
  margin-bottom: 50px;
}
.under20-area-white .container {
  overflow: hidden;
}
.under20-area-white dl {
  border: #4cbbe2 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: table;
	width: 100%;
	box-sizing: border-box;
}
.under20-area-white dt {
  display: table-cell;
  width: 319px;
  vertical-align: middle;
  text-align: center;
  padding: 17px 0 15px;
}
.under20-area-white dd {
  display: table-cell;
  vertical-align: middle;
  color: #4cbbe2;
  font-size: 18px;
}

/* ---------------------------
  @ Under20 Body
--------------------------- */
.under20-body .under20-alert {
  color: #6c5448;
  font-size: 16px;
  line-height: 1.7;
  border: #b1a49d 1px dotted;
  padding: 12px 20px;
}
.block-under20 {
  padding-top: 35px;
  margin: 0 -20px;
  overflow: hidden;
  border-top: #d2d2d2 1px dotted;
}
.under20-body .block-under20:first-child {
  border-top: none;
}
.block-under20 > div {
  width: 460px;
  float: left;
  margin: 0 20px;
  padding-bottom: 30px;
}
.block-under20 > div > p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: -0.05em;
}
.block-under20 > .block-red > p {
  color: #ff7f7f;
}
.block-under20 > .block-orange > p {
  color: #ffa944;
}
.block-under20 > .block-green > p {
  color: #4ecbbf;
}
.block-under20 > .block-blue > p {
  color: #70c0de;
}
.block-under20 > div > .title-choice {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.05em;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 10px;
  padding: 10px 0 16px;
}
.block-under20 > .block-red > .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-1.png');
}
.block-under20 > .block-orange > .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-2.png');
}
.block-under20 > .block-green > .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-3.png');
}
.block-under20 > .block-blue > .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-4.png');
}
.block-under20 > div > div {
  text-align: center;
  margin-bottom: 16px;
}
.block-under20 > div .parts-list {
  overflow: hidden;
  margin: 0 -5px;
}
.block-under20 > div .parts-list li {
  text-align: center;
  color: #6c5448;
  font-size: 16px;
  font-weight: bold;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  width: 146.5px;
  float: left;
  margin: 0 5px 10px;
  padding: 2px 0 1px;
}
.block-under20 > div .choice-list {
  background: #fbf7e8;
  padding: 10px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.block-under20 > div .choice-list li {
  color: #6c5448;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
}

/*
2015 11 16 add
*/
@media (max-width: 736px) {
    body {
      width:100% !important;
      min-width: 100%;
    }
    .campaign-mainimage img {
      width: 100%;
    }
  }
