@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN OTAMESHi COMMON
	@ Parts
	  - Block Otameshi Top
	  - Otameshi Area
	  - Block Otameshi Mdl
	  - Block Otameshi Lower
--------------------------- */

/* ---------------------------
  @ Block Otameshi Top
--------------------------- */
.block-otameshi-top{
  width: 100%;
}
.otameshi-head {
  text-align: center;
  position: relative;
  background-color: #FBE8E8;
}
.otameshi-head span {
  display: inline-block;
  color: #f06993;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 78px;
  left: 245px;
}
.block-otameshi-bui {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 30px 30px;
  background: #fff;
  text-align: center;
}
.otameshi-bui-txt {
  color: #fff;
  font-size: 28px;
  display: inline-block;
  background-color: #f06993;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.otameshi-bui-txt:before ,
.otameshi-bui-txt:after {
  content: "";
  background-repeat: no-repeat;
  background-position: left top;
  display: inline-block;
  position: relative;
  top: 10px;
}
.otameshi-bui-txt:before {
  width: 23px;
  height: 35px;
  background-image: url('../img/campaign/otameshi/icon-parts-left.png');
  left: -15px;
}
.otameshi-bui-txt:after {
  width: 22px;
  height: 36px;
  background-image: url('../img/campaign/otameshi/icon-parts-right.png');
  right: -15px;
}
.block-otameshi-bui ul {
  background: #fff;
  padding: 20px 20px 5px 28px;
  overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  width: 858px;
  margin: 0 auto;
}
.block-otameshi-bui li {
  width: 134px;
  float: left;
  color: #6c5448;
  font-size: 13px;
  font-weight: bold;
  margin: 0 8px 13px 0;
  padding: 4px 0 1px;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.otameshi-tit-box{
  position: relative;
}
.otameshi-arrow{
  width: 10px;
  height: 10px;
  border-bottom: 30px solid #f06993;
  border-left: 30px solid #f06993;
  position: absolute;
  bottom: -20px;
  left: 48.5%;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

/* ---------------------------
  @ Otameshi Area
--------------------------- */
.otameshi-area {
  background: url('../img/campaign/otameshi/bg-stripe-2.png');
}

/* ---------------------------
  @ Block Otameshi Mdl
--------------------------- */
.block-otameshi-mdl {
  padding: 90px 0;
  text-align: center;
  background: url('../img/campaign/otameshi/img-person.png') no-repeat;
  background-position: right bottom;
}

/* ---------------------------
  @ Block Otameshi Lower
--------------------------- */
.block-otameshi-lower {
  padding: 30px 0 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
}
.block-otameshi-lower .title {
  width: 730px;
  height: 0;
  padding-top: 112px;
  background: url('../img/campaign/otameshi/img-point.png') no-repeat;
  background-position: left top;
  overflow: hidden;
  margin: 0 auto 25px;
}
.block-otameshi-lower dl {
  background: url('../img/campaign/otameshi/bg-stripe-3.png');
  letter-spacing: -0.4em;
  text-align: center;
  padding-bottom: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  width: 960px;
  margin: 0 auto;
}
.block-otameshi-lower dt {
  background: url('../img/campaign/otameshi/bg-dotted-line.png') repeat-x;
  background-position: center bottom;
  padding: 24px 0 22px;
  margin-bottom: 40px;
  letter-spacing: normal;
}
.block-otameshi-lower dt span {
  display: block;
  width: 599px;
  height: 0;
  padding-top: 26px;
  background: url('../img/campaign/otameshi/txt-please-check.png') no-repeat;
  background-position: left top;
  overflow: hidden;
  margin: 0 auto;
}
.block-otameshi-lower dd {
  letter-spacing: normal;
  display: inline-block;
  margin: 0 55px 30px 20px;
}
.block-otameshi-lower p {
  color: #6c5448;
  margin: 10px auto 40px;
  width: 960px;
}
