@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN PAYMENT COMMON
	@ Parts
	  - Block Payment
	  - Block Payment List
--------------------------- */

/* ---------------------------
  @ Block Payment
--------------------------- */
.block-payment {
  padding: 42px 58px 0;
}
.block-payment .title-payment {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
}

.block-payment > p {
  font-size: 16px;
  text-align: center;
}


/* ---------------------------
  @ Block Payment List
--------------------------- */
.block-payment-list {
  margin-top: 40px;
}
.block-payment-list > section {
  margin-bottom: 15px;
}
.block-payment-list > section .payment-head {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  background: #FF7272 none repeat scroll 0% 0%;
  	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	position: relative;
}
.block-payment-list > section .payment-head img {
  display: block;
  position: absolute;
  top: 0;
  left: 60px;
}
.block-payment-list > section .payment-body {
  padding: 25px 0 30px;
  background: #FFF5F0 none repeat scroll 0% 0%;
    text-align: center;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.block-payment-list > section .payment-body > p {
  color: #4e3829;
  font-size: 22px;
  margin-bottom: 10px;
}
.block-payment-list > section .payment-body > .text-s {
  font-size: 20px;
}
.block-payment-list > ul {
  font-size: 16px;
  margin-bottom: 25px;
}
.block-payment-list > ul li {
  padding-left: 1em;
  text-indent: -1em;
}

/* ---------------------------
  全額返金箇所
--------------------------- */
.ques-1{
  color:#cd162d;
  font-size:24px;
  font-weight:bold;
  margin-bottom:35px;
}
.ques-1:before{
  content:url(../img/campaign/payment/pc_henkin_intro1.png);
  position: absolute;
  top: 10%;
  left: 15%;
}
.ques-1:after{
  content:url(../img/campaign/payment/pc_henkin_intro2.png);
  position: absolute;
  top: -15%;
  right: 14%;
}
.ques-2{
  font-size:18px;
}
.ques-2:before{
  content:url(../img/campaign/payment/pc_henkin_qal.png);
  position: absolute;
  left: 18%;
}
.ques-2:after{
  content:url(../img/campaign/payment/pc_henkin_qar.png);
  position: absolute;
  right: 18%;
}
.payment-body .relative{
  position: relative;
}
.payment-body .absolute{
  position: absolute;
}
.henkin-p1{
  top:6%;
  left:31%;
  font-size:26px;
}
.henkin-p2{
  top:15%;
  left:31%;
  font-size:26px;
}
.henkin-p3{
  top:25%;left:31%;font-size:26px;
}
.henkin-p4{
  top:34%;left:31%;font-size:26px;
}
.henkin-p5{
  top:44%;left:31%;font-size:26px;
}
.henkin-p6{
  top:54%;left:25%;font-size:22px;
}
.henkin-p7{
  top:71.4%;left:46%;color:#fff;font-weight:bold;font-size:26px;
}
.henkin-p8{
  top:78.5%;left:22%;font-weight:600;font-size:28px;line-height:1.3;
}
.henkin-p8 > span{
  font-size:50px;
}


/*   Btn Campaign
 * ------------------------- */
.btn-campaign.payment {
  margin-top: 50px;
}


/*  Campaign Example
 * ------------------------- */
.block-payment-ex {
	width: 720px;
	height: 135px;
  margin: 50px 0 0 62px;
	padding: 33px 25px 20px;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.tit-payment-ex {
	position: absolute;
	top: -15px;
	left: -16px;
}
.payment-ex > dl {
	width: 194px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 9px;
}
.payment-ex .ex-total {
	width: 193px;
  background: url('../img/campaign/payment/icon-arrow-right.png') no-repeat right center;
	padding-right: 38px;
}
.payment-ex .ex-split {
	margin-left: 17px;
}
.payment-ex > dl dt {
	font-size: 18px;
  background: url('../img/campaign/payment/bg-dotted.png') repeat-x;
	background-position: bottom center;
	padding-bottom: 5px;
}
.payment-ex > dl dd {
	font-size: 18px;
	line-height: 2em;
}
.payment-ex > dl dd .txt-large{
	font-size: 28px;
}
.payment-ex > dl dd.txt-pink{
	letter-spacing: -0.06em;
}
.payment-ex .txt-balloon {
	float: left;
	font-size: 20px;
	font-weight: bold;
  background: url('../img/campaign/payment/bg-balloon.png') no-repeat;
	width: 253px;
	height: 85px;
	margin-left: 13px;
	padding-left: 25px;
	line-height: 85px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.payment-ex .txt-pink {
	color: #ff0155;
}
.shuku-cont{
  text-align:center;
  margin:20px auto;
}
