@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CARE
  // トップページ
	@ Block Figure
	@ Block Wide
	@ Block Care List


  // 脱毛の基礎
  @ Block Number List
--------------------------- */

/* ---------------------------
	@ Block Figure
--------------------------- */
.block-figure-body {
  width: 394px;
  float: left;
}
.block-figure .block-figure-body.page-top {
  width: 370px;
  margin-right: 24px;
}
.block-figure .block-figure-image.page-top {
  width: 234px;
}
.block-figure-body:first-child {
  margin-right: 15px;
}
.block-figure-image {
  width: 234px;
  float: left;
  margin-top: -15px;
}
.block-figure-image02 {
  width: 200px;
  float: left;
  margin-top: -15px;
}
/* ---------------------------
	@ Block Wide
--------------------------- */
.block-wide .block-figure {
  margin-bottom: 20px;
}
/* ---------------------------
	Block Care List
--------------------------- */
.block-care-list {
  margin: 0 -7px;
  overflow: hidden;
}
.block-care-list > section {
  width: 307px;
  margin: 0 7px 15px;
  float: left;
}
.block-wide .block-care-list .btn-height {
  padding: 10px 30px 9px 8px;
}
/*	Orange
-----------------------------*/
.block-care-list.orange a {
  color: #ff3639;
  font-size: 18px;
  background: #fbf0e4;
  border: #ff7373 1px solid;
  padding: 21px 30px 19px 8px;
}
.block-care-list.orange .btn:after {
  width: 14px;
  height: 18px;
  background: url('../img/common/arrow-red-mdl.png') no-repeat;
  margin-top: -9px;
}
/*	Yellow
-----------------------------*/
.block-care-list.yellow a {
  color: #ffae73;
  font-size: 18px;
  background: #fbf2e4;
  border: #ffae73 1px solid;
  padding: 21px 30 19px 8px;
}
.block-care-list.yellow .btn:after {
  width: 14px;
  height: 18px;
  background: url('../img/common/arrow-yellow.png') no-repeat;
  margin-top: -9px;
}



/* ---------------------------
	@ Block Numbered List
--------------------------- */
.block-numbered {
  overflow: hidden;
  margin: 35px auto 0;
  width: 521px;
}
.block-numbered:first-child {
  margin-top: 0;
}
/*  Block Numbered Body
 * ------------------------- */
.block-numbered .image {
  width: 190px;
  float: left;
}
.block-numbered .image-r {
  width: 190px;
  float: right;
}
.block-numbered .image-l {
  width: 190px;
  float: left;
}
.block-numbered .image img {
  width: 100%;
}
.block-numbered .image:first-child {
  margin-right: 19px;
}
.block-numbered .text {
  line-height: 1.4;
}
.block-numbered .f-left{
  float: left;
  width: 295px;
}
.block-numbered .f-right{
  float: right;
  width: 295px;
}
.block-numbered .text p {
  padding-top: 20px;
}
.block-numbered .text p:first-child {
  padding-top: 0;
}
/*	Block Numbered Head
-----------------------------*/
.block-numbered-head {
  margin: 0 auto 15px;
  padding-top: 55px;
  background: url('../img/care/common/bg-wave.png') repeat-x;
  background-position: center 33px;
  position: relative;
}
.block-numbered-head:before {
  content: "";
  width: 41px;
  height: 55px;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20.5px;
}
.number-01 .block-numbered-head:before {
  background: url('../img/care/common/icon-number01.png') no-repeat;
}
.number-02 .block-numbered-head:before {
  background: url('../img/care/common/icon-number02.png') no-repeat;
}
.number-03 .block-numbered-head:before {
  background: url('../img/care/common/icon-number03.png') no-repeat;
}
.number-04 .block-numbered-head:before {
  background: url('../img/care/common/icon-number04.png') no-repeat;
}
.block-numbered-head h2 {
  color: #f98938;
  font-size: 24px;
  text-align: center;
  padding-bottom: 15px;
  background: url('../img/care/common/bg-wave.png') repeat-x;
  background-position: center bottom;
}
.block-numbered-head .sub {
  display: block;
  font-size: 18px;
}
