@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COLUMN COMMON
  @ パーツ「コラムボタン」
	@ ブロック「カテゴリリスト」
	@ ブロック「エントリーズ」
	@ ブロック「記事詳細」
--------------------------- */

/* ---------------------------
  @ パーツ「コラムボタン」
--------------------------- */
.btn-column {
  display: block;
  padding: 4px 10px 4px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.25;
}
.btn-column:after {
  content: "";
  display: inline-block;
  margin-left: 2px;
  width: 10px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
  top: 2px;
}

/*	Yellow
-----------------------------*/
.btn-column.btn-yellow {
  background: #fff1c5;
  color: #ec6941;
}
.btn-column.btn-yellow:after {
  background-image: url("../img/column/index/icon-arrow-archive.png");
}

/*	Red
-----------------------------*/
.btn-column.btn-red {
  background: #fbe8e8;
  color: #d01027;
}
.btn-column.btn-red:after {
  background-image: url("../img/column/index/icon-arrow-detail.png");
}



/* ---------------------------
	@ ブロック「カテゴリリスト」
--------------------------- */
.block-category {
  margin-top: 30px;
}

/*	Heading
-----------------------------*/
.block-category-head {
  margin-bottom: 30px;
  padding: 5px 0 4px;
  background: url("../img/column/index/bg-stripe-column.png");
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: #d01027;
}


/*	Body
-----------------------------*/
.block-category-body {
  overflow: hidden;
  position: relative;
}
.block-category-body .text {
  padding-bottom: 40px;
  width: 360px;
  float: right;
}
.block-category-body .lead {
  display: block;
  margin-top: -3px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.block-category-body .image {
  width: 245px;
  float: left;
}
.block-category-body .image img {
  width: 100%;
}
.block-category-body p {
  margin-top: 10px;
}


/*	Links
-----------------------------*/
.block-category-links {
  clear: both;
  text-align: right;
  letter-spacing: -0.3em;
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-category-links li {
  margin-left: 10px;
  margin-right: 20px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}



/* ---------------------------
	@ ブロック「エントリーズ」
--------------------------- */
.block-entries {
  margin-top: 25px;
}
.block-entry {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #d01027;
}
.block-entry-body {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.block-entry .title {
  display: table-cell;
  vertical-align: middle;
  width: 530px;
  padding-left: 20px;
  line-height: 1.4;
  font-weight: bold;
  font-size: 18px;
  color: #ff6a6a;
}
.block-entry .title a {
  display: block;
  line-height: 1.4;
  font-weight: bold;
  font-size: 18px;
  color: #ff6a6a;
}
.block-entry .thumbnail {
  display: table-cell;
  vertical-align: middle;
  width: 80px;
}
.block-entry .thumbnail img {
  width: 100%;
}
.block-entry .more a {
  margin-left: auto;
  width: 105px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-entry-more {
  margin-top: 30px;
}



/* ---------------------------
	@ ブロック「記事詳細」
--------------------------- */

/*	Head
-----------------------------*/
.block-article-head {
  margin-bottom: 50px;
}
.block-article-head h2 {
  margin-bottom: 30px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #d01027;
}

/* Thumbnail */
.block-thumbnail {
  overflow: hidden;
}
.block-thumbnail .thumbnail {
  width: 335px;
  float: right;
}
.block-thumbnail .thumbnail img {
  width: 100%;
}
.block-thumbnail .body {
  margin-top: -5px;
  width: 260px;
  float: left;
  line-height: 1.75;
  font-size: 16px;
}



/*	Body
-----------------------------*/
.block-article-body {
  padding-top: 50px;
  padding-bottom: 5px;
  border-top: 1px dashed #d01027;
  border-bottom: 1px dashed #d01027;
}


/*	Block Lead
-----------------------------*/
.block-lead {
  margin-bottom: 20px;
}
.block-lead-space {
  margin-bottom: 40px;
}
.block-lead-head {
  margin-bottom: 30px;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
.block-lead-head h3 {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  text-align: center;
}
.block-lead-head h3:first-child {
  text-align: left;
}
.block-lead-head .image + h3 {
  text-align: right;
}
.block-lead-head h3 span {
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  line-height: 1.4;
  font-size: 22px;
  color: #d01027;
  position: relative;
}
.block-lead-head h3 span:before,
.block-lead-head h3 span:after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}
.block-lead-head h3 span:before {
  background-image: url("../img/column/01/column-01/bg-corner-left.png");
  top: 0;
  left: 0;
}
.block-lead-head h3 span:after {
  background-image: url("../img/column/01/column-01/bg-corner-right.png");
  right: 0;
  bottom: 0;
}
.block-lead-head .image {
  display: table-cell;
  vertical-align: middle;
  width: 260px;
}
.block-article-body .image img {
  width: 100%;
}
.block-article-head img,.block-article-body img{
  display: block;
}
.block-article-body p {
  line-height: 1.75;
  font-size: 16px;
}




/*	Summary
-----------------------------*/
.block-article-summary h3 {
  margin: -14px auto 0;
  width: 90px;
  background: #fff;
  line-height: 1.25;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
}
.block-article-summary p {
  margin-top: 20px;
  line-height: 1.75;
  font-size: 16px;
}



/*	Author
-----------------------------*/
.block-article-author {
  margin: 45px auto 30px;
  width: 320px;
}
.block-article-author h3 {
  margin-bottom: 30px;
  background: url("../img/column/index/bg-stripe-column.png");
  text-align: center;
  font-size: 20px;
  color: #d01027;
}
.block-article-author figure {
  margin: 25px 0;
  text-align: center;
}
.block-article-author figure img {
  width: 99px;
}
.block-article-author figcaption {
  margin-top: 5px;
  font-size: 16px;
}
.block-article-author p {
  line-height: 1.75;
  font-size: 12px;
}



/*	Nav
-----------------------------*/
.block-article-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}
.block-article-nav li {
  display: table-cell;
  vertical-align: top;
  color: #ff6a6a;
}
.block-article-nav li a {
  display: block;
  color: #ff6a6a;
}
.block-article-nav .archive a {
  text-align: center;
}
.block-article-nav .archive {
  width: 80px;
}
.block-article-nav .prev,
.block-article-nav .next {
  width: 175px;
}
.block-article-nav .prev a {
  text-align: left;
}
.block-article-nav .next a {
  text-align: right;
}
.block-article-nav .prev a:before,
.block-article-nav .next a:after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  top: 1px;
}
.block-article-nav .prev a:before {
  margin-right: 13px;
  background-image: url("../img/column/01/column-01/icon-arrow-prev.png");
}
.block-article-nav .next a:after {
  margin-left: 13px;
  background-image: url("../img/column/01/column-01/icon-arrow-next.png");
}
.block-article-nav .seperator {
  text-align: center;
}

/*  SNS
-----------------------------*/
.btn-share {
    margin-bottom: 40px;
}

.btn-share > div {
  float: right;
}

.btn-share > #twitter-widget-0 {
  float: right;
  margin-right:20px;
  margin-left: 20px;
  padding-top: 1px;
}

.btn-share .hatena-bookmark-button-frame{
  float: right;
  margin-right:20px;
  margin-left: 20px;
  padding-top: 1px;
}
