@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block history

--------------------------- */

/* ---------------------------
	@ Block history
--------------------------- */

.section-year {
    margin: -1px 0 0 0;
    border-top: 1px solid #ffaeae;
    border-bottom: 1px solid #ffaeae;
    overflow: hidden;
}
.section-year>.capt {
    float: left;
    margin: 0 0 0 4px;
    padding: 13px 0 13px 0;
    color: #cb0000;
    font-size: 22px;
}
.section-year>.inner {
    float: right;
    width: 545px;
    padding: 18px 0 18px 0;
}
.section-year .para-tx {
    font-size: 14px;
    line-height: 1.8;
}
.section-year .para-month {
    position: relative;
}
.section-year .para-month .capt {
    position: absolute;
    left: 0;
    top: -1px;
    color: #ff8c8c;
    font-size: 16px;
    line-height: 1.8;
}
.section-year .para-month .tx {
    margin: 0 0 0 50px;
    font-size: 14px;
    line-height: 1.8;
}
.section-year .para-ad {
    position: relative;
    min-height: 120px;
    margin: 0 0 10px 0;
    padding: 18px 0 18px 0;
    background: #fef7f7;
    border-radius: 6px;
}
.section-year .para-ad .capt {
    margin: 0 195px 12px 18px;
    font-size: 14px;
    line-height: 1.5;
}
.section-year .para-ad .lead {
    margin: 0 195px 0 18px;
    font-size: 12px;
    line-height: 1.5;
}
.section-year .para-ad .tx {
    margin: 0 195px 0 18px;
    font-size: 12px;
    line-height: 1.5;
}
.section-year .para-ad .tx2 {
    margin: 0 18px;
    font-size: 12px;
    line-height: 1.5;
}
.section-year .para-ad .img {
    position: absolute;
    right: 10px;
    top: 18px;
}
.section-year .para-ad70{
  min-height: 70px;
}
