@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap
  
--------------------------- */

/* ---------------------------
	@ Block sitemap
--------------------------- */

.mds-sitemap {
	width:100%;
	height:20px;
	margin:0 auto;
	padding:5px 0 6px 0;
	background:url('../img/company/bg-mds-dot.gif') repeat;
}

.mds-sitemap img {
	display:inline-block;
	margin:0;
	padding-top:3px;
	padding-left:20px;
}

.mds-sitemap h2 {
	display:inline-block;
	margin:0 0 2px 7px;
	font-size:16px;
	color:#d71f21;
	font-weight:bold;
}

.block_sitemap {
	margin:15px 0 30px 37px;
}

.block_sitemap a {
	color:#333333;
}

.box_sitemap {
	width:290px;
	display:inline-block;
	margin:0 0 0 0;
	vertical-align:top;
}

.box_sitemap h2 {
	margin:0 0 10px 15px;
	font-size:14px;
	color:#d71f21;
}
	
.box_sitemap h3 {
	background:url('../img/common/icon-triangle-red_r.png') no-repeat left center;
	padding:2px 0 0 15px;
	margin:0 0 3px 0;
	font-size:12px;
	font-weight:bold;
}

.new-shop {
	font-size:14px;
	color:#d71f21;
	font-weight:normal;
}

.mdnT-sitemap {
	margin-top:30px;
}

.box_sitemap ul {
	margin:0 0 0 15px;
}

.box_sitemap li {
	background:url('../img/common/arrow-red-dot.png') no-repeat left center;
	padding:2px 0 0 15px;
	line-height:180%;
	font-size:12px;
}

.half_area_l {
	width:292px;
	display:inline-block;
	margin:0 38px 0 0;
}

.half_area_r {
	width:292px;
	display:inline-block;
	margin:0 0 0 0;
}

.line-sitemap {
	width:100%;
	height:1px;
	margin:0 auto;
	background:url('../img/common/uline_dot.gif') repeat-x center bottom;
}
	