@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block guide
  
--------------------------- */

/* ---------------------------
	@ Block guide
--------------------------- */

.block_guide {
	margin:10px 0 30px 0;
}

.table_area_guide {
	width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

table.table-guide {
    width:100%;
    border-top: 1px #ffaeae solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table-guide th {
    padding: 18px 10px;
    line-height: 150%;
    text-align: left;
	border-bottom: 1px #ffaeae solid;
	vertical-align:top;
}
table.table-guide td {
	font-size:14px;
    padding:18px 10px;
    text-align: left;
	line-height:150%;
	border-bottom: 1px #ffaeae solid;
}


table.table-guide th h2 {
	color:#d01027;
	font-size:14px;
	font-weight:bold;
}

.access-map {
	margin:0 0 20px 0;
}



.block_guide h3 {
	position: relative;
    text-align: center;
	font-size:24px;
	color:#d71f21;
	font-weight:bold;
	margin:0 0 15px 0;
}

.block_guide h3:before {
	border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.block_guide .bg_white {
	background-color: #ffffff;
    display: inline-block;
    padding: 0 25px;
	position:relative;
}



.guide-box {
	margin:0 auto;
}

.guide-box   ul li{
	display:table;
	width:100%;
}

.guide-box   ul li a{
	display:block;
}

.guide-box   ul li .guide-tx-area {
	display:table-cell;
	vertical-align:top;
	padding-right:40px;
}

.guide-box   ul li .guide-tx-area p {
	margin:0 auto;
}

.guide-box   ul li .guide-image-area{
	display:table-cell;
	vertical-align:top;
	width:128px;
}

.guide-box   ul li .guide-image-area img{
	width:122px;
	height:auto;
	padding:3px;
	border:1px solid #e4a0a8;
}

.btn-recruit-area {
	width:270px;
	margin:20px auto 0 auto;
	text-align:center;
}

.btn-recruit-area .btn-recruit {
	width:270px;
	height:46px;
	background:url('../img/company/bg-arrow-recruit.png') no-repeat 94% center;
	background-color:#d01027;
	text-align:center;
}

.btn-recruit-area .btn-recruit img {
	margin:0 auto;
	padding:8px 0 0 0;
	display:inline-block;
}

.btn-recruit-area .btn-recruit p {
	margin:0 auto;
	padding:8px 0 0 10px;
	display:inline-block;
	font-size:18px;
	color:#ffffff;
}
