@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block Policy
  
--------------------------- */

/* ---------------------------
	@ Block Policy
--------------------------- */
.block-policy > h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.block-policy > p {
  font-size: 12px;
  margin-bottom: 30px;
}
.policy-body {
  width: 465px;
  margin: 0 auto;
}
.box-policy {
  font-size: 12px;
  margin-top: 20px;
}
.box-policy > h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
.box-policy > ol {
  margin-top: 25px;
}
.block-policy > dl {
  font-size: 12px;
  margin-top: 40px;
}
.block-policy > dl dt {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}
.block-policy > dl dt:first-child + dd {
  margin-bottom: 20px;
}