@charset "UTF-8";
/* ---------------------------
  @ パーツ「コンテンツシングルポスト」＃＃＃＃管理画面より投稿する記事内で使用するCSSになります。
--------------------------- */
.post-contents-main-text{
  margin-bottom:50px;
}
.page-contents-heading{
  font-size:20px;
  font-weight:bold;
  margin-bottom:20px;
  border-bottom:3px solid #d01027;
}
.page-contents-text{
  margin-bottom:50px;
}
.page-contents-text ul{
  margin-left:20px;
}
.page-contents-text ul li{
  list-style-type:disc;
}
.page-contents-text a{
  display:block;
  margin:25px 0;
  color:#d01027;
  transition:opacity 0.8s;
}
.page-contents-text a:before{
  content:'▶︎';
  margin-right:5px;
}
.page-contents-text a:hover{
  opacity:0.4;
}
.page-contents-image{
  width:100%;
  display:block;
  margin:0 auto 20px;
}
