@charset "UTF-8";
/* ---------------------------
  @ パーツ「コンテンツタイトル」
--------------------------- */
.block-category-head-contents{
  font-weight:bold;
  font-size:22px;
  letter-spacing:5px;
}
.block-category-contents-text{
  margin-bottom:30px;
}
.page-head-large {
  padding:14px 0 16px;
  line-height:30px;
	background:url('../img/contents/title-bg-shop-large.png') no-repeat;
  background-position: center top;
}
/* ---------------------------
  @ パーツ「コンテンツアイコン」
--------------------------- */
.icon-cont-cate,.icon-cont-tags,.icon-cont-post{
  font-weight:bold;
}
.icon-cont:before{
  content:'';
  width:50px;
  height:30px;
  margin-right:-5px;
  vertical-align:-9px;
}
.icon-cont-cate:before{
  background:url('../img/contents/icon_contents_category.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-tags:before{
  background:url('../img/contents/icon_contents_tags.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-post:before{
  background:url('../img/contents/icon_contents_post.png') no-repeat;
  background-position:center center;
  background-size:contain;
}

/* ---------------------------
  @ パーツ「コンテンツボディ」
--------------------------- */
.block-category-contents{
  padding-bottom:20px;
  border-bottom:2px dotted #dddddd;
}
.block-category-body-contents .lead{
  font-size:18px;
}
.block-category-body-contents .text{
  width:420px;
  padding-bottom:0;
}
.block-category-body-contents .image{
  width:185px;
}
.block-category-links-contents{
  overflow:hidden;
  padding:1px;
}
.block-category-links-contents ul{
  position:static;
}
.block-category-contents-ul-01{
  width:300px;
  float:left;
  clear:none;
}
.block-category-contents-ul-02{
  width:105px;
  float:right;
  clear:none;
}
.block-category-links-contents li{
  margin-right:0;
  margin-left:0;
  float:left;
}
/* ---------------------------
  @ パーツ「コンテンツリンク」
--------------------------- */
.block-category-contents-ul-01 .post-categories a{
  margin:0 10px 7px 0;
  padding:1px 7px;
  color:#ffffff;
  background:#999999;
  border-radius:3px;
  font-size:12px;
  font-weight:normal;
  transition:opacity 0.8s;
}
.block-category-contents-ul-01 .post-categories a:before{
  content:'';
}
.block-category-contents-ul-01 .post-categories a:hover{
  opacity:0.6;
}
.block-category-contents-ul-01 a{
  margin-right:10px;
  margin-bottom:7px;
  padding:1px 7px;
  color:#999999;
  border:1px solid #999999;
  border-radius:3px;
  font-size:12px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-category-contents-ul-01 a:before{
  content:"#";
}
.block-category-contents-ul-01 a:hover{
  opacity:0.4;
}
/* ---------------------------
  @ パーツ「コンテンツエトセトラ」
--------------------------- */
.block-contents-link-more{
  color:#d01027;
  margin:15px 0;
  padding-bottom:0px;
  font-weight:bold;
  border-bottom:1px solid #d01027;
  display:inline-block;
  float:right;
  transition:opacity 0.8s;
}
.block-contents-link-more:hover{
  opacity:0.6;
}
.block-etc-contents{
  margin:20px 0 0;
}
.block-etc-contents div{
  background:#FBF8F2;
  width:608px;
  padding:20px 15px 10px;
  overflow:hidden;
}
.block-etc-contents-category a{
  margin-right:20px;
  margin-bottom:7px;
  color:#333333;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-category a:before{
  content:'　';
  font-size:11px;
  vertical-align:1px;
  margin-right:2px;
  background:url('../img/contents/icon_contents_arrow.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.block-etc-contents-category a:hover{
  opacity:0.4;
}
.block-etc-contents-tags a{
  margin-right:10px;
  margin-bottom:7px;
  padding:1px 7px;
  color:#666666;
  background:#ffffff;
  border:1px solid #999999;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-tags a:before{
  content:"#";
}
.block-etc-contents-tags a:hover{
  opacity:0.4;
}

.block-etc-contents-relations{
  overflow:hidden;
}
.contents-relations{
  width:100%;
}
.contents-relations a{
  display:block;
  overflow:hidden;
  padding:5px 0;
  border-bottom:1px dotted #dddddd;
  transition:opacity 0.8s;
}
.contents-relations a:hover{
  opacity:0.4;
}
.contents-relations a:last-child{
  border-bottom:none;
}
.contents-relations .contents-relations-left{
  width:15%;
  float:left;
  padding:10px 2%
}
.contents-relations .contents-relations-left img{
  width:100%;
}
.contents-relations .contents-relations-right{
  width:77%;
  float:right;
  padding:5px 2%
}
.contents-relations .contents-relations-right h2{
  font-size:16px;
  color:#333333;
}
.contents-relations .contents-relations-right p{
  font-size:12px;
  color:#999999;
}

/* ---------------------------
  @ パーツ「コンテンツシングルタイトル」
--------------------------- */
.block-article-contents-head{
  width:auto;
  margin:20px 55px;
  overflow:hidden;
}
.block-article-contents-category{
  float:left;
  background:#999999;
  color:#ffffff;
  font-size:12px;
  padding:2px 10px;
  border-radius:3px;
}
.block-article-contents-date{
  float:right;
  color:#999999;
}
.block-article-head-contents{
  margin-bottom:10px;
}
/* ---------------------------
  @ パーツ「コンテンツシングルボディ」
--------------------------- */
.page-body-contents{
  margin-top:20px;
}
.post-contents-box{
  margin:0 24px;
  border-bottom:2px solid #dddddd;
}
