@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap
  
--------------------------- */

/* ---------------------------
	@ Block about
--------------------------- */

.block_counsel {
	margin:10px 0 30px 0;
}

.line-counsel {
	width:100%;
	height:1px;
	margin:20px 0 20px 0;
	background:url('../img/common/bg-dot-line.gif') repeat-x center bottom;
}

#tab-counsel-step {
	width:630px;
	height:51px;
	border-bottom:5px solid #d2081f;
	z-index:1;
	margin:0 0 40px 0;
	position:relative;
}

#tab-counsel-step .tab-counsel {
	width:322px;
	height:51px;
	margin:0 auto;
	position:absolute;
	left:0;
	z-index:10px;
}

#tab-counsel-step .tab-step {
	width:322px;
	height:51px;
	margin:0 auto;
	left:308px;
	position:absolute;
	z-index:5px;
}

.step_area {
	width:100%;
	margin:0 auto;
	vertical-align:top;
}

.step-mark {
	width:70px;
	height:83px;
	display:inline-block;
	background:url('../img/about/bg-step.png') no-repeat top center;
	text-align:center;
	color:#d2081f;
	vertical-align:top;
	margin:0 10px 0 0;
}

.step-mark p {
	font-size:12px;
	text-align:center;
	padding-top:14px;
}

.step-number {
	font-size:28px;
	line-height:100%;
}

.step_tx {
	display:inline-block;
	margin:0 auto;
}

.step_tx h2 {
	font-size:20px;
	color:#d2081f;
	margin:5px 0 0 0;
}

.tx-size {
	font-size:14px;
}

.step_tx p {
	font-size:14px;
	margin:0 0 0 0;
}

.step-width {
	width:270px;
}

.step_area .image_area {
	float:right;
	padding:3px;
	border:1px solid #e4a0a8;
}

.one-point-area {
	width:570px;
	background-color:#fff8ee;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding:20px 30px 20px 30px;
}

.one-point-area h3 {
	width:124px;
	height:25px;
	display:inline-block;
	background:url('../img/about/bg-onepoint.png') no-repeat center center;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	padding-top:3px;
}

.one-point-area p {
	font-size:14px;
	width:320px;
	display:inline-block;
	margin-top:10px;
	line-height:160%;
}

.one-point-area img {
	display:inline-block;
	float:right;
	width:232px;
	height:136px;
	margin:0 0 0 0;
}



.bihada-area {
	width:570px;
	background-color:#ecf6f9;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding:20px 30px 20px 30px;
	margin:20px 0 0 0;
}

.bihada-area h3 {
	width:280px;
	display:inline-block;
	color:#37bee5;
	font-weight:bold;
	font-size:20px;
}

.bihada-area h3 img {
	display:inline-block;
	margin:0 auto;
}

.pdd-bihada {
	margin:0 0 0 5px;
	line-height:180%;
}

.bihada-area h3 .sub-title {
	font-size:16px;
	color:#37bee5;
	font-weight:normal;
	margin:0 auto;
}

.bihada-area p {
	font-size:14px;
	width:320px;
	display:inline-block;
	margin-top:5px;
	line-height:160%;
}

.bihada-area .bihada-image {
	display:inline-block;
	float:right;
	width:190px;
	height:121px;
	margin:0 0 0 0;
	background-color:#ffffff;
	padding:3px;
	border:1px solid #e4a0a8;
}


