@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Block Faq List
  @ Block Faq
  
--------------------------- */


/* ---------------------------
	@ Block Faq List
--------------------------- */
.block-faq-list {
  margin-top: 20px;
  border-top: #d01027 1px dashed;
}
.block-faq-list .column {
  margin-top: 15px;
  overflow: hidden;
}
.block-faq-list .column:first-child {
  margin-top: 0;
}
.block-question {
  width: 270px;
  float: left;
  padding-top: 30px;
  margin: 0 22px;
}
.block-question .block-question-title {
  color: #d01027;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 5px;
}
.block-question .block-question-title.height {
  margin: 22px 0 13px;
}
.block-question ul {
  padding: 15px 20px 20px 10px;
  margin-bottom: 15px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-question ul li {
  margin-top: 20px;
  display: table;
}
.block-question ul li:first-child {
  margin-top: 0;
}
.block-question ul li:before {
  content: "";
  display: table-cell;
  width: 48px;
  height: 40px;
  vertical-align: middle;
  background: url('../img/common/icon-q.png') no-repeat;
  background-position: left top;
}
.block-question ul li a {
  color: #333;
  line-height: 1.25;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  letter-spacing: -0.05em;
}
.block-question ul li a:hover {
  text-decoration: underline;
}

/* ---------------------------
	@ Block Faq
--------------------------- */
.block-faq {
  margin-top: 150px;
}
.block-faq:first-child {
  margin-top: 0;
}
.block-faq-title {
  color: #d01027;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  padding-bottom: 7px;
  border-bottom: #d01027 1px dashed;
}
.block-faq dl {
  margin-top: 20px;
  overflow: hidden;
}
.block-faq dt {
  color: #d01027;
  font-size: 18px;
  line-height: 1.25;
  padding: 10px 10px 10px 60px;
  margin-bottom: 7px;
  background: url('../img/common/icon-q.png') no-repeat;
  background-position: 10px top;
}
.block-faq-text {
  background: #fbe8e8;
  padding: 20px 20px 25px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-faq-text strong {
  font-weight: bold;
}
.block-faq-text:before {
  content: "";
  width: 48px;
  height: 40px;
  background: url('../img/common/icon-a.png') no-repeat;
  background-position: left top;
  display: block;
  float: left;
  margin: -5px 10px 0 0;
}

.vertical-middle {
  padding-top:15px;
  padding-bottom:15px;
}


/* ---------------------------
  FAQページ下部アンカーリンク
--------------------------- */
.block-etc-contents{
  margin:50px 0 0;
}
.block-etc-contents div{
  background:#FBF8F2;
  width:600px;
  padding:20px 15px 10px;
  overflow:hidden;
}
.block-etc-contents-category a{
  margin-right:30px;
  color:#333333;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-category a:before{
  content:'　';
  font-size:11px;
  vertical-align:1px;
  margin-right:2px;
  background:url('../img/contents/icon_contents_arrow.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.block-etc-contents-category a:hover{
  opacity:0.4;
}
.block-etc-contents-tags a{
  margin-right:10px;
  margin-bottom:7px;
  padding:1px 7px;
  color:#666666;
  background:#ffffff;
  border:1px solid #999999;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-tags a:before{
  content:"#";
}
.block-etc-contents-tags a:hover{
  opacity:0.4;
}

.block-etc-contents-relations{
  overflow:hidden;
}
.contents-relations{
  width:100%;
}

/* ---------------------------
  @ パーツ「コンテンツアイコン」
--------------------------- */
.icon-cont-cate,.icon-cont-tags,.icon-cont-post{
  font-weight:bold;
}
.icon-cont:before{
  content:'';
  width:50px;
  height:30px;
  margin-right:-5px;
  vertical-align:-9px;
}
.icon-cont-cate:before{
  background:url('../img/contents/icon_contents_category.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-tags:before{
  background:url('../img/contents/icon_contents_tags.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-post:before{
  background:url('../img/contents/icon_contents_post.png') no-repeat;
  background-position:center center;
  background-size:contain;
}