@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
    - Block Gakuwari Head
    - Block Gakuwari
    - Block Gakuwari Spcial
    - Special Regular
    - Special Course
    - Special Shokai
    - Bnr Gakuwari Report
--------------------------- */

/* ---------------------------
	@ Block Gakuwari Head
--------------------------- */
.block-gakuwari-head {
  text-align: center;
  margin-bottom: 15px;
}


/* ---------------------------
	@ Block Gakuwari
--------------------------- */
.block-gakuwari h2 {
  background: url('../img/gakuwari/index/bg-title.png') no-repeat;
  background-position: center center;
  line-height: 52px;
  margin-bottom: 10px;
}
.block-gakuwari > p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.text-gakuwari {
  overflow: hidden;
  margin-bottom: 45px;
}
.text-gakuwari > p {
  font-size: 16px;
	text-align: center;
}


/* ---------------------------
	@ Block Gakuwari Spcial
--------------------------- */
.block-gakuwari-spcial {
  border: #d01027 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px 30px;
  position: relative;
  margin-top: 40px;
}
.block-gakuwari-spcial > p ,
.block-gakuwari-spcial > ul {
  font-size: 12px;
  position: absolute;
  left: 20px;
  bottom: 5px;
}
.block-gakuwari-spcial > ul {
  letter-spacing: -0.4em;
}
.block-gakuwari-spcial ul li {
  letter-spacing: normal;
  display: inline-block;
  margin-right: 20px;
}
.block-gakuwari-spcial > ul.text-note {
	width: 100%;
	text-align: right;
}
.block-gakuwari-spcial > img {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
}
.block-special-head {
  margin-bottom: 20px;
}
.block-special-head h3 {
  color: #d01027;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  padding: 20px 0 0 160px;
  position: relative;
}
.block-special-head h3 > span {
 /*display: inline-block;*/
  background: url('../img/gakuwari/index/underline-yellow-1.png') repeat-x;
  /*background-position: center bottom;*/
}
.block-special-head h3 > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.block-special-head h3 > small {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}
.block-special-head p {
  font-size: 16px;
  line-height: 1.25;
  padding-left: 130px;
  margin-top: 10px;
}
.block-special-head p em {
  color: #d01027;
	font-weight: bold;
}
.bg-heading-large {
	width: 100%;
	height: 40px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
	border: 1px solid #cd0000;
	font-size: 24px;
	text-align: center;
	color: #d01027;
	line-height: 40px;
	margin-bottom: 20px;
}


/* ---------------------------
	@ Special Regular
--------------------------- */
.special-regular {
  overflow: hidden;
  margin-bottom: 30px;
}
.special-regular .left-box {
  width: 193px;
  float: left;
  position: relative;
}
.special-regular .left-box:after {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: url('../img/common/icon-plus-red.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: 50%;
  right: -43px;
  margin-top: -15.5px;
}
.special-regular dt {
  color: #d01027;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
  background: #fbe8e8;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.special-regular dd {
  background: #fef7f7;
  padding: 0 15px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.special-regular dd ul {
  letter-spacing: -0.4em;
  margin: 0 -15px;
}
.special-regular .left-box ul {
  padding: 30px 0 0;
  text-align: center;
}
.special-regular .left-box li {
  margin: 0 15px;
}
.special-regular .left-box small {
  font-size: 15px;
  display: block;
}
.special-regular dd li {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.special-regular dd em {
  font-size: 28px;
}
.special-regular .left-box dd {
	padding: 0 15px 15px;
}
.special-regular .left-box dd > span {
  display: block;
  font-size: 16px;
  line-height: 1;
	margin-top: 10px;
}
.special-regular .right-box {
  width: 340px;
  float: right;
}
.special-regular .right-box .text-small {
	font-size: 70%;
}
.special-regular .right-box ul {
  padding: 10px 0 15px;
  position: relative;
}
.special-regular .right-box dd  {
	padding: 15px 10px 0;
}
.special-regular .right-box dd > ul {
	border: 1px dashed #cd0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 11px 15px 10px;
}
.special-regular .right-box dd > ul ul {
	display: inline-block;
  padding: 0;
	float: left;
	margin-left: -10px;
}
.special-regular .right-box dd > ul ul:after {
  content: "";
  display: block;
  background: url('../img/common/icon-arrow-down-red.png') no-repeat;
  background-position: center top;
  width: 19px;
  height: 20px;
  position: absolute;
  left: 15px;
  bottom: -5px;
  margin-left: -11px;
}
.special-regular .right-box ul:after {
  content: "";
  display: block;
  background: url('../img/common/icon-triangle-red.png') no-repeat;
  background-position: center top;
  width: 22px;
  height: 12px;
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -11px;
}
.special-regular .right-box ul ul:after {
  background: none;
}
.special-regular .right-box li {
  line-height: 1;
  font-size: 16px;
	width: 100%;
	margin: 0;
}
.special-regular .right-box li span {
  vertical-align: middle;
}
.special-regular .right-box li em {
  color: #333;
  font-size: 28px;
  line-height: 1.25;
}
.special-regular .right-box li small {
  display: inline-block;
  font-size: 12px;
  line-height: 1.25;
	width: 2em;
}
.special-regular .right-box li small:last-child {
  text-align: center;
}
.special-regular .right-box li span span small {
	display: block;
  float: none;
  width: auto;
}
.special-regular .right-box p {
  font-size: 16px;
  padding: 15px 10px 0 10px;
  position: relative;
}
.special-regular .right-box p:after {
  content: "";
  display: inline-block;
  width: 143px;
  height: 22px;
  background: url('../img/common/icon-otoku-large.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: 20px;
  right: 30px;
}
.special-regular .right-box p .total-price {
	margin: 21px 0 0;
  padding: 0 0px 0 20px;
  display: inline-block;
}
.parts-icon {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
	width: 162px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #cd0000;
	margin-bottom: 12px;
}
.special-regular .right-box .parts-icon {
	width: 100px;
}
.special-regular .right-box dd ul li .parts-icon {
	float: left;
}

.special-regular .right-box ul ul li:first-child {
  margin: 0 0 0 20px;
}
.special-regular .right-box li.price-down {
	width: 100%;
  height: 58px;
  line-height: 58px;
  text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #cd0000;
}
.special-regular .right-box li.price-down,
.special-regular .right-box li.price-down em {
	margin-top: 10px;
	color: #cd0000;
	font-weight: bold;
	font-size: 36px;
}
.special-regular .right-box li.price-down span small {
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	background: #cd0000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	width: 42px;
	height: 42px;
	padding: 5px 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.special-regular .right-box p span.parts-icon {
	top: -13px;
  position: relative;
}

.special-regular-lower {
  position: relative;
	padding-top: 25px;
}
.special-regular-lower:before {
  content: "";
  width: 31px;
  height: 31px;
  background: url('../img/common/icon-triangle.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: -5px;
  left: 205px;
  margin-top: -15px;
}
.special-regular-lower p {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  background: #fef7f7;
  padding: 10px 10px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.special-regular-lower p > em {
  font-size: 46px;
	font-weight: bold;
}
.special-regular-lower p > span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
	width: 1em;
	font-size: 16px;
	margin: 10px 5px 0 10px;
}
.special-regular-lower p small {
  font-size: 12px;
  display: block;
  line-height: 1.5;
  margin-top: 5px;
	text-align: right;
}
.special-regular-lower p small .text-small {
	font-size: 10px;
}

/* ---------------------------
	@ Special Course
--------------------------- */
.special-course > h4 {
  color: #d01027;
  font-size: 16px;
  text-align: center;
  background: url('../img/gakuwari/index/bg-stripe-tokuten-two.png');
  line-height: 30px;
  margin-bottom: 5px;
}
.special-course > h4:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 24px;
  background: url('../img/common/icon-double-dia.png') no-repeat;
  background-position: center top;
  position: relative;
  top: 4px;
  left: 5px;
}
.special-course:last-child .special-course-body {
  margin-bottom: 0;
}
.special-course-text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.special-course-text p:first-child {
  font-size: 22px;
  color: #d01027;
  line-height: 1.5;
  display: block;
  text-align: center;
}
.special-course-text p {
  display: inline-block;
  text-align: left;
  line-height: 1.2;
}
.special-course-body {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: #d01027 1px dashed;
	position: relative;
	min-height: 352px;
}
.special-course-body:last-child {
  border-bottom: none;
}
.special-course-body-03 {
	/*min-height: 743px;*/
}
.special-course-body .course-list {
  text-align: center;
  width: 282px;
  padding: 10px 0 0;
}
.special-course-body .course-list p,
.special-course-body .course-list-02 .course-price-list li {
  font-size: 20px;
  line-height: 1;
  text-align: left;
  display: inline-block;
  margin-bottom: 15px;
}
.special-course-body .course-list p small,
.special-course-body .course-list-02 .course-price-list li small {
  display: block;
  color: #d01027;
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom: 7px;
  border-bottom: #d01027 1px solid;
}
.special-course-body .course-list p small > span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../img/common/icon-plus-red.png') no-repeat;
  background-position: center top;
  background-size: contain;
  vertical-align: bottom;
  margin: 0 5px;
}
.special-course-body .course-list p em,
.special-course-body .course-list-02 .course-price-list li em {
  color: #d01027;
  font-size: 46px;
  font-weight: bold;
}
.special-course-body .course-list dt {
  color: #d01027;
  margin-bottom: 5px;
}
.special-course-body .course-list .list-title-left {
  text-align: left;
}
.special-course-body .course-list .list-title-left > span {
  border: #d01027 1px solid;
  padding: 3px 5px 1px;
  display: inline-block;
  margin-right: 5px;
  line-height: 1.25;
}
.special-course-body .course-list dd ul {
  letter-spacing: -0.4em;
  text-align: left;
}
.special-course-body .course-list dd li {
  letter-spacing: normal;
  display: inline-block;
  width: 87px;
  text-align: center;
  color: #eb7a88;
  font-size: 11px;
  text-align: center;
  background: #fef7f7;
  border: #eb7a88 1px solid;
  padding: 2px 0 1px;
  margin: 0 5px 5px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.special-course-body .course-list > img {
  display: inline-block;
  margin: 10px 0 15px;
}
.special-course-body .course-image {
	right: 0;
	position: absolute;
	top: 20px;
  letter-spacing: -0.4em;
  text-align: center;
}
.special-course-body-04 {
	min-height: 452px;
}
.special-course-body-04  .course-image {
	top: 110px;
}
.special-course-body .course-image figure {
  display: inline-block;
  letter-spacing: normal;
  margin: 0 9px;
}

.block-special-body p.aki-tokuCamp{
  text-align: center;
  color: #71009a;
  margin: 15px 0 12px;
}
.block-special-body p.aki-tokuCamp span{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  background: url('../img/gakuwari/index/underline-yellow-1.png') repeat-x;
  background-position: center 10px;
}

/* ---------------------------
	@ Special Shokai
--------------------------- */
.special-shokai .title {
  color: #d01027;
  font-size: 26px;
  padding-top: 15px;
  margin-bottom: 20px;
}
.special-shokai .title span {
  position: relative;
}
.special-shokai .title span:before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 41px;
  background: url('../img/common/icon-happy.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: -7px;
  left: -82px;
}
.special-shokai p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.bnr-special-shokai {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  background: url('../img/gakuwari/index/bg-border-middle.png') repeat-y;
  position: relative;
  margin: 15px 0;
}
.bnr-special-shokai:before ,
.bnr-special-shokai:after {
  content: "";
  display: block;
  width: 586px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;
}
.bnr-special-shokai:before {
  background-image: url('../img/gakuwari/index/bg-border-top.png');
  background-position: center top;
  top: -12px;
  left: 0;
}
.bnr-special-shokai:after {
  background-image: url('../img/gakuwari/index/bg-border-bottom.png');
  background-position: center bottom;
  bottom: -12px;
  left: 0;
}
.bnr-special-shokai > p {
  font-size: 20px;
  line-height: 1.25;
}
.bnr-special-shokai > p > em {
  font-size: 25px;
  font-weight: bold;
}
.bnr-special-shokai > p small {
  font-size: 16px;
  font-weight: bold;
}
.bnr-special-shokai > p > span {
  color: #d01027;
  font-size: 29px;
}
.bnr-special-shokai > p > span > em {
  font-size: 47px;
  font-weight: bold;
}


/* ---------------------------
	@ Bnr Gakuwari Report
--------------------------- */
.bnr-gakuwari-report {
  margin: 40px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.bnr-gakuwari-report > p {
  letter-spacing: -0.07em;
  margin-top: 10px;
}


/* add 201508 */
.special-course-body-03 {
	min-height: 150px;
  padding-bottom: 15px;
}
.special-course-body-03 .course-list {
	width: 100%;
}
.special-course-body-03 .course-list > dl,
.special-course-body-03 .course-list > img {
	float:left;
	display:inline;
}
.special-course-body-03 .course-list > dl {
	width: 48%;
}
.special-course-body-03 .course-list > dl:last-child {
	float: right;
}
.special-course-body-03 .course-list > dl dd ul li{
	width: 86px;
}
.special-course-body-03 .course-list > img {
	width: 22px;
	margin:0 5px 0 -5px;
}

.special-course-body .course-list-02 p {
	width: 100%;
	margin-bottom: 0;
}
.special-course-body .course-list-02 {
  text-align: left;
  width: 100%;
  padding: 0;
}
.special-course-body .course-list-02 .course-price-list li{
	width: 45%;
	float:left;
	text-align:center;
	margin: 0;
	padding-left: 20px;
}
.special-course-body .course-list-02 .course-price-list li:last-child{
	border-left: 1px dashed #d01027;
}
.special-course-body-05 {
	min-height: 50px;
	padding-bottom: 15px;
}
