@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
    - Block Report Head
    - Block Report Lists
    - Block Rep Body
    - Block Rep Foot
--------------------------- */

/* ---------------------------
	@ Block Report Head
--------------------------- */
.block-report-head {
  text-align: center;
  margin-bottom: 30px;
}


/* ---------------------------
	@ Block Report Lists
--------------------------- */
.block-report-lists {
  overflow: hidden;
  margin: 30px -13px 0;
}
.block-report-lists:first-child {
  margin-top: 0;
}
.block-report-list {
  width: 301px;
  margin: 0 13px;
  float: left;
  position: relative;
}
.block-report-list-title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.block-report-list-title a {
  color: #c99b1d;
  font-size: 17px;
  /*font-weight: bold;*/
  padding-left: 88px;
  display: block;
  line-height: 30px;
}
.block-report-list-title a:after {
  content: "";
  width: 16px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url('../img/gakuwari/report/index/icon-arrow-yellow.png') no-repeat;
  background-position: center top;
  position: relative;
  top: -2px;
  left: 6px;
}
.block-report-list p {
  font-size: 13px;
  text-align: center;
  padding-left: 0;
  margin-top: 5px;
  letter-spacing: -0.05em;
}


/* ---------------------------
	@ Block Rep Body
--------------------------- */
.block-rep-body {
}
.block-rep {
  overflow: hidden;
  margin-bottom: 20px;
}
.block-rep .image-box figure {
  margin-top: 8px;
}
.block-rep .image-box figure:first-child {
  margin-top: 0;
}
.block-rep .image-box.three-pics {
  letter-spacing: -0.4em;
}
.block-rep .image-box.three-pics figure {
  display: inline-block;
}
.block-rep .image-box.three-pics figure:last-child {
  margin-left: 6px;
}
.block-rep.image-left .image-box {
  width: 285px;
  float: left;
}
.block-rep.image-left .text-box {
  width: 343px;
  float: right;
}
.block-rep.image-right .image-box {
  text-align: right;
  float: right;
}
.block-rep.image-right .text-box {
  width: 343px;
  float: left;
}
.block-rep-body p {
  margin-bottom: 15px;
  padding-left: 3em;
  text-indent: -3em;
}
.block-rep-body p em {
  background: url('../img/gakuwari/report/rep01/underline-yellow.png') repeat-x;
  background-position: center bottom;
}
.block-rep-body p small {
  font-size: 10px;
}
.block-rep-body .teller-a {
  color: #4bb6cd;
}
.block-rep-body .teller-b {
  color: #f89090;
}
.block-rep-body .teller-shop {
  color: #aca269;
}
.block-rep-body ul {
  font-size: 12px;
}
.block-rep-body ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}


/* ---------------------------
	@ Block Rep Foot
--------------------------- */
.block-rep-foot {
  padding-top: 20px;
}
.block-rep-foot > p {
  margin-bottom: 20px;
}
.block-rep-box {
  text-align: center;
}
.block-rep-box > p {
  margin-top: 15px;
}
.block-rep-box > p a {
  color: #d01027;
  text-decoration: underline;
}
.block-rep-box > p a:hover {
  text-decoration: none;
}
