@charset "UTF-8";

/* ---------------------------
  GINZA CALLA TOP PAGE
	@ Main Visual
	@ Bxslider
  @ 始めての方にオトク！
  @ プラン・料金
  @ お客様の声
  @ 無料カウンセリングご予約はこちら
--------------------------- */

/* ---------------------------
	@ Main Visual
--------------------------- */
.main-visual {
  overflow: hidden;
}
.main-visual li img {
  width: 100%;
  height: auto;
}

/* 1014 add*/
.main-visual li.slider-contents {
  background-repeat:no-repeat;
  height:400px;
}


/* ---------------------------
	@ Bxslider
--------------------------- */
/*	Layout
-----------------------------*/
.bx-wrapper {
  margin: 0 auto;
  padding-bottom: 34px;
  width: 960px;
  position: relative;
}

.bx-viewport {
  overflow: visible !important;
}

/* Pager
-----------------------------*/
.bx-pager {
  text-align: center;
  padding: 10px 0;
  line-height: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.bx-pager-item {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
}

.bx-pager-link {
  display: block;
  padding-top: 14px;
  width: 14px;
  height: 0;
  overflow: hidden;
  background: #ccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.bx-pager-link.active {
  background: #d01027;
}

/* Controls
-----------------------------*/
.bx-controls-direction a {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 34px;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.bx-controls-direction a:hover {
  background: rgba(0, 0, 0, 0.4);
}
.bx-controls-direction a img {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.bx-prev {
  right: 100%;
}
.bx-prev img {
  right: 12px;
}

.bx-next {
  left: 100%;
}
.bx-next img {
  left: 12px;
}

/* ---------------------------
	@ 始めたの方にオトク！
--------------------------- */
.mod-beginner {
  margin-top: 6px;
  margin-bottom: 50px;
  width: 100%;
}
.mod-beginner ul {
  overflow: hidden;
}
.mod-beginner li {
  margin-top: 20px;
  margin-left: 20px;
  width: 335px;
  float: left;
  background: #fff;
}
.mod-beginner li:first-child,
.mod-beginner li:nth-child(2) {
  margin-top: 0;
}
.mod-beginner li:nth-child(2n+1) {
  margin-left: 0;
}
.mod-beginner a {
  display: block;
}

/* ---------------------------
	@ プラン・料金
--------------------------- */

/*	Layout
-----------------------------*/
.mod-plan {
  margin-bottom: 45px;
  width: 100%;
}
.mod-plan .title-head {
  margin-bottom: 18px;
}

/*	Body
-----------------------------*/
.mod-plan-body {
  margin-bottom: 20px;
  margin-left: -6px;
  margin-right: -6px;
}
.mod-plan-body:after {
  content: "";
  display: block;
  clear: both;
}
.mod-plan-block {
  margin: 12px 6px 0;
  width: 222px;
  background: #fff;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod-plan-recommend ,
.mod-plan-popular {
  padding: 4px;
  background: url('../img/common/bg-pinkstripe-large.png');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.mod-plan-recommend > div ,
.mod-plan-popular > div {
  padding: 10px 15px 7px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Label */
.mod-plan-block em {
  display: block;
  height: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
}
.mod-plan-recommend em {
  width: 120px;
  background: #d01027;
  border: 1px solid #d01027;
  color: #fff;
}
.mod-plan-popular em {
  width: 120px;
  border: 1px solid #d01027;
  color: #d01027;
}

/* Title */
.mod-plan-block h3 {
  margin: 8px 0;
  line-height: 1;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid #d01027;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: #d01027;
}

/* Text */
.mod-plan-block li {
  color: #333;
  line-height: 22px;
}
.mod-plan-block p {
  color: #333;
}


/*	Wide Block
-----------------------------*/
.mod-plan-block.wide {
  margin: 0 6px;
  width: 690px;
  display: block;
}
.mod-plan-block.wide section:before,
.mod-plan-block section:after {
  content: "";
  display: block;
  position: absolute;
}
.mod-plan-block.wide section:before {
  width: 193px;
  height: 206px;
  background: url("../img/common/img-plan.png") no-repeat left center;
  bottom: 4px;
  right: 35px;
}
.mod-plan-block section:after {
  width: 16px;
  height: 23px;
  background: url("../img/common/arrow-red-large.png") no-repeat left center;
  top: 50%;
  right: 15px;
  margin-top: -11px;
}
.mod-plan-block.wide section > div {
  padding-bottom: 10px;
}
.mod-plan-block.wide em {
  position: relative;
}
.mod-plan-block.wide em span:before ,
.mod-plan-block.wide em span:after {
  content: "";
  display: inline-block;
  background: url("../img/common/icon-diamond.png") no-repeat left center;
  width: 14px;
  height: 20px;
}
.mod-plan-block.wide em span:before {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -10px;
}
.mod-plan-block.wide em span:after {
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -10px;
}
.mod-plan-block.wide h3 {
  width: 405px;
  float: left;
  margin: 35px 0 0;
  font-size: 30px;
  border-bottom: none;
}
.mod-plan-block.wide h3:after {
  margin-left: 40px;
  width: 0;
}
.mod-plan-block.wide .title {
  margin-top: -20px;
  padding-bottom: 5px;
  overflow: hidden;
  border-bottom: 1px solid #d01027;
  display: inline-block;
}
.mod-plan-block.wide .price {
  width: 210px;
  float: left;
  margin-left: 10px;
  text-align: center;
  background: #fbe8e8;
  padding: 8px 5px 3px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mod-plan-block.wide .price p {
  color: #d71f21;
  line-height: 1;
}
.mod-plan-block.wide .price .txt {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
.mod-plan-block.wide .price .txt strong {
  font-size: 36px;
  letter-spacing: -2px;
  padding-left: 2px;
}
.mod-plan-block.wide .price .txt span {
  font-size: 12px;
  font-weight: normal;
}

/* ---------------------------
	@ お客様の声
--------------------------- */
.index-voice {
  margin-bottom: 42px;
}
.index-voice-body {
  padding: 20px 0;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: -0.3em;
  text-align: center;
}
/*
.index-voice dl {
  display: inline-block;
  vertical-align: top;
  padding: 15px 7px 20px 93px;
  margin: 0 7px 15px;
  background: #fbe8e8;
  border: 1px dashed #d01027;
  width: 205px;
  letter-spacing: normal;
  text-align: left;
  position: relative;
}
.index-voice dt {
  font-size: 16px;
  color: #d01027;
}
.index-voice .image {
  width: 78px;
  position: absolute;
  left: 7px;
  top: 22px;
}
.index-voice .text {
  margin-top: 5px;
}
*/


/*	Buttons
-----------------------------*/
.mod-voice .mod-btns {
  padding-top: 5px;
}

/* ---------------------------
	@ 無料カウンセリングご予約はこちら
--------------------------- */
.mod-counsel {
  margin: 50px 0;
  padding: 30px 42px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6cbcb;
}
.mod-counsel .tel {
  display: block;
  margin: 15px auto 25px;
}
.mod-counsel dl {
  padding: 13px 15px 20px;
  overflow: hidden;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mod-counsel dt {
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d0243d;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 18px;
  color: #d01027;
}

.mod-counsel dt {
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d0243d;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 18px;
  color: #d01027;
}

.mod-counsel dd {
  margin-left: 8px;
  margin-bottom: 8px;
  width: 108px;
  float: left;
}

.mod-counsel dt + dd {
  margin-left: 0;
}
