@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap

--------------------------- */

/* ---------------------------
	@ Block about
--------------------------- */

/*-----------------------------------------------
jishin01.html
-----------------------------------------------*/

.h1-tx {
	font-size:16px;
	color:#ffffff;
	padding-right:10px;
}

.block_jishin {
	margin:10px 0 30px 0;
}

.block_jishin h2 {
	font-size:24px;
	color:#d2081f;
	font-weight:bold;
	text-align:center;
	margin:0 0 20px 0;
}

.block_jishin .jishin-tx01 {
	width:380px;
	float:left;
	font-size:14px;
	line-height:150%;
}

.block_jishin .jishin-img-area01 {
	float:right;
	margin:30px 0 0 0;
}

.block_jishin .jishin-img-area02 {
	margin:30px 0 0 0;
	text-align:center;
}

.doctor-area-l {
	width:160px;
	margin:20px 0 0 0;
	display:inline-block;
	vertical-align:top;
}

.doctor-area-l img {
	margin:0 auto;
}

.doctor-area-l p {
	font-size:11px;
	margin:5px 0 0 0;
}

.doctor-area-r {
	width:450px;
	margin:20px 0 0 10px;
	display:inline-block;
	vertical-align:top;
}


.table_area01 {
	width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

table.table-01 {
    width:100%;
    border-top: 1px #ffaeae solid;
	border-bottom: 1px #ffaeae solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table-01 th {
	font-size:12px;
    padding: 10px;
    line-height: 120%;
    text-align: left;
}
table.table-01 td {
	font-size:12px;
    padding:10px;
    text-align: left;
	line-height:130%;
}

.tb-bot {
	background:url('../img/about/bg-table-dot.png') no-repeat center left;
	padding-left:10px;
}


.tb-bgcolor01 {
	background-color:#fbe8e8;
}

.tb-bgcolor02 {
	background-color:#fefbfb;
}

.jishin-title-area01 {
	margin:20px auto 20px auto;
	text-align:center;
}

.jishin-title-area01 p {
	text-align:center;
	font-size:18px;
	color:#37bee5;
}

.jishin-title-area01 h2 {
	display:inline-block;
	font-size:24px;
	font-weight:bold;
	color:#37bee5;
	margin:5px 0 0 0;
}

.jishin-title-area01 img {
	display:inline-block;
	margin:0 auto;
}

.jishin-box {
	width:260px;
	display:inline-block;
	margin:0 auto;
	vertical-align:top;
	background-color:#ecf6f9;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding:0 20px 20px 20px;
	min-height:380px;
}


.jishin-title-s {
	margin:20px auto 20px auto;
	text-align:center;
}

.jishin-title-s p {
	text-align:center;
	font-size:14px;
	color:#37bee5;
}

.jishin-title-s h3 {
	display:inline-block;
	font-size:19px;
	font-weight:bold;
	color:#37bee5;
	margin:2px 0 0 0;
}

.jishin-title-s img {
	display:inline-block;
	margin:0 auto;
}

.jishin-box .jishin-image01 {
	margin:0 0 15px 0;
	text-align:center;
}

.jishin-box .jishin-image02 {
	margin:0 0 5px 5px;
	float:right;
}

.jishin-box p {
	font-size:14px;
	margin:0 auto;
	line-height:160%;
}

.mgnR {
	margin-right:22px;
}

.line-jishin {
	width:100%;
	height:1px;
	margin:20px 0 20px 0;
	background:url('../img/common/uline_dot.gif') repeat-x center bottom;
}


.jishin-sugoi {
	color:#37bee5;
	font-weight:bold;
	font-size:18px;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.voice-bg{
    background:url('../img/about/jishin-voice.png');
    background-repeat:no-repeat;
}
.voice-l{
    width:180px;
    margin:17px 0 30px 110px;
    float:left;
    text-align:left;
    font-size:15px;
}
.voice-r{
    width:180px;
    margin: 15px 0 30px 142px;
    float:left;
    text-align:left;
    font-size:15px;
}



/*-----------------------------------------------
jishin02.html
-----------------------------------------------*/

.jishin-title-area02 {
	margin:20px auto 20px auto;
	text-align:center;
}

.jishin-title-area02 p {
	text-align:center;
	font-size:16px;
	color:#d2081f;
}

.jishin-title-area02 h2 {
	font-size:24px;
	font-weight:bold;
	color:#d2081f;
	margin:0;
}


.box-support {
	width:148px;
	height:90px;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	border:1px solid #d2081f;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background:url('../img/common/bg-support-stripe.png') repeat;
}

.box-support h3 {
	font-size:20px;
	color:#d2081f;
	line-height:130%;
	margin-top:10px;
}

.box-support .uarrow {
	margin:10px 0 0 0;
}

.pddT-01 {
	padding-top:13px;
}

.mgnR-support {
	margin-right:4px;
}

.mds-support {
	width:100%;
	background-color:#fbe8e8;
	border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.block_jishin.txta-center{
	text-align: center;
}

.block_jishin .jishin-tx03 {
	width:320px;
	float:left;
	font-size:14px;
	line-height:150%;
}

.block_jishin .jishin-img-area03 {
	float:right;
	margin:0;
	padding:3px;
	border:1px solid #e4a0a8;
}



/*-----------------------------------------------
jishin03.html
-----------------------------------------------*/


.price-box {
	width:300px;
	display:inline-block;
	margin:0 0 20px 0;
	vertical-align:top;
}

.price-box .price-mds {
	width:300px;
	height:112px;
	background:url('../img/about/bg-price.png') no-repeat bottom center;
	margin:0 auto;
	text-align:center;
}

.price-box .price-mds .price-point {
	height:52px;
	background:url('../img/about/bg-price-point.png') no-repeat center center;
	text-align:center;
}

.price-box .price-mds .price-point p {
	padding:20px 0 0 0;
	font-size:22px;
	font-weight:bold;
	color:#ffffff;
}

.price-box .price-mds h3 {
	font-size:18px;
	font-weight:bold;
	color:#d2081f;
	padding-top:5px;
	line-height:130%;
}

.price-box .price-tx {
	min-height:70px;
	width:268px;
	padding:15px;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.price-box .price-tx p {
	font-size:14px;
	line-height:150%;
}

.mgnR-03 {
	margin-right:20px;
}


/*-----------------------------------------------
　追加
-----------------------------------------------*/

.sec01 {
	text-align:center;
	font-size:14px;
	color:#37bee5;
}

.sti01 {
	display:inline-block;
	font-size:19px;
	font-weight:bold;
	color:#37bee5;
	margin:2px 0 0 0;
}

.ph01 {
	display:inline-block;
	margin:0 auto;
}
