@charset "UTF-8";

/* ---------------------------
  GINZA CALLA LAYOUT
  @ Base
  @ Header
  @ Global Navigation
  @ Breadcrumb
  @ Wrapper
  @ Main
  @ Page
  @ Sidebar
  @ Footer
--------------------------- */



/* ---------------------------
  @ Base
--------------------------- */

/*	Body
-----------------------------*/
body {
  width: 100%;
  min-width: 960px;
  background: url('../img/common/bg1.png');
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #333333;
}


/*	Anchor
-----------------------------*/
a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #007095;
}


/*	List
-----------------------------*/
li {
  list-style: none;
}


/*	Image
-----------------------------*/
img {
  max-width: 100%;
  height: auto;
  outline: none;
  border: 0;
  vertical-align: top;
}



/* ---------------------------
	@ Header
--------------------------- */

/*	Layout
-----------------------------*/
.header {
  background-color: #d01027;
}
.header .container {
  display: table;
  padding-left: 210px;
  height: 70px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
.header h1 {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0.3em;
}


/*	Header Logo
-----------------------------*/
.header-logo {
  display: block;
  width: 176px;
  height: 43px;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -24px;
}


/*	Header Information
-----------------------------*/
.header-nav {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  letter-spacing: -0.3em;
}
.header-nav li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  letter-spacing: normal;
}
.header-nav a {
  display: block;
  color: #fff;
}

/* Recruit */
.header-nav-recruit a {
  border-bottom: 1px solid #fff;
  line-height: 1.2;
  font-size: 12px;
  color: #fff;
}
.header-nav-recruit a:hover {
  border-bottom: 1px solid #d01027;
}

/* Web */
.header-nav-web {
  width: 215px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.header-nav-web a {
  padding: 0 12px;
  line-height: 32px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  color: #d01027;
  position: relative;
}
.header-nav-web a:after {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: url('../img/common/arrow-red-small.png') no-repeat top right;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -6px;
}



/* ---------------------------
  @ Global Navigation
--------------------------- */
.gnav {
  background: #fff;
}
.gnav ul {
  background: url('../img/common/nav-line.png') no-repeat right center;
  overflow: hidden;
}
.gnav li {
  width: 160px;
  float: left;
}
.gnav a {
  display: block;
  padding: 15px 0;
  background: url('../img/common/nav-line.png') no-repeat left center;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 14px;
  color: #d01027;
}



/* ---------------------------
  @ Breadcrumb
--------------------------- */

/* .breadcrumb
------------------------- */
.breadcrumb {
	background: #fbe8e8;
}
.breadcrumb ul {
	font-size: 12px;
	padding: 10px 0 8px;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb .bread-arrow {
	padding: 0 5px;
}
.breadcrumb a {
	color: #333;
}
.breadcrumb a:hover {
	text-decoration: underline;
}


/* ---------------------------
  @ Wrapper
--------------------------- */
.wrapper {
  margin-top: 25px;
  margin-bottom: 70px;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}



/* ---------------------------
	@ Main
--------------------------- */
.main {
  width: 690px;
  float: left;
}


/* ---------------------------
	@ Page
--------------------------- */

/*	Page Head
-----------------------------*/
.page-head {
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 57px;
	background: url('../img/salon/common/title-bg-shop.png') no-repeat;
	background-position: center top;
	margin-top: 30px;
}
.page-head span {
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline-block;
}

.page-head div {
	display:inline-block;
	vertical-align:middle;
	margin-top:-3px;
}



/*	Page Body
-----------------------------*/
.page-body {
	padding: 0 30px;
	margin: 30px 0 45px;
}


/* ---------------------------
	@ Sidebar
--------------------------- */

/*	Sidebar Layout
-----------------------------*/
.sidebar {
  width: 230px;
  float: right;
}
.sidebar-block {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #999;
}
.sidebar-block:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.sidebar-block li,
.sidebar-block dd {
  margin-bottom: 10px;
  background: #fff;
}
.sidebar-block a {
  display: block;
}

/*about page*/

.side-about-title {
	padding: 12px 15px 8px 10px;
}

.side-jishin-mgnL {
	margin-left:40px;
}



/*	Sidebar Campaign
-----------------------------*/
.sidebar-campaign dt {
  display: block;
  margin-bottom: 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #d01027;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: -0.07em;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/*   Sidebar List
 * ------------------------- */

.sidebar-list {
	background: #fbe8e8;
	margin-bottom: 20px;
}
.sidebar-list-btn {
  padding: 12px 8px 20px;
}
.sidebar-list p {
	color: #cd0000;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 8px 9px;
}
.sidebar-list .sidebar-list-head {
	text-align: center;
}
.sidebar-list .sidebar-list-head.sidebar-line {
  border-bottom: #f4b4b2 2px solid;
}
.sidebar-list .side-list-subtitle {
  text-align: left;
}
.sidebar-list ul {
  padding: 0 8px 8px;
}
.sidebar-list li {
	background: #fff;
	border-top: #fdd2d2 1px dashed;
}
.sidebar-list .title {
  color: #0382ac;
  font-weight: bold;
	padding: 12px 15px 8px 10px;
}
.sidebar-list ul li:first-child {
	border-top: none;
}
.sidebar-list li a {
	color: #0382ac;
	text-decoration: underline;
	display: block;
	padding: 12px 15px 8px 10px;
	background: #fff;
	position: relative;
}
.sidebar-list li .height {
  padding: 22px 15px 19px 10px;
}
.sidebar-list li .text-indent {
  padding-left: 30px;
}
.sidebar-list li a:after {
	content: "";
	display: block;
	width: 8px;
	height: 12px;
	background: url('../img/common/side-arrow-blue.png') no-repeat;
	background-position: right top;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -6px;
}
.sidebar-list li a:hover {
	text-decoration: none;
}

/*   Sns Buttuns
 * ------------------------- */
.sns-buttons {
  letter-spacing: -0.4em;
  text-align: right;
  margin-top: 10px;
}
.sns-buttons li {
  display: inline-block;
  letter-spacing: normal;
  /*background: #fff; */
  text-align: center;
}
.sns-buttons li:first-child {
  margin-right: 10px;
  line-height: 0.7;
}


/* ---------------------------
	@ Footer
--------------------------- */
.footer {
  padding: 30px 0;
  background: #d01027;
  color: #fff;
}
.footer address {
  text-align: center;
  font-size: 12px;
}
.footer .tel {
  display: block;
  margin: 0 auto 28px;
}
.footer .footer-nav {
  text-align: center;
  letter-spacing: -0.4em;
  margin-bottom: 25px;
}
.footer .footer-nav li {
  display: inline-block;
  letter-spacing: normal;
}
.footer .footer-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 25px;
}





@charset "UTF-8";


/* ------------------------------ *
	FONT SIZE
 * ------------------------------ */
.px10 { font-size: 71.5%; }
.px11 { font-size: 78.7%; }
.px12 { font-size: 86%; }
.px13 { font-size: 93%; }
.px14 { font-size: 100%; }
.px15 { font-size: 107.3%; }
.px16 { font-size: 114.4%; }
.px17 { font-size: 121.5%; }
.px18 { font-size: 128.6%; }
.px19 { font-size: 135.8%; }
.px20 { font-size: 143%; }
.px21 { font-size: 150%; }
.px22 { font-size: 157.3%; }
.px23 { font-size: 164.3%; } /* Ugly Bold */
.px24 { font-size: 171.5%; } /* Ugly Bold */
.px25 { font-size: 178.6%; }
.px26 { font-size: 185.8%; }
.px27 { font-size: 193%; }
.px28 { font-size: 200%; }
.px29 { font-size: 207.1%; }
.px30 { font-size: 214.4%; }


/* ------------------------------ *
	margin : top
 * ------------------------------ */
.mt0 {margin-top:0px !important;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt6 {margin-top:6px !important;}
.mt7 {margin-top:7px !important;}
.mt8 {margin-top:8px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt150 {margin-top:150px !important;}
.mt200 {margin-top:200px !important;}


/* ------------------------------ *
	margin : bottom
 * ------------------------------ */
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}


/* ------------------------------ *
	margin : left
 * ------------------------------ */
.ml0 {margin-left:0px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}


/* ------------------------------ *
	margin
 * ------------------------------ */
.m0 {margin:0 !important;}
.m5 {margin:5px !important;}
.m10 {margin:10px !important;}
.m15 {margin:15px !important;}
.m20 {margin:20px !important;}
.m25 {margin:25px !important;}
.m30 {margin:30px !important;}


/* ------------------------------ *
	padding : top
 * ------------------------------ */
.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}


/* ------------------------------ *
	padding : bottom
 * ------------------------------ */
.pb0 {padding-bottom:0px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb100 {padding-bottom:100px !important;}


/* ------------------------------ *
	padding : left
 * ------------------------------ */
.pl0 {padding-left:0px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}


/* ------------------------------ *
	padding four way
 * ------------------------------ */
.p0 {padding:0 !important;}
.p5 {padding:5px !important;}
.p10 {padding:10px !important;}
.p15 {padding:15px !important;}
.p20 {padding:20px !important;}
.p25 {padding:25px !important;}
.p30 {padding:30px !important;}


/* ------------------------------ *
	配置
 * ------------------------------ */
.left-contents {
float:left;
}
.right-contents {
float:right;
}
.clear {
height:0;
clear:both;
}
.v-middle {
vertical-align:middle;
}
.v-bottom {
vertical-align:bottom;
}
.align-right {
text-align: right;
}
.align-center {
text-align: center;
}

.align-left {
text-align: left;
}


/* ------------------------------ *
	背景
 * ------------------------------ */
.bg-01{
  background-color: #FFFDEA; /* 黄色 */
}

.bg-02{
  background-color: #FFFBFB; /* うすピンク */
}

.bg-03{
  background-color: #FDF2F2; /* 濃ピンク */
}

.bg-04{	/* 水色 角丸 */
  background-color: #ECF6F9;
  border-radius: 0.8em;
}


/* ------------------------------ *
	文字色
 * ------------------------------ */
.font-white{
  color: #ffffff; /* 白 */
}

.font-red{
  color: #D01027; /* 赤 */
}

.font-pink{
  color: #D01027; /* ピンク */
}

.font-lightblue{
  color: #37BEE5; /* light blue */
}
