.mg-page-header-image-inside {
  height: 780px;
  background-image: url(../img/migrate/service/bg01.jpg);
}

.mg-service {
  padding: 86px 0 120px;
}

.mg-service-text {
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-feature-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 58px 0 100px;
}

.mg-feature-item {
  width: 32.2%;
  padding: 28px;
  border-radius: 8px;
  background-color: #fcf0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-feature-item:nth-child(n+4) {
  margin-top: 1.7%;
}

.mg-feature-item:not(:nth-child(3n+1)) {
  margin-left: 1.7%;
}

.mg-feature-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.mg-feature-icon {
  width: 96px;
}

.mg-feature-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 24px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #ed3f55;
}

.mg-feature-text {
  font-size: 14px;
  line-height: 2;
}

.mg-feature-notice {
  margin-top: 10px;
}

.mg-feature-notice li {
  font-size: 12px;
  line-height: 2;
  text-indent: -.6em;
  padding-left: .6em;
}

.mg-support-title {
  margin-bottom: 65px;
}

.mg-support-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
          justify-content: space-around;
}

.mg-support-item {
  width: 22.85%;
}

.mg-support-thumb {
  margin-bottom: 36px;
}

.mg-support-label {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ed3f55;
}

.mg-support-text {
  font-size: 14px;
  line-height: 1.8;
}
