.mg-page-header-image-inside {
  height: 760px;
  background-image: url(../img/migrate/course/bg01.jpg);
}

.mg-course {
  padding-top: 95px;
  padding-bottom: 130px;
}

.mg-course-label {
  margin-bottom: 65px;
}

.mg-course-box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-course-box-link a {
  width: 100%;
  padding: 14px 0;
  font-size: 14px;
}

.mg-course-box-small {
  width: 100%;
  padding: 44px 32px 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-icon {
  left: -32px;
  -webkit-transform: translate(12px, 12px) scale(0.8);
      -ms-transform: translate(12px, 12px) scale(0.8);
          transform: translate(12px, 12px) scale(0.8);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}

.mg-course-box-small:nth-child(2) .mg-course-box-small-icon {
  right: -32px;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-icon.is-active, .mg-course-box-small:nth-child(2) .mg-course-box-small-icon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-box-small-title {
  margin-bottom: 22px;
}

.mg-course-box-small-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 16px;
}

.mg-course-box-small-price {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.mg-course-box-small-price span {
  font-size: 75%;
  vertical-align: middle;
}

.mg-course-box-small-icon {
  position: absolute;
  top: -24px;
  opacity: 0;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
}



.mg-course-box-small2 {
  width: 100%;
  padding: 44px 32px 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-box-small2 .mg-course-box-link a {
  width: 50%;
  padding: 14px 0;
  font-size: 14px;
  margin:0 auto;
}






.mg-course-box-large {
  width: 48.6%;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-box-large:nth-child(n+3) {
  margin-top: 2.8%;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large-thumb {
  width: 29.3%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-box-large-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.mg-course-box-large-title {
  margin-bottom: 15px;
}

.mg-course-box-large-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 2;
}

.mg-course-box-large .mg-course-box-link a {
  padding: 9px 0;
}

.mg-course-zenshin {
  position: relative;
  margin-bottom: 30px;
  padding: 64px;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-zenshin-title {
  margin-bottom: 24px;
  text-align: center;
}

.mg-course-zenshin-text {
  margin-bottom: 44px;
  font-size: 14px;
  text-align: center;
}

.mg-course-zenshin-body {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mg-course-zenshin-illust {
  width: 41.9%;
}

.mg-course-zenshin-list {
  width: 52.36%;
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-course-zenshin-item {
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.mg-course-zenshin-item:nth-child(n+3) {
  margin-top: 30px;
}

.mg-course-zenshin-item img {
  margin-right: 12px;
}

.mg-course-zenshin-balloon {
  position: absolute;
  top: -32px;
  left: 50%;
  margin-left: 350px;
  opacity: 0;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-course-zenshin-balloon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-partial {
  margin-bottom: 54px;
}

.mg-course-part {
  margin-top: 97px;
}

.mg-course-part-list {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-course-part-item {
  width: 544px;
  overflow: hidden;
  border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-part-item.mod-front .mg-course-part-main {
  background-image: url(../img/migrate/course/body_front.png);
}

.mg-course-part-item.mod-back .mg-course-part-main {
  background-image: url(../img/migrate/course/body_back.png);
}

.mg-course-part-title {
  height: 64px;
  background-color: #ed3f55;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-course-part-main {
  height: 552px;
  padding: 0 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fcf0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-part-selector li {
  width: 112px;
}

.mg-course-part-selector li:nth-child(n+2) {
  margin-top: 8px;
}

.mg-course-part-selector li a {
  padding: 11px 2px;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 6px;
  cursor: pointer;
}

.mg-course-part-selector li a:hover + img {
  opacity: 1;
}

.mg-course-part-selector li img {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}
