.mg-course-box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-course-box-link a {
  width: 50%;
  padding: 14px 0;
  font-size: 14px;
  margin:0 auto;
}

.mg-course-box-small {
  width: 100%;
  padding: 44px 32px 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-icon {
  left: -32px;
  -webkit-transform: translate(12px, 12px) scale(0.8);
      -ms-transform: translate(12px, 12px) scale(0.8);
          transform: translate(12px, 12px) scale(0.8);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}

.mg-course-box-small:nth-child(2) .mg-course-box-small-icon {
  right: -32px;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-icon.is-active, .mg-course-box-small:nth-child(2) .mg-course-box-small-icon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-box-small-title {
  margin-bottom: 22px;
}

.mg-course-box-small-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 16px;
}

.mg-course-box-small-price {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.mg-course-box-small-price span {
  font-size: 75%;
  vertical-align: middle;
}

.mg-course-box-small-icon {
  position: absolute;
  top: -24px;
  opacity: 0;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-course-box-large {
  width: 48.6%;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-box-large:nth-child(n+3) {
  margin-top: 2.8%;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large-thumb {
  width: 29.3%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-box-large-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.mg-course-box-large-title {
  margin-bottom: 15px;
}

.mg-course-box-large-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 2;
}

.mg-course-box-large .mg-course-box-link a {
  padding: 9px 0;
}

.mg-course-zenshin {
  position: relative;
  margin-bottom: 30px;
  padding: 64px;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-course-zenshin-title {
  margin-bottom: 24px;
  text-align: center;
}

.mg-course-zenshin-text {
  margin-bottom: 44px;
  font-size: 14px;
  text-align: center;
}

.mg-course-zenshin-body {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mg-course-zenshin-illust {
  width: 41.9%;
}

.mg-course-zenshin-list {
  width: 52.36%;
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-course-zenshin-item {
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.mg-course-zenshin-item:nth-child(n+3) {
  margin-top: 30px;
}

.mg-course-zenshin-item img {
  margin-right: 12px;
}

.mg-course-zenshin-balloon {
  position: absolute;
  top: -32px;
  left: 50%;
  margin-left: 350px;
  opacity: 0;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-course-zenshin-balloon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-partial {
  margin-bottom: 54px;
}

.mg-about {
  padding: 130px 0;
  position: relative;
  z-index: 0;
  background-color: #fbfcff;
}

.mg-about-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.mg-about-bg-inside {
  height: 1582px;
}

.mg-about-copy {
  margin: 64px 0;
  text-align: center;
}

.mg-about-list {
  max-width: 1216px;
  margin: 0 auto 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-about-list.is-active .mg-about-item {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 1.4s;
       -o-transition-duration: 1.4s;
          transition-duration: 1.4s;
}

.mg-about-list.is-active .mg-about-item:nth-child(2) {
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.mg-about-list.is-active .mg-about-item:nth-child(3) {
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.mg-about-list.is-active .mg-about-item:nth-child(4) {
  -webkit-transition-delay: .45s;
       -o-transition-delay: .45s;
          transition-delay: .45s;
}

.mg-about-item {
  width: 31.66%;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(24px);
      -ms-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-about-item-title {
  height: 158px;
  padding-top: 60px;
  text-align: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-about-item-title img {
  position: relative;
  z-index: 1;
}

.mg-about-item-icon {
  width: 100%;
  bottom: 77px;
  position: absolute;
  text-align: center;
}

.mg-index-title {
  text-align: center;
}

.mg-index-desc {
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-index-link {
  width: 480px;
  margin: 0 auto;
}

.mg-index-link a {
  width: 100%;
  height: 80px;
  font-size: 20px;
}

.mg-index-slide-prev, .mg-index-slide-next {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-index-slide-prev:hover:before, .mg-index-slide-next:hover:before {
  background-color: #cb1b32;
}

.mg-index-slide-prev:before, .mg-index-slide-next:before {
  content: "";
  background-color: #ed3f55;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-index-slide-prev:before {
  background-image: url(../img/migrate/index/slider/prev.png);
}

.mg-index-slide-next:before {
  background-image: url(../img/migrate/index/slider/next.png);
}

.mg-index .swiper-wrapper {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-campaign {
  padding: 150px 75px 120px;
}

.mg-campaign-container {
  overflow: hidden;
}

.mg-campaign-slide {
  width: 100%;
  max-width: 1216px;
  margin: 64px auto 0;
  position: relative;
}

.mg-campaign-slide-prev, .mg-campaign-slide-next {
  width: 32px;
  height: 32px;
  top: 0;
  margin-top: 8.5%;
}

.mg-campaign-slide-prev {
  right: calc(100% + 16px);
}

.mg-campaign-slide-next {
  left: calc(100% + 16px);
}

.mg-campaign-slide .slick-slide {
  margin: 0 16px;
}

.mg-campaign-slide .slick-list {
  margin: 0 -16px;
}

.mg-campaign-link {
  display: block;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-campaign-link:hover {
  opacity: 0.65;
}

.mg-campaign-thumb {
  margin-bottom: 24px;
}

.mg-campaign-label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ed3f55;
}

.mg-campaign-desc {
  margin-bottom: 14px;
  font-size: 13px;
  color: #6f3e45;
}

.mg-campaign-date {
  font-size: 14px;
  color: #d6c6c8;
}

.mg-course-index {
  padding: 126px 0;
}

.mg-course-index-copy {
  margin: 56px 0;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-flow {
  padding: 130px 0;
  background-color: #fcf0f0;
  overflow: hidden;
}

.mg-flow-copy {
  margin: 58px 0 82px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-flow-list {
  max-width: 1180px;
  margin: 0 auto 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mg-flow-list.is-active .mg-flow-item {
  -webkit-transition-duration: 1.2s;
       -o-transition-duration: 1.2s;
          transition-duration: 1.2s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mg-flow-list.is-active .mg-flow-item:nth-child(2) {
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.mg-flow-list.is-active .mg-flow-item:nth-child(3) {
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.mg-flow-list.is-active .mg-flow-item:nth-child(4) {
  -webkit-transition-delay: .45s;
       -o-transition-delay: .45s;
          transition-delay: .45s;
}

.mg-flow-item {
  width: 25%;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-flow-item:nth-child(n+2):before {
  content: "";
  width: 18px;
  height: 352px;
  position: absolute;
  top: -24px;
  left: 0;
  background: url(../img/migrate/index/flow/separator.png) 0 0 no-repeat;
}

.mg-flow-item:nth-child(4) .mg-flow-item-inside {
  padding: 0 0 0 5%;
}

.mg-flow-item-inside {
  padding: 0 17.8% 0 16.1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.mg-flow-illust {
  width: 193px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 28px;
}

.mg-flow-step {
  position: absolute;
  top: -9px;
  left: -9px;
}

.mg-flow-title {
  margin-bottom: 12px;
  text-align: center;
}

.mg-flow-text {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

.mg-mv {
  position: relative;
  background-color: #fcf0f0;
}

.mg-mv.is-loading .mg-mv-loading {
  opacity: 1;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.mg-mv.is-loaded .mg-mv-slide-list {
  opacity: 1;
  -webkit-transition: .4s linear .5s;
  -o-transition: .4s linear .5s;
  transition: .4s linear .5s;
}

.mg-mv.is-loaded .mg-mv-slide-prev,
.mg-mv.is-loaded .mg-mv-slide-next {
  opacity: .3;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

.mg-mv.is-loaded .mg-mv-slide-nav {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

.mg-mv.is-loaded .mg-mv-loading {
  opacity: 0;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.mg-mv-slide {
  max-width: 1680px;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.mg-mv-slide-list {
  position: relative;
  height: 100%;
  opacity: 0;
}

.mg-mv-slide-item {
  overflow: hidden;
  will-change: width, transform;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-mv-slide-item:first-child {
  z-index: 1;
}

.mg-mv-slide-item.is-animating {
  pointer-events: none;
}

.mg-mv-slide-item a,
.mg-mv-slide-item span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-mv-slide-item a {
  -webkit-transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-mv-slide-item a:after {
  content: "";
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-mv-slide-item a:hover:after {
  opacity: 1;
}

.mg-mv-slide-prev, .mg-mv-slide-next {
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mg-mv-slide-prev {
  left: 1.76%;
  -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
          transform: translateX(14px);
}

.mg-mv-slide-next {
  right: 1.76%;
  -webkit-transform: translateX(-14px);
      -ms-transform: translateX(-14px);
          transform: translateX(-14px);
}

.mg-mv-slide-nav {
  position: absolute;
  z-index: 2;
  top: calc(100% - 50px);
  left: 50%;
  opacity: 0;
  padding: 24px 40px;
  border-radius: 999em;
  background-color: #fff;
  -webkit-transform: translate(-50%, 30px);
      -ms-transform: translate(-50%, 30px);
          transform: translate(-50%, 30px);
}

.mg-mv-slide-nav-inside {
  position: relative;
}

.mg-mv-slide-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mg-mv-slide-nav li {
  width: 144px;
  padding: 0 8px;
  cursor: pointer;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-mv-slide-nav li:hover {
  opacity: 0.65;
}

.mg-mv-slide-nav span {
  position: absolute;
  width: 32px;
  height: 3px;
  top: calc(100% + 6px);
  background-color: #ed3f55;
  border-radius: 999em;
  -webkit-transform: translate3d(64px, 0, 0);
          transform: translate3d(64px, 0, 0);
}

.mg-mv-loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mg-mv-loading span {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  background-color: #ed3f55;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loading 1.4s infinite ease-in-out;
          animation: loading 1.4s infinite ease-in-out;
}

.mg-mv-loading span:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.mg-mv-loading span:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.mg-mv-loading span:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mg-news {
  position: relative;
  padding: 125px 0;
}

.mg-news-inside {
  max-width: 1120px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.mg-news-body {
  width: 48.6%;
}

.mg-news-title {
  margin-bottom: 30px;
}

.mg-news-link {
  position: absolute;
  top: 0;
  right: 0;
}

.mg-news-link a {
  display: block;
  padding: 10px 23px;
  font-size: 14px;
}

.mg-news-list {
  margin-bottom: 60px;
}

.mg-news-item {
  border-bottom: 1px solid #e8ddde;
}

.mg-news-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
}

.mg-news-item a:hover .mg-news-summary {
  text-decoration: underline;
}

.mg-news-date {
  width: 90px;
  font-size: 15px;
  color: #ed3f55;
}

.mg-news-summary {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  color: #6f3e45;
}

.mg-news-image {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: 69px;
  pointer-events: none;
}

.mg-news-banner a {
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-news-banner a:hover {
  opacity: 0.65;
}
