.mg-button-pink {
  font-weight: bold;
  color: #fff;
  background-color: #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-button-pink:hover {
  background-color: #ce162d;
}

.mg-button-pink-cv {
  font-weight: bold;
  color: #fff;
  background-color: #ff9321;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-button-pink-cv:hover {
  background-color: #f0811f;
}

.mg-button-white {
  color: #ed3f55;
  background-color: #fff;
  border: 1px solid #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-button-white:hover {
  background-color: #fdd9d9;
}

body {
  min-width: 1180px;
}

main {
  display: block;
}

.mg-page-header-title {
  height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-page-header-image {
  height: 480px;
}

.mg-page-inside {
  max-width: 1120px;
  margin: 0 auto;
}

.mg-page-moving-frame {
  position: relative;
  overflow: hidden;
  background-color: #fcf0f0;
}

.mg-page-moving-image {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  will-change: transform;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-page-moving-image.is-loaded {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.mg-page-aside {
  padding: 60px 0;
  background-color: #fbf5f6;
}

.mg-page-links {
  max-width: 1216px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-page-links li {
  width: 32.2%;
}

.mg-page-links li:not(:nth-child(3n+1)) {
  margin-left: 1.7%;
}

.mg-page-links li:nth-child(n+4) {
  margin-top: 1.7%;
}

.mg-page-links li a {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}
