@charset "UTF-8";
.mg-salon-nav {
  margin: 0 auto;
  overflow: hidden;
}

.mg-salon-nav li {
  width: 18.4%;
  height: 56px;
  float: left;
}

.mg-salon-nav li:nth-child(n+2) {
  margin-left: 2%;
}

.mg-salon-nav li:nth-child(n+6) {
  margin-top: 16px;
}

.mg-salon-nav li.mod-full {
  height: 128px;
}

.mg-salon-nav li a {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  background: none;
}

.mg-aside-salon-inside {
  position: relative;
  z-index: 1;
}

.mg-aside-salon-bg.mg-page-moving-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-aside-salon-bg-inside {
  height: 920px;
}

.mg-aside-salon-search {
  height: 520px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-aside-salon-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 65px;
}

.mg-aside-salon .mg-salon-nav {
  width: 928px;
}

.mg-aside-salon .mg-salon-nav li {
  width: 19.4%;
}

.mg-aside-salon .mg-salon-nav li:nth-child(n+2) {
  margin-left: 0.75%;
}

.mg-aside-salon .mg-salon-nav li:nth-child(n+6) {
  margin-top: 8px;
}

.mg-aside-salon .mg-salon-nav li.mod-full {
  height: 120px;
}

.mg-aside-reserve {
  padding: 64px 0;
  background-color: #fcf0f0;
}

.mg-aside-reserve-button {
  width: 1120px;
  margin: 0 auto;
}

.mg-aside-reserve-button a {
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.mg-aside-reserve-button a:before {
  content: "";
  width: 40px;
  height: 40px;
  margin-right: 22px;
  background: url(../img/migrate/footer/icon_reserve.png) 0 0 no-repeat;
}

.mg-footer {
  padding: 84px 0 60px;
}

.mg-footer-tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
}

.mg-footer-share {
  margin-bottom: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-footer-share li:nth-child(n+2) {
  margin-left: 16px;
}

.mg-footer-share a {
  width: 40px;
  height: 40px;
  background-color: #6f3e45;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-footer-share a:hover {
  background-color: #51282d;
}

.mg-footer-nav {
  margin-bottom: 46px;
}

.mg-footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-footer-menu li:nth-child(n+2) {
  margin-left: 24px;
}

.mg-footer-menu a {
  font-size: 12px;
  color: #6f3e45;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-footer-menu a:hover {
  opacity: 0.65;
}

.mg-footer-banners {
  margin-bottom: 45px;
}

.mg-footer-banners li {
  width: 100%;
  text-align: center;
}

.mg-footer-banners li:nth-child(n+2) {
  margin-top: 20px;
}

.mg-footer-banners li a {
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-footer-banners li a:hover {
  opacity: 0.65;
}

.mg-footer-copyright {
  font-size: 12px;
  text-align: center;
  color: #6f3e45;
}

.mg-header-main {
  height: 128px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.mg-header-logo a {
  width: 136px;
  display: block;
  position: relative;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-header-logo a:hover {
  opacity: 0.65;
}

.mg-header-logo a:before {
  content: "";
  height: 0;
  padding-top: 58.4375%;
  display: block;
}

.mg-header-logo a svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-header-senyo {
  position: absolute;
  right: 120px;
  top: 10px;
}

.mg-header-senyo span {
  color: #6d6d6d;
  font-size: 14px;
}

.mg-header-recruit {
  position: absolute;
  right: 0;
  top: 0;
}

.mg-header-recruit a {
  padding: 13px 24px;
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #6d6d6d;
  border-bottom: 2px solid #dadada;
  border-radius: 0 0 0 8px;
  background-color: #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-header-recruit a:hover {
  border-color: #d2d2d2;
  background-color: #d2d2d2;
}

.mg-gnav {
  background-color: #ed3f55;
}

.mg-gnav-inside {
  max-width: 1216px;
  height: 96px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-gnav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mg-gnav-menu li {
  white-space: nowrap;
}

.mg-gnav-menu li:nth-child(n+2) {
  margin-left: 48px;
}

.mg-gnav-menu li a {
  display: block;
  width: 100%;
  position: relative;
  padding: 14px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.mg-gnav-menu li a:after {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  background-color: #fff;
  border-radius: 999em;
  opacity: 0;
  -webkit-transform: scaleX(0.6);
      -ms-transform: scaleX(0.6);
          transform: scaleX(0.6);
  -webkit-transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-gnav-menu li a:hover:after, .mg-gnav-menu li a.is-active:after {
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.mg-gnav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.mg-gnav-buttons li:nth-child(n+2) {
  margin-left: 8px;
}

.mg-gnav-buttons li a {
  height: 56px;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6px;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-gnav-buttons li a:hover {
  background-color: #ce162d;
}

.mg-gnav-buttons li.mod-salon a:hover {
  color: #fff;
  border-color: #ce162d;
  background-color: #ce162d;
}

.mg-gnav-buttons li.mod-reserve a:hover {
  color: #fff;
  border-color: #ff9321;
  background-color: #ff9321;
}

.mg-gnav-buttons li.mod-salon a {
  color: #fff;
  border: 1px solid #fff;
}

.mg-gnav-buttons li.mod-salon a:before {
  content: "";
  width: 14px;
  height: 18px;
  margin-right: 7px;
  background: url(../img/migrate/header/icon_salon.png) 0 0 no-repeat;
}

.mg-gnav-buttons li.mod-reserve a {
  color: #ed3f55;
  background-color: #fff;
}

.mg-gnav-buttons li.mod-reserve a:before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 7px;
  background: url(../img/migrate/header/icon_reserve.png) 0 0 no-repeat;
}

.mg-gnav-buttons li.mod-reserve a:hover:before {
  background-image: url(../img/migrate/header/icon_reserve_on.png);
}
