.mg-page-header-image-inside {
  height: 880px;
  background-image: url(../img/migrate/faq/bg01.jpg);
}

.mg-faq {
  padding: 88px 0 160px;
}

.mg-faq-title {
  margin-bottom: 54px;
}

.mg-faq-text {
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-faq-section {
  margin-top: 95px;
}

.mg-faq-section:first-of-type {
  margin-top: 86px;
}

.mg-faq-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-faq-list li {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-faq-list li:nth-child(odd) {
  padding-left: 80px;
}

.mg-faq-list li:nth-child(even) {
  padding-left: 24px;
}

.mg-faq-list li:nth-child(n+3) {
  margin-top: 28px;
}

.mg-faq-list a {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  font-size: 14px;
  color: #6f3e45;
}

.mg-faq-list a:hover {
  text-decoration: underline;
}

.mg-faq-list a:before {
  content: "Q";
  position: absolute;
  top: -.25em;
  left: 0;
  font-size: 22px;
  color: #ed3f55;
  font-family: 'Amiri', serif;
}

.mg-faq-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
}

.mg-faq-more a {
  padding: 8px 25px;
  font-size: 14px;
  border-radius: 6px;
}
