.mg-page-header-image-inside {
  height: 880px;
  background-image: url(../img/migrate/campaign/bg01.jpg);
}

.mg-campaign {
  padding: 86px 0 96px;
}

.mg-campaign-text {
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-campaign-notice {
  margin-top: 14px;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.mg-campaign-banner {
  margin-top: 96px;
}

.mg-campaign-banner-large li {
  margin-bottom: 3%;
}

.mg-campaign-banner-large li.mg-dummy {
  overflow: hidden;
  border-radius: 8px;
}

.mg-campaign-banner-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-campaign-banner-small li {
  width: 50%;
}

.mg-campaign-banner-small li:nth-child(n+3) {
  margin-top: 3%;
}

.mg-campaign-banner a {
  display: block;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-campaign-banner a:hover {
  opacity: 0.65;
}
