.mg-page-header-image-inside {
  height: 880px;
  background-image: url(../img/migrate/salon/bg01.jpg);
}

.mg-aside-salon-search {
  display: none;
}

.mg-salon {
  padding: 94px 0 120px;
}

.mg-salon-header {
  margin-bottom: 58px;
}

.mg-salon-image {
  height: 400px;
}

.mg-salon-image-inside {
  height: 880px;
  background-image: url(../img/migrate/salon/bg02.jpg);
}

.mg-salon-region-item {
  padding-top: 40px;
}

.mg-salon-region-item:nth-child(n+2) {
  margin-top: 76px;
}

.mg-salon-region-title {
  margin-bottom: 42px;
}

.mg-salon-prefecture-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mg-salon-prefecture-item:nth-child(n+2) {
  margin-top: 29px;
  padding-top: 30px;
  background-image: -webkit-linear-gradient(left, #e9d9db, #e9d9db 2px, transparent 2px, transparent 4px);
  background-image: -o-linear-gradient(left, #e9d9db, #e9d9db 2px, transparent 2px, transparent 4px);
  background-image: linear-gradient(to right, #e9d9db, #e9d9db 2px, transparent 2px, transparent 4px);
  background-size: 4px 1px;
  background-position: top;
  background-repeat: repeat-x;
}

.mg-salon-prefecture-title {
  width: 13%;
  font-size: 14px;
  color: #ed3f55;
}

.mg-salon-shop-frame {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mg-salon-shop-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-salon-shop-item {
  width: 20%;
}

.mg-salon-shop-item:nth-child(n+6) {
  margin-top: 24px;
}

.mg-salon-shop-item a {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  font-size: 14px;
  color: #6f3e45;
}

.mg-salon-shop-item a:hover {
  text-decoration: underline;
}

.mg-salon-shop-item a:after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2px;
  border-top: 1px solid #ed3f55;
  border-right: 1px solid #ed3f55;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mg-salon-nav {
  margin: 0 auto;
  overflow: hidden;
}

.mg-salon-nav li {
  width: 18.4%;
  height: 56px;
  float: left;
}

.mg-salon-nav li:nth-child(n+2) {
  margin-left: 2%;
}

.mg-salon-nav li:nth-child(n+6) {
  margin-top: 16px;
}

.mg-salon-nav li.mod-full {
  height: 128px;
}

.mg-salon-nav li a {
  width: 100%;
  height: 100%;
  font-size: 14px;
}



.mg-salon-newopen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.mg-salon-newopen a {
  padding: 8px 100px;
  font-size: 14px;
  border-radius: 6px;
}