.mg-page-header-image-inside {
  height: 880px;
  background-image: url(../img/migrate/about/bg01.jpg);
}

.mg-about-section {
  position: relative;
  padding: 100px 0 130px;
}

.mg-about-title {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  text-align: center;
}

.mg-about-title-icon {
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -128px;
}

.mg-about-text {
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.mg-about-notice {
  margin-top: 20px;
}

.mg-about-notice li {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.mg-about-item {
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-about-item.is-selected {
  color: #fff;
  background-color: #ed3f55;
}

.mg-about-image {
  height: 480px;
}

.mg-about-image-inside {
  height: 880px;
}

.mg-about-image-inside.mod01 {
  background-image: url(../img/migrate/about/bg02.jpg);
}

.mg-about-image-inside.mod02 {
  background-image: url(../img/migrate/about/bg03.jpg);
}

.mg-about-tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 100%;
  padding-bottom: 10px;
}

.mg-about-tooltip.mod-large span {
  padding-left: 26px;
  padding-right: 26px;
}

.mg-about-tooltip span {
  display: block;
  position: relative;
  padding: 25px 30px;
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
  line-height: 2;
  color: #ed3f55;
  background-color: #fff;
  border: 1px solid #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-about-tooltip span a {
  color: #ed3f55;
  text-decoration: underline;
}

.mg-about-tooltip span:after, .mg-about-tooltip span:before {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  margin-left: -12px;
}

.mg-about-tooltip span:before {
  top: 100%;
  border-top-color: #ed3f55;
  border-width: 20px 10px 0 10px;
}

.mg-about-tooltip span:after {
  top: calc(100% - 2px);
  border-top-color: #fff;
  border-width: 20px 10px 0 10px;
}

.mg-about-state {
  display: none;
}

.mg-premium {
  position: relative;
}

.mg-premium-list {
  max-width: 1120px;
  margin: 54px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-premium-item {
  width: 32.1%;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ed3f55;
  background-color: #fcf0f0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mg-premium-item:not(:nth-child(3n+1)) {
  margin-left: 1.85%;
}

.mg-premium-item:nth-child(n+4) {
  margin-top: 1.85%;
}

.mg-premium-item em {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.mg-premium-icon {
  margin-right: 20px;
}

.mg-premium .mg-about-tooltip {
  width: 122%;
  margin-left: -61%;
}

.mg-research {
  position: relative;
}

.mg-research-list {
  max-width: 1120px;
  margin: 60px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mg-research-item {
  width: 49.3%;
  height: 96px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #ed3f55;
  border-radius: 8px;
  background: #fcf0f0 url(../img/migrate/about/research/no1.png) -10px -22px no-repeat;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-research-item:nth-child(n+2) {
  margin-top: 1.4%;
}

.mg-research-item.mod-full {
  width: 100%;
  font-size: 24px;
}

.mg-research-item.is-selected {
  background-image: url(../img/migrate/about/research/no1_on.png);
}

.mg-research .mg-about-tooltip {
  width: 111.5%;
  margin-left: -55.75%;
}

.mg-research .mg-about-tooltip.mod-large {
  width: 616px;
  margin-left: -303px;
}

.mg-statement-list {
  max-width: 1120px;
  margin: 56px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mg-statement-item {
  width: 13.75%;
  padding: 24px 16px;
  border-radius: 8px;
  position: relative;
  color: #ed3f55;
  background-color: #fcf0f0;
  cursor: pointer;
}

.mg-statement-item:nth-child(n+2) {
  margin-left: 0.625%;
}

.mg-statement-item em {
  display: block;
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
}

.mg-statement-icon {
  display: block;
  margin-bottom: 17px;
  text-align: center;
}

.mg-statement .mg-about-tooltip {
  width: 132%;
  margin-left: -66%;
}
