@charset "UTF-8";

/* ---------------------------
  GINZA CALLA MODULE LIST
  @ モジュール　Button Block
  @ モジュール　楽天リサーチ訴求
  @ モジュール　脱毛について
  @ モジュール　最新コラム
  @ モジュール　お客様の声
  @ モジュール　サロンからのメッセージ
  @ モジュール　選ばれる理由
  @ モジュール　お知らせ
  @ モジュール　はじめての方にオトク
  @ モジュール　プラン・料金
  @ モジュール　無料カウンセリングご予約はこちら
  @ ブロック　お客様の声一覧
  @ ブロック　サロン
  @ ブロック　タブ
  @ ブロック　タブ・部位
  @ ブロック　お客様の声
  @ ブロック　イメージ
  @ ブロック　ワイド
  @ ブロック　未成年限定プラン
  @ ブロック　広告ギャラリー
--------------------------- */


/* ---------------------------
	@ Button Block
--------------------------- */
.mod-btns {
  letter-spacing: -0.4em;
  text-align: center;
}
.mod-btns li {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin: 0 15px 15px 15px;
  letter-spacing: normal;
  background: #fff;
}

.mod-btns_large {
  letter-spacing: -0.4em;
  text-align: center;
}
.mod-btns_large li {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 0 20px 0;
  letter-spacing: normal;
  background: #fff;
}
.pddR_20 {
	padding-right:20px;
}



/* ---------------------------
	@ 楽天リサーチ訴求
--------------------------- */
.mod-rank {
  margin-bottom: 50px;
}
.mod-rank a {
  display: block;
}
.mod-rank .kadomaru {
  padding:15px 19px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #c41828 solid;
}
.mod-rank .kadomaru hr {
  height: 1px;
  border: none;
  border-top: 1px #c41828 solid;
}
.mod-rank .kadomaru .clearfix {
  zoom: 1;
}
.mod-rank .kadomaru .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.mod-rank .kadomaru .inner {
  width:650px;
  margin-top:5px;
}
.mod-rank .kadomaru .right0 {
  float:left;
  width:153px;
  text-align:center;
  font-size:13px;
  color:#ca2222;
  background-color:#fbe7e8;
  padding:2px 0;
}
.mod-rank .kadomaru .right1 {
  float:left;
  width:159px;
  margin-left:3px;
  text-align:center;
  font-size:13px;
  color:#ca2222;
  background-color:#fbe7e8;
  padding:2px 0;
}
.mod-rank .kadomaru .right2 {
  float:left;
  width:176px;
  margin-left:3px;
  text-align:center;
  font-size:13px;
  color:#ca2222;
  background-color:#fbe7e8;
  padding:2px 0;
}
.mod-rank .kadomaru .right3 {
  float:left;
  width:153px;
  margin-left:3px;
  text-align:center;
  font-size:13px;
  color:#ca2222;
  background-color:#fbe7e8;
  padding:2px 0;
}
.mod-rank .kadomaru .right4 {
  float:left;
  width:332px;
  margin: 4px 0 0 3px;
  font-size:11px;
  color:#000;
  text-align:right;
}
.kadomaru > .no1-div{
  text-align:center;
  border-bottom:1px solid #d01027;
  margin-bottom:10px;
}
.no1-div > .p1{
  font-size:22px;
  color: #d01027;
  font-weight:bold;
  line-height: 1.5em;
}
.no1-div > .p1 > .span1{
  font-size:20px;
  color:#000;
}
.no1-div > .flex{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.mod-rank > .center{
  text-align: center;
}
.no1-div2 > .p2{
  vertical-align: bottom;
  font-size:36px;
  font-weight:bold;
  width:80%;
}
.no1-div2 > .p2 > .span2{
  background:#d01027;
  color:#fff;
  box-sizing:border-box;
  padding:5px 10px;
  font-weight: normal;
  font-size: 30px;
}
.no1-div2 > .p2 > .span3{
  font-size: 54px;
  color: #d01027;
  padding-left: 13px;
}
.no1-div2 > .p3{
  width:20%;
  margin:-60px 0 0 -15px;
}
/* ---------------------------
	@ 脱毛について
--------------------------- */
.mod-datsumou {
  margin-bottom: 50px;
}
.mod-datsumou-body {
  padding: 20px 0;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: -0.3em;
  text-align: center;
}
.mod-datsumou-body .btn-datsumou {
  display: inline-block;
  vertical-align: top;
  width: 235px;
  margin: 0 5px 20px;
}
.mod-datsumou-body section {
  padding: 18px 0 8px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: normal;
  text-align: center;
}
.mod-datsumou-body h3 {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
}
.mod-datsumou-body p {
  display: table;
  width: 100%;
  line-height: 1.4;
  height: 2em;
  vertical-align: middle;
}
.mod-datsumou p span {
  color: #333;
  display: table-cell;
  vertical-align: middle;
}

.mod-datsumou-inner {
  width: 491px;
	float: left;
}

.mod-datsumou-body .img-datsumou {
  width: 145px;
	float: left;
  margin: 0 5px 0 35px;
}



/*  部位ランキング
-----------------------------*/

.mod-rank {
  margin-bottom: 50px;
}
.mod-rank-body {
  padding: 20px 0;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: -0.3em;
  text-align: center;
}
.mod-rank-body .mod-rank-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  box-sizing:border-box;
  width:690px;
  padding:0 20px;
  margin-top: 20px;
}
.mod-rank-body .mod-rank-inner ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.mod-rank-body .mod-rank-inner ul li {
  width:210px;
  margin-right:10px;
}
.mod-rank-body .mod-rank-inner ul li:last-child{
  width:210px;
  margin-right:0;
}



/*  アコーディオン
-----------------------------*/

.accbox {
    margin: 0;
    padding: 0;
    letter-spacing:normal;
}
.bold {
    font-weight:bold;
}

/*クリック前*/
.accbox label {
    display: block;
    margin-bottom: 1px;
    padding : 10px 0;
    background:#ce162e;
    background-image:url(../img/index/plus.png);
    background-position: 97% 50%;
    background-size:20px;
    background-repeat: no-repeat;
    cursor :pointer;
    transition: all 0.5s;
    color:#fff;
    font-size:15px;
    text-align:center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*クリック後*/
.cssacc:checked + label {
    display: block;
    margin-bottom: 1px;
    padding : 10px 0;
    background:#ce162e;
    background-image:url(../img/index/minus.png);
    background-position: 97% 50%;
    background-size:20px;
    background-repeat: no-repeat;
    cursor :pointer;
    transition: all 0.5s;
    color:#fff;
    font-size:15px;
    text-align:center;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
}
.accbox label p {
    font-size:23px;
    font-weight:bold;
    display:block;
}
.accbox label span {
    font-size:10px;
    display:block;
    line-height:14px;
    margin-top:5px;
}
/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: 403px;
    padding: 7px;
    background:#fbe8e8;
    opacity: 1;
    text-align:left;
    text-align:justify;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

.accbox .accshow p {
    margin: 15px 10px
}






/*  脱毛の流れ
-----------------------------*/

.mod-flow {
  margin-bottom: 50px;
}
.title-head-sub {
  margin:10px 0;
  font-size: 13px;
  text-align: center;
}
.mod-flow-body {
  padding: 20px 0;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: -0.3em;
  text-align: center;
}
.mod-flow-body .btn-flow {
  display: inline-block;
  vertical-align: top;
  width: 235px;
  margin: 0 5px 20px;
}
.mod-flow-body .mod-flow-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  box-sizing:border-box;
  width:690px;
  padding:0 20px;
  margin-bottom:12px;
}
.mod-flow-body section {
  width:319px;
  height: 134px;
  text-align:left;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: normal;
}
.mod-flow-body section ul {
  position:relative;
  padding: 12px 10px;
}
.mod-flow-body section ul li .no-img {
  position:absolute;
  top:12px;
  left:15px;
}
.mod-flow-body h3 {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
  padding:12px 0 0 44px;

}
.mod-flow-body li p {
  padding-top:20px;
  width: 190px;
  color: #333;
  display: table-cell;
  vertical-align: middle;
}
.mod-flow-body p {
  color: #333;
}
.flow-sankaku {
  width:30px;
  margin-bottom:12px;
}
.flow-lasttxt {
  letter-spacing:normal;
  margin:0 auto 10px;
}
.flow-lasttxt .red-txt {
  color:#d01027;
}
.flow-lasttxt .red-txt span {
  font-size:20px;
  padding:10px;
}



/* ---------------------------
	@ 最新コラム
--------------------------- */
.mod-column {
  margin-bottom: 50px;
}
.mod-column-body {
  padding: 20px 0 20px 15px;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  letter-spacing: -0.3em;
  /*text-align: center;*/
}
.mod-column-body section {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 20px;
  width: 210px;
  letter-spacing: normal;
  text-align: center;
  position: relative;
}
.mod-column-body h3 {
  height: 110px;
  line-height: 24px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 32px;
}
.mod-column-body dl {
  padding: 10px 12px 15px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  letter-spacing: -0.03em;
}
.mod-column-body a {
  display: block;
  margin-top: 10px;
}
.mod-column-body a:hover dd {
  text-decoration: none;
}
.mod-column-body dt {
  margin-bottom: 5px;
  color: #333;
}
.mod-column-body dd {
  text-decoration: underline;
  font-weight: bold;
}


/* ---------------------------
	@ お客様の声
--------------------------- */
.mod-voice {
  padding-bottom: 50px;
}
.mod-voice-body {
  text-align: center;
  letter-spacing: -0.4em;
  margin: 0 -7px;
  padding-bottom: 15px;
}
.mod-voice-body > section {
  box-sizing: border-box;
  width: 307px;
  text-align: left;
  letter-spacing: normal;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 5px;
	margin: 0 7px 15px;
	display: inline-block;
	vertical-align: top;
}
.mod-voice-body > section > div {
  width: 90px;
  color: #d01027;
  font-size: 13px;
  text-align: center;
  padding-top: 84px;
  float: left;
  position: relative;
}
.mod-voice-body > section > div img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -39.5px;
}
.mod-voice-body p {
  background: #fff;
  padding: 20px 12px;
  margin-left: 95px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
}
.mod-voice-body p:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url('../img/common/arrow-voice-left.png') no-repeat;
  background-position: center top;
  background-size: contain;
  position: absolute;
  top: 32px;
  left: -13px;
}
.mod-voice-body dl {
  box-sizing: border-box;
  width: 307px;
  text-align: left;
  letter-spacing: normal;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 5px;
	margin: 0 7px 15px;
	display: inline-block;
	vertical-align: top;
}
.mod-voice-body dt {
  width: 90px;
  color: #d01027;
  font-size: 13px;
  text-align: center;
  padding-top: 84px;
  float: left;
  position: relative;
}
.mod-voice-body dt img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -39.5px;
}
.mod-voice-body dd {
  background: #fff;
  padding: 10px 12px;
  margin-left: 95px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
}
.mod-voice-body dd:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url('../img/common/arrow-voice-left.png') no-repeat;
  background-position: center top;
  background-size: contain;
  position: absolute;
  top: 32px;
  left: -13px;
}


/* ---------------------------
  @ サロンからのメッセージ
--------------------------- */
.mod-message {
	margin-bottom: 30px;
	padding: 0 30px;
}

.salon-voice > .mod-message:first-child {
  margin-top: 25px;
}

.mod-message .mod-message-body {
	padding: 30px 25px;
	margin-bottom: 20px;
	background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.mod-message-body p {
  padding-top: 15px;
}
.mod-message-body p:first-child {
  padding-top: 0;
}


/* ---------------------------
	@ 選ばれる理由
--------------------------- */

/*	Layout
-----------------------------*/
.mod-reason {
  margin-bottom: 50px;
}
.mod-reason-body {
  padding: 20px 10px;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}
.mod-reason-body2 {
  padding: 20px 10px;
  border: 1px solid #d6cbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}


/*	Reason List
-----------------------------*/
.mod-reason-body ol {
  letter-spacing: -0.4em;
}
.mod-reason-body li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 300px;
  padding: 5px 7px 10px;
  margin-right: 10px;
  background: #fbe8e8;
  letter-spacing: normal;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mod-reason-body2 ol {
  letter-spacing: -0.4em;
}
.mod-reason-body2 p {
  font-size:14px;
  font-weight:normal
  text-align: left;
}
.mod-reason-body2 li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px 5px 10px 18px;
  letter-spacing: normal;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*  -------　★非表示 見出し左横に連番
.mod-reason li:nth-child(1) strong {
  background-image: url('../img/index/img-number1.png');
}
.mod-reason li:nth-child(2) strong {
  background-image: url('../img/index/img-number2.png');
}
.mod-reason li:nth-child(3) strong {
  background-image: url('../img/index/img-number3.png');
  letter-spacing: -0.1em;
}
-----------------------------*/

.mod-reason li:nth-child(3) {
  margin-right: 0;
}
.mod-reason-body li strong {
  display: inline-block;
  /*  -------　★非表示 見出し左横に連番
  padding-left: 30px;
  -----------------------------*/
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
  background-repeat: no-repeat;
  background-position: left 7px;
}
.mode-reason-body p {
  letter-spacing: -0.05em;
}

.mod-reason-body li a {
  display: block;
}

.mod-reason-body .mod-btns li  {
  background-color: #fff;
  margin-top:30px;
}

.mod-reason-text {
  color: #333;
}

/*	銀座カラー安心宣言
-----------------------------*/
.mod-reason dl {
  margin-top: 25px;
  overflow: hidden;
  text-align: center;
  letter-spacing: -0.3em;
}
.mod-reason-body dt {
  padding: 2px 0 0;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 19px;
  color: #d01027;
}
.mod-reason-body dd {
  margin-left: 14px;
  width: 83px;
  float: left;
}
.mod-reason-body dt + dd {
  margin-left: 2px;
}
.mod-reason-body dd span {
	color: #ff8291;
	font-size: 12px;
	letter-spacing: -0.14em;
}



/* ---------------------------
	@ お知らせ
--------------------------- */
.mod-news {
  margin-bottom: 50px;
  padding: 20px 0;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6cbcb;
}
.mod-news .title-head {
  margin-bottom: 2px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d01027;
  font-size: 20px;
}
.mod-news dl {
  padding: 0 20px;
  margin-bottom: 5px;
  overflow: hidden;
}
.mod-news dt {
  width: 110px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  clear: left;
}
.mod-news dd {
  padding: 10px;
  padding-left: 110px;
  border-bottom: 1px solid #ccc;
}
.mod-news dd a {
  text-decoration: underline;
}
.mod-news dd a:hover {
  text-decoration: none;
}
.mod-news dd:last-child {
  border-bottom: 0;
}

/* ---------------------------
  脱毛に関するおすすめ情報 バナー
--------------------------- */
.mod-ftBn{
  margin-bottom: 50px;
  padding: 35px 35px 25px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6cbcb;
}
.mod-ftBn p.modTxt{
  font-size: 12px;
  margin-top: 15px;
  line-height: 1.6;
}

/* ---------------------------
  @ はじめての方にオトク
--------------------------- */
.mod-value {
	margin: 6px 0 35px;
	width: 100%;
}
.mod-value ul {
	overflow: hidden;
}
.mod-value li {
	margin-top: 20px;
	margin-left: 20px;
	width: 304px;
	float: left;
	background: #fff;
}
.mod-value li a {
  position: relative;
}
.mod-value li:nth-child(2n+1) {
	margin-left: 0;
}
.mod-value li:first-child ,
.mod-value li:nth-child(2) {
	margin-top: 0;
}
.mod-value a {
	display: block;
}

.mod-value {
	margin: 6px 0 35px;
	width: 100%;
}
.mod-value ul {
	overflow: hidden;
}
.mod-value li {
	margin-top: 20px;
	margin-left: 20px;
	width: 304px;
	float: left;
	background: #fff;
}
.mod-value li a {
  position: relative;
}
.mod-value li:nth-child(2n+1) {
	margin-left: 0;
}
.mod-value li:first-child ,
.mod-value li:nth-child(2) {
	margin-top: 0;
}
.mod-value a {
	display: block;
}



.mod-value2 {
	margin: 6px 0 35px;
	width: 100%;
}
.mod-value2 ul {
	overflow: hidden;
}
.mod-value2 li {
	margin-top: 20px;
	margin-left: 20px;
	width: 304px;
	float: left;
	background: #fff;
}
.mod-value2 li a {
  position: relative;
}
.mod-value2 li:nth-child(2n+1) {
	margin-left: 0;
}
.mod-value2 li:first-child ,
.mod-value2 li:nth-child(2) {
	margin-top: 0;
}
.mod-value2 a {
	display: block;
}



/*	col1Ver
-----------------------------*/
.mod-value.col1Ver ul li{
  width: 100%;
}
.mod-value2.col1Ver ul li{
  width: 100%;
}

/* ---------------------------
  @ プラン・料金
--------------------------- */
.mod-price {
	width: 100%;
}
.mod-price-body {
	margin-bottom: 20px;
	margin-right: -7px;
	margin-left: -7px;
	overflow: hidden;
}
.mod-price-body .cvset-mb {
	margin-bottom: 10px;
	display: block;
	height:88px;
}

.mod-price-block.wide {
	margin: 0 6px;
	width: 628px;
}
.mod-price-block.wide .wide-inner {
	display: table;
	box-sizing: border-box;
	padding: 10px 12px 8px;
	width: 100%;
}
.mod-price-block.wide .wide-title {
	padding:0 15px 0 0;
}
.mod-price-block.wide .wide-title h3 {
  margin-bottom: 0;
}
.mod-price-block.wide .wide-comm {
	padding: 0;
}
.mod-price-block.wide .wide-title ,
.mod-price-block.wide .wide-comm {
	display: table-cell;
	vertical-align: middle;
}
.mod-price-block.wide .wide-title em:before ,
.mod-price-block.wide .wide-title em:after {
  content: "";
  width: 13px;
  height: 18px;
  display: block;
  background: url('../img/common/icon-diamond-m.png') no-repeat;
  background-position: left top;
  position: absolute;
}
.mod-price-block.wide .wide-title em:before {
  top: 50%;
  left: 5px;
  margin-top: -9px;
}
.mod-price-block.wide .wide-title em:after {
  top: 50%;
  right: 5px;
  margin-top: -9px;
}
.mod-price-block li {
	color: #333;
	line-height: 22px;
}
.mod-price-block {
	margin: 12px 6px 0;
	width: 202px;
	float: left;
	display: block;
	position: relative;
}
.mod-value li a:after ,
.mod-price-block:after {
	content: "";
	display: block;
	margin-left: 15px;
	width: 16px;
	height: 23px;
	background: url('../img/common/arrow-red-large.png') no-repeat;
	background-position: left center;
	position: absolute;
	top: 50%;
	right:  10px;
	margin-top: -11px;
}
.mod-price-block div {
	background: #faf6ec;
	padding: 14px 12px 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.mod-price-block em {
	display: block;
	height: 20px;
	text-align: center;
	box-sizing: border-box;
	font-size: 13px;
	background: #fff;
}
.mod-price-block h3 {
	margin: 8px 0;
	line-height: 1;
	padding-bottom: 1px;
	border-bottom: #d01027 1px solid;
	letter-spacing: -1px;
	font-size: 24px;
	color: #d01027;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
}
.mod-price-recommend em {
	width: 110px;
	background: #d01027;
	border: #d01027 1px solid;
	color: #fff;
	position: relative;
}
.mod-price-popular em {
	width: 110px;
	border: #d01027 1px solid;
	color: #d01027;
}

/* -- 20160804 --*/

.mod-price-block.wide-twothirds {
	margin: 0 6px;
	width: 309px;
}

.mod-price-block.wide-twothirds .wide-twothirds-inner {
	display: table;
	box-sizing: border-box;
	padding: 14px 12px 12px;
	width: 309px;
}

.mod-price-block.wide-twothirds .wide-twothirds-title {
	padding:0;
}

.mod-price-block.wide-twothirds .wide-twothirds-comm {
	padding: 0;
	margin-top:8px;
}
.mod-price-block.wide-twothirds .wide-twothirds-title ,
.mod-price-block.wide-twothirds .wide-comm {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
}
.mod-price-block.wide-twothirds .wide-twothirds-title em:before ,
.mod-price-block.wide-twothirds .wide-twothirds-title em:after {
  content: "";
  width: 13px;
  height: 18px;
  display: block;
/*   background: url('../img/common/icon-diamond-m.png') no-repeat; */
  background-position: left top;
  position: absolute;
}
.mod-price-block.wide-twothirds .wide-twothirds-title em:before {
  top: 50%;
  left: 5px;
  margin-top: -9px;
}
.mod-price-block.wide-twothirds .wide-twothirds-title em:after {
  top: 50%;
  right: 5px;
  margin-top: -9px;
}



/* ---------------------------
  @ 無料カウンセリングご予約はこちら
--------------------------- */
.mod-btn-counsel {
  background: #fff;
  margin: 30px 30px 0;
}


/* ---------------------------
  @ お客様の声一覧
--------------------------- */
.block-voice-list {
  padding-top: 20px;
}
.block-voice-list dl {
  padding: 10px 8px 10px;
  margin-top: 10px;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
}
.block-voice-list dl:first-child {
  margin-top: 0;
}
.block-voice-list dt {
  color: #d01027;
  font-size: 16px;
  text-align: center;
  width: 88px;
  padding-top: 89px;
  margin-top: 5px;
  position: relative;
}
.block-voice-list dt {
  float: left;
}
.block-voice-list dt img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -39.5px;
}
.block-voice-list dd {
  padding: 18px 20px;
  background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
}
.block-voice-list dd {
  margin-left: 112px;
}
.block-voice-list dd:before {
  content: "";
  display: block;
  width: 26px;
  height: 16px;
  background: url('../img/salon/common/arrow-voice-left.png') no-repeat;
  background-position: left top;
  position: absolute;
  left: -26px;
  top: 57px;
}


/* ---------------------------
  @ サロン
--------------------------- */
.block-shop-list {
  margin-bottom: 60px;
}
.block-shop-list .title {
  color: #cd152d;
  font-size: 18px;
  text-align: center;
  padding: 5px 0 3px;
  background: url('../img/common/bg-lightpinkstripe-title.png') repeat;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
.block-shop-list .box-shop {
  padding: 5px 10px 35px 0;
  overflow: hidden;
}
.block-shop-list .box-shop:nth-child(2n+1) {
  background: #fff8f7;
}
.block-shop-list .box-shop .prefecture {
  width: 115px;
  color: #cc162c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  float: left;
  padding-top: 30px;
  clear: both;
}
.block-shop-list .box-shop > div {
  margin: 15px 0 0 115px;
  padding-top: 15px;
  border-top: #cac8c4 1px dashed;
}
.block-shop-list .box-shop .prefecture:first-child +div {
  border-top:none;
}
.block-shop-list .box-shop > div .shop {
  overflow: hidden;
}
.block-shop-list .box-shop > div section {
  width: 154.5px;
  float: left;
}
.block-shop-list .box-shop > div section:nth-child(3n) {
  width: 194px;
}
.block-shop-list .link {
  color: #1583aa;
  font-size: 16px;
  padding-left: 15px;
  background: url('../img/common/arrow-blue.png') no-repeat;
  background-position: left center;
  display: inline-block;
}
.block-shop-list .link:hover {
  text-decoration: underline;
}



.block-shop-list dl {
  padding: 5px 10px 35px 0;
  overflow: hidden;
}
.block-shop-list dl:nth-child(2n+1) {
  background: #fff8f7;
}
.block-shop-list dl dt {
  width: 115px;
  color: #cc162c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  float: left;
  padding-top: 30px;
  clear: both;
}
.block-shop-list dl dd {
  margin: 15px 0 0 115px;
  padding-top: 15px;
  border-top: #cac8c4 1px dashed;
}
.block-shop-list dl dt:first-child +dd {
  border-top:none;
}
.block-shop-list dl dd ul {
  overflow: hidden;
}
.block-shop-list dl dd li {
  width: 154.5px;
  float: left;
}
.block-shop-list dl dd li:nth-child(3n) {
  width: 194px;
}
.block-shop-list .link {
  color: #1583aa;
  font-size: 16px;
  padding-left: 15px;
  background: url('../img/common/arrow-blue.png') no-repeat;
  background-position: left center;
  display: inline-block;
}
.block-shop-list .link:hover {
  text-decoration: underline;
}


/* ---------------------------
  @ タブ
--------------------------- */
.block-tab-nav {
  overflow: hidden;
  border-bottom: #ce162e 4px solid;
  margin-top: 25px;
}
.block-tab-nav li {
  width: 153px;
  margin-left: 5px;
  float: left;
  text-align: center;
}
.block-tab-nav li:first-child {
  margin-left: 0;
}
.block-tab-nav li a {
  display: block;
  color: #666;
  font-size: 20px;
  background: #f9f9f9;
  border-top: #c9c9c9 1px solid;
  border-right: #c9c9c9 1px solid;
  border-left: #c9c9c9 1px solid;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	padding: 5px 0 3px;
}
.block-tab-nav li.on a ,
.block-tab-nav li a:hover {
  color: #fff;
  background-color: #f96b6e;
  border-color: #f96b6e;
}


/* ---------------------------
  @ タブ・部位
--------------------------- */
/* Block Voice Region
 * ------------------------- */
.block-voice.region {
  padding-top: 30px;
  padding-bottom: 30px;
}
.block-region {
  overflow: hidden;
}
.block-region-btns {
  width: 133px;
  float: left;
}
.block-region-btns li {
  margin-bottom: 5px;
}
.block-region-btns a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  background: url('../img/common/bg-pinkstripe.png');
  padding: 2px 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  box-sizing: border-box;
  letter-spacing: -0.1em;
}
.block-region-btns a.height {
  padding: 12px 0;
}
.block-region-image {
  width: 362px;
  text-align: center;
  float: left;
}

/* Btn Tab Region
 * ------------------------- */
.block-tab-region {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-bottom: #ce162e 4px solid;
  margin-bottom: 20px;
  position: relative;
}
.block-tab-region li {
  width: 322px;
  text-align: center;
  position: absolute;
}
.block-tab-region .left-tab {
  top: 0;
  left: 0;
  z-index: 10;
}
.block-tab-region .right-tab {
  top: 0;
  right: 0;
  z-index: 10;
}
.block-tab-region li a {
  color: #666;
  font-size: 20px;
  line-height: 50px;
  display: block;
}
.block-tab-region .left-tab a {
  background: url('../img/voice/index/bg-taboff-left.png') no-repeat;
  background-position: left top;
}
.block-tab-region .right-tab a {
  background: url('../img/voice/index/bg-taboff-right.png') no-repeat;
  background-position: right top;
}
.block-tab-region .left-tab.on {
  z-index: 20;
}
.block-tab-region .left-tab.on a {
  color: #fff;
  background: url('../img/voice/index/bg-tabon-left.png') no-repeat;
  background-position: left top;
}
.block-tab-region .right-tab.on {
  z-index: 20;
}
.block-tab-region .right-tab.on a {
  color: #fff;
  background: url('../img/voice/index/bg-tabon-right.png') no-repeat;
  background-position: right top;
}


/* タブ切り替え.block-region.camVer
 * ------------------------- */
 .block-region.camVer ul{
   margin-bottom: 0;
 }
  .block-region.camVer .block-tab-region{
    margin-bottom: 0;
  }
 .block-region.camVer span.label{
   padding: 3px;
   font-size: 10px;
   color: #fff;
   margin-right: 6px;
   vertical-align: middle;
   padding: 4px 5px;
   background-color: #ffae21;
   display: none;
 }

 .block-region.camVer .js-tab-body{
   background-color: #FEF7F7;
 }

 .block-region.camVer .js-tab-body .tabTtl{
     color: #d01027;
     font-size: 28px;
     text-align: center;
 }
   .block-region.camVer .js-tab-body .tabTtl:after{
     display: none;
   }

.js-tab-body .tokuCampTtl{
  font-size: 20px;
  text-align: center;
  color: #d01026;
  border-top: #F96B6E dashed 3px;
  border-bottom: #F96B6E dashed 3px;
  padding: 3px 10px 2px;
  line-height: inherit;
  margin: 4px 23px 20px;
 }

 .block-region.camVer .js-tab-body .ttlTxt{
   padding: 0 25px;
   text-align: center;
 }

.block-region.camVer .title-centered-line{
  margin-bottom: 10px;
}

 .block-region.camVer .block-choice{
   margin-top: 0;
 }
 .block-region.camVer .block-choice-double2{
   margin-top: 10px;
 }

.block-region.camVer .block-choice-head{
  font-size: 20px;
}

 .block-region.camVer em{
   font-size: 70px;
 }

 .block-region.camVer span.nonTaxed{
   font-size: 14px;
   display: inline;
 }
  .block-region.camVer span:after,
  .block-region.camVer span:before{
    display: none;
  }

  .block-region.camVer .title-centered-line span:after,
  .block-region.camVer .title-centered-line span:before{
    display: block;
  }

.block-region.camVer dl{
  position: relative;
}
  .block-region.camVer dl.last{
    padding-bottom: 30px;
  }

.block-region.camVer dd.monthly.first{
  margin-bottom: 40px;
  font-size: 20px;
  position: relative;
}
  .block-region.camVer dd.monthly.first:after{
    display: block;
    content:" ";
    width:57px;
    height: 32px;
    background-image: url(../img/common/price_arrow.png);
    position: absolute;
    left: 50%;
    margin-left: -28px;
    bottom: -37px;
  }
  .block-region.camVer dd.monthly.first em{
    font-size: 40px;
  }

.block-region.camVer dd.monthly,
.block-region.camVer dd.total{
  padding-left: 110px;
}

.block-region.camVer #back dd.monthly{
  padding-left: 30px;
}

.block-region.camVer dd.total{
  font-size: 30px;
  margin-top: 15px;
}
  .block-region.camVer dd.total span{
    display: inline;
    vertical-align: middle;
    color: inherit;
  }
    .block-region.camVer dd.total span.totalTtl{
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      display: inline-block;
      vertical-align: text-bottom;
    }
    .block-region.camVer dd.total em{
      font-size: 53px;
      color: #d01027;
    }

.block-region.camVer dd.monthly2,
.block-region.camVer dd.total2{
  padding-left: 0;
}
.block-region.camVer dd.total2{
  font-size: 30px;
  margin-top: 15px;
}
  .block-region.camVer dd.total2 span{
    display: inline;
    vertical-align: middle;
    color: inherit;
  }
    .block-region.camVer dd.total2 span.totalTtl{
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      display: inline-block;
      vertical-align: text-bottom;
    }
    .block-region.camVer dd.total2 em{
      font-size: 53px;
      color: #d01027;
    }



    block-region.camVer dd.monthly.last ul{
      text-align: left;
      padding-left: 110px;
    }
    .block-region.camVer dd.monthly.last ul li{
      margin-bottom: 10px;
    }
    .block-region.camVer dd.monthly.last ul li.course{
      font-size: 15px;
    }
    .block-region.camVer dd.monthly.last ul li.course em{
      color: inherit;
      font-size: 26px;
    }
    .block-region.camVer dd.monthly.last ul li.course small{
      font-size: 13px;
    }
    .block-region.camVer span.labelPrice.list{
      position: absolute;
      top:50%;
      left:0;
      margin-top: -50px;
    }

    .block-region.camVer dd.lumpsum{
      padding-left: 150px;
      min-height: 108px;
      padding-top: 40px;
    }
      .block-region.camVer dd.lumpsum > span.labelPrice{
        left:50px;
        top:75px;
      }
    .block-region.camVer dd.lumpsum.none{
      padding-left: 30px;
    }

.block-region.camVer .labelPrice{
  display:inline-block;
  width:110px;
  height: 110px;
  background-image: url(../img/common/price_label02.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;;
  left:15px;
  top:70px;
}

    .block-region.camVer span.labelPriceCam.list{
      position: absolute;
      top:50%;
      left:0;
      margin-top: -50px;
    }

    .block-region.camVer dd.lumpsum{
      padding-left: 150px;
      min-height: 108px;
      padding-top: 40px;
    }
      .block-region.camVer dd.lumpsum > span.labelPriceCam{
        left:50px;
        top:75px;
      }
    .block-region.camVer dd.lumpsum.none{
      padding-left: 30px;
    }

.block-region.camVer .labelPriceCam{
  display:inline-block;
  width:110px;
  height: 110px;
  background-image: url(../img/common/labelPriceCam.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;;
  left:15px;
  top:70px;
}
.block-region.camVer .labelPriceCam1712{
  display:inline-block;
  width:110px;
  height: 110px;
  background-image: url(../img/common/171121_labelPriceCam.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;;
  left:15px;
  top:70px;
}

    .block-region.camVer span.labelPriceCamPFP.list{
      position: absolute;
      top:50%;
      left:0;
      margin-top: -50px;
    }

    .block-region.camVer dd.lumpsum{
      padding-left: 150px;
      min-height: 108px;
      padding-top: 40px;
    }
      .block-region.camVer dd.lumpsum > span.labelPriceCamPFP{
        left:50px;
        top:75px;
      }
    .block-region.camVer dd.lumpsum.none{
      padding-left: 30px;
    }

.block-region.camVer .labelPriceCamPFP1712{
  display:inline-block;
  width:110px;
  height: 110px;
  background-image: url(../img/common/171121_labelPriceCam.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;;
  left:15px;
  top:40px;
}
.block-region.camVer .1712labelPriceCamPFP{
  display:inline-block;
  width:110px;
  height: 110px;
  background-image: url(../img/common/171121_labelPriceCam.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;;
  left:15px;
  top:40px;
}

.gb-ptn1803 {
  background-image: url(../img/plan/course/zenshin/180330_pattern.png);
  background-repeat: repeat;
  width:558px;
}





.block-region.camVer span.splTxt{
  display: block;
  line-height: 1.5;
  margin-top: 10px;
}

.block-region.camVer .block-choice-double2 .orgPrice{
  position: relative;
  text-align: left;
}
.block-region.camVer .block-choice-double2 .orgPrice:after{
  background-image: url(../img/common/price_arrow02.png);
  background-repeat: no-repeat;
  display: block;
  content:" ";
  width:32px;
  height: 20px;
  position: absolute;
  right:-1px;
  top:19px;
}
  .block-region.camVer .block-choice-double2 .orgPrice dt,
  .block-region.camVer .block-choice-double2 .orgPrice dd{
    display: inline-block;
  }


/* 　全身脱毛_190326
--------------------------- */
.block-choice .img-main {
  margin:10px 0 25px;
}

.block-choice .sub-ttl-txt {
  text-align:center;
  font-size:20px;
  color:#d01027;
  margin-bottom:7px;
}

.block-choice .box558 {
  justify-content: space-around;
  display: flex;
  box-sizing:border-box;
  width: 558px;
  margin-bottom:10px;
}

.block-choice .box558 ul {
  display: flex;
  margin-left:7px;
}

.block-choice .box558 ul li {
  margin-right: 9px;
  width:160px;
  background-color:#fff;
  text-align:left;
  padding:10px;
}
.block-choice .box558 ul li:last-child {
  width:160px;
  background-color:#fff;
  text-align:left;
  padding:10px;
}

.block-choice .box558 .komidashi {
  color:#d01027;
  text-align:left;
  font-size:12px;
  margin:7px 0;
  line-height:140%;
}
.block-choice .box558 .komidashi span {
  font-size:17px;
}

.block-choice .box558 .setsumei {
  font-size:12px;
  color:#222;
  text-align:justify;
}



.block-choice .zenshin-shihodai {
  margin:25px 0 0;
}

.block-choice .summer-cam{
  padding-top: 20px;
}

.block-choice .summer-cam .sub-ttl-txt {
  font-size: 17px;
  margin-bottom: 15px;
}


.block-choice .otoku-cam {
  margin-top: 20px;
}

.block-choice .otoku-cam .sub-ttl-txt {
  text-align:center;
  font-size:20px;
  color:#d01027;
  margin-bottom:7px;
}

.block-choice .otoku-cam .box558 {
  justify-content: space-around;
  display: flex;
  box-sizing:border-box;
  width: 558px;
  margin-bottom:10px;
}

.block-choice .otoku-cam .box558 ul {
  display: flex;
  margin-left:7px;
}

.block-choice .otoku-cam .box558 ul li {
  margin-right: 9px;
  width:160px;
  background-color:#fff;
  text-align:left;
  padding:15px 10px 10px;
}
.block-choice .otoku-cam .box558 ul li:last-child {
  width:160px;
  background-color:#fff;
  text-align:left;
  padding:15px 10px 10px;
}
.block-choice .otoku-cam .box558 ul li .osusume {
  background-color:#d01027;
  color:#fff;
  text-align:center;
  font-size:14px;
  padding:1px;
  margin:12px 0 5px;
}
.pats-list-ttl{
  text-align: center;
  font-size: 20px;
  color: #d01027;
  margin-bottom: 25px;
}
.spl-txt{
  text-align: center;
  color: #D01026;
  font-size: 16px;
}

.block-labels.parts-style li a{
  color: #eb7a88;
}




/* 　END-全身脱毛_190326
--------------------------- */



.block-course .courseTxtBox{
  margin-bottom: 10px;
}

  .block-course .courseTxtBox .colTtl{
    margin-bottom: 20px;
  }
  .block-course .courseTxtBox .colTtl:nth-child(1){
    float: left;
  }
  .block-course .courseTxtBox .colTtl:nth-child(2){
    float: right;
  }

.block-course .courseTxtBox .colTtl + .boxTxt{
  width: 100%;
}

.block-course .courseTxtBox .boxTtl{
  padding: 12px 10px;
  display: inline-block;
  margin-right: 15px;
  color: #6d6d6d;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  vertical-align: top;
  line-height: 1.2;
  min-width: 64px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: #6d6d6d dotted 1px;
  background: #fff;
}
  .block-course .courseTxtBox .boxTtl span.lag{
    font-size: 15px;
  }

.block-course .courseTxtBox.choiceStyle .boxTtl{
  display: inline-block;
  margin-bottom: 10px;
}

.block-course .courseTxtBox .boxTxt{
  display: inline-block;
  width: 450px;
}
  .block-course .courseTxtBox em{
    font-weight: bold;
  }

.block-course-body ul.choiceList{
  width: 100%;
  border-bottom: #eb7a88 dotted 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.block-course-body ul.choiceList li{
  font-size: 12px;
  width:100px;
}

/* font 装飾*/
span.fontBlk{
  color: #222 !important;
}



/* ---------------------------
  @ ブロック　イメージ
--------------------------- */
.page-body.block-figure{
  padding:0!important;
}

.block-figure:after {
  content: "";
  display: block;
  clear: both;
}


/* ---------------------------
  @ ブロック　ワイド
--------------------------- */
.block-wide {
  padding: 25px 0px;
  border-top: #d01027 1px dashed;
}

.block-wide.block-borderred {
  padding: 35px 30px 40px;
}

/* ---------------------------
	@ ブロック　未成年限定プラン
--------------------------- */
.block-bnr-under20 {
  margin: 50px 0 0;
  padding: 0 30px;
}
.block-bnr-under20 > a {
  display: block;
  background: #fff;
  margin-bottom: 50px;
}
.block-bnr-under20 dl {
  width: 100%;
  text-align: center;
  line-height: 1.25;
  border: #ff9c00 1px solid;
  display: table;
}
.block-bnr-under20 dt {
  width: 195px;
  color: #f59600;
  font-size: 24px;
  vertical-align: middle;
  background: #ffebac;
  display: table-cell;
}
.block-bnr-under20 dd {
  color: #ff9c00;
  font-size: 19px;
  background: #fffbed;
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
  letter-spacing: 0.2em;
  position: relative;
}
.block-bnr-under20 dd:after {
  content: "";
  width: 12px;
  height: 30px;
  background: url('../img/common/arrow_yellow-single.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -15px;
}
.block-bnr-under20 dd em {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.block-bnr-under20 .mod-btn-counsel {
  margin: 30px 0 0;
}

/* ---------------------------
	@ ブロック　広告ギャラリー
--------------------------- */

.ad-top-detail{
 height: 435;
 width: 100%;
 margin-bottom: 40px;
 position:relative;
}

.ad-top-detail > p{
 width: 600px;
 position: absolute;
 bottom: 40px;
 left: 80px;
 text-align: left;
}
.ad-koukoku1{
 margin: 0 auto;
 padding: 0;
 position:relative;
}
.ad-koukoku1 > h2{
 position: absolute;
 top: 20px;
 left: 270px;
 font-size: 24px;
}
.ad-h2{
 position:absolute;
 top:20px;
 left:280px;
 font-size:24px;
}
.ad-h3{
 font-size:18px;
 text-align:center;
 padding:20px 0;
}
.ad-h3-1{
 border-bottom:#e2e2e2 1px solid;
 height:330px;
}
.ad-h3-1:last-child{
  height:330px;
  border-bottom:none;
}
.ad-h3-2{
 width:80%;
 margin:0 auto;
}
.ad-h3-3{
 padding-bottom:56.25%;
 height:0;
 position:relative;
}
.ad-relative{
 position:relative;
}
.ad-prof{
 padding-bottom: 0;
 position:relative;
}
.ad-prof > h2{
 position:absolute;
 top:20px;
 left:200px;
 font-size:24px;
}
.ad-prof-1{
 width: 50%;
 height: auto;
 padding: 5px 30px 5px 5px;
 box-sizing: border-box;
 float: left;
 position:absolute;
 top:40px;
 left:115px;
}
.ad-prof-2{
 width: 50%;
 height: auto;
 padding: 5px 5px 5px 40px;
 box-sizing: border-box;
 float: right;
 position:absolute;
 top:40px;
 right:-10px;
}
.ad-prof-left{
 text-align: center;
 padding-top: 45px;
 width: 70%;
 margin: 0 auto;
}
.ad-prof-p{
 line-height: 0.9em;
 text-align: center;
 font-size: 20px;
 font-weight: bold;
}
.ad-prof-p > span{
 font-size: 12px;
 font-weight: normal;
}
.ad-prof-left-1{
 text-align: left;
 display: inline-block;
 box-sizing: border-box;
 width: 220px;
 margin: 0px 30px 0 0;
 background: white;
 padding: 10px;
 position:absolute;
 top:220px;
 left:80px;
}
.ad-prof-right{
 display: inline-block;
 box-sizing: border-box;
 width: 220px;
 background: white;
 text-align: left;
 padding: 10px;
 position:absolute;
 top:220px;
 right:80px;
}













/* ---------------------------
	@ ブロック　サロンレポート
--------------------------- */

.bnr-gakuwari-report{
  margin: 50px 0 0;
  padding: 0 30px;
}


/* ---------------------------
	@ 障害情報
--------------------------- */
.shogaiBox{
  border: #db2833 solid 2px;
  background-color: #fff;
  margin-bottom: 30px;
}
.shogaiBox .boxTtl{
  background-color: #db2833;
  padding: 5px;
  text-align: center;;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.shogaiBox .boxInner{
  padding: 15px;
  color: #222;
  text-align: center;
}
.shogaiBox a{
  color: #db2833;
  font-weight: bold;
  text-decoration: underline;
}
  .shogaiBox a:hover{
    text-decoration: none;
  }
