@charset "UTF-8";

/* ---------------------------
  GINZA CALLA NEWS PAGE
  @ Entries
  @ Entry
  @ Entries Nav
--------------------------- */

/* ---------------------------
	@ Entries
--------------------------- */
.entries-title {
  color: #ce162d;
  font-size: 24px;
  text-align: center;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
}

/* ---------------------------
	@ Entry
--------------------------- */
.entry {
  border-bottom: #d52329 1px dashed;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.entry-title ,
.entry-title a {
  color: #d52329;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.entry-title a {
  vertical-align: middle;
  float: right; /* 0715 add*/
  width: 450px; /* 0715 add*/
}
.entry-date {
  color: #fff;
  font-size: 16px;
  background: #fd898a;
  display: inline-block;
  padding: 4px 0 1px 7px;
  position: relative;
}
.entry-date:before {
  content: "";
  width: 7px;
  height: 29px;
  background: url('../img/news/index/icon-ribon.png') no-repeat;
  background-position: left top;
  display: block;
  position: absolute;
  top: 0;
  left: -7px;
}
.entry-body {
  padding-top: 20px;
  overflow: hidden;
  clear: both; /* 0715 add*/
}
.entry-body .text {
  width: 355px;
  float: left;
  padding-right: 33px;
}
.entry-body .text.no-image {
  width: 100%;
  float: none;
  padding-right: 0;
}
.entry-body .text p {
  line-height: 1.7;
  padding-top: 25px;
}
.entry-body .text p:first-child {
  padding-top: 0;
}
.entry-body .entry-image {
  width: 240px;
  float: left;
}
.entries-nav .mod-btns .btn-stripe {
  padding: 10px 30px 8px;
}

.mod-btns_last {
    float: left;
    margin-left: 20px;
    padding-left: 43px;
}
