@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
    - Part Sideburns
    - Treatment Flow Body
    - Block Part Faq
    - Block Rank List
    - Block Part Rank List
--------------------------- */

/* ---------------------------
	@ Part Sideburns
--------------------------- */
.part-sideburns figure {
  width: 183px;
  float: left;
  margin-right: 15px;
}
.part-sideburns > p {
  width: 430px;
  float: left;
}


/* ---------------------------
	@ Treatment Flow Body
--------------------------- */
.treatment-flow-body {
  padding: 10px 0 20px;
}
.treatment-flow-body dl {
  width: 100%;
  height: 50px;
	position: relative;
	display: table;
	margin-bottom: 35px;
}
.treatment-flow-body dl:before {
  content: "";
  width: 38px;
  height: 21px;
  display: block;
  background: url('../img/common/icon-arrow-flow.png') no-repeat;
  background-position: center top;
  position: absolute;
  left: 50%;
  top: -28px;
  margin-left: -19px;
}
.treatment-flow-body dl:first-child:before {
  display: none;
}
.treatment-flow-body dt {
  width: 165px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
	vertical-align: middle;
  padding: 15px 0 13px 40px;
  background-color: #ff8888;
  background-repeat: no-repeat;
  background-position: 5px center;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	display: table-cell;
}
.treatment-flow-body .first {
  background-image: url('../img/plan/part/sideburns/icon-step-1.png');
}
.treatment-flow-body .second {
  background-image: url('../img/plan/part/sideburns/icon-step-2.png');
}
.treatment-flow-body .third {
  background-image: url('../img/plan/part/sideburns/icon-step-3.png');
}
.treatment-flow-body .fourth {
  background-image: url('../img/plan/part/sideburns/icon-step-4.png');
}
.treatment-flow-body dd {
  font-size: 12px;
  padding: 0 10px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	background: #fbe8e8;
}
.treatment-alert {
  padding: 10px 14px 15px;
  position: relative;
}
.treatment-alert:before ,
.treatment-alert:after {
  content: "";
  width: 12px;
  height: 112px;
  background-repeat: no-repeat;
  position: absolute;
}
.treatment-alert:before {
  background: url('../img/plan/part/sideburns/bg-border-left.png');
  top: 0;
  left: 0;
}
.treatment-alert:after {
  background: url('../img/plan/part/sideburns/bg-border-right.png');
  top: 0;
  right: 0;
}
.treatment-alert dt {
  font-size: 16px;
  font-weight: bold;
  background: url('../img/plan/part/sideburns/icon-caution.png') no-repeat;
  background-position: left center;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 25px;
}
.treatment-alert dd {
  padding-left: 1em;
  text-align: -1em;
  position: relative;
}
.treatment-alert dd:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.treatment-alert- {
  padding: 10px 14px 15px;
  position: relative;
}
.treatment-alert-:before ,
.treatment-alert-:after {
  content: "";
  width: 12px;
  height: 140px;
  background-repeat: no-repeat;
  position: absolute;
}
.treatment-alert-:before {
  background: url('../img/plan/part/sideburns/bg-border-left2.png');
  top: 0;
  left: 0;
}
.treatment-alert-:after {
  background: url('../img/plan/part/sideburns/bg-border-right2.png');
  top: 0;
  right: 0;
}
.treatment-alert- dt {
  font-size: 16px;
  font-weight: bold;
  background: url('../img/plan/part/sideburns/icon-caution.png') no-repeat;
  background-position: left center;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 25px;
}
.treatment-alert- dd {
  padding-left: 1em;
  text-align: -1em;
  position: relative;
}
.treatment-alert- dd:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}


/* ---------------------------
	@ Block Part Faq
--------------------------- */
.block-part-faq dl {
  margin-top: 20px;
} 
.block-part-faq dl:first-child {
  margin-top: 0;
}
.block-part-faq dt {
  color: #d01027;
  font-size: 20px;
  background: url('../img/common/icon-q.png') no-repeat;
  background-position: 10px center;
  padding: 8px 0 8px 73px;
  margin-bottom: 10px;
}
.block-part-faq dd {
  background-color: #fbe8e8;
  background-image: url('../img/common/icon-a.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px 0 10px 73px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/* ---------------------------
	@ Block Rank List
--------------------------- */
.block-plan.ranking {
  overflow: visible;
}
.block-rank-list {
  border: #fbe8e8 5px solid;
  background: #fff;
  padding: 2px;
  margin-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.block-rank-list ul {
  border: #ffae21 2px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0 14px 0 8px;
}
.block-rank-list li {
  font-size: 22px;
  border-top: #ccc 1px dashed;
  padding: 3px 0;
}
.block-rank-list ul li:first-child {
  border-top: none;
}
.block-rank-list li > dl {
  width: 100%;
  display: table;
}
.block-rank-list li > dl dt {
  width: 380px;
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  padding: 3px 3px;
}
.block-rank-list li > dl dd {
  color: #d01027;
  font-size: 18px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.block-rank-list li > dl dd span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background: url('../img/plan/part/sideburns/bg-circle-ranking.png') no-repeat;
  background-position: center center;
  vertical-align: middle;
  margin: 0 3px 0 5px;
}
.block-rank-list li > dl dd em {
  font-size: 27px;
  font-weight: bold;
  margin: 4px 0 0 0;
  display: inline-block;
  position: relative;
}
.block-rank-list li > dl dd em:after {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: -17px;
}
.block-part-course {
  padding: 0 30px 30px;
}
.block-white.height-space {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* ---------------------------
	@ Block Part Rank
--------------------------- */
.page-body.block-part-rank {
	  margin: 30px 0;
}
.block-part-rank-body {
	margin-top: 40px;
}
.block-part-rank-body .block-part-rank-image {
	margin: 40px 0 50px;
}
.block-part-rank-image li {
	margin-left: 20px;
	float: left;
}
.block-rank-list  {
	margin-bottom: 20px;
}
