@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
	  - Block Course Detail
    - Title Centered Line
    - Block Choice
    - Block Part Box
    - Block Lead
    - Block Voice
    - Block Tag
--------------------------- */

/* ---------------------------
	@ Block check box
--------------------------- */
.icon-ckbtn {
  padding-left: 17px;
  padding-top: 3px;
  background:url('../img/plan/course/vio/icon-check.png')no-repeat;
	}

.ck-box-out{
	padding:10px 60px;
	}

.ck-box-text{
	font-size:18px;
	padding:30px 0 10px 0;
	text-align:center;
	}

.ck-box{
	padding:10px 50px;
	border-style: dotted;
	border-color:#e37380;
	border-width: 3px;
	}
