@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
    - Block Plan
    - Block Courses Nav
    - Block Courses Head
    - Block Course
--------------------------- */

/* ---------------------------
	@ Block Plan
--------------------------- */
.block-plan {
  margin-top: 20px;
  overflow: hidden;
}
.block-plan > section {
  width: 300px;
  float: left;
  position: relative;
}
.block-plan .left-side {
  padding-right: 13px;
  border-right: #ce162d 1px dashed;
}
.block-plan .right-side {
  padding-left: 14px;
}
.block-plan .plan-inner {
  padding-bottom: 60px;
}
.block-plan .left-side > .plan-inner > a {
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow:rgba(226, 96, 96, 0.9) 1px 1px 2px 0px;
  -webkit-box-shadow:rgba(226, 96, 96, 0.9) 1px 1px 2px 0px;
  -moz-box-shadow:rgba(226, 96, 96, 0.9) 1px 1px 2px 0px;
  margin-top: 14px;
  display: block;
}
.block-plan .left-side > .plan-inner > a:first-child {
  margin-top: 0;
}
.block-plan .left-side > .plan-inner > a section {
  padding: 20px 8.5px;
}
.block-plan .left-side > .plan-inner > a > section > p:after {
  content: "";
  display: block;
  width: 10px;
  height: 16px;
  background: url('../img/common/icon-arrow-red-single.png') no-repeat;
  background-position: left top;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.block-plan .left-side > .plan-inner > a > section > h3 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: url('../img/common/bg-ribon.png') no-repeat;
  background-position: left top;
  height: 35px;
  padding-top: 3px;
  margin-bottom: 14px;
}
.block-plan .left-side > .plan-inner > a > section > p {
  color: #333333;
  font-size: 12px;
  padding: 0 25px 0 5px;
  position: relative;
}
.block-plan > section .plan-btns {
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;
}
.block-plan .right-side .plan-images {
  text-align: center;
  letter-spacing: -0.4em;
  padding: 0;
}
.block-plan .right-side .plan-images li {
  letter-spacing: normal;
  display: inline-block;
  margin-left: 6px;
}
.block-plan .right-side .plan-images li:first-child {
  margin-left: 0;
}

/*   Block Part
 * ------------------------- */
.block-part {
  margin-top: 25px;
}

/*   Part Btn
 * ------------------------- */
.mod-btns.part-btn {
  margin-top: 30px;
}


/* ---------------------------
	@ Block Courses Nav
--------------------------- */
.block-courses-nav {
  overflow: hidden;
  margin-bottom: 50px;
}
.block-courses-nav li {
  width: 197px;
  float: left;
  margin-left: 18.5px;
}
.block-courses-nav li:first-child {
  margin-left: 0;
}
.block-courses-nav a {
  color: #cd152d;
  font-size: 24px;
  text-align: center;
  padding: 18px 0 35px;
}
.block-courses-nav .height {
  padding: 35px 0 35px
}
.block-courses-nav a em {
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: -4px;
  font-weignt: bold;
}
.block-courses-nav a em:before ,
.block-courses-nav a em:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: -4px;
}
.block-courses-nav a em:before {
  background-image: url('../img/common/icon-popular-left.png');
  margin-right: 5px;
}
.block-courses-nav a em:after {
  background-image: url('../img/common/icon-popular-right.png');
}
.block-courses-nav a span {
  color: #333;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 0 10px;
}
.block-courses-nav .height span {
  margin-top: 23px;
}
.block-courses-nav .btn-stripe.btn-down-bullet-l:after {
  top: 120px;
}
.block-courses-nav2 {
  text-align: center;
}

/* ---------------------------
	@ Block Courses Head
--------------------------- */
.block-courses-head {
  margin-bottom: 10px;
}
.block-courses-head h2 {
  border-bottom: none;
  margin-bottom: 10px;
}
.block-courses-head p {
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: -0.09em;
  line-height: 1.25;
}
.block-courses-head p span {
  font-size: 14px;
}


/* ---------------------------
	@ Block Courses
--------------------------- */
.block-courses {
  margin-top: 40px;
}


/* ---------------------------
	@ Block Course
--------------------------- */
.block-course {
  margin-top: 30px;
}
.block-courses-inner .block-course:first-child {
  margin-top: 0;
}
.block-course-head {
  background: #fbe8e8;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	position: relative;
}
.block-course-head a:hover h3 {
  text-decoration: underline;
}
.block-course-head h3 {
  color: #d01027;
  font-size: 32px;
  padding: 7px 0 5px 25px;
}
.block-course-head h3:after {
  content: "";
  width: 12px;
  height: 30px;
  background: url('../img/common/arrow-red-single.png') no-repeat;
  background-position: center top;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -15px;
} 
.block-course-body {
  padding: 20px 25px 10px;
  background: #fef7f7;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.block-course-body ul {
  width: 242px;
  float: left;
  overflow: hidden;
}
.block-course-body li {
  width: 109px;
  float: left;
  margin: 0 12px 10px 0;
  color: #eb7a88;
  text-align: center;
  background: #fff;
  padding: 2px 0 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	letter-spacing: -0.03em;
}
.block-course-body .course-body-right {
  width: 290px;
  float: right;
}
.block-course-body .course-body-right dd {
  text-align: center;
}
.block-course-body dl {
  margin-top: 10px;
  letter-spacing: -0.4em;
  text-align: center;
}
.block-course-body dl:first-child {
  margin-top: 0;
}
.block-course-body dt {
  font-size: 19px;
  text-align: center;
  line-height: 29px;
  background: #fff;
  border: #fceded 2px solid;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	margin-bottom: 10px;
	letter-spacing: normal;
}
.block-course-body dd {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1;
  letter-spacing: normal;
  display: inline-block;
	vertical-align: text-top;
}
.block-course-body dd small {
  font-size: 15px;
}
.block-course-body .total-price {
  width: 325px;
  text-align: center;
}
.block-course-body .monthly-price {
  width: 252px;
  border-left: #d01027 1px solid;
  text-align: center;
}
.block-course-body dd span {
  display: block;
  font-size: 22px;
  text-align: center;
  margin-bottom: 7px;
}
.block-course-body dd em {
  color: #d01027;
  font-size: 44px;
  font-weight: bold;
}
.block-course-body .figures {
  letter-spacing: -0.4em;
  text-align: center;
}
.block-course-body .figures.figures-four {
  margin: 0 -25px;
}
.block-course-body .figures + dl {
  margin-top: 0;
}
.block-course-body .figures figure {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  margin-bottom: 20px;
}
.block-course-body .figures-three figure {
  margin-left: 30px;
  margin-right: 30px;
}
.block-course-body .figures-four figure {
	width: 144px;
  margin-left: 5px;
  margin-right: 5px;
}
.block-course-body .figures figcaption {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.block-course-body .sub-text {
	text-align: right;
	font-size: 12px;
	margin: 5px 0 0;
}


/* add 201508 */
.block-course-body .first-month-price {
 	width: 45%;
	padding-right: 0;
	text-align: center;
}
.block-course-body02 .monthly-price {
 	width: 45%;
}
.block-course-body .txt-plan-detail {
	text-align: center;
	line-height: 1.5em;
	font-size: 20px;
}
.block-course-body .txt-plan-detail .txt {
	display: inline;
	font-size: 20px;
	font-weight: bold;
}
.block-course-body .txt-plan-detail .txt02 {
	color: #d01027;
}
.block-course-body .txt-plan-detail2 {
	text-align: center;
	line-height: 1.5em;
	font-size: 16px;
}
.block-course-body .txt-plan-detail2 .txt {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}
.block-course-body .txt-plan-detail2 .txt02 {
	color: #d01027;
}

/* ---------------------------------------------
	@ コース・料金のボタン（追:160112）
--------------------------------------------- */

.w-btn {
	text-align:center;
	padding:8px;
	background-color:#FFF;
	margin:10px 28px 0 6px;
	color:#dc3e3f;
	border: 1px solid #dc3e3f;
}
