@charset "UTF-8";


.merritt{
  border: 1px solid #d01027;
  display: inline-block;
  border-radius: 10px;
  padding:15px;
  width: 26%;"
}

.merritt-center{
  border: 1px solid #d01027;
  display: inline-block;
  border-radius: 10px;
  padding:15px;
  margin:0 15px;
  width: 26%;"
}

.merritt-center h2, .merritt h2{
  font-size:20px;
  text-align:center;
}

.sti{
  font-weight:bold;
  text-align:center;
  margin:10px 0;
  font-size:15px;
}

.merritt-center span, .merritt span{
  font-size:12px;
  text-align:left;
}

.mt30 {
  margin:30px 0 0 0;
}




/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
	  - Block Course Detail
    - Title Centered Line
    - Block Choice
    - Block Part Box
    - Block Lead
    - Block Voice
    - Block Tag
--------------------------- */

/* ---------------------------
	@ Block Course Detail
--------------------------- */
.block-course-detail {
  padding-top: 55px;
}
.block-course-detail:first-child {
  padding-top: 0;
  margin-bottom: 0;
}

.block-course-detail .block-btn-small {
	margin-top: 30px;
}
.block-course-detail .sub-text-s {
	text-align: right;
	font-size: 12px;
}
/* ---------------------------
	@ Title Centered Line
--------------------------- */
.title-centered-line {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  overflow: hidden;
}
.title-centered-line span {
  color: #d01027;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0 35px;
  position: relative;
}
.title-centered-line span:before ,
.title-centered-line span:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #d01027;
  position: absolute;
  top: 50%;
}
.title-centered-line span:before {
  right: 100%;
}
.title-centered-line span:after {
  left: 100%;
}


/* ---------------------------
	@ Block Choice
--------------------------- */
.block-choice {
  background: #fbe8e8;
  padding: 15px 35px;
  margin-top: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.block-choice-head {
  text-align: center;
  margin-bottom: 15px;
}
.block-choice-head p {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
}
.block-choice-head p:before ,
.block-choice-head p:after {
  content: "";
  width: 20px;
  height: 18px;
  background: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/icon-triangle.png') no-repeat;
  background-position: center top;
  display: inline-block;
}
.block-choice-head span {
  display: block;
  line-height: 1;
  font-size: 66px;
  color: #d01027;
  position: relative;
}
.block-choice-head span:before ,
.block-choice-head span:after {
  content: "";
  display: inline-block;
  margin: 0 10px;
  vertical-align: super;
  background-repeat: no-repeat;
  background-position: center top;
}
.block-choice-head span:before {
  width: 31px;
  height: 43px;
  background-image: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/img-daiamond-left.png');
}
.block-choice-head span:after {
  width: 35px;
  height: 42px;
  background-image: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/img-diamond-right.png');
}
.block-choice-head span em {
  font-size: 110px;
}
.block-choice dt ,
.block-choice-double dt {
  font-size: 20px;
  text-align: center;
  background: #fef7f7;
  line-height: 33px;
  margin-bottom: 20px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}
.block-choice dt.bg-title-shape {
	font-size: 16px;
}
.block-choice dt.bg-title-shape span {
	float: left;
}
.block-choice dt.bg-title-shape span:last-child {
	margin-left: 17px;
}
.block-choice dd {
  font-size: 32px;
  line-height: 1;
  text-align: center;
}
.block-choice dd em {
  color: #d01027;
  font-size: 60px;
  font-weight: bold;
}
.block-choice dd small {
  font-size: 18px;
}
.block-choice dd .sub-text {
	display: block;
  font-size: 12px;
  text-align: right;
	margin-top: 6px;
	margin-bottom: 6px;
}
.block-parts-choice p {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
.block-parts-choice p em {
	font-size: 34px;
	color: #d01027;
}



.block-choice-head1709 {
  text-align: center;
  margin-bottom: 15px;
}
.block-choice-head1709 p {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px;
}
.block-choice-head1709 span {
  display: block;
  line-height: 1.5;
  font-size: 12px;
  margin-top: 10px;
  color: #d01027;
  position: relative;
}
.block-choice-head1709 span:before ,
.block-choice-head1709 span:after {
  content: "";
  display: inline-block;
  margin: 0 10px;
  vertical-align: super;
  background-repeat: no-repeat;
  background-position: center top;
}




/* ---------------------------
	@ Block Part Box
--------------------------- */
.block-part-box {
  overflow: hidden;
	margin-top: 60px;
}
.block-part-box.part-box-narrow {
  padding: 0 0 5px;
	margin-bottom: 55px;
}
.block-labels {
  width: 250px;
  float: left;
  padding: 0 16px 0 20px;
}
.block-labels ul {
  overflow: hidden;
  margin-bottom: 38px;
}
.block-labels li {
  color: #eb7a88;
  font-size: 14px;
  text-align: center;
  width: 115px;
	height: 30px;
	line-height: 30px;
  float: left;
  background: #fef7f7;
  border: #eb7a88 1px solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	letter-spacing: normal;
	margin: 0 4px 7px;
	padding: 1px 0 0;
}
.block-labels .btn-lightpink {
  color: #eb7a88;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.block-labels .btn-stripe:after {
  width: 13px;
  height: 12px;
  background: url('https://ginza-calla.jp/resource/img/common/arrow_pink-small.png');
}
.block-labels .text-vio-set {
	margin-bottom: 15px;
}
.block-labels .text-ashi-set {
	margin-bottom: 15px;
}
.block-labels .text-ude-set {
	margin-bottom: 15px;
}
.block-figres {
  width: 308px;
  float: right;
  letter-spacing: -0.4em;
  text-align: center;
}
.block-figres figure {
  width: 154px;
  display: inline-block;
  vertical-align: top;
}
.block-figres-wide figure {
  width: 308px;
}
.block-lead {
  font-size: 16px;
	margin-top: 20px;
  text-align: center;
}
.block-lead p {
  margin-top: 1em;
}
.block-lead p:first-child {
  font-size: 24px;
  margin-top: 0;
}
.block-lead02 p:first-child {
	font-size: 16px;
}

.block-lead p .marker-vip {
  background: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/underline-yellow-1.png') repeat-x;
  background-position: center bottom;
}
.block-lead p .marker-special {
  background: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/underline-yellow-2.png') repeat-x;
  background-position: center bottom;
}
.block-choice-double {
  text-align: center;
  letter-spacing: -0.4em;
  padding: 20px 0 25px;
  margin-top: 40px;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.block-choice-double dl {
  width: 273px;
  display: inline-block;
  letter-spacing: normal;
  padding: 0 20px;
}
.block-choice-double dl:first-child {
  border-right: #eb7a88 2px dotted;
}
.block-choice-double dt {
  margin-bottom: 10px;
}
.block-choice-double dl .sub-text {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: -15px;
}
.block-choice-double .price {
  font-size: 28px;
  line-height: 1;
  position: relative;
  display: inline-block;
}
.block-choice .price .price-head {
	font-size: 40px;
	color: #d01027;
	margin-right: 15px;
	font-weight: bold;
}
.block-choice .price .monthly,
.block-choice-double .price .monthly,
.block-choice-double .price .amount {
  font-size: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}
.block-choice-double .price .amount {
  margin-right: -5px;
}
.block-choice-double .price em {
  color: #d01027;
  font-size: 50px;
  font-weight: bold;
	letter-spacing: -0.025em;
}
.block-choice-double .price .yen {
  position: relative;
}
.block-choice-double .price .yen:before {
  content: "(遞取栢)";
  font-size: 14px;
  width: 42px;
  position: absolute;
  top: -1em;
  left: 0;
}


/* ---------------------------
	@ Block Tag
--------------------------- */
.block-tag {
  text-align: center;
}
.block-tag > p {
  font-size: 19px;
  margin-bottom: 10px;
}
.block-tag > p span {
  background: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/underline-yellow-3.png') repeat-x;
  background-position: center bottom;
}
.block-tag a {
  display: block;
  border: #d01027 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
}
.block-tag dl {
  letter-spacing: -0.4em;
}
.block-tag dt {
  background: url('https://ginza-calla.jp/resource/img/common/bg-course-stripe.png');
  font-size: 36px;
  color: #d01027;
  padding: 9px 0 7px;
  margin-bottom: 27px;
  letter-spacing: normal;
}
.block-tag dt span,
.block-tag dt ul {
  font-size: 19px;
  color: #ee2042;
  line-height: 1;
  vertical-align: middle;
  background: #fff2f2;
  padding: 7px 40px 5px;
  display: inline-block;
  margin: 0 0 8px 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	position: relative;
}
.block-tag dt ul {
  padding: 0;
  margin: 0;
	width: 90%;
}
.block-tag dt span:after {
  content: "";
  width: 30px;
  height: 37px;
  background: url('https://ginza-calla.jp/resource/img/plan/course/zenshin/img-diamond-orange.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: -15px;
  right: 2px;
}
.block-tag dt ul:after {
  content: "";
  width: 33px;
  height: 32px;
  background: url('https://ginza-calla.jp/resource/img/common/img-diamond-orange-medium.png') no-repeat;
  background-position: center top;
  position: absolute;
  top: 0;
  right: 3px;
}
.block-tag dt ul li {
	float: left;
	line-height: 16px;
}
.block-tag dt ul li:last-child {
	line-height: 34px;
	margin-left: 24px;
}
.block-tag dd {
  color: #333;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  margin: 0 0 43px;
  display: inline-block;
  letter-spacing: normal;
}
.block-tag .total-price {
  width: 325px;
}
.block-tag .monthly-price {
  width: 300px;
  border-left: #d01027 1px solid;
}
.block-tag .monthly-price span {
  padding-right: 60px;
}
.block-tag dd span {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}
.block-tag dd em {
  color: #d01027;
  font-size: 50px;
  font-weight: bold;
}
.block-tag dd small {
  display: inline-block;
	text-align: left;
  font-size: 11px;
  line-height: 1.25;
  margin-left: 5px;
}
.block-tag > a > p,
.block-tag > .block-tag-detail > a > p {
  color: #d01027;
  font-size: 12px;
  position: absolute;
  right: 14px;
  bottom: 10px;
}
.block-tag > a > p:after,
.block-tag > .block-tag-detail > a > p:after {
  content: "";
  width: 10px;
  height: 9px;
  background: url('https://ginza-calla.jp/resource/img/common/arrow-red-ss.png') no-repeat;
  display: inline-block;
  margin-left: 12px;
}
.block-tag .block-tag-detail:last-child {
	margin-top: 20px;
}





/* -------------------------------------
	@ block-choice-double2
------------------------------------- */

.block-choice-double2 div {
  font-size: 20px;
  text-align: center;
  background: #fef7f7;
  letter-spacing: .04em;
  line-height: 33px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

.block-choice-double2 {
  text-align: center;
  letter-spacing: -0.4em;
  padding: 20px 0 25px;
  margin-top: 40px;
  background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.block-choice-double2 dl {
  width: 273px;
  display: inline-block;
  letter-spacing: normal;
  margin:0;
  padding:0;
}


.block-choice-double2 dl .sub-text {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: -15px;
}
 .block-choice-double2 .price {
  font-size: 28px;
  line-height: 1;
  position: relative;
}

.block-choice-double2 .monthly,
.block-choice-double2 .amount {
  font-size: 20px;
  width: 20px;
  margin-right: 5px;
}

.block-choice-double2 .price em {
  color: #d01027;
  font-size: 50px;
  font-weight: bold;
	letter-spacing: -0.025em;
}
.block-choice-double2 .price .yen {
  position: relative;
}
.block-choice-double2 .price .yen:before {
  content: "(税抜)";
  font-size: 14px;
  width: 42px;
  position: absolute;
  top: -1em;
  left: 0;
}



