@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PRODUCT
	@ Parts
	  - Product Head
	  - Product Separate
	  - Product Bg
	  - Block Product Detail
	  - Lineup List
	  - Ingredients List
	  - Block Happy Story
--------------------------- */

/* ---------------------------
  @ Product Head
--------------------------- */
.product-head {
	padding: 0 30px;
	margin: 25px 0 20px;
}
.product-head .product-head-title {
	color: #56afb2;
	font-weight: bold;
	font-size: 28px;
	line-height: 28px;
	margin-top: 35px;
}

.product-page-body {
	margin: 20px 0 45px;
}

/* ---------------------------
  @ Product Separate
--------------------------- */
.product-separate {
  margin: 35px 0 0;
}
.product-separate:first-child {
  margin-top: 0;
}
.product-title-underline {
  color: #737373;
  font-size: 26px;
  padding-bottom: 6px;
  background: url('../img/product/common/bg-line-product.png') repeat-x;
  background-position: center bottom;
}
.product-title-underline a {
  color: #737373;
}
.product-title-underline p {
	font-size: 14px;
	margin-bottom: 5px;
}
.product-body {
  margin: 0 -14.5px;
  overflow: hidden;
}
.product-body .product-detail {
  width: 190px;
  float: left;
  margin: 10px 14.5px 25px;
	text-align: center;
	position: relative;
}
.product-body .product-detail-02 {
  width: 190px;
  float: left;
  margin: 30px 14.5px 0;
	text-align: center;
}
.product-body figure {
	margin: 10px 0 0 ;
	float: none;
}
.product-body figure .trans{
	display: block;
}
.product-body .product-detail-01 figure {
	padding: 45px 0 0;
}
.product-body .product-title-block {
	position: absolute;
	top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto auto;
}
.product-body .product-title {
  font-size: 20px;
	line-height: 20px;
  text-align: center;
	color: #56afb2;
	padding-top: 25px;
}
.product-body .product-icon-new {
	display: block;
	line-height: 18px;
	position: absolute;
  text-align: center;
	top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0 auto;
}
.product-body figure figcaption {
  font-size: 16px;
	height: auto;
  margin-top: 10px;
	color: #333;
}
.bnr-product {
  text-align: center;
}

.gray-underline{
  border-bottom:1px solid #a9a9a9;
  display:inline-block;
}


/* ---------------------------
  @ Product Bg
--------------------------- */


/* ---------------------------
  @ Block Product Detail
--------------------------- */
.product-facepack-title ,
.product-lotion-title {
	margin-top: 30px;
}	
.block-product-detail {
	padding: 0 30px;
}
.block-product-detail dl {
  font-size: 12px;
  margin-top: 30px;
}
.block-product-detail dl:first-child {
	margin-top: 0;
}
.product-facepack-info dt,
.product-lotion-info dt {
	color: #6bc1c4;
	font-size: 16px;
	margin: 22px 0 10px;
}
.product-detail-container {
	margin-top: 20px;
}
.product-detail-info .product-main-image {
	float: left;
	width: 280px;
	text-align: center;
}
.block-product-info {
	float: right;
	width: 345px;
}
.product-detail-info.lotion {
	border-top: none;
	padding-top: 25px;
}
.product-detail-info.lotion .page-body{
	margin: 40px 0 45px;
}
.product-title-detail {
	color: #56afb2;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 5px;
}
.product-title-detail h3 {
	float:left;
}
.product-title-detail .product-icon-new {
	float: right;
}
.product-detail-info {
	padding-top: 70px;
	border-top: 1px solid #db3e8b;
	position: relative;
}
.block-product-detail-info-01 {
	padding-top: 40px;
}
.product-detail-info .product-detail-label {
	position: absolute;
	top: 10px;
	left: 0;
}

/* ---------------------------
  @ Lineup List
--------------------------- */
.lineup-list-body {
  text-align: center;
  overflow: hidden;
  margin: 0 -14.5px;
}
.lineup-list-body figure {
  width: 190px;
  float: left;
  margin: 0 14.5px 30px;
}
.lineup-list-body figcaption {
  font-size: 12px;
  margin-top: 22px;
  padding: 7px 0 2px;
  background: #d7f0f1;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.lineup-list-body figcaption em {
  font-size: 24px;
}
.lineup-list-body figcaption small {
  font-size: 14px;
}


/* ---------------------------
  @ Ingredients List
--------------------------- */
.ingredients-list  {
    width: 418px;
    margin: 0 auto;
}
.ingredients-list h3 {
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  background: #b3e9eb;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
.ingredients-list table {
  font-size: 14px;
  width: 100%;
  border-left: #b3e9eb 1px solid;
  border-bottom: #b3e9eb 1px dashed;  
  margin-bottom: 30px;
}
.ingredients-list table tr:last-child {
	border-bottom: #b3e9eb 1px solid;  
}
.ingredients-list table td:nth-child(3n) {
  border-right: #b3e9eb 1px solid;
}
.ingredients-list table td {
  text-align: center;
  padding: 10px 10px 8px;
  border-left: #b3e9eb 1px dashed;
  border-bottom: #b3e9eb 1px dashed;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/* ---------------------------
  @ Block Happy Story
--------------------------- */
.block-happy-story {
  padding: 0 30px 30px;
}
.block-happy-story h2 {
  height: 0;
  padding-top: 40px;
  margin-bottom: 20px;
  background: url('../img/product/facepack/img-title-happy.png') no-repeat;
  background-position: center top;
  overflow: hidden;
}
.block-happy-story > p {
  font-size: 16px;
  text-align: center;
}
.happy-story-inner {
  width: 535px;
  margin: 30px auto 0;
  padding-bottom: 10px;
  overflow: hidden;
}
.happy-story-inner .video {
  width: 195px;
  float: left;
  margin-right: 50px;
}
.happy-story-inner .text {
  width: 290px;
  float: left;
}
.happy-story-inner .text h3 {
  height: 0;
  padding-top: 32px;
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
}
.happy-story-inner .text .title01 {
  background-image: url('../img/product/facepack/img-text-happy01.png');
}
.happy-story-inner .text .title02 {
  background-image: url('../img/product/facepack/img-text-happy02.png');
}
.happy-story-inner .text .title03 {
  background-image: url('../img/product/facepack/img-text-happy03.png');
}
.happy-story-inner .text p {
  font-size: 16px;
  margin-bottom: 10px;
}
.happy-story-inner .text p em {
  font-size: 22px;
  font-family: "HG明朝E", "Times New Roman", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "HGS明朝E", "MS PMincho", "MS 明朝", serif;
  display: inline-block;
  margin-bottom: 5px;
}


.txt-sale {
  background-image: url('../img/product/common/bg-arrow-bottom.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
	font-size: 30px;
	color: #db3e8b;
	text-align: center;
	padding-top: 30px;
	margin: 10px 0 40px;
}


/* ---------------------------
    koisuru
--------------------------- */

.new {
  color: #db3e8b;
  background: linear-gradient(transparent 60%, #ffff66 60%);
}


/* ---------------------------
    product（171120追加）
--------------------------- */

.product1120 {
  margin: 30px 0 45px;
}

.product1120 .txt-b-box {
  padding:10px 15px;
  background: #FFF;
  border:solid 8px #ecf6f9;
  border-radius: 10px;
  margin-bottom:5%;
}
.txt-b-line {
  border: none;
  border-bottom: 2px #83d3db solid;
}
.txt-b-ttl {
  color:#83d3db;
  font-weight:bold;
  font-size:17px;
  margin-bottom:6px;
}

.product1120 .txt-y-box {
  padding:10px 15px;
  background: #FFF;
  border:solid 8px #fff5c5;
  border-radius: 10px;
  margin-bottom:5%;
}
.txt-y-line {
  border: none;
  border-bottom: 2px #f1bd4a solid;
}
.txt-y-ttl {
  color:#f1bd4a;
  font-weight:bold;
  font-size:17px;
  margin-bottom:6px;
}

.mt10fs13 {
  margin-top:10px;
  text-align: justify;
text-justify: inter-ideograph;
-ms-text-justify: inter-ideograph;
}
.staff-point-ph {
  margin:0 200px;
  text-align:center;
}
