@charset "UTF-8";

/* ---------------------------
  GINZA CALLA RANKING
  @ Block Ranks
  
--------------------------- */

/* ---------------------------
  @ Block Ranks
--------------------------- */
.block-ranks {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 -6px;
}
.block-ranks .block-rank {
  width: 288px;
  margin: 20px 6px 0;
  padding: 8px 10px;
  background: #fff8f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
}
.block-ranks .block-rank > p {
  padding: 0 3px;
}
.block-ranks .block-rank.another-color {
  background: #fff9f0;
}
.block-ranks .block-rank.another-color .block-rank-high li span {
  border-color: #fff9f0;
}
.block-rank-title {
  color: #d01027;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-bottom: #d01027 1px dotted;
  margin-bottom: 10px;
  padding: 18px 0 10px;
}
.block-ranks .block-rank .block-rank-high {
  margin-top: 20px;
}
.block-ranks .block-rank li {
  width: 100%;
  display: table;
}
.block-ranks .block-rank li span {
  font-size: 16px;
  text-align: center;
  width: 48px;
  height: 45px;
  display: table-cell;
  vertical-align: middle;
  border-right: #fff8f7 6px solid;
  padding-left: 4px;
}
.block-ranks .block-rank .block-rank-high li {
  margin-bottom: 10px;
}
.block-ranks .block-rank .block-rank-high li span {
  color: #fff;
  background: url('../img/ranking/img-ranking.png') no-repeat;
  background-position: left top;
  letter-spacing: -0.05em;
}
.block-ranks .block-rank .block-rank-low li span {
  width: 43px;
  padding-right: 5px;
  text-align: right;
}
.block-ranks .block-rank li span em {
  font-size: 30px;
  font-weight: bold;
}
.block-ranks .block-rank li a {
  display: table-cell;
  padding: 0 5px;
  text-decoration: underline;
  vertical-align: middle;
}
.block-ranks .block-rank li a:hover {
  text-decoration: none;
}
.block-ranks .block-rank li a img  {
  vertical-align: bottom;
  margin-right: 5px;
}
.block-ranks .block-rank .block-rank-high a {
  color: #d01027;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}
.block-ranks .block-rank .block-rank-low li {
  border-top: #AFA8A8 1px dotted;
}
.block-ranks .block-rank .block-rank-low a {
  color: #298db1;
  font-size: 16px;
  padding-left: 30px;
}

.block-rank-image01 {
  text-align: center; 
}

