@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap

--------------------------- */

/* ---------------------------
	@ Block about
--------------------------- */

.block_research {
	margin:10px 0 30px 0;
}

.block_research .red-tx {
	width:460px;
	font-size:24px;
	color:#d2081f;
	border-bottom:1px solid #d2081f;
	padding-bottom:0px;
	float:left;
	margin:0;
	text-align: center;
}
.red-tx2{
	padding:10px 0 0 100px;
	font-size: 20px;
}

.block_research h2 {
	font-size:32px;
	float:left;
	width: 445px;
	padding:0 0 0 12px;
	text-align: center;
	font-weight: bold;
}
.no1{
	font-size:50px!important;
	font-weight:bold;
	color:#d2081f;
}
.no1-comment {
	font-size: 8px;
}

.block_research p {
	font-size:22px;
	float:left;
	margin:0 auto;
	line-height:100%;
	padding-left: 45px;
}

.cap-tx {
	font-size:12px;

}

.block_research .research-no1 {
	width:165px;
	float:right;
	margin:10px auto 0;
}

.research-box-top {
	width:100%;
	display:inline-block;
	margin:0 0 20px 0;
	vertical-align:top;
}

.research-box {
	width:300px;
	display:inline-block;
	margin:0 0 20px 0;
	vertical-align:top;
}

.research-box-top .research-mds-top {
	width: 407px;
	height: 74px;
	background: url(../img/about/bg-research-top.png) no-repeat top center;
	margin: 0 auto;
	text-align: center;
}

.research-box-top .research-mds-top h3 {
	font-size:22px;
	font-weight:bold;
	color:#d2081f;
	padding-top:35px;
}

.fs-20{
	font-size:20px!important;
	font-weight:bold;
	color:#d2081f;
	padding-top:35px;
}

.research-box-top p {
	font-size:14px;
	line-height:150%;
	min-height:160px;
	width:258px;
	padding:20px;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.research-box .research-mds {
	width:300px;
	height:74px;
	background:url('../img/about/bg-research.png') no-repeat top center;
	margin:0 auto;
	text-align:center;
}

.research-box .research-mds h3 {
	font-size:22px;
	font-weight:bold;
	color:#d2081f;
	padding-top:35px;
}

.research-box p {
	font-size:14px;
	line-height:150%;
	min-height:147px;
	width:258px;
	padding:20px;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.mgnR {
	margin-right:22px;
}
