@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap

--------------------------- */

/* ---------------------------
	@ Block about
--------------------------- */


/*-----------------------------------------------
reservation.html
-----------------------------------------------*/


.price-box {
	width:300px;
	margin:0 0 15px 0px;
	vertical-align:top;
}

.price-box .price-mds {
	width:629px;
	height:60px;
	background:url('../img/about/bg-reservation.png') no-repeat bottom center;
	margin:0 auto;
	text-align:center;
}

.price-box .price-mds .price-point {
	height:52px;
  background:url('../img/about/bg-reservation-point.png') no-repeat bottom center;
	text-align:center;
}

.price-box .price-mds .price-point p {
	padding:20px 0 0 0;
	font-size:22px;
	font-weight:bold;
	color:#ffffff;
}

.price-box .price-mds h3 {
	font-size:21px;
	font-weight:bold;
	color:#d2081f;
	padding-top:23px;
	line-height:130%;
}

.price-box .price-tx {
	min-height:50px;
	width:597px;
	padding:15px;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.price-box .price-tx p {
	font-size:14px;
	line-height:150%;
}

.mgnR-03 {
	margin-right:20px;
}


/*-----------------------------------------------
　追加
-----------------------------------------------*/

.sec01 {
	text-align:center;
	font-size:14px;
	color:#37bee5;
}

.sti01 {
	display:inline-block;
	font-size:19px;
	font-weight:bold;
	color:#37bee5;
	margin:2px 0 0 0;
}

.ph01 {
	display:inline-block;
	margin:0 auto;
}

.reservation-no1 {
  width: 125px;
  float: right;
  margin: 40px 0 0 0;
}

.red-tx {
  width: 460px;
  font-size: 16px;
  color: #d2081f;
  border-bottom: 1px solid #d2081f;
  padding-bottom: 0px;
  float: left;
  margin: 0;
}

.txt-big{
	font-size: 28px;
	margin: 40px 0 5px 0px;
	float: left;
}

.txt_sml{
	font-size: 11px;
	margin: 0 0 5px 20px;
	float: right;
}

.txt_raku{
	font-size: 11px;
	margin: 10px 0 5px 0;
	float: left;
}

.research-reservation{
  width: 629px;
}

.research-reservation .p-bg{
	font-size:20px;
	text-align:center;background:url('../img/about/bg-arrow.png') no-repeat bottom center;
	height:30px;
	padding :10px;
  line-height: 130%;
}

.no1 {
  font-size: 30px;
  font-weight: bold;
  color: #d2081f;
	}
