@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON SHOP DETAIL
  @ Shop Information
  @ Shop Access
--------------------------- */

/* ---------------------------
	@ Shop Information
--------------------------- */
.shop-information .page-body {
	margin-bottom: 0;
}
.shop-info {
	overflow: hidden;
	margin: 25px 0;
}
.shop-info-data {
	width: 382px;
	margin-right: 15px;
	float: left;
	border-top: #d71f21 1px dashed;
	border-bottom: #d71f21 1px dashed;
	overflow: hidden;
}
.shop-info-data dt:first-child + dd {
	border-top: none;
}
.shop-info-data dt {
	width: 115px;
	float: left;
	padding: 12px 0 12px 0;
	clear: both;
}
.shop-info-data dd {
	padding: 12px 0 12px 120px;
	border-top: #ccc 1px dotted;
}
.shop-image {
	width: 230px;
	float: left;
}
.shop-image-inner {
	padding-top: 5px;
	overflow: hidden;
}
.shop-image-left {
	width: 112px;
	float: left;
}
.shop-image-right {
	width: 112px;
	float: right;
}



/* ---------------------------
	@ Shop Access
--------------------------- */
.shop-access {
  margin-bottom: 30px;
}


/*	Shop Map
-----------------------------*/
.shop-map {
	overflow: hidden;
}
.shop-map-image {
	width: 305px;
	margin-right: 14px;
	float: left;
	border: #ccc 1px solid;
	text-align: center;
	line-height: 265px;
}
.shop-map-image img{
	vertical-align: middle;
}
.shop-g-map {
	width: 305px;
	height: 266px;
	border: #ccc 1px solid;
	float: right;
}
.shop-g-map img {
  max-width: none;
}

.shop-map-alert{
	color:#D01027;
}



/*	Shop Map Baloon
-----------------------------*/
.shop-map-blln {
	background: url('../img/salon/common/arrow-map.png') no-repeat;
	background-position: center top;
	padding-top: 14px;
	margin: 5px 0 30px;
}
.shop-map-blln p {
	background: #fbe8e8;
	padding: 18px 13px 16px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/*   Salon Voice
 * ------------------------- */
.block-white.salon-voice {
  margin-top: 30px;
}
.block-white.salon-voice .mod-voice {
  padding-top: 25px;
}
