@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON SHOP AREA
  @ Salon Shop Area
--------------------------- */

/* ---------------------------
	@ Salon Shop Area
--------------------------- */
.shop-area {
  margin-top: 35px;
}
.shop-area .block-map-rect {
  margin-top: 0;
  margin-bottom: 35px;
}
/*  Map Btn
 * ------------------------- */
.map-btn {
  text-align: center;
  letter-spacing: -0.4em;
  margin-top: 35px;
}
.map-btn li {
  display: inline-block;
  width: 240px;
  margin: 0 15px;
  vertical-align: top;
  letter-spacing: normal;
}

.mod-btns_last {
	float: left;
	margin-left:20px;
  padding-left: 43px;
}