@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON COMMON
	@ Parts
    - Block Map Viewport
    - Block New Shop List
--------------------------- */

/* ---------------------------
	@ Module Map Viewport
--------------------------- */
/*	Rectangle
-----------------------------*/
.block-map-rect {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 35px 0 0;
  border: #ccc 1px solid;
  position: relative;
}
.block-map-rect > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block-map-rect:before {
  content: "";
  display: block;
  padding-top: 353px;
}
/*  Map Text
 * ------------------------- */
.map-text {
  line-height: 2;
  margin-bottom: 20px;
}

/* ---------------------------
  @ Module New Shop List
--------------------------- */
.block-new-list {
  margin: 0 -6px;
}

.block-new-list:after {
  content: "";
  display: block;
  clear: both;
}
.block-new-list > section {
  box-sizing: border-box;
  width: 308px;
  margin: 14px 6px 0;
  padding: 4px;
  float: left;
  background: url('../img/common/bg-pinkstripe-large.png') repeat;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: table;
}
.block-new-list > section > div {
  text-align: center;
  background: #fff;
  padding: 10px 10px 8px;
  display: table-cell;
  vertical-align: middle;
}
.block-new-list > section h2 {
  color: #d01027;
  font-size: 24px;
  line-height: 1.2;
}
.block-new-list > section p {
  font-size: 16px;
}
.block-new-list .open-info {
  color: #d01027;
  background: #fce8e9;
  margin-top: 5px;
  padding: 2px 0 1px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}



.block-new-list2 {
  margin: 20px 154px;
}

.block-new-list2:after {
  content: "";
  display: block;
  clear: both;
}
.block-new-list2 > section {
  box-sizing: border-box;
  width: 308px;
  margin: 14px 6px 0;
  padding: 4px;
  float: left;
  background: url('../img/common/bg-pinkstripe-large.png') repeat;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: table;
}
.block-new-list2 > section > div {
  text-align: center;
  background: #fff;
  padding: 10px 10px 8px;
  display: table-cell;
  vertical-align: middle;
}
.block-new-list2 > section h2 {
  color: #d01027;
  font-size: 24px;
  line-height: 1.2;
}
.block-new-list2 > section p {
  font-size: 16px;
}
.block-new-list2 .open-info {
  color: #d01027;
  background: #fce8e9;
  margin-top: 5px;
  padding: 2px 0 1px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}






/*  New Btn
 * ------------------------- */
.new-btn {
  text-align: center;
  letter-spacing: -0.4em;
  margin-top: 35px;
}
.new-btn li {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  letter-spacing: normal;
}
.new-btn .btn-stripe {
  padding: 10px 30px 8px;
}

/*  
 * ------------------------- */

.shop-nav-left02 {
    float: left;
    padding-right: 13px;
    width: 127px;
}

.shop-nav-left02 li {
    margin-bottom: 10px;
}
.shop-nav-right02 {
    float: left;
    width: 127px;
}
.shop-nav-right02 li {
    margin-bottom: 10px;
}

.shop_infobox {
	width:547px;
	background: #fff8f7 none repeat scroll 0 0;
	border: 1px solid #d71f21;
    border-radius: 10px;
    padding: 10px 0;
	margin:0 auto 40px;
}

.shop_infobox p {
	text-align:center;
	color:#d71f21;
	font-weight:bold;
}


