@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON TOP
  @ Salon Shop Navigation
--------------------------- */

/* ---------------------------
  @ Salon Shop Navigation
--------------------------- */
.shop-nav {
    margin: 40px auto 25px;
    overflow: hidden;
    width: 547px;
}
/*	Left Column
-----------------------------*/
.shop-nav-left {
  width: 127px;
  padding-right: 13px;
  float: left;
}
.shop-nav-left li {
  margin-bottom: 10px;
}
/*	Right Column
-----------------------------*/
.shop-nav-right {
  width: 127px;
  float: left;
}
.shop-nav-right li {
  margin-bottom: 10px;
}

/* btn-search 
-----------------------------*/
.btn-stripe.btn-search {
    background: rgba(0, 0, 0, 0) url("../img/common/bg-lightpinkstripe-small.png") repeat scroll 0 0;
    border: 1px solid #d71f21;
    border-radius: 10px;
    color: #cd152d;
    font-size: 16px;
	font-weight:bold;
    padding: 10px 0 12px;
}

.btn-stripe.btn-search-gray {
    background: rgba(0, 0, 0, 0) url("../img/common/bg-lightpinkstripe-small.png") repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #ccc;
    font-size: 16px;
	font-weight:bold;
    padding: 10px 0 12px;
}

/*	Center Column
-----------------------------*/
.shop-nav-center {
  width: 256px;
  padding: 6px 4.5px 0;
  background: url('../img/common/bg-lightpinkstripe-small.png');
  border: #d71f21 1px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 13px;
	letter-spacing: -0.5em;
  float: left;
}
.shop-nav-center dt{
  color: #cd152d;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: normal;
}
.shop-nav-center dd {
  width: 119px;
  display: inline-block;
  vertical-align: top;
  margin: 0 4.5px 12px;
  letter-spacing: normal;
  background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
/* btn-center-search */
.btn-stripe.btn-center-search {
  color: #cd152d;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 35px 8px 20px;
  background: #fff;
  border: #d71f21 1px solid;
}

