@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block xxxxx
  
--------------------------- */

/* ---------------------------
	@ Block xxxxx
--------------------------- */

.page-body {
    margin-top: 0;
}
.ad-gallery .ad-image-wrapper {
    width: 628px !important;
    height: 500px !important;
}
.ad-gallery .ad-image-wrapper .ad-image {
    width: 628px !important;
    height: 500px !important;
    top: 0 !important;
}
.ad-gallery .ad-controls {
    display: none;
}
.ad-gallery .ad-image-wrapper .ad-next {
    background: url(/resource/img/selfcheck/ad_next.png) right center no-repeat;
}
.ad-gallery .ad-image-wrapper .ad-prev {
    background: url(/resource/img/selfcheck/ad_prev.png) left center no-repeat;
}
.ad-gallery .ad-thumbs li {
    padding-right: 6px;
}
.ad-gallery .ad-thumbs li a img {
    border: 2px solid #ffffff;
}
.ad-gallery .ad-thumbs li a:hover img {
    border-color: #fbe8e8;
}
.ad-gallery .ad-thumbs li a.ad-active img {
    border: 2px solid #d01027;
}
.ad-gallery .ad-nav {
    width: 550px;
    margin: 0 0 0 39px;
}
.ad-gallery .ad-back {
    left: -39px;
    width: 29px;
    height: 100%;
    background: #ffffff url(/resource/img/selfcheck/ad_scroll_back.png) left center no-repeat;
    opacity: 1.0 !important;
}
.ad-gallery .ad-forward {
    right: -39px;
    width: 29px;
    height: 100%;
    background: #ffffff url(/resource/img/selfcheck/ad_scroll_forward.png) right center no-repeat;
    opacity: 1.0 !important;
}

