@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Block Voice

--------------------------- */

/* ---------------------------
	@ Block Voice
--------------------------- */
.block-voice {
  border-top: #d01027 1px dashed;
  padding: 0 30px;
}
.block-voice h2 {
  margin-bottom: 25px;
}
/* Block Voice Area
 * ------------------------- */
.block-voice.area {
  padding-top: 35px;
}
/* Block Voice Course
 * ------------------------- */
.block-voice.course {
  padding-top: 30px;
  padding-bottom: 25px;
}
.block-voice.course ul {
  text-align: center;
  letter-spacing: -0.4em;
  margin: 0 -7px;
}
.block-voice.course li {
  width: 200px;
  display: inline-block;
  margin: 0 7px 15px;
  letter-spacing: normal;
}
.block-voice.course .btn-stripe {
  padding: 15px 30px;
}
.block-voice.course ul li.adjust a{
  font-size: 15px;
  padding: 17px 20px 15px 11px;
}

/* Btn Voice
 * ------------------------- */
.btn-voice {
  width: 240px;
  margin: 20px auto 0;
}
.btn-voice .btn-stripe:after {
  width: 15px;
  height: 15px;
  background: url('../img/common/icon-plus.png') no-repeat;
  background-position: right top;
  margin-top: -8px;
}
