
    <div id="Band">
      <div id="bandInner" class="clearFix">
        <ul class="clearFix">
          <li><a href="[site_url]/job/"><img src="[theme_url]/common/images/header_tex_job.gif" width="99" height="13" alt=""/></a></li>
          <li><a href="[site_url]/post/"><img src="[theme_url]/common/images/header_tex_post.gif" width="139" height="13" alt=""/></a></li>
          <li><a href="[site_url]/registration/"><img src="[theme_url]/common/images/header_tex_registration.gif" width="69" height="13" alt=""/></a></li>
          <li><a href="[site_url]/login/" class="last"><img src="[theme_url]/common/images/header_tex_login.gif" width="70" height="13" alt=""/></a></li>
        </ul>
      </div>
    </div>
    <div id="Header">
      <div id="headerInner" class="clearFix">
        <div id="headerLogo"><a href="[site_url]/"><img src="[theme_url]/common/images/header_site.png" width="170" height="54" alt=""/></a></div>
        <div id="navGlobal">
          <ul class="clearFix"><li><a href="[site_url]/guide/"><img src="[theme_url]/common/images/glo_tex_guide.gif" width="180" height="30" alt=""/></a></li><li><a href="[site_url]/search/"><img src="[theme_url]/common/images/glo_tex_search.gif" width="180" height="30" alt=""/></a></li><li><a href="[site_url]/list/"><img src="[theme_url]/common/images/glo_tex_list.gif" width="180" height="30" alt=""/></a></li><li><a href="[site_url]/mypage/" class="last"><img src="[theme_url]/common/images/glo_tex_mypage.gif" width="180" height="30" alt=""/></a></li></ul> </div>
      </div>
    </div>