@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}



.block-about {
  padding: 22px 0 20px;
}
.block-about.salon {
  margin: 30px 0;
}


.box_about {
	margin:0 4.6875% 0 4.6875%;
}

.box_about h2 img {
	width:100%;
}

.block-about h3 {
	position: relative;
    text-align: center;
	font-weight:bold;
	margin:0 4.6875% 15px 4.6875%;
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
}

.block-about h3:before {
	border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.block-about .bg_white {
	background-color: #ffffff;
    display: inline-block;
    padding: 0 15px;
	position:relative;
}



.jishin3_area {
	margin:0 4.6875% 0 4.6875%;
}

.jishin3_area a {
	display: block;
	margin-bottom:10px;
}

.jishin3_box {
	width:100%;
	display:inline-block;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	background-color:#fef7f7;
}

.jishin3_box .jishin3_mds {
	padding:10px 0 10px 10px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	background: url("../img/common/arrow-red-s.png") no-repeat center right;
	background-color:#fbe8e8;
}

.jishin3_box .jishin3_mds img {
	display:inline-block;
	float:left;
	margin:3px 0 0 0;
}

.jishin3_box .jishin3_mds h4 {
	display:inline-block;
	color:#d71f21;
	font-size:20px;
	margin:1px 0 0 8px;
}

.jishin3_box p {
	padding:10px;
	color:#333333;
}


.block-about.course {
  margin: 10px 0;
  padding-bottom: 15px;
}
.block-about.course ul {
  padding-left: 4.6875%;
  overflow: hidden;
}
.block-about.course li {
  margin: 5px 0;
  margin-right: 3.2786885%;
  float: left;
  width: 45.9016393%;
}
.block-about.course .btn-stripe-box {
  margin: 0 4.6875% 3% 4.6875%;
}
.block-about.course .btn-stripe {
  padding: 0;
  height: 50px;
  width: 100%;
  line-height: 1.07em;
}
.block-about.course .btn-stripe:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.4em;
}
.block-about.course .btn-stripe span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:13px;
}

.line-about {
	height:1px;
	margin:5px 4.6875% 5px 4.6875%;
	background:url("../img/common/uline_dot.gif") repeat-x center bottom;
}

.block-about.course .btn-stripe2 {
  padding: 0;
  height: 50px;
  width: 100%;
  line-height: 1.07em;
}
.block-about.course .btn-stripe2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.4em;
}
.block-about.course .btn-stripe2 span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:13px;
}

.btn-stripe2 {
  display: block;
  margin: 0 auto;
  padding: 13px 25px;
  width: 65.625%;
  background: url('../img/common/bg-redstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  position: relative;
}
.btn-stripe2 span {
  color: #d01027;
}
.btn-stripe2:after {
  content: "";
  display: block;
  width: 15.5px;
  height: 14.5px;
  background: url('../img/common/arrow-white.png') no-repeat top right;
  background-size: contain;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -7px;
}




/* ---------------------------
	@2018.04.16追加
--------------------------- */

.no1-area {
	margin:0 4.6875% 0 4.6875%;
	padding:20px 0 10px 0;
}

.no1-area .no1-title {
	width:100%;
	text-align:center;
	position:relative;
	z-index:1;
	background-color:#fbe8e8;
	border-top:1px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #fbe8e8;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
}

.no1-area .no1-title h3 {
	font-size:20px;
	font-weight:bold;
	color: #d01027;
	line-height:130%;
	padding:20px 0 10px 0;
}

.no1-area .no1-tx {
	width:100%;
	background-color:#ffffff;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.no1-area .no1-tx p {
	padding:10px;
}

.no1-area .no1-point {
	width:100%;
	position:absolute;
	z-index:10;
	text-align:center;
	top:-20px;
}

.no1-area .no1-point img {
	width:33px;
	height:30px;
	margin:0 auto 0 auto;
}



.ab-7-clearfix {
  zoom: 1;
  margin-bottom:3%;
}
.ab-7-clearfix:after {
  content: "";
  display: block;
  clear: both;	
}
.ab-7-inner {
  float: left;
  width:31%;
  margin-right:3%;
}
.ab-7-right{
  width:31%;
  margin-right:3%;
}
.ab-7-right2{
  width:31%;
}


.ab-pre-clearfix {
  zoom: 1;
  margin-bottom:5%;
}
.ab-pre-clearfix:after {
  content: "";
  display: block;
  clear: both;	
}
.ab-pre-inner {
  float: left;
  width:40%;
  margin-right:5%;
}
.ab-pre-right{
  float:right;
  width:40%;
}