@charset "UTF-8";

/*  common
--------------------------------------------- */
body{
  margin: 0;
}

h2{
  margin-bottom: 60px;
}
h2.left-mg{
  margin-left: -20px;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

.sec-box{
  box-sizing: border-box;
}

/*  main
--------------------------------------------- */
.main{
  float: none;
  width: auto;
  margin: 0;
  padding-top: 12vw;
}
.main .main-fv{
  width:100%;
  height: 210px;
  min-height:210px;
  max-height: 210px;
  background:#ddd url(../img/adgallery/2020/ad_main.png) no-repeat center center;
  background-size:cover;
  animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@media screen and (max-width: 320px) {
  .main .main-fv{
    width:100%;
    height: 190px;
    min-height:190px;
    max-height: 190px;
  }
 }

/*  concept
--------------------------------------------- */
.concept{
  width:100%;
  height: 450px;
  min-height:450px;
  max-height: 450px;
  background:#ddd url(../img/adgallery/2020/ad_concept_bg.png) no-repeat center center;
  background-size:cover;
  text-align: center;
}
.concept .inner{
  padding-top: 30px;
}
.concept h1 img{
  width: 250px;
}

/*  graphic
--------------------------------------------- */
.graphic{
  padding-top: 50px;
  background-color: #FFF;
  background-image: url(../img/adgallery/2020/ad_line.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 60% auto;
  padding-bottom: 60px;
  position: relative;
}
.graphic::before{
  position: absolute;
  content:" ";
  top:0;
  width:100%;
  height: 23%;
  background-color: #fff2fb;
  left:0;
  z-index:1;
}
.graphic .inner{
  text-align: center;
  padding: 0 3%;
  position: relative;
  z-index: 99;
}
.graphic h2.left-mg{margin-bottom: 40px;
}
.graphic h2.left-mg img{
  width: 50%;
}
.graphic .box-item{
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}
.graphic .box-item.new-ico::before{
  content:" ";
  position: absolute;
  width: 45px;
  height: 45px;
  display: block;
  background:url(../img/adgallery/2020/ad_new_ico.png) no-repeat center center;
  background-size: 45px auto;
  top:-30px;
  left:-10px;
  z-index:10;
}
.graphic .item-txt{
  color:#a93f55;
  font-size: 0.9rem;
  letter-spacing: 5px;
  padding-top: 15px;
  margin: 0
}
.graphic .ad-box{
}
.graphic .ad-box img{
  width: 100%;
}
.graphic .ad-box a:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.graphic .more-btn{
  width: 100%;
  text-align: center;
  background-color: #e07a8f;
  position: relative;
}
.graphic .more-btn::before{
  position: absolute;
  content:" ";
  width: 16px;
  height: 16px;
  background:url(../img/adgallery/2020/ad_slide_icon01.png) no-repeat center center;
  right: 15px;
  top:50%;
  margin-top: -8px;
}
.graphic .more-btn.close::before{
  position: absolute;
  content:" ";
  width: 16px;
  height: 16px;
  background:url(../img/adgallery/2020/ad_slide_icon02.png) no-repeat center center;
  right: 15px;
  top:50%;
  margin-top: -8px;
}
.graphic .more-btn a{
  display: block;
}
.graphic .more-btn a:hover{
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f0b4c0;
}
.graphic .more-btn img{
  vertical-align: middle;
  padding: 20px 0;
  width: 50%;
}
.hide-area{
  padding-top: 20px;
}

/*  tv cm
--------------------------------------------- */
.tv-cm {
  text-align: center;
  padding-bottom: 0px;
}
.tv-cm .inner{
  padding: 60px 3% 0;
  box-sizing: border-box;
}
.tv-cm h2.left-mg{
  margin-bottom: 50px;
}
.tv-cm h2.left-mg img{
  width: 45%;
}
.tv-cm .cm-box{
  margin-bottom: 50px;
}
.tv-cm .cm-item{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #ccc;
}
.tv-cm .cm-item iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
.tv-cm .cm-box p.txt{
  padding-top: 15px;
  color:#a93f55;
  font-size: 0.9rem;
  letter-spacing: 5px;
}



/*  profile
--------------------------------------------- */
.profile{
  padding-top: 50px;
  background-color: #FFF;
  margin-bottom: 80px;
  text-align: center;
  position:relative;
}
.profile::before{
  position: absolute;
  content:" ";
  top:0;
  width:100%;
  height: 65%;
  background-color: #fff2fb;
  left:0;
  z-index:1;
}
.profile .inner{
  padding: 0 5%;
  z-index:99;
  position: relative;
}
.profile h2.left-mg{
  margin-bottom: 30px;
}
.profile h2.left-mg img{
  width: 70%;
}
.profile .col2-box{
}
.profile .col2-box .box-item{
  margin-bottom: 50px;
}
.profile .col2-box .box-item:last-child{
  margin-bottom: 0px;
}
.profile .col2-box .box-item > img{
  width: 70%;
  height: auto;
}
.profile .col2-box .box-item .item-cont{
  color:#6a5b5e;
  padding: 0 20px;
}
.profile .col2-box .box-item .name{
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.profile .col2-box .box-item .item-txt{
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 3px;
}


/*  music
--------------------------------------------- */
.music{
  text-align: center;
  margin-bottom: 40px;
}
.music .inner{
  padding: 0 5%;
}
.music h2.left-mg{
  margin-bottom: 40px;
}
.music h2.left-mg img{
  width: 45%;
}
.music p{
  color: #6a5b5e;
  font-size: 0.7rem;
  line-height: 1.7;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
