.sec-box {
  width: 100%;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.sec-box .gr-top-box {
  margin-bottom:5vh;
  text-align:center;
}

.sec-box .gr-top-box p {
  color: #333333;
  font-size: 4vw;
  line-height:1.7;
}

.mar-3-0 {
  margin:3vh 0;
}

.mar-t15 {
  margin-top: 1.5vh;
}

.mar-t3 {
  margin-top: 3vh;
}

.gr-bg-img {
  width: 100%;
  margin-bottom:4vh;
  padding:1vh 0 6vh;
  background-image: url(https://ginza-calla.jp/wp-content/themes/calla_sp/resource/img/adgallery/2019/gr-bg-img.png);
  background-repeat:repeat;
}

.gr-bg-img .gr-ooh-box {
  margin-bottom:5vh;
}

.gr-bg-img .gr-ooh-box .ooh-img {
  padding:4vw 3vh 0;
  display: block;
  text-align:center;
}

.gr-bg-img .gr-ooh-box .ooh-img h3 {
  color:#333333;
  font-size:4.5vw;
  font-weight:bold;
  margin-top:1.5vw;
}

.gr-bg-img .gr-movie-box {
  margin:0 3vw 0;
  text-align:center;
}

.gr-bg-img .gr-movie-box h3 {
  color:#333333;
  font-size:4.5vw;
  font-weight:bold;
  margin-top:1.5vw;
}

.pad-prof {
  padding:1vh 5vw 7vh;
}

.pad-prof .inner-ph {
  float: left;
  width:35vw;
  margin-right:4vw;
  margin-left:3vw;
}
.pad-prof .right-ph{
  float:right;
  width:35vw;
  margin-right:3vw;
}

.pad-prof .inner-name {
  float: left;
  width:42vw;
  margin-right:6vw;
  text-align:center;
  color:#333333;
  font-size: 4.5vw;
  margin: 2.5vh 0;
  line-height: 1;
}

.pad-prof .right-name {
  float:right;
  width:42vw;
  text-align:center;
  color:#333333;
  font-size: 4.5vw;
  margin: 2.5vh 0;
  line-height: 1;
}

.pad-prof .inner-name span,
.pad-prof .right-name span {
  font-size: 3.5vw;
  letter-spacing: 5px;
}

.pad-prof .inner-txt {
  float: left;
  width:42vw;
  margin-right:6vw;
  color: #333333;
  font-size: 3.5vw;
  line-height:1.7;
  text-align:justify;
}
.pad-prof .right-txt {
  float:right;
  width:42vw;
  color: #333333;
  font-size: 3.5vw;
  line-height:1.7;
  text-align:justify;
}

.new-ico a{
  position: relative;
  display: block;
}
.new-ico a::after{
  display:block;
  content:" ";
  position: absolute;
  width:55px;
  height: 58px;
  background-image: url(../img/adgallery/2019/new-ico_sp.png);
  background-size: 55px auto;
  background-repeat: no-repeat;
  top:0;
  left:-1px;
}
