@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
  @銀座カラーの脱毛について1804
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-anshin {
  padding: 22px 0 20px;
}


.line-anshin {
	height:1px;
	margin:5px 4.6875% 5px 4.6875%;
	background:url("../img/common/bg-dot-line.gif") repeat-x center bottom;
}

.anshin-box {
	margin:0 4.6875% 0 4.6875%;
}

.anshin-box  ul li{
	display:table;
	width:100%;
}

.anshin-box  ul li a{
	display:block;
}

.anshin-box  ul li .anshin-image-area{
	display:table-cell;
	vertical-align:top;
	width:74px;
}

.anshin-box  ul li .anshin-image-area img{
	width:74px;
	height:auto;
}

.anshin-box  ul li .anshin-tx-area {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
}

.anshin-box  ul li .anshin-tx-area h2 {
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	margin-bottom:5px;
}

.anshin-box  ul li .anshin-tx-area p {
	margin:0 auto;
}


/* 銀座カラーの脱毛について */
.datsumo_div1{
  border:  1px solid #de0808;
  margin: 0 4.6875% 10px 4.6875%;
}
.datsumo_div2{
  margin: 0 4.6875% 10px 4.6875%;
}
.anshin-tx-area > h2{
  margin: 14px 0 0 15px;
}
.datsumo_text{
  padding-top: 15px;
  text-align:justify;
}
.result_sec{
  margin: 0 4.6875% 10px 4.6875%;
}
.result_h2{
  -webkit-border-radius: 20px;
  width: 100%;
  background-color: #fbe8e8;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: #d01027;
  font-weight: bold;
  margin: 30px 0 0;
}
.result_h3{
  text-align: center;
  line-height: 1.25;
  font-size: 20px;
  color: #d01027;
  font-weight: bold;
  margin: 15px 0 0;
}
.result_text{
  text-align:justify;
  padding-bottom:10px;
  width:80%;
  margin:0 auto;
}
.result-image{
  text-align: center;
  width: 80%;
  max-width: 400px;
  margin: 15px auto 10px auto;
  padding: 2px;
}
.result_btn{
  margin:  20px 0 40px;
}
.result_btn1{
  width: 60%;
  line-height: 1.2em;
  padding:13px 20px;
}
.result_btn2{
  width:85%;
}
