@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN PAYMENT
  @ Title Payment
  @ Block Payment List
  @
  @
--------------------------- */


/* ---------------------------
	@ Title Payment
--------------------------- */
.block-payment .title-payment {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 5px 0 12px;
}
.block-payment > p {
  text-align: center;
  margin-bottom: 12px;
}


/* ---------------------------
  @ Block Payment List
--------------------------- */
.block-payment-list {
  margin-bottom: 30px;
}
.block-payment-list:last-child {
  margin-bottom: 0;
}
.block-payment-list > section {
  margin-bottom: 12px;
}
.block-payment-list > section .payment-head {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.03em;
  line-height: 43px;
  background: #ff7272;
  padding-left: 24px;
  position: relative;
}
.block-payment-list > section .payment-head img {
  display: block;
  width: 24px;
  height: 37.5px;
  position: absolute;
  top: 0;
  left: 4.6785%;
}
.block-payment-list > section .payment-body {
  padding: 14px 0 20px;
  text-align: center;
  background: #fff5f0;
}
.block-payment-list > section .payment-body > p {
  color: #4e3829;
  margin-bottom: 7px;
}
.block-payment-list > section .payment-body > div {
  margin: 0 4.6785% 0 1.5625%;
}
.block-payment-list > ul {
  margin: 0 4.6785%;
}


/*  Campaign Example
 * ------------------------- */
.block-payment-list > section .payment-body > div.block-payment-ex {
  margin: 25px 4.6785% 0;
}
.block-payment-ex {
	width: 90.643%;
	padding: 33px 10px 12px;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.tit-payment-ex {
	width: 236px;
	height: 36px;
	position: absolute;
	top: -6px;
	left: -10px;
}
.payment-ex {
	margin: 0 auto;
  display: table;
}
.payment-ex > dl {
	width: 136px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.payment-ex .ex-total {
	width: 128px;
  background: url('../img/campaign/payment/icon-arrow-right.png') no-repeat right center;
	background-size: 10px 18px;
	padding-right: 18px;
}
.payment-ex .ex-split {
	margin-left: 6px;
}
.payment-ex > dl dt {
	font-size: 14px;
  background: url('../img/campaign/payment/bg-dotted.png') repeat-x;
	background-position: bottom center;
	padding-bottom: 5px;
}
.payment-ex > dl dd {
	font-size: 14px;
	line-height: 2em;
}
.payment-ex > dl dd .txt-large{
	font-size: 17px;
	font-weight: bold;
}
.payment-ex > dl dd.txt-pink{
	letter-spacing: -0.1em;
}
.block-payment-ex .txt-balloon {
	font-size: 14px;
	font-weight: bold;
  background: url('../img/campaign/payment/bg-balloon.png') no-repeat;
	background-size: 182px 50px;
	width: 182px;
	height: 50px;
	margin: 0 auto;
	padding: 13px 0 0 3px;
	line-height: 36px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.block-payment-ex .txt-pink {
	color: #ff0155;
}
