@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN UNDER-20
  @ Under20 Area White

--------------------------- */

/* ---------------------------
	@ Under20 Area White
--------------------------- */
.under20-area-white {
  background: #fff;
  border-bottom: #F7E3E4 3px solid;
  padding: 12px 0 20px;
}
.under20-area-white > dl {
  border: #4cbbe2 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 13px 4.6875% 0;
	padding: 15px 2.5862% 7px;
	position: relative;
}
.under20-area-white > dl dt {
  width: 185.5px;
  height: 25.5px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -92.75px;
}
.under20-area-white > dl dd {
  color: #4cbbe2;

}
.under20-body > div {
  text-align: center;
  padding: 17px 4.6875% 20px;
  border-top: #9d9d9d 1px dotted;
}
.under20-body > div:first-child {
  border-top: none;
}
.under20-body > div p {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 5px;
}
.under20-body .block-red p {
  color: #ff7f7f;
}
.under20-body .block-orange p {
  color: #ffa944;
}
.under20-body .block-green p {
  color: #4ecbbf;
}
.under20-body .block-blue p {
  color: #70c0de;
}
.under20-body > div .title-choice {
  width: 290px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  margin: 0 auto 10px;
  padding: 2px 0 5px;
}
.under20-body .block-red .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-1.png')
}
.under20-body .block-orange .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-2.png')
}
.under20-body .block-green .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-3.png')
}
.under20-body .block-blue .title-choice {
  background-image: url('../img/campaign/under-20/bg-ribon-4.png')
}
.under20-body > div > div {
  max-width: 290px;
  text-align: center;
  margin: 0 auto 10px;
}
.under20-body > div ul {
  overflow: hidden;
  margin: 0 -1.15%;
}
.under20-body > div ul li {
  color: #6c5448;
  font-weight: bold;
  line-height: 1.2;
  width: 31%;
  margin: 0 1.15% 6px;
  padding: 13px 0 11px;
  float: left;
  background: #fbe8e8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.under20-body > div ul .height {
  padding: 5px 0 3px;
}
.under20-body > div dl {
  color: #6c5448;
  font-size: 16px;
  font-weight: bold;
  background: #fbf7e8;
  padding: 15px 0 13px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.under20-body > div dl dt:first-child + dd {
  margin-bottom: 12px;
}
.under20-body .under20-alert {
  color: #6c5448;
  line-height: 1.25;
  letter-spacing: -0.05em;
  border: #b1a49d 1px dotted;
  padding: 9px 3% 10px;
  margin: 0 4.6875%;
}
