@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN PAYMENT
  @ Title Payment
  @ Block Payment List
  @
  @
--------------------------- */


/* ---------------------------
	@ Title Payment
--------------------------- */
.block-payment .title-payment {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 5px 0 12px;
}
.block-payment > p {
  text-align: center;
  margin-bottom: 12px;
}


/* ---------------------------
  @ Block Payment List
--------------------------- */
.block-payment-list {
  margin-bottom: 30px;
}
.block-payment-list:last-child {
  margin-bottom: 0;
}
.block-payment-list > section {
  margin-bottom: 12px;
}
.block-payment-list > section .payment-head {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.03em;
  line-height: 43px;
  background: #ff7272;
  padding-left: 24px;
  position: relative;
}
.block-payment-list > section .payment-head img {
  display: block;
  width: 24px;
  height: 37.5px;
  position: absolute;
  top: 0;
  left: 4.6785%;
}
.block-payment-list > section .payment-body {
  padding: 14px 0 20px;
  text-align: center;
  background: #fff5f0;
}
.block-payment-list > section .payment-body > p {
  color: #4e3829;
  margin-bottom: 7px;
}
.block-payment-list > section .payment-body > div {
  margin: 0 4.6785% 0 1.5625%;
}
.block-payment-list > ul {
  margin: 0 4.6785%;
}


/* ---------------------------
  全額返金箇所
--------------------------- */
.sp-ques-1{
  width: 100%;
  margin: 0 auto;
  font-weight:bold;
  margin-bottom:10px;
  color:#cd162d;
  font-size: 0.9em;
  max-width: 414px;
}
.sp-ques-1 span{
  color:#cd162d;
  width: 82%;
  font-size: 1.2em;
  display: inline-block;
}
.sp-ques-1:before{
  content: '';
  background-image: url(../img/campaign/payment/sp_henkin_intro1.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10%;
  width: 7%;
}
.sp-ques-1:after{
  content: '';
  background-image: url(../img/campaign/payment/sp_henkin_intro2.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10%;
  width: 7%;
}
.sp-ques-2{
  width: 100%;
  margin: 0 auto;
  font-size:16px;
  max-width: 414px;
}
.sp-ques-2:before{
  content:url(../img/campaign/payment/sp_henkin_qal.png);
  position: absolute;
  left:7%;
  top:18%;
}
.sp-ques-2:after{
  content:url(../img/campaign/payment/sp_henkin_qar.png);
  position: absolute;
  right:7%;
  top:18%;
}

.payment-body .relative{
  position: relative;
}
.payment-body .absolute{
  position: absolute;
}
.sp-henkin-p1{
  top:6%;
  left:17%;
  font-size:1.2em;
}
.sp-henkin-p2{
  top:16.5%;
  left:17%;
  font-size:1.2em;
}
.sp-henkin-p3{
  top:27%;left:17%;font-size:1.2em;
}
.sp-henkin-p4{
  top:38.5%;left:17%;font-size:1.2em;
}
.sp-henkin-p5{
  top:49%;left:17%;font-size:1.2em;
}
.sp-henkin-p6{
  font-size:1em;
}
.sp-henkin-p7{
  color:#fff;font-weight:bold;font-size:20px;
  margin-bottom: 5px;
}
.sp-henkin-p8{
  font-weight:600;font-size:1.2em;line-height:1.3;
}
.sp-henkin-p8 > span{font-size:1.6em;}
.sp-henkin-div1{max-width:414px;margin:0 auto;}
.sp-henkin-div{text-align:center;width: 100%;margin: 0 auto;}
.sp-henkin-div2{top:59%;}
.sp-henkin-div3{top:75%;margin-bottom: 10px;}

@media screen and (max-width:320px){
  .sp-ques-1{font-size: 1em;}
  .sp-ques-2{font-size: 1em;}
  .sp-henkin-p4{font-size: 1em;}
  .sp-henkin-p5{font-size: 1em;}
  .sp-henkin-p5{font-size: 1em;}
  .sp-henkin-p6{font-size: 0.9em;}
  .sp-henkin-p7{font-size: 1.2em;margin-bottom: 5px;}
  .sp-henkin-p8{font-size: 1em;}
  .sp-henkin-div2{top:59%;}
  .sp-henkin-div3{top:75%;margin-bottom: 5px;}
  .sp-ques-1 span{font-size: 0.9em;}
  .sp-ques-2:before{left:5%;}
  .sp-ques-2:after{right:5%;}
}
@media screen and (min-width:414px){
  .sp-henkin-p7{margin-bottom:10px;}
  .sp-ques-1 span{font-size: 1.3em;}
}
/*  Campaign Example
 * ------------------------- */
.block-payment-list > section .payment-body > div.block-payment-ex {
  margin: 25px 4.6785% 0;
}
.block-payment-ex {
	width: 90.643%;
	padding: 33px 10px 12px;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.tit-payment-ex {
	width: 236px;
	height: 36px;
	position: absolute;
	top: -6px;
	left: -10px;
}
.payment-ex {
	margin: 0 auto;
  display: table;
}
.payment-ex > dl {
	width: 136px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.payment-ex .ex-total {
	width: 128px;
  background: url('../img/campaign/payment/icon-arrow-right.png') no-repeat right center;
	background-size: 10px 18px;
	padding-right: 18px;
}
.payment-ex .ex-split {
	margin-left: 6px;
}
.payment-ex > dl dt {
	font-size: 14px;
  background: url('../img/campaign/payment/bg-dotted.png') repeat-x;
	background-position: bottom center;
	padding-bottom: 5px;
}
.payment-ex > dl dd {
	font-size: 14px;
	line-height: 2em;
}
.payment-ex > dl dd .txt-large{
	font-size: 17px;
	font-weight: bold;
}
.payment-ex > dl dd.txt-pink{
	letter-spacing: -0.1em;
}
.block-payment-ex .txt-balloon {
	font-size: 14px;
	font-weight: bold;
  background: url('../img/campaign/payment/bg-balloon.png') no-repeat;
	background-size: 182px 50px;
	width: 182px;
	height: 50px;
	margin: 0 auto;
	padding: 13px 0 0 3px;
	line-height: 36px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.block-payment-ex .txt-pink {
	color: #ff0155;
}
