@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CARE
  // トップページ
	@ Block Care List
	@ Block Figure

  // 脱毛の基礎
  @ Block Number List
--------------------------- */

/* ---------------------------
	Block Care List
--------------------------- */
.block-care-list {
  margin-bottom: 30px;
}
.block-care-list li {
  position: relative;
}
.block-care-list li:before {
  content: "";
  width: 10px;
  height: 1px;
  background: #fbf0e4;
  position: absolute;
  top: -1px;
  left: -10px;
}
.block-care-list ul li:first-child {
  border-top: 0;
}
.block-care-list ul li:first-child:before {
  display: none;
}
.block-care-list a {
  display: block;
  padding-left: 14px;
  padding-right: 30px;
  height: 65px;
  background-color: #fbf0e4;
  font-weight: bold;
  font-size: 16px;
  color: #666;
}
.block-care-list a:after {
  content: "";
  display: block;
  width: 11.5px;
  height: 15.5px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}
.block-care-list a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.block-care-list span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.03em;
  line-height: 1.25;
}


/*	Narrow Space
-----------------------------*/
.block-care-list.narrow-margin {
  margin-bottom: 20px;
}


/*	Orange
-----------------------------*/
.block-care-list.orange {
  border-top: 1px solid #fdb1ab;
  border-bottom: 1px solid #fdb1ab;
}
.block-care-list.orange li {
  border-top: 1px dotted #ff8383;
  border-left: 10px solid #ff8383;
}
.block-care-list.orange a:after {
  background-image: url("../img/care/index/icon-arrow-red.png");
}


/*	Yellow
-----------------------------*/
.block-care-list.yellow {
  border-top: 1px solid #ffae73;
  border-bottom: 1px solid #ffae73;
}
.block-care-list.yellow li {
  border-top: 1px dotted #ffae73;
  border-left: 10px solid #ffae73;
}
.block-care-list.yellow a:after {
  background-image: url("../img/care/index/icon-arrow-yellow.png");
}



/* ---------------------------
	@ Block Figure
--------------------------- */
.block-figure {
  margin: 0 4.6875% 20px;
	padding: 10px 0 0;
  overflow: hidden;
}
.block-figure-body {
  line-height: 1.25;
	margin: 15px 0 0;
}
.block-figure-body p{
  line-height: 1.5;
}
.block-figure-image {
  width: 50%;
	margin: 0 auto;
}
.block-figure-image img {
  width: 100%;
}

/*	With Border Bottom
-----------------------------*/
.block-figure.with-line {
  padding-bottom: 20px;
  border-bottom: 1px dashed #d01027;
}




/* ---------------------------
	@ Block Numbered List
--------------------------- */
.block-numbered {
  margin: 50px 0 15px;
  padding: 0 4.6875%;
}
.block-numbered.number-01 {
  margin-top: 0;
}


/*	Block Numbered Head
-----------------------------*/
.block-numbered-head {
  margin-bottom: 20px;
  padding-top: 45px;
  background: url("../img/care/common/bg-wave.png") repeat-x left 25px;
  background-size: auto 3px;
  position: relative;
}
.block-numbered-head:before {
  content: "";
  display: block;
  width: 32px;
  height: 43.5px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16px;
}
.number-01 .block-numbered-head:before {
  background-image: url("../img/care/common/icon-number01.png");
}
.number-02 .block-numbered-head:before {
  background-image: url("../img/care/common/icon-number02.png");
}
.number-03 .block-numbered-head:before {
  background-image: url("../img/care/common/icon-number03.png");
}
.number-04 .block-numbered-head:before {
  background-image: url("../img/care/common/icon-number04.png");
}
.block-numbered-head h2 {
  padding-bottom: 16px;
  background: url("../img/care/common/bg-wave.png") repeat-x left bottom;
  background-size: auto 3px;
  text-align: center;
  line-height: 1.25;
  font-size: 19px;
  color: #fb8929;
}
.block-numbered-head .sub {
  display: block;
  font-size: 14px;
}


/*	Block Numbered Head
-----------------------------*/
.block-numbered-body {
  line-height: 1.4;
}
.block-numbered-body .image {
  margin: 20px auto 10px;
  text-align: center;
  width: 70%;
  padding: 20px 0;
}
.block-numbered-body .image img {
  max-width: none;
  height: auto;
  width: 100%;
}
.block-numbered-body p {
  margin-top: 20px;
}
.block-numbered-body .image + p,
.block-numbered-body p:first-child {
  margin-top: 0;
}

.line2 {
  padding-top: 13px;
}
