@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap
  
--------------------------- */

/* ---------------------------
	@ Block sitemap
--------------------------- */

.block-guide {
  margin:0 auto;
}

.guide-box {
	margin:0 4.6875% 0 4.6875%;
}

.guide-box h2 {
	padding:5px 0 3px 10px;
	background-color:#fbe8e8;
	font-size:14px;
	font-weight:bold;
	margin:10px 0 10px 0;
}

.access-map {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
width:90%;
margin:20px auto 10px auto;
}
 
.access-map iframe,
.access-map object,
.access-map embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.block-guide h3 {
	position: relative;
    text-align: center;
	font-size:20px;
	color:#d71f21;
	font-weight:bold;
	margin:20px 0 15px 0;
}

.block-guide h3:before {
	border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.block-guide .bg_white {
	background-color: #ffffff;
    display: inline-block;
    padding: 0 15px;
	position:relative;
}


.guide-box .guide02-h2 {
	text-align:center;
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	font-weight:bold;
	margin-top:30px;
	margin-bottom:10px;
}

.guide-box .guide02-image {
	width:40%;
	text-align:center;
	margin:15px auto 10px auto;
}

.guide-box .guide02-image img {
	width:100%;
	padding:2px;
	border:1px solid #e4a0a8;
}

.right-tx {
	text-align:right;
	margin-top:10px;
}

.btn-recruit-area {
	width:80%;
	margin:20px auto 0 auto;
	text-align:center;
}

.btn-recruit {
	width:100%;
	height:46px;
	background:url("../img/company/bg-arrow-recruit.png") no-repeat 94% center;
	background-color:#d01027;
	text-align:center;
}

.btn-recruit img {
	margin:0 auto;
	padding:11px 0 0 0;
	display:inline-block;
}

.btn-recruit p {
	margin:0 auto;
	padding:8px 0 0 10px;
	display:inline-block;
	font-size:18px;
	color:#ffffff;
}