@charset "UTF-8";
/* ---------------------------
  @ パーツ「コンテンツタイトル」
--------------------------- */
.block-white-contents{
  border-bottom:none;
  padding-top:5px;
  padding-bottom:0;
}
.block-category-head-contents{
  font-weight:bold;
  font-size:22px;
  padding:16px 0;
  letter-spacing:5px;
}
.block-category-contents-text{
  width:95%;
  margin:5px auto 25px;
}
/* ---------------------------
  @ パーツ「コンテンツアイコン」
--------------------------- */
.icon-cont-cate,.icon-cont-tags,.icon-cont-post{
  font-weight:bold;
}
.icon-cont:before{
  content:'';
  width:50px;
  height:30px;
  margin-right:-5px;
  vertical-align:-9px;
}
.icon-cont-cate:before{
  background:url('../img/contents/icon_contents_category.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-tags:before{
  background:url('../img/contents/icon_contents_tags.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.icon-cont-post:before{
  background:url('../img/contents/icon_contents_post.png') no-repeat;
  background-position:center center;
  background-size:contain;
}

/* ---------------------------
  @ パーツ「コンテンツボディ」
--------------------------- */
.js-appendmore-contents{
  margin-top:0;
}
.js-appendmore-contents .block-btn-stripe-lower{
  margin-bottom:15px;
}
.block-category-contents{
  margin-top:10px;
  padding:0px 2.5% 5px;
  overflow:hidden;
  border-bottom:1px dashed #dddddd;
}
.block-category-contents-top-last{
  border-bottom:1px solid #dddddd;
}
.block-category-contents-last{
  border-bottom:none;
}
.block-category-body-contents .lead{
  text-align:left;
  color:#333333;
  font-size:18px;
}
.block-category-body-contents .text{
  width:70%;
  float:right;
  padding-bottom:0;
}
.block-category-body-contents .image{
  width:80px;
  height:80px;
  overflow:hidden;
  float:left;
  position:relative;
}
.block-category-body-contents .image img{
  display:block;
  width:100%;
  height:auto;
  margin:auto;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;

}
.block-category-links{
  display:block;
}
.block-category-links:before{
}
.block-category-links-contents{
  overflow:hidden;
  padding:1px;
}
.block-category-links-contents ul{
  position:static;
}
.block-category-contents-ul-01{
  overflow:hidden;
  display:block;
  margin:0;
}
/* ---------------------------
  @ パーツ「コンテンツリンク」
--------------------------- */
.block-category-contents-ul-01 .post-categories li{
  display:block;
  float:left;
  margin:0 5px 5px 0;
}
.block-category-contents-ul-01 .post-categories a{
  margin:0;
  padding:1px 7px;
  color:#ffffff;
  background:#999999;
  border-radius:3px;
  font-size:12px;
  font-weight:normal;
  transition:opacity 0.8s;
}
.block-category-contents-ul-01 .post-categories a:before{
  content:'';
}
.block-category-contents-ul-01 .post-categories a:hover{
  opacity:0.6;
}
.block-category-contents-ul-01 a{
  margin-right:5px;
  margin-bottom:7px;
  padding:1px 7px;
  color:#999999;
  border:1px solid #999999;
  border-radius:3px;
  font-size:12px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-category-contents-ul-01 a:before{
  content:"#";
}
.block-category-contents-ul-01 a:hover{
  opacity:0.4;
}
/* ---------------------------
  @ パーツ「コンテンツエトセトラ」
--------------------------- */
.block-category-contents-more{
  width:100%;
}
.block-category-contents-more .block-contents-link-more{
  color:#d01027;
  font-size:18px;
  margin:15px 0;
  padding-bottom:0px;
  display:block;
  text-align:center;
  font-weight:bold;
  transition:opacity 0.8s;
}
.block-contents-link-more span{
  color:#999999;
  margin-left:5px;
  letter-spacing:-12px;
}
.block-contents-link-more:hover{
  opacity:0.6;
}
.block-etc-contents{
  margin:0;
  background:#FBF8F2;
  border-top:4px solid #dddddd;
  border-bottom:4px solid #dddddd;
  overflow:hidden;
}
.block-etc-contents h3{
  margin-left:-10px;
}
.block-etc-contents-category{
  width:90%;
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.block-etc-contents-category div{
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.block-etc-contents-category a{
  margin-right:20px;
  margin-bottom:7px;
  color:#333333;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-category a:before{
  content:'　';
  font-size:11px;
  vertical-align:1px;
  margin-right:2px;
  background:url('../img/contents/icon_contents_arrow.png') no-repeat;
  background-position:center center;
  background-size:contain;
}
.block-etc-contents-category a:hover{
  opacity:0.4;
}

.block-etc-contents-tags{
  width:90%;
  margin:0 auto;
  padding:10px 0;
  border-bottom:2px solid #dddddd;
  overflow:hidden;
}
.block-etc-contents-tags div{
  margin:0 auto;
  padding:10px 0;
  overflow:hidden;
}
.block-etc-contents-tags a{
  margin-right:10px;
  margin-bottom:7px;
  padding:1px 7px;
  color:#666666;
  background:#ffffff;
  border:1px solid #999999;
  border-radius:3px;
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  float:left;
  transition:opacity 0.8s;
}
.block-etc-contents-tags a:before{
  content:"#";
}
.block-etc-contents-tags a:hover{
  opacity:0.4;
}

.block-etc-contents-relations{
  width:90%;
  margin:0 auto;
  padding:10px 0;
  border-bottom:2px solid #dddddd;
  overflow:hidden;
}
.contents-relations{
  width:100%;
}
.contents-relations a{
  display:block;
  overflow:hidden;
  padding:5px 0;
  border-bottom:1px dotted #dddddd;
  transition:opacity 0.8s;
}
.contents-relations a:hover{
  opacity:0.4;
}
.contents-relations a:last-child{
  border-bottom:none;
}
.contents-relations .contents-relations-left{
  width:20%;
  float:left;
  padding:10px 2%
}
.contents-relations .contents-relations-left img{
  width:100%;
}
.contents-relations .contents-relations-right{
  width:72%;
  float:right;
  padding:5px 2%
}
.contents-relations .contents-relations-right h2{
  font-size:16px;
  color:#333333;
}
.contents-relations .contents-relations-right p{
  font-size:12px;
  color:#999999;
}

/* ---------------------------
  @ パーツ「コンテンツシングルタイトル」
--------------------------- */
.block-article-contents-head{
  width:auto;
  margin:0px 10px 10px;
  overflow:hidden;
}
.block-article-contents{
  padding:0;
  margin:0;
}
.block-article-contents-category{
  float:left;
  background:#999999;
  color:#ffffff;
  font-size:12px;
  padding:2px 10px;
  border-radius:3px;
}
.block-article-contents-date{
  float:right;
  color:#999999;
}
.block-article-head-contents{
  margin-bottom:10px;
}

.block-article-nav-contents{
  overflow:hidden;
}
.block-article-nav-contents li a{
  color:#999999;
  font-size:16px;
  padding:18px 0 20px;
  display:block;
}
.block-article-nav-contents .prev a:before{
  content:'';
  margin-right:0;
  background-image:none;
}
.block-article-nav-contents .next a:after{
  content:'';
  margin-left:0;
  background-image:none;
}
.block-article-nav-contents .prev{
  width:50%;
  height:60px;
  background:#f6f6f6;
  float:left;
  display:block;
}
.block-article-nav-contents .next{
  width:50%;
  height:60px;
  background:#f6f6f6;
  float:right;
  display:block;
  border-left:1px solid #dddddd;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}
.block-article-nav-contents .archive{
  width:100%;
  display:block;
  clear:both;
  background:#f6f6f6;
  border-top:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
}
/* ---------------------------
  @ パーツ「コンテンツシングルボディ」
--------------------------- */
.page-body-contents{
  margin-top:20px;
}
.post-contents-box{
  margin:0 10px;
  /*border-bottom:2px solid #dddddd;*/
}
