@charset "UTF-8";

/* ---------------------------
  GINZA CALLA GAKUWARI
--------------------------- */



/* ---------------------------
	@ ブロック「レポートヘッド」
--------------------------- */
.block-report-head {
  margin-bottom: 20px;
  text-align: center;
}
.block-report-head img {
  margin-bottom: 12px;
}
.block-report-head p {
  line-height: 1.2;
}


/* ---------------------------
	@ ブロック「レポートリスト」
--------------------------- */
.block-report-lists {
  padding: 0 9.0625%;
}
.block-report-list {
  margin-top: 15px;
  position: relative;
}
.block-report-list-title {
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.block-report-list-title:before {
  content: "";
  display: block;
  padding-top: 12%;
}
.block-report-list-title a {
  display: block;
  padding-left: 34%;
  font-size: 15px;
  color: #c99b1d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.block-report-list-title a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  margin-left: -4px;
}
.block-report-list-title a span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.05em;
}
.block-report-list-title a span:after {
  content: "";
  display: block;
  vertical-align: middle;
  width: 10px;
  height: 17px;
  background: url("../img/gakuwari/report/index/icon-arrow-yellow.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 22%;
  right: 0;
}
.block-report-list-title + img {
  margin-bottom: 5px;
}
.block-report-list p {
  padding-left: 0;
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
}




/* ---------------------------
	@ ブロック「レポート詳細・ヘッド」
--------------------------- */
.block-rep-head {
  margin-bottom: 15px;
}
.block-rep-head .title-img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  max-width: 290px;
}
.block-rep-head .title-label {
  display: inline-block;
  vertical-align: middle;
  width: 82px;
  height: 30px;
}
.block-rep-head .title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #c99b1d;
}
.block-rep-head p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}



/* ---------------------------
	@ ブロック「レポート詳細・ボディ」
--------------------------- */

.block-rep-body p {
  margin-bottom: 10px;
  letter-spacing: -0.03em;
}
.block-rep-body .note {
  font-size: 10px;
}
.block-rep-body figure {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.block-rep-body figure img {
  margin: 0 1px;
  max-width: 176px;
}
.block-rep-body figure.large img {
  max-width: 290px;
}
.block-rep-body figure.half img {
  max-width: 86px;
}
.block-rep-body figure img.mb10 {
  margin-bottom:10px;
}
.block-rep-body .teller-a {
  color: #4bb6cd;
}
.block-rep-body .teller-b {
  color: #f89090;
}
.block-rep-body .teller-shop {
  color: #aca269;
}
.block-rep-body p em {
  background: url('../img/gakuwari/report/rep01/underline-yellow.png') repeat-x;
  background-position: center bottom;
}
.block-rep-body p small {
  font-size: 8px;
}



/* ---------------------------
	@ ブロック「レポート詳細・フッター」
--------------------------- */
.block-rep-foot {
  padding-top: 5px;
  /*border-top: 1px dashed #d01027;*/
}
.block-rep-foot > p {
  margin-bottom: 35px;
  font-size: 11px;
}
.block-rep-box > p {
  margin-top: 10px;
  font-size: 13px;
}
.block-rep-box > p a {
  text-decoration: underline;
  color: #d01027;
}



/* ---------------------------
	@ ブロック「学割バナー」
--------------------------- */
.block-gakuwari-bnr {
  margin-top: 20px;
  margin-bottom: 10px;
}
.block-gakuwari-bnr a {
  display: block;
}
.block-gakuwari-bnr img {
  display: block;
}


/* ---------------------------
	@ ブロック「レポートバナー」
--------------------------- */
.block-report-bnr {
  margin: 25px 0;
  text-align: center;
  font-size: 8px;
}
.block-report-bnr a {
  display: block;
  margin-bottom: 5px;
}

/* ---------------------------
	@ ブロック「未成年限定バナー」
--------------------------- */
.block-under20-bnr02{
  border: 1px solid #ff9c00;
  margin: 25px;
}
.block-under20-bnr02 a{
  display: block;
}
.block-under20-bnr02 .tit-under20{
  font-size: 16px;
  background-color: #ffebac;
  text-align: center;
  padding: 5px 0;
  color: #f59600;
}
.block-under20-bnr02 div{
  background: url('../img/common/arrow-yellow.png') no-repeat;
  background-position: 96% 50%;
  background-size: 10px 19px;
  background-color: #fffbed;
  color: #ff9c00;
  text-align: center;
  padding: 7px 0;
}
.block-under20-bnr02 div p{
  font-size: 12px;
  line-height: 1.2;
}
.block-under20-bnr02 div p span{
  font-size: 28px;
}
