@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-jishin {
  margin:0 auto;
}

.jishin-title-area01 {
	margin:0 4.6875% 20px 4.6875%;
	text-align:center;
}

.jishin-title-area01 p {
	text-align:center;
	font-size:18px;
	color:#37bee5;
}

.jishin-title-area01 h2 {
	display:inline-block;
	font-size:24px;
	font-weight:bold;
	color:#37bee5;
	margin:5px 0 0 0;
}

.jishin-title-area01 img {
	display:inline-block;
	margin:0 auto;
}



.jishin-bihada-box {
	margin:0 4.6875% 10px 4.6875%;
	background-color:#ecf6f9;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding:10px;
}

.jishin-box {
	margin:0 4.6875% 10px 4.6875%;
}

.jishin-box .jishin01-h2 {
	text-align:center;
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	font-weight:bold;
	margin-bottom:10px;
}

.jishin-box .jishin01-image {
	text-align:center;
	max-width:600px;
	margin:10px auto 0 auto;
}

.jishin-box .jishin02-h2 {
	text-align:center;
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	font-weight:bold;
	margin-top:30px;
	margin-bottom:10px;
}

.jishin-box .jishin02-image {
	text-align:center;
	width:80%;
	max-width:400px;
	margin:15px auto 10px auto;
	padding:2px;
	border:1px solid #e4a0a8;
}

.jishin-box .jishin02-image img {
	width:100%;
}

.line-jishin {
	height:1px;
	margin:15px 4.6875% 15px 4.6875%;
	background:url("../img/common/uline_dot.gif") repeat-x center bottom;
}

/*--------------------------------------------*/

.bihada-box {
	margin:0 auto;
	text-align:center;
}

.bihada-box  ul li{
	display:table;
	width:100%;
}

.bihada-box  ul li a{
	display:block;
}

.bihada-box  ul li .bihada-logo-area{
	display:table-cell;
	vertical-align:middle;
	width:140px;
}

.bihada-box  ul li .bihada-photo-area {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
	width:140px;
}

.bihada-box .jishin-title-s {
	display:inline-block;
	text-align:center;
	vertical-align:top;
}

.bihada-box .jishin-title-s p {
	text-align:center;
	font-size:16px;
	color:#37bee5;
	line-height:100%;
	padding-bottom:5px;
}

.bihada-box .jishin-title-s h3 {
	font-size:18px;
	font-weight:bold;
	color:#37bee5;
	margin:2px 0 0 0;
}

.bihada-box .jishin-title-s img {
	margin:0 auto;
	width:100%;
	max-width:130px;
}

.jishin-bihada-box p{
	text-align:left;
	margin:10px 0 0 0;
}

.bihada-box p.junnbi-midashi {
  position: relative;
  padding: 0 .5em .5em 2em;
  border-bottom: 1px solid rgba(72, 190, 225,0.5);
}

.bihada-box p.junnbi-midashi::before,
.bihada-box p.junnbi-midashi::after {
  position: absolute;
  content: '';
  border-radius: 100%
}

.bihada-box p.junnbi-midashi::before {
  top: .2em;
  left: .2em;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: rgba(72, 190, 225,0.5);
}

.bihada-box p.junnbi-midashi::after {
  top: .7em;
  left: .7em;
  width: 13px;
  height: 13px;
  background: rgba(72, 190, 225,0.3);
}


/*--------------------------------------------*/

.all-box {
	margin:10px 0 10px 0;
	text-align:center;
}

.all-box  ul li{
	display:table;
	width:100%;
}

.all-box  ul li a{
	display:block;
}

.all-box  ul li .all-box-mds {
	display:table-cell;
	vertical-align:middle;
	width:140px;
}

.all-box  ul li .all-box-mds h2 {
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	font-weight:bold;
}

.all-box  ul li .all-box-mds p {
	text-align:left;
	font-size:13px;
}

.all-box  ul li .all-box-photo {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
	width:140px;
}

.all-box  ul li .all-box-photo img {
	margin:0 auto;
	width:100%;
	max-width:130px;
}


/*--------------------------------------------*/

.table_area01 {
	width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

table.table-01 {
    width:100%;
    border-top: 1px #ffaeae solid;
	border-bottom: 1px #ffaeae solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table-01 th {
	font-size:12px;
    padding: 10px;
    line-height: 120%;
    text-align: left;
}
table.table-01 td {
	font-size:12px;
    padding:10px;
    text-align: left;
	line-height:130%;
}

.tb-bot {
	background:url("../img/about/bg-table-dot.png") no-repeat center left;
	padding-left:10px;
}


.tb-bgcolor01 {
	background-color:#fbe8e8;
}

.tb-bgcolor02 {
	background-color:#fefbfb;
}


/*--------------------------------------------
jishin02
--------------------------------------------*/

.jishin-title-area02 {
	margin:0 4.6875% 20px 4.6875%;
	text-align:center;
}

.jishin-title-area02 p {
	text-align:center;
	font-size:16px;
	color: #d01027;
	line-height:100%;
}

.jishin-title-area02 h2 {
	display:inline-block;
	font-size:20px;
	font-weight:bold;
	color: #d01027;
	margin:0;
}

.box-support-btn {
	margin:0 4.6875% 10px 4.6875%;
	border:1px solid #d2081f;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	background:url("../img/common/bg-support-stripe.png") repeat;
}

.box-support {
	width:100%;
	height:50px;
	text-align:center;
}

.box-support-arrow {
	background:url("../img/common/arrow-red-down.png") no-repeat center right;
	background-size:20px 9px;
	text-align:center;
}

.box-support h3 {
	font-size:18px;
	color:#d2081f;
	line-height:130%;
	padding-top:12px;
}

.mds-support {
	width:100%;
	background-color:#fbe8e8;
	border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/*--------------------------------------------
jishin03
--------------------------------------------*/

.price-area {
	margin:0 4.6875% 0 4.6875%;
	padding:30px 0 20px 0;
}

.price-area .price-title {
	width:100%;
	text-align:center;
	position:relative;
	z-index:1;
	background-color:#fbe8e8;
	border-top:1px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #fbe8e8;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
}

.price-area .price-title h2 {
	font-size:20px;
	font-weight:bold;
	color: #d01027;
	line-height:130%;
	padding:20px 0 10px 0;
}

.price-area .price-tx {
	width:100%;
	background-color:#ffffff;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.price-area .price-tx p {
	padding:10px;
}

.price-area .price-point {
	width:100%;
	position:absolute;
	z-index:10;
	text-align:center;
	top:-35px;
}

.price-area .price-point img {
	width:113px;
	height:51px;
	margin:0 auto 0 auto;
}

