@charset "UTF-8";

/* ---------------------------
  GINZA CALLA LAYOUT
	@ Base Setting
	@ Header
	@ Menu
	@ Main
	@ Page
	@ Footer
--------------------------- */



/* ---------------------------
	@ Base Setting
--------------------------- */

/*	Body
-----------------------------*/
body {
  background: url('../img/common/bg1.png');
  background-size: 32px 5px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #333333;
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* menu-open */
.menu-open {
	right: 270px;
}

/*	Anchor
-----------------------------*/
a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #007095;
}


/*	List
-----------------------------*/
li {
  list-style: none;
}


/*	Image
-----------------------------*/
img {
  max-width: 100%;
  height: auto;
  outline: none;
  border: 0;
  vertical-align: top;
}



/* ---------------------------
	@ Header
--------------------------- */

/*	Layout
-----------------------------*/
.header {
  height: 54px;
  background: #d01027;
  position: relative;
}


/*	Header Logo
-----------------------------*/
.header-logo {
  width: 157px;
  height: 53.5px;
  position: absolute;
  top: 0;
  left: 0;
}
.header-logo a {
  display: block;
}


/*	Header Navigation
-----------------------------*/
.header-nav {
  width: 108px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.header-nav li {
  border-left: 2px solid #fff;
  width: 52px;
  height: 100%;
  float: left;
  background: url('../img/common/bg-pinkstripe-large.png');
  background-size: 10px 10px;
}
.header-nav a {
  display: block;
  padding-top: 38px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: bold;
  font-size: 10px;
  color: #d01027;
  position: relative;
}
.header-nav a:before {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}
.header-nav-search a:before {
  top: 8px;
}

/* ---------------------------
	@ Menu
--------------------------- */
.menu {
  box-sizing: border-box;
  width: 270px;
  height: 100%;
  background-color: #fdd2d2;
  border-left: #ccc 5px solid;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: -270px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* menu-listopen */
.menu-listopen {
	right: 0;
}

/* main-overlay */
.main-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #000;
  opacity: .5;
  height: 100%;
  width: 100%;
}

.menu ul {
	padding: 0 5px;
	background: #fff;
}
.menu ul li {
	border-top: #fdd2d2 1px solid;
}
.menu ul li a {
	display: block;
	color: #d01027;
	font-size: 14px;
	padding: 17px 0 15px 50px;
	position: relative;
}
.menu ul li a:after {
	content: "";
	width: 10px;
	height: 15px;
	background: url(../img/common/menu-arrow.png) no-repeat;
	background-position: left top;
	background-size: 100% auto;
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -8px;
}
/* gnav-web */
.menu ul .gnav-web a {
	background: url(../img/common/menu-icon-web.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-about */
.menu ul .gnav-about a {
	background: url(../img/common/menu-icon-about.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-datsumo */
.menu ul .gnav-datsumo a {
	background: url(../img/common/menu-icon-datsumou.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-plan */
.menu ul .gnav-plan a {
	background: url(../img/common/menu-icon-plan.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-search */
.menu ul .gnav-plan a {
	background: url(../img/common/menu-icon-plan.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-search */
.menu ul .gnav-search a {
	background: url(../img/common/menu-icon-salon.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-faq */
.menu ul .gnav-faq a {
	background: url(../img/common/menu-icon-faq.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}
/* gnav-campaign */
.menu ul .gnav-campaign a {
	background: url(../img/common/menu-icon-campaign.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}

/* gnav-removal */
.menu ul .gnav-removal a {
	background: url(../img/common/icon-heart-red.png) no-repeat;
	background-position: 13px center;
	background-size: 21px auto;
}

/* menu-bghead
------------------------- */
.menu-bghead {
	background: #fff;
	padding: 10px 5px 0;
}

/* menu-sphead
------------------------- */
.menu-sphead {
	background: #d01027;
	padding: 15px 0 10px;
}
.menu-sphead.simpleVer{
  padding: 5px 0 7px !important;
}

/* menu-logo */
.menu-logo {
	width: 223px;
	margin: 0 auto 11px;
}
.menu-logo img {
	width: 100%;
	height: auto;
}

/* menu-logo02 */
.menu-logo02 {
	width: 140px;
	margin: 0 0 0 10px;
}
.menu-logo02 img {
	width: 100%;
	height: auto;
}

/* menu-cm */
.menu-cm {
	width: 228px;
	margin: auto;
}
.menu-cm a {
	display: block;
	background: #fff;
	padding: 9px 30px 7px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.menu-cm img {
	width: 100%;
	height: auto;
	display: block;
}
/* menu-spfoot
------------------------- */
.menu-spfoot {
	color: #d01027;
	font-size: 9px;
	text-align: center;
	padding-top: 8px;
}



/* ---------------------------
	@ Main
--------------------------- */
.main {
  margin: 15px 0 30px;
  padding-top:17.33333vw;
}



/* ---------------------------
	@ Page
--------------------------- */

/*	Page Head
-----------------------------*/
.page-head {
  margin-bottom: 9px;
  padding: 15px 0 14px;
  background: url('../img/common/title-bg.png') no-repeat;
  background-position: center top;
  /*background-size: 100% 54px;*/
  background-size: 100% 52px;
  text-align: center;
  line-height: 1.25;
  font-weight: bold;
  /*font-size: 20px;*/
  font-size: 18px;
  color: #fff;
}

.page-head .sub {
  position: relative;
}

.page-head-l2 {
    background-size: 100% 74px;
  }

.page-head .site {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.page-head-small {
  padding: 17px 0 16px;
  /*font-size: 17px;*/
    font-size: 18px;
}

/* Thicer */
.page-head-thick {
  padding: 15px 0;
  background: url("../img/common/title-bg-thick.png") no-repeat;
  background-size: 100% 100%;
  /*background-size: cover;*/
}
.page-head-thick > span {
  display: inline-block;
  vertical-align: middle;
}
.page-head-thick > span .sub {
  display: block;
  font-weight: normal;
  font-size: 16px;
}

.ti40 {
  text-indent: -40px;
}



/*	Page Body
-----------------------------*/
.page-body {

}



/* ---------------------------
	@ Footer
--------------------------- */
.footer img {
  width: 100%;
  vertical-align: bottom;
}
.footer-inner {
  padding: 30px 0 20px;
  background: #fbe8e8;
}
.footer-inner address {
  text-align: center;
  font-size: 8px;
  color: #d01027;
}


/*	Footer Banner
-----------------------------*/
.footer-banner {
  margin-bottom: 10px;
  padding: 0 4.6875%;
  overflow: hidden;
}
.footer-banner ul {
  overflow: hidden;
  margin: 0 -1.7241379%;
}
.footer-banner li {
  margin: 0 1.6666667% 10px;
  width: 46.666666%;
  float: left;
  background-color: #fff;
}
.footer-banner a {
  display: block;
}


/*	Footer SNS
-----------------------------*/
.footer-sns {
  margin: 10px 0 20px;
}
.footer-sns ul {
  letter-spacing: -0.3em;
  text-align: center;
}
.footer-sns li {
  margin: 0 5px;
  width: 69px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}
.footer-sns img {
  display: block;
}


/*	Footer List
-----------------------------*/
.footer-list {
  margin: 20px 0;
  background: #fff;
}


/*	Footer Navigation
-----------------------------*/
.footer-nav {
  margin: 20px 0 13px;
}
.footer-nav ul {
  letter-spacing: -0.3em;
  /*text-align: center;*/
  margin-left:5%;
}
.footer-nav li {
  margin: 0 0.9375% 7px;
  display: inline-block;
  width: 46.375%;
  vertical-align: top;
  letter-spacing: normal;
}

/*  2015/09/15 add
-----------------------------*/
.footer-banner .bnr_selfcheck {
    margin-bottom: 10px;
}
