.mg-course-box-link a {
  width: 100%;
  padding-top: 14px;
  padding-top: 3.73333vw;
  padding-bottom: 14px;
  padding-bottom: 3.73333vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-box-small {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 15px 15px 15px;
  padding: 8.8vw 4vw 4vw 4vw;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-title img {
  width: 204px;
  width: 54.4vw;
}

.mg-course-box-small:nth-child(2) .mg-course-box-small-title img {
  width: 240px;
  width: 64vw;
}

.mg-course-box-small:nth-child(n+2) {
  margin-top: 16px;
  margin-top: 4.26667vw;
}

.mg-course-box-small-title {
  margin-bottom: 16px;
  margin-bottom: 4.26667vw;
}

.mg-course-box-small-text {
  line-height: 2;
  margin-bottom: 10px;
  margin-bottom: 2.66667vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-box-small-price {
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  font-size: 20px;
  font-size: 5.33333vw;
}

.mg-course-box-small-price span {
  font-size: 75%;
}

.mg-course-box-small-icon {
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 60px;
  width: 16vw;
  height: 60px;
  height: 16vw;
  top: -14px;
  top: -3.73333vw;
  right: -36px;
  right: -9.6vw;
}

.mg-course-box-small-icon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-box-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 293px;
  min-height: 78.13333vw;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-title img {
  width: 131px;
  width: 34.93333vw;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-title img {
  width: 150px;
  width: 40vw;
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-title img {
  width: 149px;
  width: 39.73333vw;
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-title img {
  width: 148px;
  width: 39.46667vw;
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 5.33333vw;
}

.mg-course-box-large-thumb {
  width: 37.5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-box-large-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  padding: 6.4vw;
}

.mg-course-box-large-title {
  margin-bottom: 15px;
  margin-bottom: 4vw;
}

.mg-course-box-large-text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 2;
  margin-bottom: 25px;
  margin-bottom: 6.66667vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-course-box-large .mg-course-box-link a {
  padding-top: 7px;
  padding-top: 1.86667vw;
  padding-bottom: 7px;
  padding-bottom: 1.86667vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-course-zenshin {
  position: relative;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  padding: 40px 15px 15px 15px;
  padding: 10.66667vw 4vw 4vw 4vw;
}

.mg-course-zenshin-title {
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 6.4vw;
}

.mg-course-zenshin-title img {
  width: 260px;
  width: 69.33333vw;
}

.mg-course-zenshin-text {
  line-height: 2;
  text-align: center;
  margin-bottom: 25px;
  margin-bottom: 6.66667vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-zenshin-illust {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-bottom: 8vw;
}

.mg-course-zenshin-illust img {
  width: 100%;
}

.mg-course-zenshin-balloon {
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-24px, 24px) scale(0.8);
      -ms-transform: translate(-24px, 24px) scale(0.8);
          transform: translate(-24px, 24px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 80px;
  width: 21.33333vw;
  height: 80px;
  height: 21.33333vw;
  top: -39px;
  top: -10.4vw;
  right: -20px;
  right: -5.33333vw;
}

.mg-course-zenshin-balloon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-partial {
  margin-bottom: 40px;
  margin-bottom: 10.66667vw;
}

.mg-about {
  position: relative;
  z-index: 0;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-about .mg-index-title img {
  width: 155px;
  width: 41.33333vw;
}

.mg-about-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.mg-about-bg-inside {
  height: 128%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-about-h1{
  text-align: center;
  margin:0 auto;
}

.mg-about-h1 img{
  width: 261px;
  width: 69.6vw;
}

.mg-about-copy {
  text-align: center;
  margin-top: 47px;
  margin-top: 12.53333vw;
  margin-bottom: 50px;
  margin-bottom: 13.33333vw;
}

.mg-about-copy img {
  width: 261px;
  width: 69.6vw;
}

.mg-about-list {
  margin-bottom: 38px;
  margin-bottom: 10.13333vw;
}

.mg-about-item {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-about-item.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 1.2s;
       -o-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

.mg-about-item:nth-child(1) .mg-about-item-title img {
  width: 105px;
  width: 28vw;
}

.mg-about-item:nth-child(2) .mg-about-item-title img {
  width: 215px;
  width: 57.33333vw;
}

.mg-about-item:nth-child(3) .mg-about-item-title img {
  width: 155px;
  width: 41.33333vw;
}

.mg-about-item:nth-child(n+2) {
  margin-top: 24px;
  margin-top: 6.4vw;
}

.mg-about-item-thumb img {
  width: 100%;
}

.mg-about-item-title {
  text-align: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 145px;
  height: 38.66667vw;
  padding-top: 52px;
  padding-top: 13.86667vw;
}

.mg-about-item-title img {
  position: relative;
  z-index: 1;
}

.mg-about-item-icon {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 150px;
  top: 40vw;
}

.mg-about-item-icon img {
  width: 128px;
  width: 34.13333vw;
}

.mg-main {
  position: relative;
  z-index: 1;
}
.mg-index-title {
  text-align: center;
}

.mg-index-desc {
  line-height: 2;
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 10.66667vw;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-index-link a {
  width: 100%;
  line-height: 1.25;
  padding-top: 18px;
  padding-top: 4.8vw;
  padding-bottom: 18px;
  padding-bottom: 4.8vw;
  font-size: 20px;
  font-size: 5.33333vw;
}

.mg-index .swiper-wrapper {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-campaign {
  background-color: #fff;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-campaign .mg-index-title img {
  width: 163px;
  width: 43.46667vw;
}

.mg-campaign-container {
  overflow: hidden;
}

.mg-campaign-slide {
  width: 100%;
  position: relative;
  margin-top: 42px;
  margin-top: 11.2vw;
}

.mg-campaign-slide .slick-slide {
  margin: 0px 12px 0px 12px;
  margin: 0vw 3.2vw 0vw 3.2vw;
}

.mg-campaign-slide .slick-list {
  margin: 0px -12px 0px -12px;
  margin: 0vw -3.2vw 0vw -3.2vw;
}

.mg-campaign-label {
  line-height: 1.5;
  font-weight: bold;
  color: #ed3f55;
  margin-top: 21px;
  margin-top: 5.6vw;
  margin-bottom: 12px;
  margin-bottom: 3.2vw;
  font-size: 18px;
  font-size: 4.8vw;
}

.mg-campaign-desc {
  color: #6f3e45;
  margin-bottom: 12px;
  margin-bottom: 3.2vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-campaign-date {
  color: #d6c6c8;
  font-size: 14px;
  font-size: 3.73333vw;
  font-family: 'Amiri', serif;
}

.mg-campaign .mg-aside-reserve-button {
  margin-top: 36px;
  margin-top: 9.6vw;
}

.mg-course-index {
  background-color: #fff;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-course-index .mg-index-title img {
  width: 234px;
  width: 62.4vw;
}

.mg-course-index-copy {
  line-height: 2;
  text-align: center;
  margin-top: 40px;
  margin-top: 10.66667vw;
  margin-bottom: 40px;
  margin-bottom: 10.66667vw;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-flow {
  background-color: #fcf0f0;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-flow .mg-index-title img {
  width: 118px;
  width: 31.46667vw;
}

.mg-flow-copy {
  line-height: 2;
  text-align: center;
  margin-top: 40px;
  margin-top: 10.66667vw;
  margin-bottom: 5px;
  margin-bottom: 1.33333vw;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-flow-list {
  margin-bottom: 42px;
  margin-bottom: 11.2vw;
}

.mg-flow-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 36px;
  padding-top: 9.6vw;
  padding-bottom: 24px;
  padding-bottom: 6.4vw;
}

.mg-flow-item.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.mg-flow-item:nth-child(1) .mg-flow-title img {
  width: 94px;
  width: 25.06667vw;
}

.mg-flow-item:nth-child(2) .mg-flow-title img {
  width: 102px;
  width: 27.2vw;
}

.mg-flow-item:nth-child(3) .mg-flow-title img {
  width: 91px;
  width: 24.26667vw;
}

.mg-flow-item:nth-child(4) .mg-flow-title img {
  width: 113px;
  width: 30.13333vw;
}

.mg-flow-item:nth-child(n+2):before {
  content: "";
  width: 100%;
  height: 0;
  padding-top: 5.3125%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/migrate/index/flow/separator.png) 0 0 no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mg-flow-item:last-child {
  border-bottom: 1px solid #d7c8c9;
}

.mg-flow-illust {
  width: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7px;
  padding-left: 1.86667vw;
  padding-right: 25px;
  padding-right: 6.66667vw;
}

.mg-flow-step {
  position: absolute;
  left: 0;
  width: 40px;
  width: 10.66667vw;
  height: 40px;
  height: 10.66667vw;
  top: -8px;
  top: -2.13333vw;
}

.mg-flow-body {
  width: 50%;
}

.mg-flow-title {
  margin-bottom: 12px;
  margin-bottom: 3.2vw;
}

.mg-flow-text {
  line-height: 2;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-mv {
  position: relative;
  background-color: #fcf0f0;
}

.mg-mv.is-loading .mg-mv-loading {
  opacity: 1;
  -webkit-transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mg-mv.is-loaded .mg-mv-slide-list {
  opacity: 1;
  -webkit-transition: .4s linear .5s;
  -o-transition: .4s linear .5s;
  transition: .4s linear .5s;
}

.mg-mv.is-loaded .mg-mv-slide-nav-inside {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

.mg-mv.is-loaded .mg-mv-loading {
  opacity: 0;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.mg-mv-slide {
  overflow: hidden;
  position: relative;
  height: 320px;
  height: 85.33333vw;
}

.mg-mv-slide-list {
  position: relative;
  height: 100%;
  opacity: 0;
}

.mg-mv-slide-item {
  overflow: hidden;
  will-change: width, transform;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-mv-slide-item:first-child {
  z-index: 1;
}

.mg-mv-slide-item.is-animating {
  pointer-events: none;
}

.mg-mv-slide-item a,
.mg-mv-slide-item span,
.mg-mv-slide-item svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-mv-slide-nav {
  overflow: hidden;
  position: relative;
  padding: 8px 0 10px;
  background-color: #fff;
  padding: 8px 0px 10px 0px;
  padding: 2.13333vw 0vw 2.66667vw 0vw;
}

.mg-mv-slide-nav .slick-slide {
  margin: 0px 4px 0px 4px;
  margin: 0vw 1.06667vw 0vw 1.06667vw;
}

.mg-mv-slide-nav .slick-list {
  margin: 0px -4px 0px -4px;
  margin: 0vw -1.06667vw 0vw -1.06667vw;
}

.mg-mv-slide-nav-inside {
  opacity: 0;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

.mg-mv-slide-nav span {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #ed3f55;
  border-radius: 999em;
  width: 24px;
  width: 6.4vw;
  height: 2px;
  height: 0.53333vw;
  margin-left: -12px;
  margin-left: -3.2vw;
}

.mg-mv-slide-nav.mg-mod-minimal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 4px 10px 4px;
  padding: 2.13333vw 1.06667vw 2.66667vw 1.06667vw;
}

.mg-mv-slide-nav.mg-mod-minimal .mg-mv-slide-nav-inside {
  position: relative;
}

.mg-mv-slide-nav.mg-mod-minimal ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mg-mv-slide-nav.mg-mod-minimal li {
  width: 96px;
  width: 25.6vw;
  padding: 0px 4px 0px 4px;
  padding: 0vw 1.06667vw 0vw 1.06667vw;
}

.mg-mv-slide-nav.mg-mod-minimal span {
  top: calc(100% + 6px);
  top: calc(100% + 1.6vw);
  bottom: auto;
  left: 0;
  margin: 0;
  -webkit-transform: translate3d(38px, 0, 0);
          transform: translate3d(38px, 0, 0);
  -webkit-transform: translate3d(10.13333vw, 0, 0);
          transform: translate3d(10.13333vw, 0, 0);
}

.mg-mv-loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mg-mv-loading span {
  background-color: #ed3f55;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loading 1.4s infinite ease-in-out;
          animation: loading 1.4s infinite ease-in-out;
  width: 12px;
  width: 3.2vw;
  height: 12px;
  height: 3.2vw;
  margin: 0px 7px 0px 7px;
  margin: 0vw 1.86667vw 0vw 1.86667vw;
}

.mg-mv-loading span:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.mg-mv-loading span:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.mg-mv-loading span:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.mg-mv .mv-top-senyo {
  padding:1vw;
  background-color: #eb4158;
}
.mg-mv .mv-top-senyo p {
  text-align:center;
  font-size:3.5vw;
  color:#ffffff;
}


.mg-news {
  position: relative;
  background-color: #fff;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-news-inside {
  position: relative;
}

.mg-news-title {
  margin-bottom: 22px;
  margin-bottom: 5.86667vw;
}

.mg-news-title img {
  width: 71px;
  width: 18.93333vw;
}

.mg-news-link {
  position: absolute;
  top: 0;
  right: 0;
}

.mg-news-link a {
  padding: 7px 17px 7px 17px;
  padding: 1.86667vw 4.53333vw 1.86667vw 4.53333vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-news-list {
  margin-bottom: 48px;
  margin-bottom: 12.8vw;
}

.mg-news-item {
  border-bottom: 1px solid #e8ddde;
}

.mg-news-item a {
  display: block;
  padding-top: 12px;
  padding-top: 3.2vw;
  padding-bottom: 12px;
  padding-bottom: 3.2vw;
}

.mg-news-date {
  color: #ed3f55;
  margin-bottom: 2px;
  margin-bottom: 0.53333vw;
  font-size: 14px;
  font-size: 3.73333vw;
  font-family: 'Amiri', serif;
}

.mg-news-summary {
  color: #6f3e45;
  font-size: 12px;
  font-size: 3.2vw;
}

.mg-news-banner a {
  display: block;
}

.mg-news-banner img {
  width: 100%;
}
