.mg-page-header-title img {
  width: 155px;
  width: 41.33333vw;
}

.mg-page-header-image-inside {
  height: 400px;
  height: 106.66667vw;
  background-image: url(../img/migrate/about/bg01.jpg);
}

.mg-about-section {
  position: relative;
  padding-top: 70px;
  padding-top: 18.66667vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-about-title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 30px;
  margin-bottom: 8vw;
}

.mg-about-title-icon {
  position: absolute;
  left: 50%;
  width: 192px;
  width: 51.2vw;
  height: 192px;
  height: 51.2vw;
  top: -65px;
  top: -17.33333vw;
  margin-left: -96px;
  margin-left: -25.6vw;
}

.mg-about-title-icon img {
  width: 100%;
}

.mg-about-text {
  line-height: 2;
  text-align: center;
  margin: 0 -1em;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-about-notice {
  margin-top: 20px;
  margin-top: 5.33333vw;
}

.mg-about-notice li {
  line-height: 1.5;
  text-align: center;
  font-size: 12px;
  font-size: 3.2vw;
}

.mg-about-image {
  height: 240px;
  height: 64vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-about-image-inside.mod01 {
  background-image: url(../img/migrate/about/bg02.jpg);
  height: 360px;
  height: 96vw;
}

.mg-about-image-inside.mod02 {
  background-image: url(../img/migrate/about/bg03.jpg);
  height: 400px;
  height: 106.66667vw;
}

.mg-about-state {
  position: absolute;
  border: 1px solid #ed3f55;
  border-radius: 50%;
  top: 50%;
  height: 16px;
  height: 4.26667vw;
  width: 16px;
  width: 4.26667vw;
  right: 16px;
  right: 4.26667vw;
  margin-top: -8px;
  margin-top: -2.13333vw;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-about-state:before, .mg-about-state:after {
  content: "";
  width: 43.75%;
  height: 1px;
  background-color: #ed3f55;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-about-state:before {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mg-about-state:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.mg-about-item.is-selected {
  color: #fff;
  background-color: #ed3f55;
}

.mg-about-item.is-selected .mg-about-state {
  border-color: #fff;
}

.mg-about-item.is-selected .mg-about-state:before, .mg-about-item.is-selected .mg-about-state:after {
  background-color: #fff;
}

.mg-about-item.is-selected .mg-about-state:before {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.mg-about-item.is-selected .mg-about-state:after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.mg-about-tooltip {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  line-height: 2;
  color: #ed3f55;
  background-color: #fff;
  border: 1px solid #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  padding: 5.33333vw;
  margin-top: 12px;
  margin-top: 3.2vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-about-tooltip:after, .mg-about-tooltip:before {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  margin-left: -12px;
  pointer-events: none;
}

.mg-about-tooltip:before {
  bottom: 100%;
  border-bottom-color: #ed3f55;
  border-width: 0 10px 20px 10px;
}

.mg-about-tooltip:after {
  bottom: calc(100% - 2px);
  border-bottom-color: #fff;
  border-width: 0 10px 20px 10px;
}

.mg-about-tooltip a {
  color: #ed3f55;
  text-decoration: underline;
}

.mg-premium {
  position: relative;
}

.mg-premium .mg-about-title img {
  width: 237px;
  width: 63.2vw;
}

.mg-premium-list {
  margin-top: 37px;
  margin-top: 9.86667vw;
}

.mg-premium-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ed3f55;
  border-radius: 8px;
  background-color: #fcf0f0;
  cursor: pointer;
  padding: 10px 40px 10px 12px;
  padding: 2.66667vw 10.66667vw 2.66667vw 3.2vw;
}

.mg-premium-item:nth-child(n+2) {
  margin-top: 12px;
  margin-top: 3.2vw;
}

.mg-premium-item em {
  font-weight: bold;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-premium-icon {
  display: block;
  text-align: center;
  width: 52px;
  width: 13.86667vw;
  height: 52px;
  height: 13.86667vw;
  margin-right: 12px;
  margin-right: 3.2vw;
}

.mg-research {
  position: relative;
}

.mg-research .mg-about-title img {
  width: 282px;
  width: 75.2vw;
}

.mg-research-list {
  margin-top: 44px;
  margin-top: 11.73333vw;
}

.mg-research-item {
  position: relative;
  font-weight: bold;
  color: #ed3f55;
  border-radius: 8px;
  background: #fcf0f0 url(../img/migrate/about/research/no1.png) -3% 96% no-repeat;
  background-size: 29% auto;
  cursor: pointer;
  padding: 23px;
  padding: 6.13333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-size: 4.8vw;
}

.mg-research-item:nth-child(n+2) {
  margin-top: 12px;
  margin-top: 3.2vw;
}

.mg-research-item.is-selected {
  background-image: url(../img/migrate/about/research/no1_on.png);
}

.mg-statement .mg-about-title img {
  width: 193px;
  width: 51.46667vw;
}

.mg-statement-list {
  margin-top: 37px;
  margin-top: 9.86667vw;
}

.mg-statement-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ed3f55;
  border-radius: 8px;
  background-color: #fcf0f0;
  cursor: pointer;
  padding: 10px 40px 10px 12px;
  padding: 2.66667vw 10.66667vw 2.66667vw 3.2vw;
}

.mg-statement-item:nth-child(n+2) {
  margin-top: 12px;
  margin-top: 3.2vw;
}

.mg-statement-item em {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  line-height: 1.5;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-statement-icon {
  display: block;
  text-align: center;
  width: 52px;
  width: 13.86667vw;
  height: 52px;
  height: 13.86667vw;
  margin-right: 12px;
  margin-right: 3.2vw;
}
