.mg-page-header-title img {
  width: 234px;
  width: 62.4vw;
}

.mg-page-header-image-inside {
  height: 340px;
  height: 90.66667vw;
  background-image: url(../img/migrate/course/bg01.jpg);
}

.mg-course {
  padding-top: 63px;
  padding-top: 16.8vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-course-label {
  margin-bottom: 47px;
  margin-bottom: 12.53333vw;
}

.mg-course-label img {
  width: 100%;
}

.mg-course-box-link a {
  width: 100%;
  padding-top: 14px;
  padding-top: 3.73333vw;
  padding-bottom: 14px;
  padding-bottom: 3.73333vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-box-small {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 15px 15px 15px;
  padding:5vw 4vw;
}

.mg-course-box-small:nth-child(1) .mg-course-box-small-title img {
  width: 204px;
  width: 54.4vw;
}

.mg-course-box-small:nth-child(2) .mg-course-box-small-title img {
  width: 240px;
  width: 64vw;
}

.mg-course-box-small:nth-child(n+2) {
  margin-top: 16px;
  margin-top: 4.26667vw;
}

.mg-course-box-small-title {
  margin-bottom: 16px;
  margin-bottom: 4.26667vw;
}

.mg-course-box-small-text {
  line-height: 2;
  margin-bottom: 10px;
  margin-bottom: 2.66667vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-box-small-price {
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  font-size: 20px;
  font-size: 5.33333vw;
}

.mg-course-box-small-price span {
  font-size: 75%;
}

.mg-course-box-small-icon {
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-12px, 12px) scale(0.8);
      -ms-transform: translate(-12px, 12px) scale(0.8);
          transform: translate(-12px, 12px) scale(0.8);
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 60px;
  width: 16vw;
  height: 60px;
  height: 16vw;
  top: -14px;
  top: -3.73333vw;
  right: -36px;
  right: -9.6vw;
}

.mg-course-box-small-icon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-box-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 293px;
  min-height: 78.13333vw;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-title img {
  width: 131px;
  width: 34.93333vw;
}

.mg-course-box-large.mg-mod-face .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/face/thumb.jpg);
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-title img {
  width: 150px;
  width: 40vw;
}

.mg-course-box-large.mg-mod-ude .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ude/thumb.jpg);
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-title img {
  width: 149px;
  width: 39.73333vw;
}

.mg-course-box-large.mg-mod-ashi .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/ashi/thumb.jpg);
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-title img {
  width: 148px;
  width: 39.46667vw;
}

.mg-course-box-large.mg-mod-vio .mg-course-box-large-thumb {
  background-image: url(../img/migrate/index/course/vio/thumb.jpg);
}

.mg-course-box-large:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 5.33333vw;
}

.mg-course-box-large-thumb {
  width: 37.5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-box-large-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  padding: 6.4vw;
}

.mg-course-box-large-title {
  margin-bottom: 15px;
  margin-bottom: 4vw;
}

.mg-course-box-large-text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 2;
  margin-bottom: 25px;
  margin-bottom: 6.66667vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-course-box-large .mg-course-box-link a {
  padding-top: 7px;
  padding-top: 1.86667vw;
  padding-bottom: 7px;
  padding-bottom: 1.86667vw;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-course-zenshin {
  position: relative;
  background-color: #fcf0f0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
  padding: 40px 15px 15px 15px;
  padding: 10.66667vw 4vw 4vw 4vw;
}

.mg-course-zenshin-title {
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 6.4vw;
}

.mg-course-zenshin-title img {
  width: 260px;
  width: 69.33333vw;
}

.mg-course-zenshin-text {
  line-height: 2;
  text-align: center;
  margin-bottom: 25px;
  margin-bottom: 6.66667vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-course-zenshin-illust {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-bottom: 8vw;
}

.mg-course-zenshin-illust img {
  width: 100%;
}

.mg-course-zenshin-balloon {
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-24px, 24px) scale(0.8);
      -ms-transform: translate(-24px, 24px) scale(0.8);
          transform: translate(-24px, 24px) scale(0.8);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 80px;
  width: 21.33333vw;
  height: 80px;
  height: 21.33333vw;
  top: -39px;
  top: -10.4vw;
  right: -20px;
  right: -5.33333vw;
}

.mg-course-zenshin-balloon.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.mg-course-partial {
  margin-bottom: 40px;
  margin-bottom: 10.66667vw;
}

.mg-course-part {
  margin-top: 64px;
  margin-top: 17.06667vw;
}

.mg-course-part-item {
  overflow: hidden;
  border-radius: 8px;
}

.mg-course-part-item:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 5.33333vw;
}

.mg-course-part-item.mod-front .mg-course-part-title img {
  width: 37px;
  width: 9.86667vw;
}

.mg-course-part-item.mod-front .mg-course-part-main {
  background-image: url(../img/migrate/course/body_front.png);
}

.mg-course-part-item.mod-back .mg-course-part-title img {
  width: 37px;
  width: 9.86667vw;
}

.mg-course-part-item.mod-back .mg-course-part-main {
  background-image: url(../img/migrate/course/body_back.png);
}

.mg-course-part-item.mod-back .mg-course-part-selector.mod-left {
  padding-bottom: 34px;
  padding-bottom: 9.06667vw;
}

.mg-course-part-item.mod-back .mg-course-part-selector.mod-right {
  padding-bottom: 44px;
  padding-bottom: 11.73333vw;
}

.mg-course-part-title {
  background-color: #ed3f55;
  height: 48px;
  height: 12.8vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-course-part-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fcf0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 366px;
  height: 97.6vw;
  padding: 0px 12px 0px 12px;
  padding: 0vw 3.2vw 0vw 3.2vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-course-part-selector li {
  width: 80px;
  width: 21.33333vw;
}

.mg-course-part-selector li:nth-child(n+2) {
  margin-top: 8px;
  margin-top: 2.13333vw;
}

.mg-course-part-selector li a {
  position: relative;
  z-index: 2;
  line-height: 1.2;
  white-space: nowrap;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  padding: 1.33333vw 0vw 1.33333vw 0vw;
  font-size: 10px;
  font-size: 2.66667vw;
}
