.mg-page-header-title img {
  width: 147px;
  width: 39.2vw;
}

.mg-page-header-image-inside {
  height: 280px;
  height: 74.66667vw;
  background-image: url(../img/migrate/service/bg01.jpg);
}

.mg-service {
  padding-top: 55px;
  padding-top: 14.66667vw;
  padding-bottom: 70px;
  padding-bottom: 18.66667vw;
}

.mg-service-text {
  text-align: center;
  line-height: 2;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-feature-list {
  margin-top: 38px;
  margin-top: 10.13333vw;
  margin-bottom: 64px;
  margin-bottom: 17.06667vw;
}

.mg-feature-item {
  border-radius: 8px;
  background-color: #fcf0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 25px 18px 25px;
  padding: 6.4vw 6.66667vw 4.8vw 6.66667vw;
}

.mg-feature-item:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 5.33333vw;
}

.mg-feature-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  margin-bottom: 4.8vw;
}

.mg-feature-icon {
  width: 72px;
  width: 19.2vw;
}

.mg-feature-icon img {
  width: 100%;
}

.mg-feature-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  line-height: 1.5;
  color: #ed3f55;
  padding-left: 18px;
  padding-left: 4.8vw;
  font-size: 18px;
  font-size: 4.8vw;
}

.mg-feature-text {
  line-height: 2;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-feature-notice {
  margin-top: 6px;
  margin-top: 1.6vw;
}

.mg-feature-notice li {
  line-height: 2;
  text-indent: -.6em;
  padding-left: .6em;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-support-title {
  margin-bottom: 48px;
  margin-bottom: 12.8vw;
}

.mg-support-title img {
  width: 100%;
}

.mg-support-item:nth-child(n+2) {
  margin-top: 40px;
  margin-top: 10.66667vw;
}

.mg-support-thumb {
  margin-bottom: 26px;
  margin-bottom: 6.93333vw;
}

.mg-support-thumb img {
  width: 100%;
}

.mg-support-label {
  font-weight: bold;
  color: #ed3f55;
  margin-bottom: 14px;
  margin-bottom: 3.73333vw;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-support-text {
  line-height: 1.8;
  font-size: 14px;
  font-size: 3.73333vw;
}
