.mg-button-pink {
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-button-pink-cv {
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff9321;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.mg-button-white {
  color: #ed3f55;
  background-color: #fff;
  border: 1px solid #ed3f55;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: block;
}

.mg-page {
  max-width: 768px;
  margin: 0 auto;
}

.mg-page-inside {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  width: 85.33333vw;
}

.mg-page-header-title {
  height: 150px;
  height: 40vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-page-header-image {
  height: 240px;
  height: 64vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-page-moving-frame {
  position: relative;
  overflow: hidden;
  background-color: #fcf0f0;
}

.mg-page-moving-frame.mg-mod-reverse .mg-page-moving-image {
  top: 0;
  bottom: auto;
}

.mg-page-moving-image {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  will-change: transform;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-page-moving-image.is-loaded {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.mg-page-aside {
  background-color: #fbf5f6;
  padding-top: 50px;
  padding-top: 13.33333vw;
  padding-bottom: 50px;
  padding-bottom: 13.33333vw;
}

.mg-page-links {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  width: 85.33333vw;
}

.mg-page-links li:nth-child(n+2) {
  margin-top: 8px;
  margin-top: 2.13333vw;
}

.mg-page-links li a {
  line-height: 1.5;
  padding: 14px;
  padding: 3.73333vw;
  font-size: 14px;
  font-size: 3.73333vw;
}
