@charset "UTF-8";
.mg-salon-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-salon-nav li {
  width: 48.75%;
}

.mg-salon-nav li:nth-child(n+2) {
  margin-top: 2.5%;
}

.mg-salon-nav li.mod-full {
  width: 100%;
}

.mg-salon-nav li a {
  width: 100%;
  padding-top: 17px;
  padding-top: 4.53333vw;
  padding-bottom: 17px;
  padding-bottom: 4.53333vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  background: none;
}

.mg-main {
  overflow: hidden;
  padding-top:17.33333vw;
}

.mg-aside-salon {
  position: relative;
  z-index: 1;
}

.mg-aside-salon-inside {
  position: relative;
  z-index: 1;
}

.mg-aside-salon-bg.mg-page-moving-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mg-aside-salon-bg-inside {
  height: 775px;
  height: 206.66667vw;
}

.mg-aside-salon-search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-top: 21.33333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-aside-salon-title {
  text-align: center;
  margin-bottom: 46px;
  margin-bottom: 12.26667vw;
}

.mg-aside-salon-title img {
  width: 163px;
  width: 43.46667vw;
}

.mg-aside-reserve {
  background-color: #fcf0f0;
  padding-top: 32px;
  padding-top: 8.53333vw;
  padding-bottom: 32px;
  padding-bottom: 8.53333vw;
}

.mg-aside-reserve-button a {
  padding-top: 42px;
  padding-top: 11.2vw;
  padding-bottom: 42px;
  padding-bottom: 11.2vw;
  font-size: 19px;
  font-size: 5.06667vw;
}

.mg-aside-reserve-button a:before {
  content: "";
  background-image: url(../img/migrate/footer/icon_reserve.png);
  width: 24px;
  width: 6.4vw;
  height: 24px;
  height: 6.4vw;
  margin-right: 8px;
  margin-right: 2.13333vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-footer {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-top: 45px;
  padding-top: 9.46667vw;
  padding-bottom: 120px;
  padding-bottom: 32vw;
}

.mg-footer .mg-page-inside {
  width: 90.53333vw;
}


.mg-footer-tel {
  margin-bottom: 37px;
  margin-bottom: 10.66667vw;
}

.mg-footer-tel a {
  display: block;
}

.mg-footer-tel img {
  width: 100%;
}

.mg-footer-share {
  margin-bottom: 32px;
  margin-bottom: 6vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-footer-share li:nth-child(n+2) {
  margin-left: 20px;
  margin-left: 7.2vw;
}

.mg-footer-share a {
  background-color: #6f3e45;
  border-radius: 50%;
  width: 40px;
  width: 13.73333vw;
  height: 40px;
  height: 13.73333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-footer-share img {
  width: 100%;
}

.mg-footer-nav {
  margin-bottom: 32px;
  margin-bottom: 8.53333vw;
}

.mg-footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mg-footer-menu:nth-child(n+2) {
  margin-top: 12px;
  margin-top: 3.2vw;
}

.mg-footer-menu li:nth-child(n+2) {
  margin-left: 22px;
  margin-left: 5.86667vw;
}

.mg-footer-menu a {
  color: #6f3e45;
  font-size: 12px;
  font-size: 3.2vw;
}

.mg-footer-banners {
  margin-bottom: 32px;
  margin-bottom: 8.53333vw;
}

.mg-footer-banners li {
  width: 100%;
  text-align: center;
}

.mg-footer-banners li:nth-child(n+2) {
  margin-top: 12px;
  margin-top: 3.2vw;
}

.mg-footer-copyright {
  text-align: center;
  color: #6f3e45;
  font-size: 10px;
  font-size: 2.66667vw;
}

.mg-header-main {
  background-color: #d01026;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  height: 65px;
  height: 17.33333vw;
  padding-left: 12px;
  padding-left: 3.2vw;
  width:100vw;
  top:0;
}

.mg-header-logo img {
  width: 25vw;
}

.mg-header-burger {
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  border: 0;
  outline: none;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 12px rgba(112, 62, 68, 0.2);
          box-shadow: 4px 4px 12px rgba(112, 62, 68, 0.2);
  width: 40px;
  width: 10.66667vw;
  height: 40px;
  height: 10.66667vw;
  top: 12px;
  top: 3.2vw;
  right: 12px;
  right: 3.2vw;
}

.mg-header-burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../img/migrate/header/burger_line.png);
  width: 18px;
  width: 4.8vw;
  height: 3px;
  height: 0.8vw;
  margin-top: -2px;
  margin-top: -0.53333vw;
  margin-left: -9px;
  margin-left: -2.4vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-header-burger span:nth-child(1) {
  -webkit-transform: translateY(-180%);
      -ms-transform: translateY(-180%);
          transform: translateY(-180%);
}

.mg-header-burger span:nth-child(3) {
  -webkit-transform: translateY(180%);
      -ms-transform: translateY(180%);
          transform: translateY(180%);
}

.mg-gnav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #d01026;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 28px 120px 28px;
  padding: 13.33333vw 7.46667vw 32vw 7.46667vw;
  overflow-x: hidden;
}

.mg-gnav.is-active {
  display: block;
}

.mg-gnav-logo {
  margin-bottom: 42px;
  margin-bottom: 11.2vw;
}

.mg-gnav-logo img {
  width: 146px;
  width: 38.93333vw;
}

.mg-gnav-flower {
  position: absolute;
  z-index: -1;
  bottom: 82px;
  bottom: 21.86667vw;
  right: -64px;
  right: -17.06667vw;
  width: 239px;
  width: 63.73333vw;
}

.mg-gnav-menu li:nth-child(n+2) {
  margin-top: 32px;
  margin-top: 8.53333vw;
}

.mg-gnav-menu li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
  padding-left: 2.66667vw;
  font-size: 16px;
  font-size: 4.26667vw;
}

.mg-gnav-menu li a:before {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  width: 4px;
  width: 1.06667vw;
  height: 4px;
  height: 1.06667vw;
  margin-right: 10px;
  margin-right: 2.66667vw;
}

.mg-gnav-buttons {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  bottom: -1px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mg-gnav-buttons li {
  width: 50%;
}

.mg-gnav-buttons li a {
  width: 100%;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 374px) {
  .mg-gnav-buttons li a {
    height: 55px;
    height: 14.66667vw;
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

@media only screen and (min-width: 375px) {
  .mg-gnav-buttons li a {
    height: 55px;
    font-size: 14px;
  }
}

.mg-gnav-buttons li.mod-salon a {
  color: #f03c51;
  border-top: 1px solid #f03c51;
  background-color: #fff;
}

.mg-gnav-buttons li.mod-salon a:before {
  content: "";
  background-image: url(../img/migrate/header/icon_salon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 374px) {
  .mg-gnav-buttons li.mod-salon a:before {
    width: 14px;
    width: 3.73333vw;
    height: 18px;
    height: 4.8vw;
    margin-right: 7px;
    margin-right: 1.86667vw;
  }
}

@media only screen and (min-width: 375px) {
  .mg-gnav-buttons li.mod-salon a:before {
    width: 14px;
    height: 18px;
    margin-right: 7px;
  }
}

.mg-gnav-buttons li.mod-reserve a {
  color: #fff;
  background-color: #f03c51;
}

.mg-gnav-buttons li.mod-reserve a:before {
  content: "";
  background-image: url(../img/migrate/header/icon_reserve.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 374px) {
  .mg-gnav-buttons li.mod-reserve a:before {
    width: 18px;
    width: 4.8vw;
    height: 18px;
    height: 4.8vw;
    margin-right: 7px;
    margin-right: 1.86667vw;
  }
}

@media only screen and (min-width: 375px) {
  .mg-gnav-buttons li.mod-reserve a:before {
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }
}


.header-cvbox {
    color:#d01027;
    background:#fff;
    margin:0 4vw;
    width:32vw;
    height:13.33333vw;
    font-size: 3.3vw;
    font-weight: bold;
    text-align:center;
    vertical-align: middle;
    border-radius: 4px;
}
.flexiblebox {
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}
