.mg-page-header-title img {
  width: 163px;
  width: 43.46667vw;
}

.mg-page-header-image-inside {
  height: 400px;
  height: 106.66667vw;
  background-image: url(../img/migrate/campaign/bg01.jpg);
}

.mg-campaign {
  padding-top: 40px;
  padding-top: 10.66667vw;
  padding-bottom: 32px;
  padding-bottom: 8.53333vw;
}

.mg-campaign-text {
  line-height: 2;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-campaign-notice {
  line-height: 2;
  margin-top: 4px;
  margin-top: 1.06667vw;
  font-size: 10px;
  font-size: 2.66667vw;
}

.mg-campaign-banner {
  margin-top: 42px;
  margin-top: 11.2vw;
}

.mg-campaign-banner-large li {
  margin-bottom: 16px;
  margin-bottom: 4.26667vw;
}

.mg-campaign-banner-large li.mg-dummy {
  overflow: hidden;
  border-radius: 4px;
}

.mg-campaign-banner-small li:nth-child(n+2) {
  margin-top: 16px;
  margin-top: 4.26667vw;
}

.mg-campaign-banner img {
  width: 100%;
}
