.mg-page-header-title img {
  width: 165px;
  width: 44vw;
}

.mg-page-header-image-inside {
  height: 400px;
  height: 106.66667vw;
  background-image: url(../img/migrate/salon/bg01.jpg);
}

.mg-aside-salon-search {
  display: none;
}

.mg-salon {
  padding-top: 63px;
  padding-top: 16.8vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-salon-header {
  margin-bottom: 42px;
  margin-bottom: 11.2vw;
}

.mg-salon-image {
  height: 200px;
  height: 53.33333vw;
}

.mg-salon-image-inside {
  background-image: url(../img/migrate/salon/bg02.jpg);
  height: 400px;
  height: 106.66667vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mg-salon-region-item {
  padding-top: 22px;
  padding-top: 5.86667vw;
}

.mg-salon-region-item:nth-child(n+2) {
  margin-top: 40px;
  margin-top: 10.66667vw;
}

.mg-salon-region-title {
  margin-bottom: 20px;
  margin-bottom: 5.33333vw;
}

.mg-salon-region-title img {
  width: 100%;
}

.mg-salon-prefecture-title,
.mg-salon-shop-item a {
  display: block;
  position: relative;
  padding: 18px 28px 18px 28px;
  padding: 4.8vw 7.46667vw 4.8vw 7.46667vw;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-salon-prefecture-item:nth-child(n+2) {
  border-top: 1px solid #fff;
}

.mg-salon-prefecture-item.is-selected .mg-salon-prefecture-title:after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mg-salon-prefecture-item.is-selected .mg-salon-shop-frame {
  height: auto;
}

.mg-salon-prefecture-item a {
  color: #6f3e45;
}

.mg-salon-prefecture-title {
  color: #ed3f55;
  background-color: #fcf0f0;
}

.mg-salon-prefecture-title:before, .mg-salon-prefecture-title:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #ed3f55;
  width: 8px;
  width: 2.13333vw;
  right: 28px;
  right: 7.46667vw;
  -webkit-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mg-salon-prefecture-title:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mg-salon-prefecture-title.is-selected:before {
  opacity: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mg-salon-prefecture-title.is-selected:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mg-salon-shop-frame {
  height: 0;
  overflow: hidden;
}

.mg-salon-shop-item {
  padding-top: 1px;
  padding-top: 0.26667vw;
}

.mg-salon-shop-item:nth-child(n+2) {
  background-image: -webkit-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: -o-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: linear-gradient(to right, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-size: 2px 1px;
  background-position: top;
  background-repeat: repeat-x;
}

.mg-salon-shop-item a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-top: 1px solid #ed3f55;
  border-right: 1px solid #ed3f55;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  width: 1.6vw;
  height: 6px;
  height: 1.6vw;
  right: 28px;
  right: 7.46667vw;
  margin-top: -3px;
  margin-top: -0.8vw;
}

.mg-salon-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mg-salon-nav li {
  width: 48.75%;
}

.mg-salon-nav li:nth-child(n+2) {
  margin-top: 2.5%;
}

.mg-salon-nav li.mod-full {
  width: 100%;
}

.mg-salon-nav li a {
  width: 100%;
  padding-top: 17px;
  padding-top: 4.53333vw;
  padding-bottom: 17px;
  padding-bottom: 4.53333vw;
  font-size: 14px;
  font-size: 3.73333vw;
}




.mg-salon-newopen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-top: 10vw;
}

.mg-salon-newopen a {
  border-radius: 6px;
  padding: 11px 20px 11px 20px;
  padding: 2.93333vw 5.33333vw 2.93333vw 5.33333vw;
  font-size: 13px;
  font-size: 3.46667vw;
}