.mg-page-header-title img {
  width: 128px;
  width: 34.13333vw;
}

.mg-page-header-image-inside {
  height: 400px;
  height: 106.66667vw;
  background-image: url(../img/migrate/faq/bg01.jpg);
}

.mg-faq {
  padding-top: 56px;
  padding-top: 14.93333vw;
  padding-bottom: 80px;
  padding-bottom: 21.33333vw;
}

.mg-faq-title {
  margin-bottom: 17px;
  margin-bottom: 4.53333vw;
}

.mg-faq-title img {
  width: 100%;
}

.mg-faq-text {
  line-height: 2.3;
  font-size: 14px;
  font-size: 3.73333vw;
}

.mg-faq-section {
  margin-top: 65px;
  margin-top: 17.33333vw;
}

.mg-faq-section:first-of-type {
  margin-top: 50px;
  margin-top: 13.33333vw;
}

.mg-faq-list li {
  background-image: -webkit-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: -o-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: linear-gradient(to right, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-size: 2px 1px;
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 1px;
  padding-bottom: 0.26667vw;
}

.mg-faq-list li:first-child {
  padding-top: 1px;
  padding-top: 0.26667vw;
  background-image: -webkit-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px), -webkit-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: -o-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px), -o-linear-gradient(left, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-image: linear-gradient(to right, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px), linear-gradient(to right, #e9d9db, #e9d9db 1px, transparent 1px, transparent 2px);
  background-size: 2px 1px;
  background-position: top, bottom;
  background-repeat: repeat-x;
}

.mg-faq-list a {
  display: block;
  padding: 13px 28px 13px 28px;
  padding: 3.46667vw 7.46667vw 3.46667vw 7.46667vw;
}

.mg-faq-list span {
  display: block;
  position: relative;
  padding: 0 1.7em;
  line-height: 2;
  color: #6f3e45;
  font-size: 13px;
  font-size: 3.46667vw;
}

.mg-faq-list span:before {
  content: "Q";
  position: absolute;
  top: -.18em;
  left: 0;
  color: #ed3f55;
  font-family: 'Amiri', serif;
  font-size: 18px;
  font-size: 4.8vw;
}

.mg-faq-list span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-top: 1px solid #ed3f55;
  border-right: 1px solid #ed3f55;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  width: 1.6vw;
  height: 6px;
  height: 1.6vw;
  margin-top: -3px;
  margin-top: -0.8vw;
}

.mg-faq-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-top: 6.4vw;
}

.mg-faq-more a {
  border-radius: 6px;
  padding: 11px 20px 11px 20px;
  padding: 2.93333vw 5.33333vw 2.93333vw 5.33333vw;
  font-size: 13px;
  font-size: 3.46667vw;
}
