@charset "UTF-8";

/* ---------------------------
  GINZA CALLA MODULE LIST
  @ モジュール「メインナビゲーション」
  @ バナー「予約の取りやすさ第1位を獲得」
  @ モジュール「最新コラム」「お知らせ」
  @ モジュール「お近くの店舗を探す」
  @ モジュール「お客様の声」
  @ モジュール「サロンからのメッセージ」
  @ モジュール「はじめての方にオトク」
  @ モジュール「プラン・料金」
  @ ブロック「矢印付きリスト」
  @ ブロック「お客様の声リスト」
  @ ブロック「タブ」
  @ ブロック「タブ・部位」
  @ ブロック「ラベルリスト」
	@ ブロック「人物画像」
  @ ブロック「広告ギャラリー」
--------------------------- */


/* ---------------------------
  @ モジュール「メインナビゲーション」
--------------------------- */
.main-nav {
  margin: 15px 0;
}
.main-nav ul {
  text-align: center;
  letter-spacing: -0.3em;
}
.main-nav li {
  display: inline-block;
  margin: 3.125% 1.5625% 0;
  width: 28.125%;
  vertical-align: top;
  letter-spacing: normal;
}
.main-nav li:nth-child(1),
.main-nav li:nth-child(2),
.main-nav li:nth-child(3) {
  margin-top: 0;
}
.main-nav li a {
  display: block;
  padding: 7.5% 0 2.5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: url('../img/common/bg-redstripe.png');
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.main-nav li img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
	pointer-events: none;
}
.main-nav p {
  margin-top: 2.5%;
  display: table;
  width: 100%;
  height: 2.4em;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
}
.main-nav p span {
  display: table-cell;
  vertical-align: middle;
}



/* ---------------------------
	@ バナー「予約の取りやすさ第1位を獲得」
--------------------------- */
.mod-rank {
  margin: 30px auto;
  width: 90.625%;
}
.no1img {
  width: 100%;
  margin:1% 0;
}
.mod-rank .kadomaru {
  padding:4% 3% 2%;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px #fdd2d2 solid;
}
.mod-rank .kadomaru hr {
  height: 1px;
  border: none;
  border-top: 1px #fdd2d2 solid;
}
.mod-rank .kadomaru .clearfix {
  zoom: 1;
}
.mod-rank .kadomaru .clearfix:after {
  content: "";
  display: block;
  clear: both;
  margin-bottom:1%;
}
.mod-rank .kadomaru .inner {
  width:49.5%;
  float:left;
  text-align:center;
  font-size:85%;
  font-weight:bold;
  color:#d71f21;
  background-color:#fce8e9;
  padding:2px 0;
  maegin-right:1%;
}
.mod-rank .kadomaru .right {
  float:right;
  width:49.5%;
  text-align:center;
  font-size:85%;
  font-weight:bold;
  color:#d71f21;
  background-color:#fce8e9;
  padding:2px 0;
}
.p-main {
  color:#333333;
  text-align:center;
  font-size:85%;
  font-weight:bold;
  margin-bottom:1%;
}
.p-sub {
  color:#333333;
  text-align:center;
  font-size:70%;
}
.kadomaru > .flex{
  display:flex;
  align-items: center;
  justify-content: center;
}
.kadomaru > .no1-div{
  font-size: 5vw;
  margin:0 auto;
  color: #333333;
}
.kadomaru > .no1-div > .p1{
  width: 65%;
  font-weight: bold;
  font-size: 7vw;
  text-align:center;
  line-height: 1.7em;
}
.no1-div > .p1 > .span1{
  background: #d01027;
  color:#fff;
  padding: 2% 11%;
  font-weight: normal;
}
.no1-div > .p1 > .span2{
  color: #d01027;
  font-size:10vw;
}
.p-no1-img{
  width: 34%;
}
.wide-inner{
  margin:0 auto 1%;
  float: none;
  width:100%;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  color: #d71f21;
  background-color: #fce8e9;
  padding: 2px 0;
}
/* ---------------------------
  @ モジュール「最新コラム」「お知らせ」
--------------------------- */

/*	Layout
-----------------------------*/
.mod-list {
  margin: 30px 0;
  overflow: hidden;
}
.mod-list-body {
  padding: 20px 4.6875%;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-list-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}


/*	Table
-----------------------------*/
.mod-list-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.mod-list-body tr {
  border-top: 1px dotted #d01027;
}
.mod-list-body tr:first-child {
  border: 0;
}


/*	Table Head
-----------------------------*/
.mod-list-body th {
  padding: 10px 0;
  width: 60px;
  line-height: 1.2;
  border-right: 1px solid transparent;
}
.mod-list-body th > span {
  display: table;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.mod-list-body th > span > span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
}
.mod-list-news th > span {
  background: #bea899;
  color: #fff;
}
.mod-list-body .column-box01 th span{
  background: url('../img/index/sp_top_column_img_01.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box02 th span{
  background: url('../img/index/sp_top_column_img_02.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box03 th span{
  background: url('../img/index/sp_top_column_img_03.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box04 th span{
  background: url('../img/index/sp_top_column_img_04.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box05 th span{
  background: url('../img/index/sp_top_column_img_05.png') no-repeat;
  background-size: 60px 38px;
}

/*	Table Cell
-----------------------------*/
.mod-list-body td {
  padding: 10px 0 10px 12px;
}
.mod-list-body a,
.mod-list-date,
.mod-list-text {
  display: inline-block;
  color: #333333;
}
.mod-list-body a.btn-stripe {
  display: block;
  color: #fff;
}
.mod-list-body a:hover {
  text-decoration: underline;
}
.mod-list-body a:visited {
  text-decoration: none;
}




/* ---------------------------
  @ モジュール「お近くの店舗を探す」
--------------------------- */
.mod-search {
  margin: 32px 0 0;
  padding: 17px 0 40px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
}
.mod-search h2 {
  margin-bottom: 17px;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}
.mod-search h2:before {
  margin-right: 5px;
}
.mod-search ul {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -0.4em;
}
.mod-search li {
  display: inline-block;
  margin: 0 5px 10px;
  width: 90px;
  letter-spacing: normal;
}




/* ---------------------------
  @ モジュール「お客様の声」
--------------------------- */
.mod-voice {
	margin: 30px 0;
}
.mod-voice .btn-stripe {
	margin-top: 12px;
}
.mod-voice-body {
  margin-bottom: 20px;
  padding: 17px 4.6875% 20px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-voice-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}
.mod-voice dl {
	background: #fbe8e8;
	padding: 20px 3.44827% 18px 100px;
	margin-top: 13px;
	position: relative;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
}
.mod-voice dt {
	color: #d01027;
	font-size: 16px;
	margin-bottom: 5px;
}
.mod-voice .image {
	width: 79px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -39.5px;
}




/* ---------------------------
  @ モジュール「サロンからのメッセージ」
--------------------------- */
.mod-message p {
	padding: 20px 6.03448% 18px;
	margin-top: 13px;
	background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
}
.mod-message-body {
  margin-bottom: 20px;
  padding: 17px 4.6875% 20px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-message-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}



/* ---------------------------
  @ モジュール「はじめての方にオトク」
--------------------------- */
.mod-beginner {
	padding: 0 4.6875%;
	margin: 25px 0;
}
.mod-beginner h2 {
	padding-bottom: 5px;
	border-bottom: #d01027 1px solid;
	line-height: 1.2;
	text-align: center;
	font-size: 20px;
	color: #d01027;
	margin-bottom: 13px;
}
.mod-beginner ul {
	overflow: hidden;
}
.mod-beginner li {
	width: 49%;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
}
.mod-beginner a {
	display: block;
	position: relative;
}
.mod-beginner li img {
	width: 100%;
	height: auto;
}
.mod-beginner li:first-child ,
.mod-beginner li:nth-child(2) {
	margin-top: 0;
}
.mod-beginner li:nth-child(2n+1) {
	margin-left: 0;
}
.mod-beginner a:after {
	content: "";
	display: block;
	width: 10.5px;
	height: 14.5px;
	background: url('../img/common/arrow-red-m.png') no-repeat;
	background-position: right center;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 1.5%;
	margin-top: -7px;
}



/* ---------------------------
  @ モジュール「プラン・料金」
--------------------------- */
.mod-plan {
	padding: 0 4.6875%;
	margin: 25px 0 30px;
}
.mod-plan h2 {
	padding-bottom: 5px;
	border-bottom: #d01027 1px solid;
	line-height: 1.2;
	text-align: center;
	font-size: 20px;
	color: #d01027;
	margin-bottom: 13px;
}
/* mod-plan-body */
.mod-plan-body {
	margin-bottom: 30px;
	margin-right: -1%;
	margin-left: -1%;
	overflow: hidden;
}
/* wide */
.mod-price-block.wide {
	margin: 0 1%;
	width: 98%;
}
.mod-price-block.wide em {
	width: 100%;
	position: relative;
}
.mod-price-block.wide em span:before ,
.mod-price-block.wide em span:after {
	content: "";
	display: inline-block;
	background: url('../img/common/icon-diamond.png') no-repeat;
	background-size: contain;
	background-position: left center;
	width: 8.5px;
	height: 11px;
}
.mod-price-block.wide em span:before {
	position: absolute;
	top: 50%;
	left: 4px;
	margin-top: -5px;
}
.mod-price-block.wide em span:after {
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -5px;
}
.mod-price-block.wide div {
	padding: 10px 5% 8px 3.44875%;
}
.mod-price-recommend > div:after ,
.mod-price-popular > div:after {
	content: "";
	display: block;
	width: 10.5px;
	height: 14.5px;
	background: url('../img/common/arrow-red-m.png') no-repeat;
	background-position: right center;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 1.5%;
	margin-top: -7px;
}
.mod-price-block.wide h3 {
	font-size: 24px;
}
/* wide-inner */
.mod-price-block.wide .wide-inner {
	width: 100%;
	padding: 0;
	display: table;
	box-sizing: border-box;
}
/* wide-icon */
.mod-price-block.wide .wide-icon ,
.mod-price-block.wide .wide-title {
	vertical-align: middle;
	padding: 0;
	display: table-cell;
}
.mod-price-block.wide .wide-icon {
	width: 100px;
}
.mod-price-block.wide .wide-title {
	padding-left: 3%;
}
/* mod-price-block */
.mod-price-block {
	width: 48%;
	margin: 9px 1% 0;
	float: left;
	display: block;
}
.mod-price-block div {
	background: #faf6ec;
	padding: 8px 7.14285% 6px;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
	position: relative;
}
.mod-price-block em {
	display: block;
	padding: 2px 0 1px;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
}
.mod-price-block h3 {
	margin: 7px 0;
	line-height: 1;
	padding-bottom: 1px;
	border-bottom: #d01027 1px solid;
	letter-spacing: -1px;
	font-size: 17px;
	color: #d01027;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mod-price-block li {
  letter-spacing: -0.04em;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
/* mod-price-recommend */
.mod-price-recommend em {
	width: 75px;
	background: #d01027;
	border: #d01027 1px solid;
	color: #fff;
}
/* .mod-price-popular */
.mod-price-popular em {
	width: 75px;
	background: #fff;
	border: #d01027 1px solid;
	color: #d01027;
}










/* ---------------------------
  @ ブロック「矢印付きリスト」
--------------------------- */
.block-arrow-list {
  margin-top: -2px; /* Hide Dotted Border */
}
.block-arrow-list-title {
  padding: 10px 0 12px;
  border-top: 1px solid #d01027;
  background: url("../img/salon/common/bg-rounded-stripe.png") repeat-x top center;
  background-size: 28px 44px;
  line-height: 1.25;
  text-align: center;
  font-size: 18px;
}
.block-arrow-list li,
.block-arrow-list dd,
.block-arrow-list section {
border-bottom: 1px dashed #FB717B;
}
.block-arrow-list dt,
.block-arrow-list-pref {
margin: 10px 1.40625% 0;
border: 1px solid #d01027;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #fcefef;
line-height: 25px;
text-align: center;
color: #d01027;
}
.block-arrow-list a {
  display: block;
  padding: 18px 4.6875%;
  line-height: 1.2;
  color: #d01027;
  position: relative;
}
.block-arrow-list a:after {
  content: "";
  display: inline-block;
  padding-left: 7px;
  width: 10.5px;
  height: 14.5px;
  background: url('../img/common/arrow-red-m.png') no-repeat;
  background-position: right center;
  background-size: contain;
  position: absolute;
  right: 4.375%;
  top: 50%;
  margin-top: -7px;
}
.block-arrow-list a span {
  margin-right: 3em;
}


/*	Arrow List Border Capped
-----------------------------*/
.block-arrow-list.line-cap {
  border-top: 1px dashed #FB717B;
}


/*	Arrow List Border Top
-----------------------------*/
.block-arrow-list.line-top {
	margin-top: 30px;
}
.block-arrow-list.line-top li,
.block-arrow-list.line-top dd {
  border: 0;
  border-top: 1px dashed #FB717B;
}


/*	Arrow List Narrow
-----------------------------*/
.block-arrow-list.list-narrow a {
  padding: 12px 4.6875%;
}


/*	With Arrow Down
-----------------------------*/
.block-arrow-list-title.with-arrow-down {
  position: relative;
}
.block-arrow-list-title.with-arrow-down:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 6px 0 6px;
  border-color: #d01027 transparent transparent transparent;
  position: absolute;
  right: 4.6875%;
  top: 50%;
  margin-top: -6px;
}
.block-arrow-list-title.with-arrow-down.on:after {
  border-width: 0 6px 11px 6px;
  border-color: transparent transparent #d01027 transparent;
}


/*	For Accordion
-----------------------------*/
.block-arrow-list.accordion {
  margin: 0;
  background: url("../img/salon/common/bg-rounded-stripe.png") repeat-x top center;
  background-size: 28px 44px;
}
.block-arrow-list.accordion:last-child {
  border-bottom: 1px solid #D01027;
}
.block-arrow-list.accordion .block-arrow-list-title {
  padding: 10px 0 9px;
  background: none;
  font-weight: bold;
  font-size: 16px;
}
.block-arrow-list.accordion .block-arrow-list-title.on {

}
.block-arrow-list.accordion dt {
  font-weight: bold;
  font-size: 15px;
}
.block-arrow-list.accordion dl:last-child dd:last-child {
  border: 0;
}




/* ---------------------------
  @ ブロック「お客様の声リスト」
--------------------------- */
.block-voice-list dl {
  margin-bottom: 10px;
  padding: 8px 10px 10px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-voice-list dt {
  margin-bottom: 12px;
  font-size: 16px;
  color: #d01027;
}
.block-voice-list dt img {
  margin: 0 5px 0 10px;
  width: 45px;
  height: auto;
  vertical-align: middle;
}
.block-voice-list dd {
  padding: 12px 10px;
  background: #fff;
  line-height: 1.4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.block-voice-list dd {
  padding: 12px 10px;
  background: #fff;
  line-height: 1.4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.block-voice-list dd:before {
  content: "";
  display: block;
  width: 11px;
  height: 12px;
  background: url("../img/salon/common/arrow-voice.png") no-repeat bottom center;
  background-size: contain;
  position: absolute;
  top: -12px;
  left: 50px;
}




/* ---------------------------
  @ ブロック「タブ」
--------------------------- */
.block-tab-nav {
  margin: 25px 0 18px;
  border-bottom: 2px solid #da4044;
}
.block-tab-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.block-tab-nav li {
  display: table-cell;
  width: 25%;
  vertical-align: bottom;
}
.block-tab-nav a {
  display: block;
  margin-left: -1px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: #f9f9f9;
  border-radius: 5px 5px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-bottom: 0;
  line-height: 39px;
  letter-spacing: -0.05em;
  font-size: 20px;
  color: #666;
}
.block-tab-nav a.on {
  background: #f96b6e;
  border-color: #f96b6e;
  border-left-color: #c9c9c9;
  color: #fff;
}



/* ---------------------------
  @ ブロック「タブ・部位」
--------------------------- */
/*	Layout
-----------------------------*/
.block-voice.region {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}
.block-voice.region > div {
  overflow: hidden;
}


/*	Navigation
-----------------------------*/
.block-tab-region {
  margin: 10px 0;
  width: 100%;
  height: 47px;
  overflow: hidden;
  border-bottom: 4px solid #ce162e;
  margin-bottom: 8px;
  position: relative;
}
.block-tab-region li {
  width: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 10;
}
.block-tab-region .left-tab {
  padding-right: 22px;
  left: 0;
}
.block-tab-region .right-tab {
  padding-left: 22px;
  right: 0;
}
.block-tab-region .left-tab a {
  padding-left: 20px;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.block-tab-region .right-tab a {
  padding-right: 20px;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.block-tab-region li.on {
  z-index: 20;
}
.block-tab-region li a {
  display: block;
  line-height: 47px;
  background-color: #f9f9f9;
  border-color: #cecece;
  border-width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  font-size: 20px;
  color: #666;
  position: relative;
}
.block-tab-region li a:before {
  content: "";
  display: block;
  width: 30px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 30px 47px;
  background-position: top center;
  position: absolute;
  top: -1px;
}
.block-tab-region li.on a {
  background-color: #F96B6E;
  border-color: #F96B6E;
  color: #fff;
}

/* Change Backgrounds */
.block-tab-region .left-tab a:before { background-image: url('../img/voice/index/bg-taboff-left.png'); right: -30px; }
.block-tab-region .right-tab a:before { background-image: url('../img/voice/index/bg-taboff-right.png'); left: -30px; }
.block-tab-region .left-tab.on a:before { background-image: url('../img/voice/index/bg-tabon-left.png'); }
.block-tab-region .right-tab.on a:before { background-image: url('../img/voice/index/bg-tabon-right.png'); }


/*	Button Stripe
-----------------------------*/
.block-region .btn-stripe {
  padding: 0;
  margin-bottom: 7px;
  width: 100%;
  height: 37px;
  font-size: 10px;
}
.block-region .btn-stripe:after {
  display: none;
}
.block-region .btn-stripe a {
  display: block;
  height: 100%;
}
.block-region .btn-stripe a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 103%;
  width: 0;
}
.block-region .btn-stripe span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

/*	Contents
-----------------------------*/
.block-region {
  margin-bottom: 15px;
}
.block-region-body {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.block-region-btns {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  min-width: 60px;
  float: left;
}
.region-right{
  float: right;
}
.block-region-image {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8%;
  width: 60%;
  text-align: center;
}
.block-region-image img {
	width: 120px;
}

#front .block-plan-body{
  width: 290px;
  height: 440px;
  background: url('../img/common/img-front.png') no-repeat;
  margin: 0 auto;
  background-size: 290px 427px;
}
#back .block-plan-body{
  width: 290px;
  height: 440px;
  background: url('../img/common/img-back.png') no-repeat;
  margin: 0 auto;
  background-size: 290px 427px;
}

/* ---------------------------
  タブ切替
--------------------------- */

.block-region.camVer #front .block-plan-body,
.block-region.camVer #back .block-plan-body{
  width: 100%;
  height: auto;
  background-image:none;
}



/*	Block Course Head33
-----------------------------*/
.block-course-head33 {
  background: #fbe8e8;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.block-course-head33 h3 {
  line-height: 30px;
  letter-spacing: -0.05em;
  text-align: center;
  font-size: 22px;
  color: #d01027;
  margin-bottom:10px;
  position: relative;
}

.block-course-head33 h3:after{
  display: none;
}

.block-course-head33 h3 a {
  display: block;
  color: #d01027;
}
.block-course-head33 ul {
  width: 78px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 7px;
}
.block-course-head33 li {
  margin-right: 8px;
  width: 31px;
  float: left;
}

.block-course-head33 .tokuCampTtl,
.block-choice-head .tokuCampTtl{
  font-size:15px;
  text-align: center;
  color:#d01026;
  border-top: #F96B6E dashed 3px;
  border-bottom: #F96B6E dashed 3px;
  padding: 3px 10px 2px;
  line-height: inherit;
  margin: 4px 23px 15px;
}

.font14cmb4{
  text-align:center;
  margin-bottom:15px;
  font-size:14px;
}

.chusyaku80{
  font-size:12px;
  letter-spacing:0.2px;
  text-align:center;
  margin-top:20px;
}

.chusyaku80-2{
  font-size:12px;
  letter-spacing:0.2px;
  text-align:center;
  margin-top:5px;
}
.chusyaku80-3{
  font-size:12px;
  letter-spacing:0.2px;
  text-align:center;
  margin-top:30px;
}

.block-region.camVer ul.block-tab-region li.on a{
  font-size: 16px;
}

.block-region.camVer ul.block-tab-region li a{
  font-size: 16px;
}

.block-region.camVer ul.block-tab-region li span.label{
  display: inline;
  color: #fff;
  font-size: 14px;
  padding: 3px;
  vertical-align: middle;;
  margin: 0 3px 3px 0;
}
  .block-region.camVer ul.block-tab-region li span.label.new{
    background-color: #ffae21;
  }

  .block-region.camVer ul.block-tab-region li p.specam{
    display:inline-block;
    line-height:1.2;
    font-size:15px;
    font-weight:bold;
    margin-top:6px;
  }

.block-region.camVer .block-choice dd{
  font-size: 20px;
}


/* 　全身脱毛_190326
--------------------------- */
.block-choice {

}

.block-choice .img-main {
  margin-top:15px;
}

.block-choice .sub-ttl-txt {
  font-size:15px;
  color:#d01027;
  text-align:center;
  margin:20px 0 8px;
}

.block-choice .white-mado {
  margin-bottom:8px;
  background-color:#fff;
  padding:2%;
}
.block-choice .white-mado-last {
  background-color:#fff;
  padding:2%;
}
.block-choice .white-mado .white-box-l,
.block-choice .white-mado-last .white-box-l {
  width: 40%;
  margin:auto;
  box-sizing:border-box;
}
.block-choice .white-mado .white-box-r,
.block-choice .white-mado-last .white-box-r {
  text-align: left;
  width: 60%;
  padding-left: 3%;
  box-sizing:border-box;
}
.block-choice .white-mado .white-box-r .komidashi,
.block-choice .white-mado-last .white-box-r .komidashi {
  font-size: 2.8vw;
  color:#d01027;
  line-height: 4vw;
}
.block-choice .white-mado .white-box-r .komidashi span,
.block-choice .white-mado-last .white-box-r .komidashi span {
  font-size:4.4vw;
  line-height: 5vw;
}

.block-choice .white-mado .white-box-r .atehamaru,
.block-choice .white-mado-last .white-box-r .atehamaru {
  font-size: 2.8vw;
  color:#fff;
  background-color:#d01027;
  padding:1% 3%;
  margin-bottom:3px;
  text-align: center;
  width: 70%;
}
.block-choice .white-mado .white-box-r .txt28vw,
.block-choice .white-mado-last .white-box-r .txt28vw {
  font-size: 2.8vw;
}

.block-choice .img-mt15 {
  margin-top:15px;
}

.block-choice .attention {
  font-size:12px;
  text-align:left;
  line-height:1.3em;
}
.pats-list-ttl{
  text-align: center;
  font-size: 20px;
  color: #d01027;
  margin-bottom: 25px;
}
.spl-txt{
  text-align: center;
  color: #D01026;
  font-size: 14px;
}
.block-labels-large.parts-style li a{
  color: #eb7a88;
}


/* 　END-全身脱毛_190326
--------------------------- */


  .block-region.camVer dd.monthly.first{
    position:relative;
    margin-bottom: 23px;
  }
  .block-region.camVer dd.monthly.first em{
    font-size: 30px;
  }
  .block-region.camVer dd.monthly small{
    font-size: 13px;
  }

  .block-region.camVer dd.monthly.first:after {
    display: block;
    content: " ";
    width: 30px;
    height: 17px;
    background-image: url(../img/common/price_arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -21px;
    background-size: 30px auto;
}

.block-region.camVer .labelPrice {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url(../img/common/price_label.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -25px;
}

.labelPrice33 {
    display: inline-block;
    width:  46px;
    height: 46px;
    background-size: 46px auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 30px;
}

.labelPrice33-2 {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/price_label02.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    margin:5px 0 0 -80px;
}

.labelPrice33-3 {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/price_label02.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    vertical-align: bottom;
    margin:-20px 0 0 -80px;
}
.labelPriceCam {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/labelPriceCam.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    margin:7px 0 0 -70px;
}
.labelPriceCamPFP {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/labelPriceCam.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    margin:-7px 0 0 -70px;
}

.labelPriceCam1712 {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/171121_labelPriceCam.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    margin:7px 0 0 -70px;
}
.labelPriceCamPFP1712 {
    display: inline-block;
    width: 70px;
    height: 85px;
    background:url(../img/common/171121_labelPriceCam.png);
    background-size: 70px auto;
    background-repeat: no-repeat;
    position:absolute;
    margin:-7px 0 0 -70px;
}





.totalTtl{
  font-size: 13px;
  line-height:1.2;
  text-align:center;
  display:inline-block;
  vertical-align:text-bottom;
}

.totalTtl2{
  font-size: 13px;
  line-height:1.2;
  text-align:center;
  display:inline-block;
  vertical-align:text-bottom;
}

.block-region.camVer dd.monthly.last em{
  font-size: 38px;
}
.block-region.camVer dd.monthly2.last{
  font-size: 15px;
  margin-top:15px;
}
.block-region.camVer dd.monthly2.last em{
  font-size: 27px;
}
.block-region.camVer dd.monthly2.last small{
  font-size: 13px;
}



/*コース一覧*/

.block-courses.camVer em{
  font-weight: bold;
}
.block-courses.camVer dl.priceNone{
  letter-spacing: normal;
}
.block-courses.camVer dl.priceNone em{
  color: inherit;
  font-size: 13px;
  line-height: 1.5;
}
.block-courses.camVer dl.priceNone dd{
  line-height: 1.4;
}


/* ---------------------------
  @ ブロック「ラベルリスト」
--------------------------- */
.block-labels {
  margin-left: 0.6451613%;
}
.block-labels {
  letter-spacing: -0.35em;
}
.block-labels li {
  width: 29.0322581%;
  margin-bottom: 7px;
  margin-left: 2.5806452%;
  display: inline-block;
  vertical-align: top;
  background: #fef7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fac5c5;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 11px;
  color: #eb7a88;
}

/*	Full
-----------------------------*/
.block-labels.full {
  overflow: hidden;
  margin-left: 0;
}
.block-labels.full ul {
  margin-left: -2%;
}
.block-labels.full li {
  margin-left: 2%;
  width: 31.3333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*	Caption
-----------------------------*/
.block-labels .block-labels-cap {
  margin-bottom: 5px;
  letter-spacing: normal;
  text-align: center;
  font-size: 13px;
  color: #d01027;
}
.block-labels .block-labels-cap span {
  display: inline-block;
  margin-right: 2px;
  padding: 1px 5px;
  line-height: 1;
  border: 1px solid #d01027;
}



/* ---------------------------
	@ ブロック「人物画像」
--------------------------- */
.block-figures {
  margin: 20px 0 25px;
  letter-spacing: -0.35em;
  text-align: center;
}
.block-figures figure {
  display: inline-block;
  vertical-align: top;
  width: 37.6451613%;
  margin: 0 3.5483871%;
}
.block-figures-wide figure {
  width: 74%;
  margin: 0 3.5483871%;
}

.relative {
  position: relative;
}


/* ---------------------------
  @ モジュール「広告ギャラリー」
--------------------------- */

.sp-ad-center{
 text-align:center;
}
.sp-ad-center{
 text-align:center;
}
.sp-admes-top{
 margin:0 auto;
 position:relative;
 max-width:414px;
}
.sp-admes1{
 font-size:12px;
 box-sizing:border-box;
 padding:0 5%;
 max-width:414px;
 position:absolute;
 top:30px;
 left:0;
 text-align:center;
}
.sp-admes1 > p{
 font-size:14px;
 text-align:left;
}
.sp-ad-koukoku1{
 padding:5% 5% 10% 5%;
 margin:0 auto;
 box-sizing:border-box;
 letter-spacing:0;
 max-width:414px;
}
.sp-ad-koukoku2{
 padding:10px 0 0;
 box-sizing:border-box;
}
.sp-ad-koukoku2 > h3{
 padding-bottom:10px;
}
.sp-ad-koukoku3{
 width:90%;
 margin:0 auto;
}
.sp-ad-ver{
 letter-spacing:0;
 font-size:16px;
 margin-top:20px;
}
.sp-ad-tvcm{
 padding:5% 5% 15% 5%;
 margin:0px auto;
 box-sizing:border-box;
 letter-spacing:0;
 max-width:414px;
 border-bottom:1px solid #e2e2e2;
}
.sp-ad-tvcm:last-child{
 border-bottom:none;
}
.sp-ad-prof{
 letter-spacing:0;
 position:relative;
 text-align:center;
 max-width:414px;
 margin:0 auto;
}
.sp-ad-prof2{
 display:flex;
 justify-content:space-between;
 letter-spacing:0;
 position:absolute;
 top:10px;
 left:0;
 max-width:414px;
}
.sp-ad-prof-left{
 width:45%;
 padding-left:3%;
 display:inline-block;
}
.sp-ad-prof-right{
 width:45%;
 padding-right:3%;
}
.sp-ad-prof-p-content{
 text-align:left;
 font-size:12px;
 margin:10px 0 0;
 padding:3%;
 background:white;
 box-sizing:border-box;
}
.sp-ad-prof-left1 > p .sp-ad-prof-right1 > p{
 text-align:center;
 font-size:14px;
 font-weight:bold;
}

















/* ---------------------------
  @ 180123_アコーディオン〜お客様の声
--------------------------- */

.acodi-bg {
  width: 100%;
  background:#fff;
  padding-bottom:40px;
}

.container {
  width: 100%;
  padding: 1% 4.6875% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.accshow .container .clearfix {
  zoom: 1;
}
.accshow .container .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.accshow .container .flow-1 {
  background-color:#fff;
  padding:10px;
}
.accshow .container .flow-2 {
  background-color:#fbe8e8;
  padding:10px;
}
.accshow .container .flow-1 .inner,
.accshow .container .flow-2 .inner {
  float: left;
  width:62%;
  margin:0 3% 0 0;
}
.accshow .container .flow-1 .inner .flow-ttl,
.accshow .container .flow-2 .inner .flow-ttl {
  height:31px;
  margin-bottom:3%;
}
.accshow .container .flow-1 .inner .innerin,
.accshow .container .flow-2 .inner .innerin {
  font-size:14px;
  text-align:justify;
}
.flow-1 .right,
.flow-2 .right{
  float:right;
  width:33%;
}
.flow-sankaku {
  text-align:center;
  margin-top:10px;
}
.flow-txt {
  margin:7px 0 14px;
  text-align:justify;
}
.flow-txt-red {
  font-size:22px;
  color:#d2161c;
  margin-bottom:15px;
  text-align:center;
}
.flow-txt-red span {
  font-size:80%;
}

.rank-ttl-p {
  margin-bottom:15px;
  text-align: justify;
}


.rank-description {
  margin-bottom:40px;
}
.rank-box1 {
  margin-bottom: 10px;
  padding:0 10px 10px;
  background: #fbe8e8;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.rank-box1 dt {
  padding:10px 0 8px;
  color:#ce172e;
  font-size:22px;
  text-align:center;
  line-height:1;
}
.rank-box1 dt span {
  font-size:14px;
}
.rank-box2 {
  padding: 12px 10px;
  background: #fff;
  line-height: 1.4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  text-align: justify;
}
.rank-box2 p {
  font-weight:bold;
}








.accbox {
    margin: 0;
    padding: 0;
    width: 100%
}

/*ラベル*/

.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 10px 0;
    background:#fd888a;
    background-image:url(../img/common/top-open.png);
    background-position: 95% 50%;
    background-size:25px;
    background-repeat: no-repeat;
    cursor :pointer;
    transition: all 0.5s;
    color:#fff;
    font-size:18px;
    text-align:center;
}

.cssacc:checked + label {
    display: block;
    margin: 1.5px 0;
    padding : 10px 0;
    background:#fd888a;
    background-image:url(../img/common/top-close.png);
    background-position: 95% 50%;
    background-size:25px;
    background-repeat: no-repeat;
    transition: all 0.5s;
    color:#fff;
    font-size:18px;
    text-align:center;
}
.accbox input {
    display: none;
}
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 5px;
    background: #fff;
    opacity: 1;
}
