@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
	@ Parts
	  - Block Course Detail
    - Title Centered Line
    - Block Choice
    - Block Part Box
    - Block Lead
    - Block Voice
    - Block Tag
--------------------------- */

/* ---------------------------
	@ Block check box
--------------------------- */
.icon-ckbtn {
  padding-left: 23px;
  padding-top: 6px;
  background:url('../img/plan/course/vio/icon-check.png')no-repeat;
	}

.ck-box-out{
	padding:0px 10px 5px 10px;
	}

.ck-box-text{
	font-size:14px;
	padding:10px 0 10px 0;
	text-align:center;
	}

.ck-box{
  font-size:11px;
	padding:10px 3px;
	border-style: dotted;
	border-color:#e37380;
	border-width: 1px;
	}
