@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COMMON
  @ Block Plan Archive
  @ Block Courses Nav
  @ Courses
  @ Block Banner Under-20
  @ Part
--------------------------- */



/* ---------------------------
	@ Block Plan Archive
--------------------------- */
.block-panel-ribbon li {
  margin-bottom: 15px;
}
.block-panel-ribbon a {
  display: block;
  padding: 10px 10px 10px 10px;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e77b7b;
  -webkit-box-shadow: 1px 1px 3px rgba(209, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(209, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(209, 0, 0, 0.4);
  color: #333;
  position: relative;
}
.block-panel-ribbon a p:after {
  content: "";
  display: block;
  width: 8.5px;
  height: 14px;
  background: url("../img/common/arrow-red-single.png") no-repeat top center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
}
.block-panel-ribbon em {
  display: block;
  color: #fff;
  font-size: 17px;
  text-align: center;
  background: url("../img/plan/index/bg-ribbon.png") no-repeat top center;
  background-size: contain;
  height: 36px;
  padding-top: 3px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-panel-ribbon a p {
  color: #333333;
  padding: 0 16px 0 0;
  position: relative;
}


/* ---------------------------
	@ Mod Search Part
--------------------------- */
.mod-search-part {
  margin-top: 30px;
}
.mod-search-part ul {
  letter-spacing: -0.35em;
  text-align: center;
}
.mod-search-part li {
  display: inline-block;
  width: 48%;
  margin-top: 20px;
  margin-left: 3.8%;
  letter-spacing: normal;
}
.mod-search-part li:first-child {
  margin-left: 0;
}
.mod-search-part li img {
  width: 100%;
  max-width: none;
  height: auto;
}


/* ---------------------------
	@ Block Courses Nav
--------------------------- */
.block-courses-nav {
  margin-bottom: 15px;
  padding: 0 4.6875%;
}
.block-courses-nav li {
  margin-top: 5px;
}
.block-courses-nav li:first-child {
  margin-top: 0;
}
.block-courses-nav .icon-popular{
	width: 39px;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: 7px;
}
.block-courses-nav2 li {
  text-align: center;
}

/* ---------------------------
	@ Block Courses
--------------------------- */
.block-courses {
  margin-top: 25px;
}
.block-courses-nav + .block-courses {
  margin-top: 15px;
}

/*	Courses Head
-----------------------------*/
.block-courses-head {
  padding: 0 4.375%;
  margin-bottom: 12px;
}
.block-courses-head h2 {
  margin-bottom: 7px;
  border-bottom: 1px solid #d01027;
}
.block-courses-head p {
  letter-spacing: -0.03em;
}
.block-courses-head .note {
  margin-bottom: 20px;
}


/*	Block Course Layout
-----------------------------*/
.block-course {
  padding: 0 1.5625%;
  margin-top: 10px;
}


/*	Block Course Head
-----------------------------*/
.block-course-head {
  background: #fbe8e8;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.block-course-head h3 {
  line-height: 45px;
  letter-spacing: -0.05em;
  text-align: center;
  font-size: 20px;
  color: #d01027;
  position: relative;
}
.block-course-head h3:after {
  content: "";
  width: 8.5px;
  height: 14px;
  background: url("../img/common/arrow-red-single.png") no-repeat top center;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}
.block-course-head h3 a {
  display: block;
  color: #d01027;
}
.block-course-head ul {
  width: 78px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 7px;
}
.block-course-head li {
  margin-right: 8px;
  width: 31px;
  float: left;
}


/*	Block Course Body
-----------------------------*/
.block-course-body {
  padding: 8px 10px;
  background: #fef7f7;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}


/* Figures */
.block-course-body .figures {
  margin: 4px -10px 0;
  letter-spacing: -0.3em;
  text-align: center;
}
.block-course-body .figures.figures-four {
  margin: 0 auto;
  max-width: 280px;
}
.block-course-body .figures figure {
  display: inline-block;
  margin-bottom: 15px;
  width: 102px;
  vertical-align: top;
  letter-spacing: normal;
}
.block-course-body .figures img {
  margin: 0 auto 5px;
  width: 62.5%;
  max-width: 65px;
}
.block-course-body .figures figcaption {
  font-weight: bold;
  font-size: 10px;
}


/* Choces */
.block-course-body dl:first-child {
  margin-top: 0;
}
.block-course-body dt {
  margin-bottom: 6px;
  background: #fff;
  border: 1px solid #fceded;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
}
.block-course-body dd {
  margin-bottom: 10px;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.03em;
  font-size: 12px;
	vertical-align: text-top;
}
.block-course-body dd em {
  font-weight: bold;
  font-size: 22px;
  color: #d01027;
}


/* Total Price */
.block-course-body .total-price {
  margin-bottom: 5px;
  display: inline-block;
  width: 56%;
}
.block-course-body .total-price span {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}


/* Monthly Price */
.block-course-body .monthly-price {
  margin-bottom: 5px;
  display: inline-block;
  width: 41%;
  border-left: #D01027 1px solid;
}
.block-course-body .monthly-price span {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

.block-course-body  span.sub-text {
	font-weight: normal;;
  display: block;
	font-size: 9px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* ---------------------------
  @ Block Banner Under-20
--------------------------- */
.block-bnr-under20 {
  margin: 20px 4.6875% 30px;
  border: 1px solid #ff9c00;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fffbed;
}
.block-bnr-under20 a {
  display: block;
  text-align: center;
  color: #f59600;
}
.block-bnr-under20 dt {
  display: block;
  background: #ffebac;
  line-height: 36px;
  font-size: 19px;
  position: relative;
}
.block-bnr-under20 dt:before {
  content: "";
  display: block;
  width: 6px;
  height: 15px;
  background: url("../img/common/arrow-yellow.png") no-repeat top center;
  background-size: contain;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7.5px;
}
.block-bnr-under20 dd {
  padding: 8px 0 10px;
  color: #ff9c00;
}
.block-bnr-under20 dd em {
  display: block;
  line-height: 1.1;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 35px;
}
/* ---------------------------
	@ Part
--------------------------- */
.title-rank span{
  vertical-align: bottom;
}
.block-region{
  margin: 0;
}


/* add 201508 */
.block-course-body .first-month-price {
	text-align: center;
	margin-bottom: 5px;
  display: inline-block;
  width: 49%;
}
.block-course-body .first-month-price span {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}
.block-course-body02 .monthly-price {
  width: 49%;
}
.block-course-body03 dt {
	line-height: 1.25em;
	padding: 3px 0;
}
.block-course-body03 .total-price {
	width: 100%;
}
.block-course-head02 h3 {
    line-height: 1.25em;
		padding: 4px 0 2px;
}
.block-course-body .txt-plan-detail {
	margin-bottom: 5px;
	line-height: 1.5em;
	font-size: 13px;
}
.block-course-body .txt-plan-detail .txt {
	font-size: 13px;
	font-weight: bold;
}
.block-course-body .txt-plan-detail .txt02 {
	color: #d01027;
}

/* ---------------------------
	@ plan
--------------------------- */

.txt-plan-sub01 {
	letter-spacing: -0.3em;
}


/* ---------------------------------------------
	@ コース・料金のボタン （追:160112）
--------------------------------------------- */

.w-btn {
	text-align:center;
	padding:1%;
	background-color:#FFF;
	margin:2% 18% 1%;
	color:#dc3e3f;
	border: 1px solid #dc3e3f;
}