@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COURSE COMMON
  @ Adjustment
  @ Block Lead
  @ Block Choice
  @ Block Labels
  @ Title Centered Line
  @ Marker
--------------------------- */

/* ---------------------------
	@ Adjustment
--------------------------- */
.block-voice {
  margin-top: 25px;
  padding-bottom: 25px;
}



/* ---------------------------
	@ Block Lead
--------------------------- */
.block-lead {
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 13px;
}
.block-lead p {
  margin-top: 1em;
}
.block-lead p:first-child {
  margin-top: 0;
}
.block-lead .left {
  text-align: left;
}
.block-lead02 {
  text-align: left;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
}


/* ---------------------------
	@ Block Tag
--------------------------- */
.block-tag {
  text-align: center;
}
.block-tag a {
  display: block;
  border: 1px solid #d01027;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  padding-bottom: 8px;
}
.block-tag dt {
  background: url("../img/common/bg-course-stripe.png");
  background-size: 3px;
  font-size: 20px;
  line-height: 40px;
  color: #d01027;
}
.block-tag dt small {
  font-size: 14px;
  line-height: 40px;
  color: #d01027;
}
.block-tag dd {
  padding: 6px 5px 0;
  font-size: 12px;
  color: #333;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
  margin-bottom: 10px;
}
.block-tag dd .label {
  margin-bottom: 4px;
  background-color: #FBECED;
  background-image: url("../img/plan/course/zenshin/img-diamond-orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 116px auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 22px;
  font-size: 14px;
  color: #d01027;
}
.block-tag dd .label2 {
  margin-bottom: 4px;
  background-color: #FBECED;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 116px auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 22px;
  font-size: 14px;
  color: #d01027;
}
.block-tag .total-price,
.block-tag .monthly-price {
  padding: 6px 0 0;
}
.block-tag .total-price {
  width: 145px;
  display: inline-block;
  position:relative;
  padding-top: 0;
}
.block-tag .monthly-price {
  width: 135px;
  display: inline-block;
  border-left: #d01027 1px solid;
  margin-bottom: 10px;
  padding: 0 0 0 2px;
}
.block-tag dd span {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}
.block-tag .total-price span,
.block-tag .monthly-price span {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: bold;
}
.block-tag dd em {
  font-weight: bold;
  font-size: 23px;
  color: #d01027;
}
.block-tag dd small {
  display: block;
  font-size: 11px;
  line-height: 1.25;
  margin-left: 3px;
}
.block-tag a > p {
  font-size: 11px;
  color: #d01027;
  position: absolute;
  right: 5px;
  bottom: 1px;
}
.block-tag a > p:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 4.5px;
  background: url("../img/common/arrow-red-ss.png") no-repeat right center;
  background-size: contain;
  vertical-align: top;
  margin-top: 6%;
}
.block-tag .block-tag-list a:not(:first-child) {
  margin-top: 15px;
}

.block-tag dd.course-parts {
  padding: 0;
  font-size: 14px;
}


/* ---------------------------
	@ Block Choice
--------------------------- */
.block-choice {
  margin-bottom: 10px;
  padding: 10px;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.block-choice-narrow {
  margin-bottom: 5px;
}
.title-centered-line + .block-choice {
  margin-top: 15px;
}
.block-choice-head {
  margin: 7px 0 10px;
  text-align: center;
}
.block-choice-head p {
  margin-bottom: 15px;
  line-height: 1;
  font-size: 18px;
}
.block-choice-head .with-triangle:before,
.block-choice-head .with-triangle:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url("../img/common/icon-triangle-down.png") no-repeat top center;
  background-size: contain;
  position: relative;
  top: 1px;
}
.block-choice-head span {
  display: block;
  line-height: 1;
  font-size: 35px;
  color: #d01027;
  position: relative;
}
.block-choice-head span:before,
.block-choice-head span:after {
  content: "";
  display: inline-block;
  margin: 0 10px;
  vertical-align: super;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.block-choice-head span:before {
  width: 23.5px;
  height: 24px;
  background-image: url("../img/plan/course/zenshin/img-diamond-left.png");
}
.block-choice-head span:after {
  width: 22.5px;
  height: 23px;
  background-image: url("../img/plan/course/zenshin/img-diamond-right.png");
}

.block-choice-head span em {
  font-size: 60px;
}
.block-choice-inner {
  text-align: center;
}

.block-choice dt {
  margin-bottom: 7px;
  overflow: hidden;
  position: relative;
}
.block-choice dt img {
  position: absolute;
  left: 0;
  top: 0;
}
.block-choice dt span {
  display: block;
  margin: 4px 23px 4px;
  background: #fef7f7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  line-height: 22px;
}
.block-choice dt.bg-title-shape {
  font-size: 14px;
  height: 40px;
  display: inline-block;
}
.block-choice dt.bg-title-shape span {
  height: 40px;
  float: left;
  line-height: 1.3em;
  margin: 0;
}
.block-choice dt.bg-title-shape span:last-child {
  width: 70%;
  background: #fef7f7;
   padding: 2px 20px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
}
.block-choice dt.bg-title-shape span.title-shape-right {
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
   background: #f78888;
}
.block-choice dd {
  text-align: center;
  line-height: 1;
  letter-spacing: 0.03em;
  font-size: 20px;
  margin: 0 5px;
}
.block-choice dd em {
  letter-spacing: normal;
  font-size: 34px;
  font-weight: bold;
  color: #d01027;
}
.block-labels-large {
  margin: 0 3.8183871% 0 5.0483871%;
}
.block-labels-large li {
  display: inline-block;
  vertical-align: top;
  width: 42.9451613%;
  margin: 0 0 7px 3.5483871%;
  background: #fef7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fac5c5;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 12px;
  color: #eb7a88;
}

.sub-text {
  text-align: right;
  display: block;
  font-size: 10px;
}
.block-choice dd .sub-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.block-parts-choice {
  padding-bottom: 25px;
}
.block-parts-choice img {
  width: 100%;
  margin-top: 15px;
}
.block-parts-choice p {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.block-parts-choice p em {
  font-size: 22px;
  color: #d01027;
}

.block-part-box {
  margin: 10px auto 0;
}
.block-figures .text-vio-set {
  margin-bottom: 20px;
}

/* ---------------------------
	@ 180403_全身ページ追加分
--------------------------- */
.ribbon {
    display: inline-block;
    position: relative;
    height: 50px;/*リボンの高さ*/
    line-height: 50px;/*リボンの高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;/*横の大きさ*/
    font-size: 18px;/*文字の大きさ*/
    background: #fef59c;/*塗りつぶし色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
}
.ribbon:before, .ribbon:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}
.ribbon:before{
    top: 0;
    left: 0;
    border-width: 25px 0px 25px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}
.ribbon:after{
    top: 0;
    right: 0;
    border-width: 25px 15px 25px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}
.p-zen-head{
  background:#fff;
  border-radius:5px;
  color:#d01027;
  padding:10px 3px;
  line-height:1.5em;
  font-size:20px;
  margin:3% auto 5%;
  font-weight:bold;
}
.relative{
  position: relative;
}
.div_part_zen{
  padding: 2% 0;
}
.div_part_zen > .p1{
  font-size: 8vw;
  font-weight:bold;
  text-align:left;
  margin: 0 0 0 1%;
}
.div_part_zen > .p2{
  margin-top: -7%;
  font-weight: bold;
}
.div_part_zen > .p2 > .str1{
  color: #d01027;
  font-weight: bold;
}
.div_part_zen > .p2 > .str2{
  color: #d01027;
}
.flex{
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
}
.div_part1{
  position:relative;
  margin-bottom:4%;
}
.div_part1 > .p1{
  position:absolute;
  text-align:center;
  font-size: 4vw;
  font-weight:bold;
  line-height: 1.5em;
  top: 10%;
  left: 3%;
}
.div_part1 > .p1 > strong,.div_part1 > .p2 > strong,.div_part1 > .p22 > strong{
  color: #CB1027;
  font-weight:bold;
  font-size: 6vw;
}
.div_part1 > .p12{
  position:absolute;
  top: 39%;
  right: 9%;
  font-size: 3.1vw;
  line-height: 1.4em;
  font-weight:  bold;
}
.div_part1 > .p2{
  position:absolute;
  text-align: center;
  font-size: 4vw;
  font-weight:  bold;
  line-height: 1.5em;
  top: 44%;
  left: 3%;
}
.div_part1 > .p21{
  position: absolute;
  font-size: 4vw;
  font-weight: bold;
  top: 28%;
  left: 3%;
}
.div_part1 > .p22{
  position:absolute;
  top: 32%;
  right: 27%;
  font-size: 3.1vw;
  line-height: 1.4em;
  font-weight: bold;
  text-align: justify;
}
.div_part1 > .p23{
  position:absolute;
  top: 58%;
  right: 23%;
  font-size: 3.1vw;
  line-height: 1.4em;
  font-weight: bold;
  text-align: justify;
}
.div_part1 > .p23 > strong{
  font-size: 6vw;
  color:#CB1027;
  font-weight: bold;
}
.div_part1 > .p3{
  position: absolute;
  text-align: left;
  font-size: 3.25vw;
  font-weight: bold;
  line-height: 1.5em;
  top: 19%;
  left: 3%;
}
.div_part1 > .p4{
  position: absolute;
  top: 52%;
  font-size: 3.25vw;
  font-weight: bold;
  left: 5%;
}
.div_part1 > .p32{
  color: #CB1027;
  font-weight: bold;
  font-size: 6vw;
  position: absolute;
  top: 63%;
  left: 3%;
}
.div_part1 > .p33{
  position:absolute;
  top: 44%;
  right: 24%;
  font-size: 3.1vw;
  line-height: 1.4em;
  font-weight:  bold;
}
.gin_ava_sec{
  background:url('https://ginza-calla.jp/wp-content/themes/calla_sp/resource/img/plan/course/zenshin/sp_zenshin_bg.png');
  background-size:cover;
  padding:4% 0;
}
.gin_ava{
  width:95%;
  position:relative;
  margin:0 auto;
}
.gin_ava > .p1{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size:3.25vw;
  padding:0 3%;
  font-weight:bold;
  line-height: 1.5em;
}
.box-siz{
  box-sizing: border-box;
}
.div_part2{
  width: 95%;
  margin:0 auto;
}
.div_part2 > .p2{
  text-align: left;
  font-size: 3vw;
  line-height: 1.9em;
  margin-bottom: 0;
  color: #fff;
}
.div_part2 > .p2 > strong{
  font-size:4.6vw;
  color:#fef59c;
}
.div_part2 > .p3{
  width: 28%;
  margin-bottom: 0;
}
.div_part3{
  box-sizing:border-box;
  padding:3%;
  background:#fff;
  margin-bottom:4%;
}
.div_part3 > .p1{
  line-height:1.2rem;
  font-size:3.5vw;
  font-weight:bold;
  margin:10px 0;
}
.div_part3 > .p11{
  font-size:4vw;
  font-weight:bold;
  margin:10px 0;
}
.div_part3 > .p12{
  width:80%;
  margin:0 auto;
}
.div_part3 > .p13{
  width:80%;
  margin:0 auto;
}
.div_part4{
  width:50%;
  padding:5% 0;
}
.div_part4 > .p2{
  font-size:3.125vw;
  margin-bottom:0;
  box-sizing:border-box;
  padding:5% 4%;
  display:inline-block;
  background:#d01027;
  border-radius:2px;
  color:white;
}
.div_part5{
  text-align:left;
  width:50%;
  padding:2% 0;
}
.div_part5 > ul > li{
  font-size:2.666vw;
  text-indent:-1em;
  padding-left:1em;
  font-weight: bold;
}
.gin_ava2_sec{
  background:#e54b87;
}
.gin_ava2{
  width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 4% 0 0 0;
}
.gin_ava2 > .p4{
  position: absolute;
    top: 30%;
    left: 16%;
    font-size: 3.25vw;
    padding: 0 3%;
    font-weight: bold;
    line-height: 1.4em;
}
.gin_ava2 > .p12{
  color: #fff697;
  border: 1px solid #fff697;
  border-radius: 5px;
  padding: 2% 5%;
  font-size: 5.5vw;
  letter-spacing: 0.6em;
}
.bi-ha-txt{
  color:#fff;
}
.div_part6{
  margin:7% auto;
  width:90%;
  color:#fff697;
}
.div_part6 > .p12{
  border:1px solid yellow;
  border-radius: 5px;
  padding:2% 5%;
  letter-spacing: 5px;
  color:#fff697;
  font-size: 6vw;
}
.div_part6 > .flex + div{
  width: 80%;
  text-align:justify;
  color: #fff697;
  padding: 2% 0 0 0;
}
.shave_img{
  width: 20%;
  margin: -10% 3% 0 0;
}
.div_part7{
  margin:5% auto;
  width:90%;
  position:relative;
}
.div_part7 > .p1{
  position:absolute;
  top: 5%;
  font-size: 4vw;
  left: 5%;
  font-weight: bold;
}
.div_part7 > .p1 > strong{
  font-size:7vw;
  color: #e74769;
}
.div_part7 > .p2{
  position:absolute;
  top: 72%;
  font-size: 2.666vw;
  text-align:justify;
  line-height: 1.1em;
  margin: 0 2%;
}
.div_part8{
  margin:5% auto;
  width:90%;
}
.div_part8 > .p3{
  color:#fff;
  font-size:14px;
  line-height:1.5em;
}
.div_part8 > .p3 > img{
  width: 60%;
}
.attention{
  font-size:12px;
  padding:3% 0 0;
  text-align:left;
  line-height:1.3em;
}
.zenshin_ttl{
  border:1px solid #d01027;
  box-sizing:border-box;
  padding: 2% 8%;
}
.div_part9{
  padding: 5% 0 0;
}
.flex2{
  display: flex;
  display: -webkit-flex;
  justify-content:  space-around;
}
.div_part9 > .p2{
  font-size: 3.725vw;
  text-align: justify;
  color: #d01027;
  font-weight: bold;
  line-height: 1.5em;
}
.div_part10{
  border: 1px solid #d01027;
  margin-bottom: 5%;
}
.div_part10 > .p1{
  padding: 5% 0;
  margin-bottom: 0;
}
/* ---------------------------
	@ Block Centered Line
--------------------------- */
.title-centered-line {
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
}
.title-centered-line span {
  display: block;
  margin: 0 auto 5px;
  width: 65.8064516%;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
  font-size: 16px;
  color: #d01027;
  position: relative;
}
.title-centered-line span:before,
.title-centered-line span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #d01027;
  position: absolute;
  top: 50%;
}
.title-centered-line span:before { right: 100%; }
.title-centered-line span:after { left: 100%; }
