@charset "UTF-8";

.pre {
	padding-right:5px;
	padding-left:5px;
}

.pre p{
	margin-bottom:10px
	}

	
.merritt{
	padding-right:5px;
	padding-left:5px;
}

.merritt p{
	margin-bottom:10px;
	}
	


.center {
	  text-align: center;
	  
	}


.mds1 {
	    font-size: 150%;

	}
	
.mds2 {
	    font-weight: bold;
	}

.m-set1 {
	    margin:5% 0;
	}
	
.txt1 {
	    font-size: 85%;
	}
	
.prebg {
	      background:#FBE8E8;
	      border-radius:4px;
	      margin:5% 4% 0 4%;
	}
.pd6 {
	      padding:6%;
	}

.preti {	
	font-size:150%;
	font-weight: bold;
	}

.pre01 {
	font-size:200%;
	color:#D01027;
	font-weight: bold;
	}

.pre02 {
	font-size:170%;
	color:#D01027;
	font-weight: bold;
	}

























