@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN PART COMMON
  @ ブロック「イラストボックス」
	@ ブロック「施術の流れ」
	@ ブロック「ランクリスト」
  @ ブロック「FAQリスト」
  @ ブロック「きっかけランキング」
--------------------------- */


/* ---------------------------
	@ ブロック「イラストボックス」
--------------------------- */
.block-illustration {
  margin-bottom: 10px;
  text-align: center;
}


/* ---------------------------
	@ ブロック「施術の流れ」
--------------------------- */
.treatment-flow-body dl {
  margin-bottom: 20px;
  padding: 10px 8px 15px;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.treatment-flow-body dl:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 9.5px 0 9.5px;
  border-color: #fbe8e8 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -9.5px;
}
.treatment-flow-body dl:last-child:before {
  display: none;
}
.treatment-flow-body dt {
  text-align: center;
  color: #d71f21;
}
.treatment-flow-body dd {
  margin-top: 5px;
  line-height: 1.3;
}

/*	該当部位の施術の注意
-----------------------------*/
.treatment-alert {
  background: url("../img/plan/part/common/box-red-top.png") no-repeat top center;
  background-size: 100% auto;
}
.treatment-alert > div {
  background: url("../img/plan/part/common/box-red-btm.png") no-repeat bottom center;
  background-size: 100% auto;
}
.treatment-alert dl {
  padding: 15px 22px 15px 8px;
  border-left: 1px solid #FD999C;
  border-right: 1px solid #FD999C;
}
.treatment-alert dt {
  font-weight: bold;
  color: #666666;
}
.treatment-alert dt:before {
  margin: 2px 5px 0 0;
  width: 15px;
  height: 15px;
}
.treatment-alert dd {
  padding-left: 10px;
  margin-top: 6px;
}

/* ---------------------------
	@ ブロック「ランクリスト」
--------------------------- */
.block-rank-list {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #fbe8e8;
}
.block-rank-list ul {
  margin: 1px;
  border: 2px solid #ffae21;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.block-rank-list li {
  padding: 10px 10px 5px;
  border-top: 1px dashed #ccc;
}
.block-rank-list li:first-child {
  border: 0;
}
.block-rank-list dl {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.block-rank-list dt,
.block-rank-list dd {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.block-rank-list dt {
  width: 67.5182482%;
  line-height: 1.1;
  font-size: 14px;
}
.block-rank-list dd {
  height: 56px;
  background: url("../img/common/bg-circle-ranking.png") no-repeat center;
  background-size: 56px auto;
  line-height: 1;
  text-align: center;
  color: #cd0000;
}
.block-rank-list dd span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.block-rank-list dd em {
  font-size: 32px;
}

/* ---------------------------
	@ ブロック「FAQリスト」
--------------------------- */
.block-faq {
  margin-top: 30px;
}
.block-faq:first-child {
  margin-top: 0;
}
.block-faq-title {
  padding-bottom: 8px;
  border-bottom: 1px dashed #d01027;
  text-align: center;
  line-height: 1.25;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
}
.block-faq dl {
  margin-top: 25px;
}
.title-red-narrow + dl {
  margin-top: 0;
}

/*	Question
-----------------------------*/
.block-faq dt {
  display: table;
  width: 100%;
  margin-bottom: 6px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-faq dt:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  width: 38.5px;
  height: 33px;
  background: url("../img/faq/icon-q.png") no-repeat left center;
  background-size: 100% auto;
}
.block-faq dt span {
  display: table-cell;
  padding-left: 6px;
  padding-top: 2px;
  vertical-align: middle;
  line-height: 1.25;
  font-size: 16px;
  color: #d01027;
}


/*	Answer
-----------------------------*/
.block-faq dd {
  margin-bottom: 12px;
  padding: 15px 8px 13px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  line-height: 1.4;
}
.block-faq dd:before {
  content: "";
  display: block;
  margin-top: -8px;
  margin-right: 5px;
  width: 38.5px;
  height: 33px;
  background: url("../img/faq/icon-a.png") no-repeat left center;
  background-size: 100% auto;
  float: left;
}



/* ---------------------------
  @ ブロック「きっかけランキング」
--------------------------- */
.block-part-rank {
  margin-top: 25px;
  padding: 12px 8px;
  background: #fff7f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.title-rank + .block-part-rank {
  margin-top: 30px;
}
.block-part-rank:last-child {
  margin-bottom: 5px;
}
.block-part-rank:before {
  content: "";
  display: block;
  width: 35px;
  height: 33px;
  background: url("../img/common/icon-crown.png") no-repeat top left;
  background-size: contain;
  position: absolute;
  left: -10px;
  top: -20px;
}
.block-part-rank-title {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #cd0000;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}

.entries-nav li {
    margin-top: 10px;
}

/* ---------------------------
  @ ブロック「きっかけランキング」
--------------------------- */
.block-part-ranking,
.block-part-rank-body {
  padding: 0 4.6875%;
	margin-bottom: 15px;
}
.block-rank-list img,
.block-part-ranking img,
.block-part-rank-body img {
	width: 100%;
  max-width: none;
  height: auto;
}
.block-part-rank-image li:not(:first-child) {
	margin-top: 10px;
}