@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PRODUCT
  @ Product Head
  @ Product Separate
  @ Product Bg
  @ Block Product Detail
  @ Lineup List
  @ Block Happy Story
  @ Ingredients List
--------------------------- */


/* ---------------------------
  @ Product Head
--------------------------- */
.product-head {
	padding: 0 4.6875%;
	margin: 0 0 10px;
}
.product-head .product-head-title {
	color: #56afb2;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	margin-top: 20px;
}


/* ---------------------------
  @ Product Separate
--------------------------- */
.product-separate {
  margin: 0 4.6875%;
}
.product-title-underline {
  color: #737373;
  font-size: 15px;
  padding-bottom: 6px;
  background: url('../img/product/common/bg-line-product.png') repeat-x;
  background-position: center bottom;
}
.product-title-underline a {
  color: #737373;
}
.product-title-underline p {
	font-size: 11px;
	margin-bottom: 5px;
}
.product-separate .product-detail {
	position: relative;
  width: 48%;
	margin: 10px 0.75862% 0;
	float: left;
}
.product-separate .product-title-block {
	position: absolute;
	top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto auto;
}
.product-separate .product-title {
  font-size:15px;
	line-height:15px;
	color: #56afb2;
	margin-bottom: 10px;
  text-align: center;
	padding-top: 15px;
}
.product-separate img.product-icon-new {
	margin-bottom: 5px;
	width: 44px;
	height: 11px;
	position: absolute;
  text-align: center;
	top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0 auto;
}
.product-separate figure {
  overflow: hidden;
	padding-top: 37px;
}
.product-separate-02 figure {
	padding-top: 5px;
}
.product-separate h2 + figure {
  margin-top: 0;
}

.product-separate .product-image {
	height: 85px;
	text-align: center;
  margin-bottom: 10px; 
	position: relative;
	z-index: 99;
}

.product-separate figure img {
	height: 100%;
  width: auto;
  text-align: center;
}

.product-separate figure figcaption {
  font-size: 11px;
	text-align: center;
}
.bnr-product {
  text-align: center;
  margin: 20px 4.6875% 30px;
}


.gray-underline{
  border-bottom:1px solid #a9a9a9;
  display:inline-block;
}



/* ---------------------------
  @ Product Bg
--------------------------- */
.block-white.product-body { 
  padding: 0 ;
}

/* ---------------------------
  @ Block Product Detail
--------------------------- */
.block-product-detail {
  padding: 0 4.6875%;
}
.product-facepack-title img,
.product-lotion-title img {
 width: 100%;
}
.product-main-image {
  width: 51.4%;
  margin: 0 auto 20px;
  text-align: center;
}
.block-product-detail dl {
  font-size: 11px;
  margin-bottom: 25px;
}
.product-facepack-info dt,
.product-lotion-info dt {
	color: #6bc1c4;
	font-size: 16px;
	margin-bottom: 10px;
}
.product-facepack-info dd,
.product-lotion-info dd {
	font-size: 14px;
}
.product-detail-container {
	margin-top: 20px;
}
.product-title-detail {
	color: #56afb2;
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 5px;
}
.product-title-detail h3 {
	float:left;
}
.product-title-detail .product-icon-new {
	float: right;
	width: 44px;
	line-height: 15px;
	margin-top: 2px;
}
.product-detail-info {
	padding-top: 30px;
	border-top: 1px solid #db3e8b;
	position: relative;
}
.block-product-detail-info-02 {
	padding-top: 40px;
}
.product-detail-info .product-detail-label {
	position: absolute;
	width: 79px;
	top: 5px;
	left: 0;
}


/* ---------------------------
  @ Lineup List
--------------------------- */
.block-product-detail .lineup-list {
  padding: 0 0.86206% 30px;
  
}
.lineup-list-body {
  margin: 0 7.01754% 0 8.77192%;
  padding-bottom: 15px;
}
.lineup-list-body figure {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}
.lineup-list-body figure:first-child {
  padding-top: 15px;
}
.lineup-list-body figure img {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.lineup-list-body figure figcaption {
  display: table-cell;
  vertical-align: middle;
  width: 41.6%;
  font-size: 10px;
  text-align: center;
  background: url('../img/product/facepack/bg-circle-product.png') no-repeat;
  background-position: center center;
  background-size: 89px auto;
}
.lineup-list-body figure figcaption em {
  font-size: 18px;
  font-weight: bold;
  display: block;
}
.lineup-list-body figure figcaption em small {
  font-size: 12px;
  font-weight: normal;
}


/* ---------------------------
  @ Block Happy Story
--------------------------- */
.block-happy-story {
  padding: 0 4.6875%;
}
.block-happy-story h2 {
  height: 0;
  padding-top: 10.6%;
  margin-bottom: 10px;
  background: url('../img/product/facepack/img-title-happy.png') no-repeat;
  background-position: center top;
  background-size: contain;
  overflow: hidden;
}
.block-happy-story > p {
  text-align: center;
}
.happy-story-inner {
  margin-top: 17px;
}
.happy-story-inner .video {
  position: relative;
  width: 100%;
  height: auto;
}
.happy-story-inner .video:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.happy-story-inner .video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.happy-story-inner .text {
  margin-top: 15px;
}
.happy-story-inner .text h3 {
  height: 0;
  padding-top: 6.73%;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  overflow: hidden;
}
.happy-story-inner .text .title01 {
  background-image: url('../img/product/facepack/img-text-happy01.png');
}
.happy-story-inner .text .title02 {
  background-image: url('../img/product/facepack/img-text-happy02.png');
}
.happy-story-inner .text .title03 {
  background-image: url('../img/product/facepack/img-text-happy03.png');
}
.happy-story-inner .text p {
  font-size: 17px;
  margin-bottom: 10px;
}
.happy-story-inner .text p em {
  font-size: 19px;
  font-family: "HG明朝E", "Times New Roman", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "HGS明朝E", "MS PMincho", "MS 明朝", serif;
  display: inline-block;
  margin-bottom: 5px;
}


/* ---------------------------
  @ Ingredients List
--------------------------- */
.ingredients-list h3 {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  background: #b3e9eb;
	border-radius: 3px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}
.ingredients-list table {
  font-size: 12px;
  width: 100%;
  border-left: #b3e9eb 1px solid;
  margin-bottom: 20px;
}
.ingredients-list table td {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-left: #b3e9eb 1px dotted;
  border-bottom: #b3e9eb 1px dotted;  
}
.ingredients-list table tr:last-child {
	border-bottom: #b3e9eb 1px solid;  
}
.ingredients-list table td:nth-child(even) {
  border-right: #b3e9eb 1px solid;
}
.ingredients-list table span {
  display: inline-block;
  text-align: left;
}
.ingredients-list table small {
  font-size: 10px;
  display: inline-block;
  text-align: left;
}
.ingredients-list table .height {
  padding: 2px 0 1px;
  line-height: 1.2;
}
.txt-sale {
  background-image: url('../img/product/common/bg-arrow-bottom.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
	font-size: 19px;
	color: #db3e8b;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}


/* ---------------------------
    koisuru
--------------------------- */

.new {
  color: #db3e8b;
  background: linear-gradient(transparent 60%, #ffff66 60%);
}


/* ---------------------------
    product（171120追加）
--------------------------- */
.bg-arrow-bottom {
  width:100%;
  margin:5% 0 3%;
}

.product-head .txt-b-box {
  padding:4%;
  background: #FFF;
  border:solid 5px #ecf6f9;
  border-radius: 10px;
  margin-bottom:5%;
}
.txt-b-line {
  border: none;
  border-bottom: 2px #83d3db solid;
}
.txt-b-ttl {
  color:#83d3db;
  font-weight:bold;
  font-size:17px;
  margin-bottom:6px;
}

.product-head .txt-y-box {
  padding:4%;
  background: #FFF;
  border:solid 5px #fff5c5;
  border-radius: 10px;
  margin-bottom:5%;
}
.txt-y-line {
  border: none;
  border-bottom: 2px #f1bd4a solid;
}
.txt-y-ttl {
  color:#f1bd4a;
  font-weight:bold;
  font-size:17px;
  margin-bottom:6px;
}

.mt10fs13 {
  margin-top:10px;
  font-size:13px;
  text-align: justify;
text-justify: inter-ideograph;
-ms-text-justify: inter-ideograph;
}
.staff-point-ph {
  margin:15px 0 0;
  text-align:center;
}


