@charset "UTF-8";

/* ---------------------------
  GINZA CALLA RANKING
	@ ブロック「ランキングリスト」
--------------------------- */

/* ---------------------------
	@ ブロック「ランキングリスト」
--------------------------- */

/*	Layout
-----------------------------*/
.block-rank {
  background: #fff7f5;
}


/*	Title
-----------------------------*/
.blcok-rank-title {
  padding: 18px 25px 18px 14px;
  border-top: 1px dotted #d01027;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 19px;
  color: #d01027;
  position: relative;
}
.blcok-rank-title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 6px 0 6px;
  border-color: #f4737a transparent transparent transparent;
  position: absolute;
  right: 4.6875%;
  top: 50%;
  margin-top: -6px;
}
.blcok-rank-title.on:after {
  border-width: 0 6px 11px 6px;
  border-color: transparent transparent #f4737a transparent;
}



/*	Body
-----------------------------*/
.block-rank-body {
  padding: 10px 10px 20px;
  border-top: 1px dotted #d01027;
  overflow: hidden;
}


/*	Rank High
-----------------------------*/
.block-rank-high {
  margin: 20px 0 25px;
}
.block-rank-high li {
  margin-bottom: 10px;
  display: table;
  width: 100%;
}

/* Number */
.block-rank-high span {
  display: table-cell;
  padding-left: 3px;
  vertical-align: middle;
  width: 52px;
  height: 44px;
  border-right: 6px solid #fff7f5;
  background: #fa7277;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: relative;
}
.block-rank-high span:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 7px;
  border-color: transparent transparent transparent #FFF7F5;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.block-rank-high span em {
  font-size: 31px;
}

/* Text */
.block-rank-high a {
  display: table-cell;
  padding: 0 8px;
  vertical-align: middle;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: underline;
  font-size: 19px;
  color: #d01027;
}
.block-rank-high a img {
  margin-right: 12px;
  vertical-align: bottom;
}


/*	Rank Left
-----------------------------*/
.block-rank-low {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.block-rank-low li {
  margin-top: 12px;
}
.block-rank-low li:first-child {
  margin-top: 0;
}
.block-rank-low span {
  display: block;
  width: 30px;
  float: left;
}
.block-rank-low a {
  display: block;
  padding-left: 30px;
  text-decoration: underline;
}

/* Indivisual */
.block-rank-left {
  border-right: 1px dotted #aeaeae;
}
.block-rank-right span {
  margin-right: 5px;
  text-align: right;
  width: 35px;
}
.block-rank-right a {
  padding-left: 40px;
}



/*	Color Valiation
-----------------------------*/
.block-rank:nth-child(even) {
  background: #fff9f0;
}
.block-rank:nth-child(even) .block-rank-high span {
  
}