@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-research {
  margin:0 auto;
}

.research-box {
	margin:0 4.6875% 10px 4.6875%;
}

.research-box .research-mds {
	text-align:center;
	width:100%;
	border-bottom:1px solid #d01027;
	color:#d01027;
	line-height:130%;
  font-weight: bold;
  font-size: 4.2vw;
}

.research-box .research-mds-2 {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 4vw;
}

.research-title-box {
	margin:10px 0 10px 0;
	text-align:center;
}

.research-title-box  ul li{
	display:table;
	width:100%;
}

.research-title-box  ul li a{
	display:block;
}

.research-title-box  ul li .research-box-mds {
	display:table-cell;
	vertical-align:middle;
	width:260px;
}

.research-title-box  ul li .research-box-mds h2 {
	line-height: 1.25;
	font-size: 32px;
  font-weight: bold;
}

.red-no1 {
	color:#d01027;
	font-weight:bold;
  font-size: 10vw;
}

.red-no1-comment {
  font-size: 6px;
}

.research-title-box  ul li .research-box-mds p {
	text-align:left;
	font-size:14px;
}

.research-title-box  ul li .research-box-photo {
	display:table-cell;
	vertical-align:middle;
	padding-left:5px;
	width:140px;
}

.research-title-box  ul li .research-box-photo img {
	margin:0 auto;
	width:100%;
	max-width:80px;
}

.block-reserch > .text{
  margin:0 4.6875% 10px 4.6875%;
  font-size: 3.725vw;
}
/*--------------------------------------------
jishin03
--------------------------------------------*/

.yoyaku-area {
	margin:0 4.6875% 0 4.6875%;
	padding:20px 0 20px 0;
}

.yoyaku-area .yoyaku-title {
	width:100%;
	text-align:center;
	position:relative;
	z-index:1;
	background-color:#fbe8e8;
	border-top:1px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #fbe8e8;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
}

.yoyaku-area .yoyaku-title h2 {
	font-size:20px;
	font-weight:bold;
	color: #d01027;
	line-height:130%;
	padding:20px 0 10px 0;
}

.yoyaku-area .yoyaku-tx {
	width:100%;
	background-color:#ffffff;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.yoyaku-area .yoyaku-tx p {
	padding:10px;
}

.yoyaku-area .yoyaku-point {
	width:100%;
	position:absolute;
	z-index:10;
	text-align:center;
	top:-20px;
}

.yoyaku-area .yoyaku-point img {
	width:33px;
	height:30px;
	margin:0 auto 0 auto;
}
