@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-reservation {
  margin:0 auto;
}



/*--------------------------------------------*/

.all-box {
	margin:10px 0 10px 0;
	text-align:center;
}

.all-box  ul li{
	display:table;
	width:100%;
}

.all-box  ul li a{
	display:block;
}

.all-box  ul li .all-box-mds {
	display:table-cell;
	vertical-align:middle;
	width:140px;
}

.all-box  ul li .all-box-mds h2 {
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	font-weight:bold;
}

.all-box  ul li .all-box-mds p {
	text-align:left;
	font-size:13px;
}

.all-box  ul li .all-box-photo {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
	width:140px;
}

.all-box  ul li .all-box-photo img {
	margin:0 auto;
	width:100%;
	max-width:130px;
}


/*--------------------------------------------*/

.table_area01 {
	width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

table.table-01 {
    width:100%;
    border-top: 1px #ffaeae solid;
	border-bottom: 1px #ffaeae solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table-01 th {
	font-size:12px;
    padding: 10px;
    line-height: 120%;
    text-align: left;
}
table.table-01 td {
	font-size:12px;
    padding:10px;
    text-align: left;
	line-height:130%;
}

.tb-bot {
	background:url("../img/about/bg-table-dot.png") no-repeat center left;
	padding-left:10px;
}


.tb-bgcolor01 {
	background-color:#fbe8e8;
}

.tb-bgcolor02 {
	background-color:#fefbfb;
}



/*--------------------------------------------
jishin03
--------------------------------------------*/

.price-area {
	margin:0 4.6875% 0 4.6875%;
	padding:30px 0 20px 0;
}

.price-area .price-title {
	width:100%;
	text-align:center;
	position:relative;
	z-index:1;
	background-color:#fbe8e8;
	border-top:1px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #fbe8e8;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
}

.price-area .price-title h2 {
	font-size:20px;
	font-weight:bold;
	color: #d01027;
	line-height:130%;
	padding:20px 0 10px 0;
}

.price-area .price-tx {
	width:100%;
	background-color:#ffffff;
	border-top:4px solid #ffaeae;
	border-right:1px solid #ffaeae;
	border-left:1px solid #ffaeae;
	border-bottom:1px solid #ffaeae;
	border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
}

.price-area .price-tx p {
	padding:10px;
}

.price-area .price-point {
	width:100%;
	position:absolute;
	z-index:10;
	text-align:center;
	top:-35px;
}

.price-area .price-point img {
	width:113px;
	height:51px;
	margin:0 auto 0 auto;
}

.reservation-no1 {
  width: 90px;
  float: right;
  margin: 0px 25px 0 10px;
}

.red-tx {
  width: 460px;
  font-size: 16px;
  color: #d2081f;
  border-bottom: 1px solid #d2081f;
  padding-bottom: 0px;
  float: left;
  margin: 0;
}

.txt-big{
	font-size: 20px;
	margin: 40px 0px 15px 0px;
	}

.txt_sml{
	font-size: 11px;
	margin: 0px 0 5px 20px;
	float: right;
}

.txt_raku{
	font-size: 11px;
	margin:0px 20px 5px 20px;
	float: right;
}

.flex-reserve{
  display:flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-around;
  -webkit-justify-content:space-around;
  align-items: center;
  -webkit-align-items:center;
  -ms-flex-align: center;
  margin: 0 auto 15px;
}

.flex-reserve > p{
  margin: 0 0 0 20px;
}
.research-reservation{
  padding: : 20px 0 0 0;
}

.research-reservation .p-bg{
	font-size:16px;
	text-align:center;background:url('../img/about/bg-arrow.png') no-repeat bottom center;
	height:30px;
	padding-top:23px;
  line-height: 130%;
}

.no1 {
  font-size: 30px;
  font-weight: bold;
  color: #d2081f;
	}
