@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON SHOP DETAIL
  @ Shop Information
  @ Shop Access
--------------------------- */


/* ---------------------------
	@ Shop Information
--------------------------- */
.shop-info {
  margin: 23px 1.5625%;
	padding: 20px 2.41935% 0;
	border-top: #d71f21 1px dashed;
	border-bottom: #d71f21 1px dashed;
	overflow: hidden;
}
.shop-info .bx-wrapper {
  margin-bottom: 12px;
}
.shop-info .bx-wrapper img {
  width: 100%;
}
.shop-info dt {
	width: 36.75213%;
	float: left;
	padding: 13px 0 11px;
	clear: both;
}
.shop-info dd {
	padding: 13px 0 11px 37%;
	border-top: #ccc 1px dotted;
}
.shop-info dt:first-child + dd {
	border-top: none;
}



/* ---------------------------
	@ Shop Access
--------------------------- */

/*	Shop Map
-----------------------------*/
.block-map-rect {
  margin-bottom: 10px;
}


/*	Shop Map Baloon
-----------------------------*/
.shop-map-blln {
	margin: 10px 4.6875% 20px;
	padding-top: 11px;
	background: url('../img/salon/common/arrow-map.png') no-repeat;
	background-position: center top;
	background-size: 25px auto;
}
.shop-map-blln p {
	background-color: #fbe8e8;
	padding: 12px 6.03448% 10px;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
}