@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON COMMON
	@ Parts
    - Block Map Viewport
    - Block New Shop List
--------------------------- */


/* ---------------------------
	@ Module Map Viewport
--------------------------- */

/*	Square
-----------------------------*/
.block-map-square {
  margin: 10px 4.6875% 20px;
  border: #ccc 1px solid;
  position: relative;
  width: 90.625%;
  height: auto;
}
.block-map-square:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.block-map-square > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block-map-square img {
  max-width: none;
}


/*	Rectangle
-----------------------------*/
.block-map-rect {
  margin: 10px 4.6875% 20px;
  border: #ccc 1px solid;
  position: relative;
  width: 90.625%;
  height: auto;
}
.block-map-rect:before {
  content: "";
  display: block;
  padding-top: 71.0344828%;
}
.block-map-rect > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block-map-rect img {
  max-width: none;
}



/* ---------------------------
  @ Module New Shop List
--------------------------- */
.block-new-list {
  margin: 20px 0 10px;
}
.block-new-list dl,
.block-new-list section {
  padding: 12px 4.6875%;
  border-bottom: 1px solid #fa7175;
  background: url("../img/common/bg-lightpink.png");
  position: relative;
}
.block-new-list dl:first-child,
.block-new-list section:first-child {
  border-top: 1px solid #fa7175;
}
.block-new-list dt,
.block-new-list-title {
  padding: 3px 145px 3px 9px;
  border-left: 3px solid #FB7475;
  line-height: 1.4;
  color: #d01027;
}
.block-new-list .date {
  line-height: 25px;
  position: absolute;
  right: 4.6875%;
  width: 140px;
  top: 12px;
  text-align: right;
}
.block-new-list .note {
  margin-top: 5px;
  padding: 0 5px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #d01027;
}