@charset "utf-8";

/*=========================================================
	index
		1. Page format
		2. header
		3. contents
		4. footer
=========================================================*/

/* 1. Page format
=========================================================*/
body{
	margin:0;
	padding:0;
	font:13px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#000;
	background-color:#FFF;
}


#wrapper{
	position:relative;
	text-align:center;
}
#wrapper a:hover img {
	opacity:0.7;
	filter:alpha(opacity=70);
}

/* 2. header
=========================================================*/
#header{
	position:relative;
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:left;
	background:url(../images/head_bg.jpg) no-repeat center 74px;
}

#headNav{
	color:#FFF;
	background:#D01027 repeat;
	width:100%;
	height:74px;
	text-align:right;
}
#headNav a{
	color:#FFF;
	text-decoration:underline;
}
#headNavInner{
	margin:0 auto;
	padding:40px 0 0;
	width:918px;
	text-align:right;
}
#headNav li{
	float:right;
	padding:0 10px;
	list-style:none;
	border-left:1px solid #FFC5C7;
}
#headInner{
	margin:40px auto 0;
	width:930px;
	background:url(../images/head_img.jpg) no-repeat right top;	
}
#headInner h1{
	padding-top:66px;
}

#headFrow dt{
	clear:both;
	padding:74px 0 16px;
	width:460px;
	border-bottom:1px solid #DF82B1;
}

#headFrow dd{
	float:left;
	margin:24px 0 0;
	height:202px;
	text-indent:-9999px;
	border-bottom:1px solid #DF82B1;
}
#headFrow dd{
	width:100%;
	background:url(../images/flow_salon.gif) no-repeat;
}


#call #header{
	background:url(../images/head_bg_call.jpg) no-repeat center 74px;
}
#call #headInner{
	background:url(../images/head_img_call.jpg) no-repeat right top;
}
#call #headInner h1{
	padding-top:46px;
}

#call #headFrow dt{
	padding:53px 0 16px;
	border-bottom:1px solid #F3994F;
}

#call #headFrow dd{
	border-bottom:1px solid #F3994F;
	background:url(../images/flow_call.gif) no-repeat left top;
}


#newgraduates #headFrow dt{
	border-bottom:1px solid #8DC556;
}
#newgraduates #headInner{
	background:url(../../guideline2/images/head_img.jpg) no-repeat right top;
}
#newgraduates #headFrow dd{
	border-bottom:1px solid #8DC556;
	background:url(../../guideline2/images/flow_newgraduates.gif) no-repeat left top;
}


/* 3. contents
=========================================================*/
#container{
	width:918px;
	margin:0 auto;
	padding:0;
	text-align:center;
}

#calendarBox{
	margin:0 auto;
	padding:15px 0;
	width:705px;
	font-size:110%;
}
.calendarTit{
	padding:2px 0 0;
	font-weight:bold;
	background:#EFEFEF;
}
.calendarMonth{
	display:inline-block;
	padding:0 25px;
	font-size:200%;
	font-weight:bold;
}
#calendarBox li{
	display:block;
	float:left;
	list-style:none;
	width:330px;
	margin-right:45px;
}

#calendarBox li:last-child{
	margin-right:0;
}

.entryBtn{
	clear:both;
	padding:40px 0 80px;
	text-align:center;
}

#info{
	clear:both;
	padding:10px 0;
	font-size:160%;
	font-weight:bold;
	text-align:center;
}
#info span.infoTxt{
	display:block;
	float:left;
	margin:26px 0 0 110px;
}
#info span.infoNumber{
	display:block;
	float:left;
	margin:10px 0 0;
	padding:0 0 0 25px;
	color:#E80014;
	font-size:200%;
}

#guideBox p{
	padding:0 0 15px;
}
#guideBox h2{
	padding:50px 0 0;
	text-align:left;
}
#guideBox h3{
	margin:0;
	padding:0;
}
#guideBox dt{
	margin:20px 0 0;
}
#guideBox dd{
	margin:0 0 10px;
}
#guideBox .guideBtnTxt{
	margin:5px 0 0;
}

.linkBtn{
	padding:15px 0;
	text-align:center;
}


.pc{
	display:block;
}
.sp{
	display:none;
}



/* 4. footer
=========================================================*/


#footer{
    margin: 50px auto 50px;
	width:918px;
	text-align:left;
}

#footerInner {
	padding:8px 0;
	border-bottom:4px solid #D01026;
}
#footerLogo {
	float:left;
	margin-right:10px;
}

#footerInner span.company {
	display:block;
	text-indent:8px;
	padding:0 0 5px;
	font-size:120%;
	font-weight:bold;
}
#footerInner span.address {
	padding:0 0 2px 0;
	font-size:90%;
}

#footerBottom {
	padding:5px 0 15px;
}
#footerCopy {
    display: block;
    float: left;
	font-size:90%;
}
ul#footerLink {
	margin-top:10px;
    float: right;
}
#footerLink li {
	display:block;
    float: right;
	list-style:none;
	text-align:right;
	border-left:1px solid #000;
}
#footerLink li:first-child {
	padding-left:15px;
}
#footerLink li:last-child {
	padding: 0 15px;
}

/* 5. 囲み
=========================================================*/
.kakomi_01_a{
  font-size: 10pt;/*文字サイズ*/
  width: 100%;/*幅*/
  text-align: center;/*タイトルを中央寄せ*/
  border: solid 1px #dd82b3;/*外周枠の色*/
  background-color: #ffd8ed;/*枠の背景色*/
  padding-top: 12px;
  font-size:20px;
  margin-bottom:20px;
  }
.kakomi_01_b{
  text-align: left;
  border: dashed 1px #ffb2db;
  padding: 1em;
  margin: 5px 10px 10px 10px;
  background-color: #fff;/*文章部分の背景色*/
  font-size:13px;
  }



/* 6. 店舗面接 ボタン
=========================================================*/

table.salon_int {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px;
}

table.salon_int td {
    width: 30%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    background: #fff2f9;
    border: #dd82b3 3px solid;
}

table.salon_int a.salon_btn{
padding:20px;
display:block;
color: #000;
}

table.salon_int a.salon_btn:hover{
background:#dd82b3;
color: #fff;
}




div.sp_salon_int {
    width: 84%;
    vertical-align: middle;
    text-align: center;
    font-size: 110%;
    background: #fff2f9;
    border: #dd82b3 3px solid;
    margin:3% 0 3% 8%;
}

div.sp_salon_int a.sp_salon_btn{
padding:5%;
display:block;
color: #000;
}

/* 7. 文字の点滅
=========================================================*/

.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
    background-color:#fff8cc;
    padding:.5em .4em .5em .8em;
    color:#ff001e;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
