@charset "utf-8";

/*=========================================================
	index
		1. browser style reset
		2. element style
		3. clear class
=========================================================*/

/* 1. browser style reset
=========================================================*/
html,body,div,
h1,h2,h3,h4,h5,h6,p,pre,
table,caption,
dl,dt,dd,ul,ol,li,
fieldset,form,label,legend{
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
}
table,tr,th,td{
	border-collapse:collapse;
	border-spacing:0;
	font-weight:normal;
}

/* 2. element style
=========================================================*/
strong{font-weight:bold;}
a img{border-style:none;}
img{vertical-align:middle;}

/* 3. clear & reset class
=========================================================*/
/* Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php */
.clfix:after{
	content:"."; 
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0;
}
.clfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clfix{height:1%;}
.clfix{display:block;}
/* End hide from IE-mac */

.clr{clear:both !important;}

hr{
	visibility:hidden;
	clear:both;
}
br.fclr,br.clr{
	clear:both;
	font-size:0px;
	line-height:0px;
}

