@charset "utf-8";

body{
	overflow: auto!important;
}

#base{
	width: 100%;
	min-height: 10110px;
	overflow: hidden;
	/* firefoxの処理 */
}
#base p{
	font-size: 1.1em;
	line-height: 2.3;
}

#navGlobal{
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1000;
}
#scene_01{
	/*background: url(images/scene_01_bg.jpg) no-repeat center top;*/
	width: 100%;
	min-height: 850px;
}
#scene_02{
	top: 850px;
	background: #D01026 url(images/scene_02_bg.png) no-repeat center top;
	width: 100%;
	min-height: 702px;
}
#scene_03{
	top: 1552px;
	background: url(images/scene_03_bg.png) no-repeat center top;
	width: 100%;
	min-height: 888px;
}
#scene_04{
	top: 2440px;
	background: url(images/scene_04_bg.png?1905) no-repeat center top;
	width: 100%;
	min-height: 1897px;
}
#scene_05{
	top: 4337px;
	background: url(images/scene_05_bg_pattern.gif) repeat;
	width: 100%;
	min-height: 1795px;
}
#scene_06{
	top: 6132px;
	background: #D01026 url(images/scene_06_bg.png) no-repeat center top;
	width: 100%;
	min-height: 700px;
}
#scene_07{
	top: 6832px;
	background: url(images/scene_07_bg.jpg) no-repeat center top;
	width: 100%;
	min-height: 2461px;
}
#scene_08{
	top: 9295px;
	background: #df7174 url(images/scene_08_bg.png) no-repeat center top;
	width: 100%;
	min-height: 500px;
}
#scene_09{
	top: 9795px;
	background: url(images/scene_09_bg.jpg) no-repeat center top;
	width: 100%;
	min-height: 180px;
}
#scene_10{
	top: 9295px;
	background: #df7174 url(images/scene_08_bg.png) no-repeat center top;
	width: 100%;
	min-height: 500px;
}


#scene_02 #scene_02_box,
#scene_03 #scene_03_box,
#scene_04 #scene_04_box,
#scene_05 #scene_05_box,
#scene_06 #scene_06_box,
#scene_07 #scene_07_box,
#scene_08 #scene_08_box,
#scene_09 #scene_09_box,
#scene_10 #scene_10_box{
	width: 980px;
	margin:0 auto;
}
#scene_01 #scene_01_box{
/*	width: 1411px;*/
	margin:0 auto;
}
#scene_01 #topSliderOuter{
	height: 850px;
	overflow:hidden;
}

#s1_slide1{
	height: 850px;
	background: url(images/s1_slide1.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide2{
	height: 850px;
	background: url(images/s1_slide2.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide3{
	height: 850px;
	background: url(images/s1_slide3.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide3-2{
	height: 850px;
	background: url(images/s1_slide3-2.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide3-3{
	height: 850px;
	background: url(images/s1_slide3-3.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide4{
	height: 850px;
	background: url(images/s1_slide4.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide5{
	height: 850px;
	background: url(images/s1_slide5.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide6{
	height: 850px;
	background: url(images/s1_slide6.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide7{
	height: 850px;
	background: url(images/s1_slide7.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide8{
	height: 850px;
	background: url(images/s1_slide8.jpg) no-repeat center top;
	text-indent: -999em;
}
#s1_slide9{
	height: 850px;
	background: url(images/s1_slide9.jpg) no-repeat center top;
	text-indent: -999em;
}

#s1_slide9png{
	height: 850px;
	background: url(images/s1_slide12_2_2.png) no-repeat center top;
	text-indent: -999em;
}

#s1_slide10{
	height: 850px;
	background: url(images/s1_slide10.jpg) no-repeat center top;
	text-indent: -999em;
}

#scene_02 #scene_02_box{
	position: relative;
	width: 980px;
	margin:0 auto;
}
#scene_02 #scene_02_box #s1_gpc1,
#scene_02 #scene_02_box #s1_gpc2{
	position:absolute;
}
#scene_02 #scene_02_box #s1_gpc1{
	left: 89px;
	top: 405px;
}
#scene_02 #scene_02_box #s1_gpc2{
	left: 646px;
	top: 72px;
}

#scene_03 #scene_03_box{
	position: relative;
	left: 3px;
}
#scene_03 #scene_03_box #s3_gpc1,
#scene_03 #scene_03_box #s3_gpc2,
#scene_03 #scene_03_box #s3_tex1{
	position:absolute;
}
#scene_03 #scene_03_box #s3_gpc1{
	left: 574px;
	top: 226px;
}
#scene_03 #scene_03_box #s3_gpc2{
	left: 64px;
	top: 88px;
}

#scene_03 #scene_03_box #s3_tex1{
	left: 113px;
	top: 379px;
}



#scene_04 #scene_04_box{
	min-height: 1865px;
	position: relative;
}
#scene_04 #scene_04_box #s4_gpc0,
#scene_04 #scene_04_box #s4_gpc1,
#scene_04 #scene_04_box #s4_gpc2,
#scene_04 #scene_04_box #s4_gpc3,
#scene_04 #scene_04_box #s4_gpc4,
#scene_04 #scene_04_box #s4_gpc5,
#scene_04 #scene_04_box #s4_gpc6,
#scene_04 #scene_04_box #s4_gpc7,
#scene_04 #scene_04_box #s4_gpc8,
#scene_04 #scene_04_box #s4_gpc9,
#scene_04 #scene_04_box #s4_gpc10,
#scene_04 #scene_04_box #s4_gpc11,
#scene_04 #scene_04_box #s4_gpc12,
#scene_04 #scene_04_box #s4_gpc13,
#scene_04 #scene_04_box #s4_gpc14,
#scene_04 #scene_04_box #s4_gpc15,
#scene_04 #scene_04_box #s4_gpc16,
#scene_04 #scene_04_box #s4_gpc17,
#scene_04 #scene_04_box #s4_gpc18,
#scene_04 #scene_04_box #s4_gpc19,
#scene_04 #scene_04_box #s4_gpc20,
#scene_04 #scene_04_box #s4_gpc21,
#scene_04 #scene_04_box #s4_tex1{
	position:absolute;
}
#scene_04 #scene_04_box #s4_gpc0{
	left: 40px;
	top: 77px;
}
#scene_04 #scene_04_box #s4_gpc1{
	left: 81px;
	top: 208px;
}
#scene_04 #scene_04_box #s4_gpc2{
	left: 301px;
	top: 542px;
}
#scene_04 #scene_04_box #s4_gpc3{
	left: 115px;
	top: 670px;
}
#scene_04 #scene_04_box #s4_gpc4{
	left: 763px;
	top: 665px;
}
#scene_04 #scene_04_box #s4_gpc5{
	left: 690px;
	top: 811px;
}
#scene_04 #scene_04_box #s4_gpc6{
	left: 250px;
	top: 978px;
}
#scene_04 #scene_04_box #s4_gpc7{
	left: 215px;
	top: 1071px;
}
#scene_04 #scene_04_box #s4_gpc8{
	left: 249px;
	top: 1439px;
}
#scene_04 #scene_04_box #s4_gpc9{
	left: 249px;
	top: 1508px;
}
#scene_04 #scene_04_box #s4_gpc10{
	left: 171px;
	top: 1612px;
}
#scene_04 #scene_04_box #s4_gpc11{
	left: 554px;
	top: 1189px;
}
#scene_04 #scene_04_box #s4_gpc12{
	left: 630px;
	top: 1282px;
}
#scene_04 #scene_04_box #s4_gpc13{
	left: 480px;
	top: 1305px;
}
#scene_04 #scene_04_box #s4_gpc14{
	left: 760px;
	top: 1261px;
}
#scene_04 #scene_04_box #s4_gpc15{
	left: 802px;
	top: 1394px;
}
#scene_04 #scene_04_box #s4_gpc16{
	left: 464px;
	top: 1502px;
}
#scene_04 #scene_04_box #s4_gpc17{
	left: 571px;
	top: 1544px;
}
#scene_04 #scene_04_box #s4_gpc18{
	left: 691px;
	top: 1499px;
}
#scene_04 #scene_04_box #s4_gpc19{
	left: 491px;
	top: 1680px;
}
#scene_04 #scene_04_box #s4_gpc20{
	left: 663px;
	top: 1671px;
}
#scene_04 #scene_04_box #s4_gpc21{
	left: 782px;
	top: 1634px;
}

#scene_04 #scene_04_box #s4_tex1{
	left: 444px;
	top: 410px;
	width: 450px;
	font-size: 1.05em;
}


#scene_05 #scene_05_box{
	position: relative;
	min-height: 1930px;
	background: url(images/scene_05_bg.png) no-repeat center top;
}
#scene_05 #scene_05_box #flexsliderOuter{
	position: absolute;
	left: 53px;
	top: 323px;
	width: 880px;
	background: #fff;
	/*height: 1480px;
	overflow: hidden;
	 上を復活させるとイチゴのナビゲーションが消える*/
}

#scene_05 #scene_05_box #flexsliderOuter table{
}
#scene_05 #scene_05_box #flexsliderOuter table th,
#scene_05 #scene_05_box #flexsliderOuter table td{
	vertical-align: top;
	font-size: 0.97em;
}
#scene_05 #scene_05_box #flexsliderOuter table .text1_1{
	vertical-align: top;
}
#scene_05 #scene_05_box #flexsliderOuter table .text1_1 p{
	padding-left: 60px;
	padding-right: 20px;
	line-height: 1.9;
}
#scene_05 #scene_05_box #flexsliderOuter .voice_r table .text1_1 p{
	padding-left: 30px;
	padding-right: 20px;
	line-height: 1.9;
}
#scene_05 #scene_05_box #flexsliderOuter table .text1_2{
	vertical-align: top;
}

#scene_05 #scene_05_box #flexsliderOuter table .text1_2 p{
	width: 520px;
	padding-left: 20px;
	line-height: 1.9;
}
#scene_05 #scene_05_box #flexsliderOuter .voice_r table .text1_2 p{
	width: 520px;
	padding-left: 75px;
	line-height: 1.9;
}


#scene_05 #scene_05_box #s5_gpc1,
#scene_05 #scene_05_box #s5_nav1,
#scene_05 #scene_05_box #s5_nav2,
#scene_05 #scene_05_box #s5_nav3,
#scene_05 #scene_05_box #s5_nav4,
#scene_05 #scene_05_box #s5_nav5,
#scene_05 #scene_05_box #s5_nav6{
	position:absolute;
}
#scene_05 #scene_05_box #s5_gpc1{
	left: 44px;
	top: 69px;
}
#scene_05 #scene_05_box #s5_nav1{
	left: 489px;
	top: 84px;
}
#scene_05 #scene_05_box #s5_nav2{
	left: 616px;
	top: 85px;
}
#scene_05 #scene_05_box #s5_nav3{
	left: 746px;
	top: 85px;
}
#scene_05 #scene_05_box #s5_nav4{
	left: 489px;
	top: 184px;
}
#scene_05 #scene_05_box #s5_nav5{
	left: 617px;
	top: 184px;
}
#scene_05 #scene_05_box #s5_nav6{
	left: 748px;
	top: 185px;
}

#scene_06 #scene_06_box{
	position: relative;
}
#scene_06 #scene_06_box #s6_gpc1,
#scene_06 #scene_06_box #s6_gpc2{
	position:absolute;
}
#scene_06 #scene_06_box #s6_gpc1{
	left: 108px;
	top: 424px;
}
#scene_06 #scene_06_box #s6_gpc2{
	left: 640px;
	top: 74px;
}

#scene_07 #scene_07_box{
	height: 2461px;
	min-height: 2461px;
	position: relative;
}
#scene_07 #scene_07_box p{
	line-height: 1.78;
}
#scene_07 #scene_07_box #s7_gpc0,
#scene_07 #scene_07_box #s7_gpc1,
#scene_07 #scene_07_box #s7_gpc2,
#scene_07 #scene_07_box #s7_gpc3,
#scene_07 #scene_07_box #s7_gpc4,
#scene_07 #scene_07_box #s7_gpc5,
#scene_07 #scene_07_box #s7_gpc6,
#scene_07 #scene_07_box #s7_gpc7,
#scene_07 #scene_07_box #s7_gpc8,
#scene_07 #scene_07_box #s7_tex1,
#scene_07 #scene_07_box #s7_tex2,
#scene_07 #scene_07_box #s7_tex3,
#scene_07 #scene_07_box #s7_tex4,
#scene_07 #scene_07_box #s7_tex5,
#scene_07 #scene_07_box #s7_tex6{
	position:absolute;
}
#scene_07 #scene_07_box #s7_gpc0{
	left: 54px;
	top: 55px;
}
#scene_07 #scene_07_box #s7_gpc1{
	left: 684px;
	top: 189px;
}
#scene_07 #scene_07_box #s7_gpc2{
	left: 709px;
	top: 346px;
}
#scene_07 #scene_07_box #s7_gpc3{
	left: 118px;
	top: 700px;
}
#scene_07 #scene_07_box #s7_gpc4{
	left: 706px;
	top: 1159px;
}
#scene_07 #scene_07_box #s7_gpc5{
	left: 117px;
	top: 1540px;
}
#scene_07 #scene_07_box #s7_gpc6{
	left: 706px;
	top: 1861px;
}
#scene_07 #scene_07_box #s7_gpc7{
	left: 121px;
	top: 2230px;
}
#scene_07 #scene_07_box #s7_gpc8{
	left: 339px;
	top: 2386px;
}
#scene_07 #scene_07_box #s7_tex1{
	left: 159px;
	top: 315px;
	width: 540px;
}
#scene_07 #scene_07_box #s7_tex2{
	left: 340px;
	top: 710px;
	width: 540px;
}
#scene_07 #scene_07_box #s7_tex3{
	left: 158px;
	top: 1080px;
	width: 540px;
}
#scene_07 #scene_07_box #s7_tex4{
	left: 341px;
	top: 1580px;
	width: 540px;
}
#scene_07 #scene_07_box #s7_tex5{
	left: 159px;
	top: 1890px;
	width: 540px;
}
#scene_07 #scene_07_box #s7_tex6{
	left: 339px;
	top: 2230px;
	width: 550px;
}


#scene_08 #scene_08_box{
	min-height: 500px;
	position: relative;
}
#scene_08 #scene_08_box #s8_btn1,
#scene_08 #scene_08_box #s8_btn2,
#scene_08 #scene_08_box #s8_btn3,
#scene_08 #scene_08_box #s8_btn4,
#scene_08 #scene_08_box #s8_gpc1,
#scene_08 #scene_08_box #s8_gpc2{
	position:absolute;
}
#scene_08 #scene_08_box #s8_btn1{
	left: 200px;
	top: 283px;
}
#scene_08 #scene_08_box #s8_btn2{
	left: 370px;
	top: 283px;
}
#scene_08 #scene_08_box #s8_btn3{
	left: 629px;
	top: 283px;
}
#scene_08 #scene_08_box #s8_btn4{
	left: 490px;
	top: 283px;
}
#scene_08 #scene_08_box #s8_gpc1{
	left: 40px;
	top: 100px;
}

#scene_08 #scene_08_box #s8_gpc2{
	left: 702px;
	top: 78px;
}

#scene_10 #scene_10_box{
	min-height: 500px;
	position: relative;
}
#scene_10 #scene_10_box #s8_btn1,
#scene_10 #scene_10_box #s8_btn2,
#scene_10 #scene_10_box #s8_btn3,
#scene_10 #scene_10_box #s8_btn4,
#scene_10 #scene_10_box #s8_gpc1,
#scene_10 #scene_10_box #s8_gpc2{
	position:absolute;
}
#scene_10 #scene_10_box #s8_btn1{
	left: 200px;
	top: 283px;
}
#scene_10 #scene_10_box #s8_btn2{
	left: 370px;
	top: 283px;
}
#scene_10 #scene_10_box #s8_btn3{
	left: 629px;
	top: 283px;
}
#scene_10 #scene_10_box #s8_btn4{
	left: 490px;
	top: 283px;
}
#scene_10 #scene_10_box #s8_gpc1{
	left: 40px;
	top: 100px;
}

#scene_10 #scene_10_box #s8_gpc2{
	left: 702px;
	top: 78px;
}
