@charset "utf-8";

body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* browser style reset
=========================================================*/
html,body,div,
h1,h2,h3,h4,h5,h6,p,pre,
table,caption,
dl,dt,dd,ul,ol,li,
fieldset,form,label,legend{
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
}
table,tr,th,td{
	border-collapse:collapse;
	border-spacing:0;
	font-weight:normal;
}

h1{
	font-size:150%;
	color:#d81e00; 
}

h2{
	font-size:120%;
	color:#d81e00;
	letter-spacing:.06em;
	padding-top:20px;
}

/* clear & reset class
=========================================================*/
/* Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php */
.clfix:after{
	content:"."; 
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0;
}
.clfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clfix{height:1%;}
.clfix{display:block;}
/* End hide from IE-mac */

.clr{clear:both !important;}

hr{
	visibility:hidden;
	clear:both;
}
br.fclr,br.clr{
	clear:both;
	font-size:0px;
	line-height:0px;
}



/* table
=========================================================*/
table.colHead{
	margin:.5em 0 1em;
	border-collapse:collapse;
	border-spacing:0;
	font-size:90%;
}
/* cell padding */
.colHead th,
.colHead td{
	padding:8px 10px;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	line-height:1.5;
	vertical-align:middle;
}
/* cell border */
table.colHead,
.colHead th,
.colHead td{
	border:1px solid #E37E84;
}


/* cell heading
---------------------------------------------------------*/
.colHead th{
	color:#DA525F;
	background-color:#FBF0EE;
	text-align:center;
	letter-spacing:.3em;
	border-right-style:none;
	width:16%;
}

.colHead td{
	padding:5px 15px; 
	background-color:#FFF;
	border-left-style:none;
}

.colHead td dt{
	padding:4px 0 0 15px; 
	float: left;
	width:190px;
	background: url(images/salonlist_icon.png) no-repeat left center;
	letter-spacing:.04em;
}

.colHead td dd{
	padding:5px 0 0 5px; 
}

.colHead td dd.dLine{
	margin:0 0 5px;
	padding:5px 0 5px;
	border-bottom:1px dotted #E37E84; 
}

.colHead span{
	font-size:75%; 
}






