@charset "utf-8";


/*=========================================================
	index
		1. font style
		2. text style
		3. paragraph
=========================================================*/

/* 1. text link
=========================================================*/
a{color:#D01026;text-decoration:none;}
a:visited{color:#D01026;}
a:hover{color:#D01026; text-decoration:underline;}
a:active{text-decoration:none;}


/* 1. font style
=========================================================*/
/* phrase elements
---------------------------------------------------------*/
#content a{
	color:#0071BC;
	text-decoration:underline;
}
#content a:hover{
	color:#0071BC;
	text-decoration:underline;
}

#content strong{
	font-weight:bold;
	background:#FF6;
}

/* font style
---------------------------------------------------------*/
#content .b{font-weight:bold;}
#content .u{text-decoration:underline;}
#content .i{font-style:italic;}
#content .s{text-decoration:line-through;}

/* font size
---------------------------------------------------------*/
#content .f120{font-size:120%;}
#content .f115{font-size:115%;}
#content .f110{font-size:110%;}
#content .f105{font-size:105%;}
#content .f95{font-size:95%;}
#content .f90{font-size:90%;}
#content .f85{font-size:85%;}
#content .f80{font-size:80%;}

/* font color
---------------------------------------------------------*/
#content .fBlue{color:#3A83A5;}
#content .fGreen{color:#30812E;}
#content .fRed{color:#C04432;}

/* 2. text style
=========================================================*/
#content .alRight{text-align:right;}
#content .alCent{text-align:center;}
#content .alLeft{text-align:left;}
#content .valTop{vertical-align:top;}
#content .valMiddle{vertical-align:middle;}
#content .valBottom{vertical-align:bottom;}
#content .valBase{vertical-align:baseline;}


/* 3. paragraph box
=========================================================*/
/* paragraph
---------------------------------------------------------*/
#content p{
	margin:0 0 1.2em;
	line-height:1.6;
}
/* in other elements */
#content li p,
#content dt p,
#content dd p{margin:0;}

/* important
---------------------------------------------------------*/
#content .important{
	margin:.5em 0 1em;
	padding:10px;
	border:3px double #BCC3CD;
	background-color:#EFEFEF;
	line-height:1.5;
}

/* notes
---------------------------------------------------------*/
#content .notes{
	margin:.5em 0 1.5em;
	font-size:85%;
	line-height:1.5;
	color:#666666;
	text-indent:0;
}
/* in other elements */
#content dt .notes,
#content dd .notes,
#content li .notes{margin:0;}



/*=========================================================
	index
		1. bordr & color
		2. float box
		3. margin & padding
=========================================================*/

/* 1. bordr & color
=========================================================*/
.panel-b,
.panel-d{
	margin:.5em 0 1em;
	padding:10px;
}
.panel-b{border:1px solid #DDD;}
.panel-d{border:1px dotted #BBB;}

.pause-b,
.pause-d{
	margin:.5em 0 1em;
	padding-bottom:1em;
}
.pause-b{border-bottom:1px solid #DDD;}
.pause-d{border-bottom:1px dotted #BBB;}

/* 2. float box
=========================================================*/
.fright{float:right;}
.fleft{float:left;}
.frobject,.flobject{
	display:block;
	width:auto;
	height:auto;
	line-height:1;
	margin-bottom:5px;
}
.frobject{margin-left:15px;}
.flobject{margin-right:15px;}


/* 3. margin & padding
=========================================================*/
.m0{margin:0 !important;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}

.mt0{margin-top:0 !important;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}

.mr0{margin-right:0 !important;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}

.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}

.ml0{margin-left:0 !important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px}
.ml20{margin-left:20px;}

/* box padding
---------------------------------------------------------*/
.p0{padding:0 !important;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}

.pt0{padding-top:0 !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}

.pr0{padding-right:0 !important;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}

.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}

.pl0{padding-left:0 !important;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px}
.pl20{padding-left:20px;}








/*=========================================================
	index
		1. Common setting
		2. table style
		3. cell color
		4. reset
=========================================================*/

/* 1. Common setting
=========================================================*/
table.schedule,
table.calendar{
	margin:.5em 0 1em;
	border-collapse:collapse;
	border-spacing:0;
}

table.guide{
	margin:0 0 2em;
	border-collapse:collapse;
	border-spacing:0;
	
}

table.schedule{
	margin:.5em 0 2.3em;
}
/* cell padding */
.schedule th,
.schedule td,
.guide th,
.guide td{
	padding:10px 25px;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	line-height:1.5;
	vertical-align:middle;
	text-align:left;
}
.schedule th{
	padding:0 !important;	
}

.schedule p.red{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #F29CA7;	
}
.schedule p.yellow{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #FFE45F;	
}
.schedule p.blue{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #86B2E1;	
}
.schedule p.murasaki{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #c386f2;	
}
.schedule p.green{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #86e1a2;	
}
.schedule p.green2{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #ACFA58;	
}
.schedule p.cian{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #81f0fc;	
}
.schedule p.orange{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #ffbb71;	
}
.schedule p.pink{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #F7C6E3;	
}
.schedule p.brown{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #cd9c75;	
}
.schedule p.beige{
	padding:10px;
	font-weight:bold;
	border-left:14px solid #ffd6c0;	
}

.schInfo{
	margin:10px 0 20px;
	font-size:100%;
}

table.calendar{
	margin:0 0 2.5em;
}
.calendar th,
.calendar td{
	padding:8px 0;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	line-height:1.5;
	vertical-align:middle;
	text-align:center;
	width:14.2%;
}
.calendar th{
	font-weight:bold;
}
th.sun{
	color:#F10825;
}
th.sat{
	color:#256EBB;
}
.calendar span.red{
	padding:5px;
	background:#F29CA7;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.yellow{
	padding:5px;
	background:#FFE45F;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.blue{
	padding:5px;
	background:#86B2E1;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.murasaki{
	padding:5px;
	background:#c386f2;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.green{
	padding:5px;
	background:#86e1a2;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.green2{
	padding:5px;
	background:#ACFA58;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.cian{
	padding:5px;
	background:#81f0fc;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.orange{
	padding:5px;
	background:#ffbb71;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.pink{
	padding:5px;
	background:#F7C6E3;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.brown{
	padding:5px;
	background:#cd9c75;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}
.calendar span.beige{
	padding:5px;
	background:#ffd6c0;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%; 
}

/* cell border */
table.schedule,
.schedule th,
.schedule td{
	border:1px solid #404040;
}

table.guide,
.guide th,
.guide td{
	border:1px solid #808080;
}

.guide th{
	color:#CA0E26;
	font-size:110%;	
	font-weight:bold;
	text-align:center;
	letter-spacing:.1em;
	background:#E6E6E6;
}
.guide td{
	font-size:100%;
	line-height:1.6;
}


/* 2. table style
=========================================================*/
/* cell heading
---------------------------------------------------------*/
.schedule th{
	font-size:150%;
	font-weight:bold;
	letter-spacing:.1em;
	text-align:left;	
	background-color:#EFEFEF;		
}


.schedule td{
	font-size:150%;	
	background-color:#FFF;
}



/* 4. reset
=========================================================*/
.schedule th table,.schedule th th,.schedule th td,
.guide th table,.guide th th,.guide th td{
	padding:0;
	margin:0;
	font-weight:normal;
	border:none !important;
	background:none !important;
}

.displayNon{
	display:none;
}


