@charset "utf-8";

@media screen and (max-width: 640px) {

#wrapper img {
	max-width:85%;
	height:auto;
}

#header{ 
	background:url(../images/sp_head_bg.jpg) no-repeat center 64px;	
	background-size:contain;		
}

#headNavInner{
	margin:0 auto;
	padding:40px 0 0;	
	width:100%;
	text-align:right;		
}


#headInner{
	margin:40px auto 0;
	padding:0;
	width:100%;
	height:1150px;	
	background:url(../images/head_img.jpg) no-repeat center 120px;
	background-size:contain;
}
#headInner h1{
	padding-top:15px;	
	text-align:center;	
}

#call headInner h1{
	padding-top:0 !important;	
}

#headFrow{
	margin:20px auto 0;	
	padding:0 35px;	
	width:500px;	
	text-align:center;		
}
#headFrow dt{
	clear:both;
	margin:0 0 40px;
	padding:40px 0 16px;
	width:500px;
	text-align:center;
	border-bottom:1px solid #DF82B1;	
}

#headFrow dd{
	float:none;
	margin:0;
	width:500px;
	min-width:100%;
	height:411px;
	text-align:center;
	background:url(../images/sp_flow_salon.png) no-repeat;
	background-size:contain;						
}

#call #header{ 
	background:url(../images/sp_head_bg.jpg) no-repeat left 70px;	
	background-size:contain;		
}
#call #headInner{
	margin:0 auto;
	padding:0;
	width:100%;
	height:1050px;
	background:url(../images/head_img_call.jpg) no-repeat center 160px;
	background-size:contain;
}
#call #headInner h1 img{
	max-width:50% ;
	height:auto;	
}
#call #headFrow dt{
	padding:10px 0 16px;	
}
#call #headFrow dd{	
	width:500px;	
	min-width:100%;
	height:280px;	
	background:url(../images/sp_flow_call.png) no-repeat top;
	background-size:contain;						
}
#call .entryBtn{
	clear:both;
	padding:340px 0 0;
	text-align:center;
}

#newgraduates #headInner h1 img{
	max-width:60% ;
	height:auto;	
}

#newgraduates #headInner{
	margin:40px auto 0;
	padding:0;
	width:100%;
	height:1150px;	
	background:url(../../guidelines2/images/head_img.jpg) no-repeat center 120px;
	background-size:contain;
}
#newgraduates #headFrow dd{	
	float:none;
	margin:0;
	width:500px;
	min-width:100%;
	text-align:center;
	background:url(../../guidelines2/images/sp_frow_newgraduates.png) no-repeat;
	background-size:contain;						
}


#container{
	width:85%;
	margin:0 auto;
	padding:0;
	text-align:center;
}

table.schedule,
table.calendar{
	margin:.5em 0 25px;
}

.schedule th{
	padding:8px 10px;	
	font-size:100%;	
}

.schedule td{
	padding:18px 10px;	
	font-size:100%;	
}

.schedule p.kanto,
.schedule p.kansai,
.schedule p.nagoya,
.schedule p.tohoku{
	padding:10px;
}

.schInfo{
	margin:5px 0 15px;
	font-size:70%;
}

#calendarBox{
	font-size:100%;
	width:100%;	
}
#calendarBox li{
	display:block;
	margin:0 auto;	
	float:none;
	list-style:none;
	width:80%;	
}
#calendarBox li:last-child{	
	margin-left:45px;
}
.calendar th,
.calendar td{
	padding:6px 0;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	line-height:1.5;
	vertical-align:middle;
	text-align:center;
	width:14.2%;
}

.calendarTit{
	font-size:80%;
}
.calendarMonth{	
	font-size:140%;	
}
.calendar span.kanto{
	padding:7px 5px;
}
.calendar span.kansai{
	padding:7px 5px; 
}
.calendar span.nagoya{
	padding:7px 5px; 
}
.calendar span.tohoku{
	padding:7px 5px; 
}

#info span.infoTxt{
	display:block;
	float:none;
	margin:15px 0 0 0;
	text-align:center;	
}
#info span.infoNumber{
	display:block;
	float:none;	
	margin:10px 0 0;
	padding:0;
	color:#E80014;
	font-size:180%;	
	text-align:center;	
}
#info span.infoNumber a:link{
	color:#E80014;	
}

#guideBox h2 img{
	width:35%;
	height:auto;
}

.entryBtn{
	clear:both;
	padding:390px 0 0;
	text-align:center;
}
 
.entryBtn2{
	clear:both;
	padding:0;
	text-align:center;
}
.entryBtn2 img{
	max-width:100% !important;
}


#guideBox h3{
	margin:0;
	padding:0;
	width:100%;

}
#guideBox h3 img{
	max-width:100% !important;

}

table.guide th,
table.guide td{
	display:block;
}


.guide th{
	padding:5px 10px;
}
.guide td{
	padding:10px 10px;
}

#guideBox dt{
	margin:15px 0 0;   
}
#guideBox dd{
	margin:0 0 30px;   
}
#guideBox .guideBtnTxt{
	font-size:80%;  
}

.linkBtn img{
	max-width:100% !important;
}

#footer{
    margin: 40px auto 10px;
	width:100%;
	text-align:left;	
}

#footerLogo {
	width:145px;
	margin-right:0;
}

#footerTxt {
	float:right;
	width:350px;
	text-align:left;	
}

#footerBottom {
	padding:5px 0 35px;	
}

#footerInner span.company {
	text-indent:4px;
	padding:0;	
	font-size:70%;
	font-weight:bold;
}
#footerInner span.address{
	display:block !important;	
	font-size:45%;	
}
#footerInner span {
	display:block !important;
}
#footerCopy {
    display: block;	
    float: none;
	font-size:70%;	
}
#footerLink li:first-child {
	padding-left:15px;
}
#footerLink li:last-child {
	padding: 0 10px;
}	

.pc{
	display:none;
}
.sp{
	display:block;
}

}


@media screen and (max-width: 360px) {

#wrapper img {
	max-width:85%;
	height:auto;
}

#header{ 
	background:url(../images/sp_head_bg.jpg) no-repeat left 72px;	
	background-size:contain;		
}

#headNavInner{
	margin:0 auto;
	padding:40px 0 0;	
	width:100%;
	text-align:right;		
}

#headNav li{
	font-size:84%;
}

#headInner{
	margin:40px auto 0;
	padding:0;
	width:100%;
	height:650px;
	background:url(../images/head_img.jpg) no-repeat center 74px;
	background-size:contain;
}
#headInner h1,
#call #headInner h1{
	padding-top:0;	
	text-align:center;	
}

#headFrow{
	margin:0 auto;	
	padding:0 17px;	
	width:286px;	
	text-align:center;		
}
#headFrow dt{
	clear:both;
	margin:0 0 20px;
	padding:30px 0 16px;
	width:286px;
	text-align:center;
	border-bottom:1px solid #DF82B1;	
}

#headFrow dd{
	float:none;
	margin:0;
	width:286px;	
	height:200px;
	text-align:center;
	background:url(../images/sp_flow_salon.png) no-repeat top;
	background-size:contain;						
}


#call #header{ 
	background:url(../images/sp_head_bg.jpg) no-repeat left 80px;	
	background-size:contain;		
}
#call #headInner{
	margin:30px auto 0;
	padding:0;
	width:100%;
	height:600px;
	background:url(../images/head_img_call.jpg) no-repeat center 84px;
	background-size:contain;
}
#call #headInner h1 img{
	max-width:65% ;
	height:auto;	
}
#call #headFrow dt{
	padding:10px 0 16px;	
}
#call #headFrow dd{	
	width:286px;
	height:170px;	
	background:url(../images/sp_flow_call.png) no-repeat top;
	background-size:contain;						
}
#call .entryBtn{
	clear:both;
	padding:200px 0 0;
	text-align:center;
}


#newgraduates #headInner h1 img{
	max-width:55% ;
	height:auto;	
}

#newgraduates #headInner{
	margin:30px auto 0;
	padding:0;
	width:100%;
	height:650px;	
	background:url(../../guidelines2/images/head_img.jpg) no-repeat center 70px;
	background-size:contain;
}
#newgraduates #headFrow dd{	
	float:none;
	margin:0;
	width:286px;	
	height:235px;
	text-align:center;
	background:url(../../guidelines2/images/sp_frow_newgraduates.png) no-repeat;
	background-size:contain;						
}


#container{
	width:85%;
	margin:0 auto;
	padding:0;
	text-align:center;
}

table.schedule,
table.calendar{
	margin:.5em 0 25px;
}
.schedule th{
	padding:8px 10px;	
	font-size:100%;	
}

.schedule td{
	padding:14px 10px;	
	font-size:100%;	
}

.schedule p.kanto,
.schedule p.kansai,
.schedule p.nagoya,
.schedule p.tohoku{
	padding:10px;
}

#info span.infoTxt{
	display:block;
	float:none;
	margin:5px 0 0 0;
	font-size:60%;		
	text-align:center;	
}
#info span.infoNumber{
	display:block;
	float:none;	
	margin:5px 0 0;
	padding:0;
	color:#E80014;
	font-size:100%;	
	text-align:center;	
}
#info span.infoNumber a:link{
	color:#E80014;	
}

#guideBox h2{
	padding:30px 0 0;
	text-align:left;
}
#guideBox h2 img{
	width:35%;
	height:auto;
}

#calendarBox{
	font-size:100%;
	width:100%;		
}
#calendarBox li{
	display:block;
	margin:0 auto;
	float:none;
	list-style:none;
	width:80%;	
}
#calendarBox li:last-child{
	margin-left:29px;
}
.calendar th,
.calendar td{
	padding:6px 0;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	line-height:1.5;
	vertical-align:middle;
	text-align:center;
	width:14.2%;
}

.calendarTit{
	font-size:80%;
}
.calendarMonth{	
	font-size:140%;	
}

.calendar span.kanto{
	padding:7px 5px;
}
.calendar span.kansai{
	padding:7px 5px; 
}
.calendar span.nagoya{
	padding:7px 5px; 
}
.calendar span.tohoku{
	padding:7px 5px; 
}

.entryBtn{
	clear:both;
	padding:230px 0 0;
	text-align:center;
}
.entryBtn2{
	clear:both;
	padding:0;
	text-align:center;
}
.entryBtn2 img{
	max-width:100% !important;
}

#guideBox h3{
	margin:0;
	padding:0;
	width:100%;
}

#guideBox h3 img{
	max-width:100% !important;

}

table.guide{
	margin:0 0 1em;
	
}

table.guide,
.guide th,
.guide td{
	border:1px solid #808080;
}

table.guide th,
table.guide td{
	display:block;
}

.guide th{
	padding:5px 10px;
}
.guide td{
	padding:10px 10px;
}

#guideBox dt{
	margin:15px 0 0;   
}
#guideBox dd{
	margin:0 0 30px;   
}

#guideBox .guideBtnTxt{
	font-size:80%;  
}

.linkBtn img{
	max-width:100% !important;
}	

#footer{
    margin: 40px auto 10px;
	width:286px;
	text-align:left;	
}

#footerLogo {
	width:85px;
	margin-right:0;
}

#footerTxt {
	float:right;
	width:200px;
	text-align:left;	
}

#footerBottom {
	padding:5px 0 35px;	
}

#footerInner span.company {
	text-indent:4px;
	padding:0;	
	font-size:70%;
	font-weight:bold;
}
#footerInner span.address{
	display:block !important;	
	font-size:45%;	
}
#footerInner span {
	display:block !important;
}
#footerCopy {
    display: block;	
    float: none;
	font-size:70%;	
}
#footerLink li {
	font-size:80%;		
}
#footerLink li:first-child {
	padding-left:15px;
}
#footerLink li:last-child {
	padding: 0 10px;
}

.pc{
	display:none;
}
.sp{
	display:block;
}

}
