@charset "UTF-8";
/* ***************************** Import file to Scss or Sass. */
/* -----------------------------------------------------------------
Title: reset.css
Created: 2019-11-27
Last Modified: 2018-12-28
------------------------------------------------------------------ */
/*　目次
-----------------------------------------------------------------

#01-リセット
#02-基本タグの定義
#03-CSSハック

------------------------------------------------------------------ */
/* -----------------------------------------------------------------

#01　リセット

------------------------------------------------------------------ */
/* -----------------------------------------------------------------

#02　基本タグの定義

------------------------------------------------------------------ */
body { font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; -webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1; letter-spacing: 0.05em; }

/* IE表示用のCSS　*/
@media all and (-ms-high-contrast: none) { body { font-family: "メイリオ", sans-serif; } }

@media all and (-ms-high-contrast: none) { body { letter-spacing: 0; } }

.pc-main { /** anchors */ /**************************************/ }

.pc-main h1, .pc-main h2, .pc-main h3, .pc-main h4, .pc-main h5, .pc-main h6 { font-weight: 100; }

.pc-main p { text-align: left; }

.pc-main span { font-size: 1em; }

.pc-main address, .pc-main caption, .pc-main cite, .pc-main code, .pc-main dfn, .pc-main em, .pc-main strong, .pc-main th, .pc-main var { font-style: normal; font-weight: 100; }

.pc-main a img { border-style: none; outline: medium none; }

.pc-main object { border-style: none; outline: medium none; }

.pc-main a { color: #c21126; text-decoration: none; outline: none; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.pc-main a:link { outline: medium none; }

.pc-main a:visited { outline: medium none; }

/* -----------------------------------------------------------------
@mixin
------------------------------------------------------------------ */
.century_font { font-family: 'Century Gothic',arial,sans-serif; }

.hannari_font { font-family: "Hannari",'Noto Serif JP','Sawarabi Mincho', serif; font-weight: 400; }

@media screen and (min-width: 1000px) { /* ----------------------------------------------------------------- float ------------------------------------------------------------------ */
  .float_l { float: left; }
  .float_r { float: right; } }

/* -----------------------------------------------------------------
ClearFix
------------------------------------------------------------------ */
.clear:after { content: " "; height: 0px; clear: both; visibility: hidden; display: block; }

.clear { display: inline-block; }

* html .clear { height: 1%; }

.clear { display: block; }

/* -----------------------------------------------------------------
margin
------------------------------------------------------------------ */
.ma { margin: 0 auto; }

.mt5 { margin-top: 5px; }

.mr5 { margin-right: 5px; }

.mb5 { margin-bottom: 5px; }

.ml5 { margin-left: 5px; }

.pt5 { padding-top: 5px; }

.pr5 { padding-right: 5px; }

.pb5 { padding-bottom: 5px; }

.pl5 { padding-left: 5px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.mb10 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.pt10 { padding-top: 10px; }

.pr10 { padding-right: 10px; }

.pb10 { padding-bottom: 10px; }

.pl10 { padding-left: 10px; }

.mt15 { margin-top: 15px; }

.mr15 { margin-right: 15px; }

.mb15 { margin-bottom: 15px; }

.ml15 { margin-left: 15px; }

.pt15 { padding-top: 15px; }

.pr15 { padding-right: 15px; }

.pb15 { padding-bottom: 15px; }

.pl15 { padding-left: 15px; }

.mt20 { margin-top: 20px; }

.mr20 { margin-right: 20px; }

.mb20 { margin-bottom: 20px; }

.ml20 { margin-left: 20px; }

.pt20 { padding-top: 20px; }

.pr20 { padding-right: 20px; }

.pb20 { padding-bottom: 20px; }

.pl20 { padding-left: 20px; }

.mt25 { margin-top: 25px; }

.mr25 { margin-right: 25px; }

.mb25 { margin-bottom: 25px; }

.ml25 { margin-left: 25px; }

.pt25 { padding-top: 25px; }

.pr25 { padding-right: 25px; }

.pb25 { padding-bottom: 25px; }

.pl25 { padding-left: 25px; }

.mt30 { margin-top: 30px; }

.mr30 { margin-right: 30px; }

.mb30 { margin-bottom: 30px; }

.ml30 { margin-left: 30px; }

.pt30 { padding-top: 30px; }

.pr30 { padding-right: 30px; }

.pb30 { padding-bottom: 30px; }

.pl30 { padding-left: 30px; }

.mt35 { margin-top: 35px; }

.mr35 { margin-right: 35px; }

.mb35 { margin-bottom: 35px; }

.ml35 { margin-left: 35px; }

.pt35 { padding-top: 35px; }

.pr35 { padding-right: 35px; }

.pb35 { padding-bottom: 35px; }

.pl35 { padding-left: 35px; }

.mt40 { margin-top: 40px; }

.mr40 { margin-right: 40px; }

.mb40 { margin-bottom: 40px; }

.ml40 { margin-left: 40px; }

.pt40 { padding-top: 40px; }

.pr40 { padding-right: 40px; }

.pb40 { padding-bottom: 40px; }

.pl40 { padding-left: 40px; }

.mt45 { margin-top: 45px; }

.mr45 { margin-right: 45px; }

.mb45 { margin-bottom: 45px; }

.ml45 { margin-left: 45px; }

.pt45 { padding-top: 45px; }

.pr45 { padding-right: 45px; }

.pb45 { padding-bottom: 45px; }

.pl45 { padding-left: 45px; }

.mt50 { margin-top: 50px; }

.mr50 { margin-right: 50px; }

.mb50 { margin-bottom: 50px; }

.ml50 { margin-left: 50px; }

.pt50 { padding-top: 50px; }

.pr50 { padding-right: 50px; }

.pb50 { padding-bottom: 50px; }

.pl50 { padding-left: 50px; }

.mt55 { margin-top: 55px; }

.mr55 { margin-right: 55px; }

.mb55 { margin-bottom: 55px; }

.ml55 { margin-left: 55px; }

.pt55 { padding-top: 55px; }

.pr55 { padding-right: 55px; }

.pb55 { padding-bottom: 55px; }

.pl55 { padding-left: 55px; }

.mt60 { margin-top: 60px; }

.mr60 { margin-right: 60px; }

.mb60 { margin-bottom: 60px; }

.ml60 { margin-left: 60px; }

.pt60 { padding-top: 60px; }

.pr60 { padding-right: 60px; }

.pb60 { padding-bottom: 60px; }

.pl60 { padding-left: 60px; }

.mt65 { margin-top: 65px; }

.mr65 { margin-right: 65px; }

.mb65 { margin-bottom: 65px; }

.ml65 { margin-left: 65px; }

.pt65 { padding-top: 65px; }

.pr65 { padding-right: 65px; }

.pb65 { padding-bottom: 65px; }

.pl65 { padding-left: 65px; }

.mt70 { margin-top: 70px; }

.mr70 { margin-right: 70px; }

.mb70 { margin-bottom: 70px; }

.ml70 { margin-left: 70px; }

.pt70 { padding-top: 70px; }

.pr70 { padding-right: 70px; }

.pb70 { padding-bottom: 70px; }

.pl70 { padding-left: 70px; }

.mt75 { margin-top: 75px; }

.mr75 { margin-right: 75px; }

.mb75 { margin-bottom: 75px; }

.ml75 { margin-left: 75px; }

.pt75 { padding-top: 75px; }

.pr75 { padding-right: 75px; }

.pb75 { padding-bottom: 75px; }

.pl75 { padding-left: 75px; }

.mt80 { margin-top: 80px; }

.mr80 { margin-right: 80px; }

.mb80 { margin-bottom: 80px; }

.ml80 { margin-left: 80px; }

.pt80 { padding-top: 80px; }

.pr80 { padding-right: 80px; }

.pb80 { padding-bottom: 80px; }

.pl80 { padding-left: 80px; }

.mt85 { margin-top: 85px; }

.mr85 { margin-right: 85px; }

.mb85 { margin-bottom: 85px; }

.ml85 { margin-left: 85px; }

.pt85 { padding-top: 85px; }

.pr85 { padding-right: 85px; }

.pb85 { padding-bottom: 85px; }

.pl85 { padding-left: 85px; }

.mt90 { margin-top: 90px; }

.mr90 { margin-right: 90px; }

.mb90 { margin-bottom: 90px; }

.ml90 { margin-left: 90px; }

.pt90 { padding-top: 90px; }

.pr90 { padding-right: 90px; }

.pb90 { padding-bottom: 90px; }

.pl90 { padding-left: 90px; }

.mt95 { margin-top: 95px; }

.mr95 { margin-right: 95px; }

.mb95 { margin-bottom: 95px; }

.ml95 { margin-left: 95px; }

.pt95 { padding-top: 95px; }

.pr95 { padding-right: 95px; }

.pb95 { padding-bottom: 95px; }

.pl95 { padding-left: 95px; }

.mt100 { margin-top: 100px; }

.mr100 { margin-right: 100px; }

.mb100 { margin-bottom: 100px; }

.ml100 { margin-left: 100px; }

.pt100 { padding-top: 100px; }

.pr100 { padding-right: 100px; }

.pb100 { padding-bottom: 100px; }

.pl100 { padding-left: 100px; }

.fs10 { font-size: 1em; }

.fs11 { font-size: 1.1em; }

.fs12 { font-size: 1.2em; }

.fs13 { font-size: 1.3em; }

.fs14 { font-size: 1.4em; }

.fs15 { font-size: 1.5em; }

/* -----------------------------------------------------------------
@mixin
------------------------------------------------------------------ */
/* -----------------------------------------------------------------
.index
------------------------------------------------------------------ */
ul#fixed_link { position: fixed; top: 35vh; right: 0; z-index: 10; }

ul#fixed_link li:first-child { margin: 0 0 10px 0; }

ul#fixed_link li a { display: block; -webkit-filter: drop-shadow(0px 0 6px rgba(0, 0, 0, 0.4)); filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4)); -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

ul#fixed_link li a:hover { opacity: 0.7; }

.pc-main { position: relative; top: 0; left: 0; }

.pc-main .inview_block, .pc-main .inview_item { zoom: 0; }

.pc-main .inview_block .inview_item { transform: translateY(30px); -webkit-transform: translateY(30px); opacity: 0; position: relative; }

.pc-main .inview_block .inview_item1 { transition: transform 0.5s ease-out, 0.5s ease-out 0.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.2s; }

.pc-main .inview_block .inview_item2 { transition: transform 0.5s ease-out, 0.5s ease-out 0.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.4s; }

.pc-main .inview_block .inview_item3 { transition: transform 0.5s ease-out, 0.5s ease-out 0.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.6s; }

.pc-main .inview_block .inview_item4 { transition: transform 0.5s ease-out, 0.5s ease-out 0.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.8s; }

.pc-main .inview_block .inview_item5 { transition: transform 0.5s ease-out, 0.5s ease-out 1s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1s; }

.pc-main .inview_block .inview_item6 { transition: transform 0.5s ease-out, 0.5s ease-out 1.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.2s; }

.pc-main .inview_block .inview_item7 { transition: transform 0.5s ease-out, 0.5s ease-out 1.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.4s; }

.pc-main .inview_block .inview_item8 { transition: transform 0.5s ease-out, 0.5s ease-out 1.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.6s; }

.pc-main .inview_block .inview_item9 { transition: transform 0.5s ease-out, 0.5s ease-out 1.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.8s; }

.pc-main .inview_block .inview_item10 { transition: transform 0.5s ease-out, 0.5s ease-out 2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2s; }

.pc-main .inview_block .inview_item11 { transition: transform 0.5s ease-out, 0.5s ease-out 2.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.2s; }

.pc-main .inview_block .inview_item12 { transition: transform 0.5s ease-out, 0.5s ease-out 2.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.4s; }

.pc-main .inview_block .inview_item13 { transition: transform 0.5s ease-out, 0.5s ease-out 2.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.6s; }

.pc-main .inview_block .inview_item14 { transition: transform 0.5s ease-out, 0.5s ease-out 2.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.8s; }

.pc-main .inview_block .inview_item15 { transition: transform 0.5s ease-out, 0.5s ease-out 3s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3s; }

.pc-main .inview_block .inview_item16 { transition: transform 0.5s ease-out, 0.5s ease-out 3.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.2s; }

.pc-main .inview_block .inview_item17 { transition: transform 0.5s ease-out, 0.5s ease-out 3.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.4s; }

.pc-main .inview_block .inview_item18 { transition: transform 0.5s ease-out, 0.5s ease-out 3.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.6s; }

.pc-main .inview_block .inview_item19 { transition: transform 0.5s ease-out, 0.5s ease-out 3.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.8s; }

.pc-main .inview_block .inview_item20 { transition: transform 0.5s ease-out, 0.5s ease-out 4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 4s; }

.pc-main .inview_block.show_item .inview_item { transform: none; -webkit-transform: none; opacity: 1.0; }

.pc-main #main_img.main_img01 { background: #c21126; }

.pc-main #main_img.main_img01 div strong, .pc-main #main_img.main_img01 div h1 { display: block; font-size: 20px; color: #FFFFFF; text-align: center; }

.pc-main #main_img.main_img01 div strong { font-size: 20px; letter-spacing: 0.14em; }

.pc-main #main_img.main_img01 div h1 { font-size: 39px; letter-spacing: 0.1em; line-height: 1.0; }

.pc-main #main_img.main_img01 p { background: #ffbebe; text-align: center; }

.pc-main #main_img.main_img01 p img { width: 100%; height: auto; max-width: 1200px; margin: 0 auto; }

.pc-main #main_img.main_img02 { position: relative; top: 0; left: 0; }

.pc-main #main_img.main_img02::before { display: block; content: ''; position: absolute; top: 0; left: 0; background: #c21126; width: 100%; height: 546px; }

.pc-main #main_img.main_img02 div.bg { position: relative; top: 0; left: 0; }

.pc-main #main_img.main_img02 div.bg div.txt { position: relative; top: 0; left: 0; max-width: 1200px; width: 100%; height: 334px; box-sizing: border-box; margin: 0 auto; }

.pc-main #main_img.main_img02 div.bg div.txt strong, .pc-main #main_img.main_img02 div.bg div.txt h1, .pc-main #main_img.main_img02 div.bg div.txt p { display: block; text-align: center; color: #FFFFFF; }

.pc-main #main_img.main_img02 div.bg div.txt strong { font-size: 20px; letter-spacing: 0.14em; }

.pc-main #main_img.main_img02 div.bg div.txt h1 { font-size: 41px; letter-spacing: 0.06em; }

.pc-main #main_img.main_img02 div.bg div.txt p { font-size: 25px; line-height: 1.92; letter-spacing: 0.26em; }

.pc-main #main_img.main_img02 div.bg div.flex { position: relative; top: 0; left: 0; display: -webkit-flex; display: -ms-flex; display: flex; background: url(../images/common/tilte_bg.png) center top no-repeat; width: 1000px; height: 400px; margin: 0 auto; }

.pc-main #main_img.main_img02 div.bg div.flex div.left { position: relative; top: 0; left: 0; width: 500px; padding: 48px 0 0 0; }

.pc-main #main_img.main_img02 div.bg div.flex div.left em { display: block; position: absolute; bottom: 0; left: 0; width: 152px; }

.pc-main #main_img.main_img02 div.bg div.flex div.left h3, .pc-main #main_img.main_img02 div.bg div.flex div.left h2 { font-size: 25px; text-align: center; letter-spacing: 0.22em; color: #4d4d4d; }

.pc-main #main_img.main_img02 div.bg div.flex div.left div strong { font-size: 16px; font-weight: bold; color: #4d4d4d; }

.pc-main #main_img.main_img02 div.bg div.flex div.left div ul li { background: url(../images/common/icon03.svg) left 4px no-repeat; background-size: 29px auto; font-size: 14px; color: #4d4d4d; line-height: 2.46429; }

.pc-main #main_img.main_img02 div.bg div.flex div.left div ul li span { position: relative; top: 0; left: 0; display: block; }

.pc-main #main_img.main_img02 div.bg div.flex div.left div ul li span::after { position: absolute; bottom: 0; left: 0; display: block; content: ''; background: #4d4d4d; width: 100%; height: 1px; }

.pc-main #main_img.main_img02 div.bg div.flex div.left div p { font-size: 14px; line-height: 2; color: #4d4d4d; }

.pc-main #main_img.main_img02 div.bg div.flex div.right { position: relative; top: 0; left: 0; width: 500px; padding: 48px 0 0 0; }

.pc-main #main_img.main_img02 div.bg div.flex div.right em { display: block; position: absolute; bottom: 0; right: -10px; width: 172px; }

.pc-main #main_img.main_img02 div.bg div.flex div.right h3, .pc-main #main_img.main_img02 div.bg div.flex div.right h2 { font-size: 25px; text-align: center; color: #c21126; letter-spacing: 0.22em; }

.pc-main #main_img.main_img02 div.bg div.flex div.right div span { display: block; }

.pc-main #main_img.main_img02 div.bg div.flex div.right div p { font-size: 14px; line-height: 2; color: #4d4d4d; letter-spacing: 0.04em; }

.pc-main .pc_index section#key_img { background: #c21126; }

.pc-main .pc_index section#key_img ul li { text-align: center; }

.pc-main .pc_index section#key_img ul li img { width: auto; height: 100%; max-height: 670px; margin: 0 auto; }

.pc-main .pc_index section#cont01 { background: #ffd3d3 url(../images/common/bg01.svg) center top no-repeat; background-size: 1200px auto; padding: 48px 0 56px 0; }

.pc-main .pc_index section#cont01 div.inner h2 { text-align: center; color: #c21126; font-size: 39px; line-height: 1; letter-spacing: -0.01em; margin: 0 0 20px 0; }

.pc-main .pc_index section#cont01 div.inner h2 span { display: block; font-size: 20px; letter-spacing: 0.14em; margin: 0 0 10px 0; }

.pc-main .pc_index section#cont01 div.inner ul li { margin: 0 0.83333vw; }

.pc-main .pc_index section#cont01 div.inner ul li img { width: 100%; height: auto; }

.pc-main .pc_index section#cont01 div.inner .slick-dots { position: relative; bottom: 0; padding: 17px 0 0 0; }

.pc-main .pc_index section#cont01 div.inner .slick-dots li button { background: #4d4d4d; width: 7px; height: 7px; }

.pc-main .pc_index section#cont01 div.inner .slick-dots li.slick-active button { background: #c21126; }

.pc-main .pc_index section#cont02 { padding: 48px 0 88px 0; }

.pc-main .pc_index section#cont02 div.inner { max-width: 1200px; width: 100%; margin: 0 auto; }

.pc-main .pc_index section#cont02 div.inner h2 { display: -webkit-flex; display: -ms-flex; display: flex; margin: 0 0 10px 104px; }

.pc-main .pc_index section#cont02 div.inner h2 span { display: block; margin: 0 0 0 0; }

.pc-main .pc_index section#cont02 div.inner h2 em { display: block; font-size: 30px; text-indent: 21px; line-height: 1.66667; margin: 37px 0 0 9px; }

.pc-main .pc_index section#cont02 div.inner div.lead { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: flex-end; background: url(../images/index/cont02_bg.jpg) center top no-repeat; width: 900px; height: 298px; padding: 66px 38px 0 0; margin: 0 auto 27px auto; box-sizing: border-box; }

.pc-main .pc_index section#cont02 div.inner div.lead div { width: 342px; margin: 0 0 0 0; }

.pc-main .pc_index section#cont02 div.inner div.lead strong { display: block; font-size: 23px; text-align: center; letter-spacing: -0.12em; color: #c21126; margin: 0 0 3px 0; }

.pc-main .pc_index section#cont02 div.inner div.lead strong em { letter-spacing: -0.54em; }

.pc-main .pc_index section#cont02 div.inner div.lead ol { display: -webkit-flex; display: -ms-flex; display: flex; margin: 0 0 13px 0; }

.pc-main .pc_index section#cont02 div.inner div.lead ol li { border: solid 1px #c21126; background: #c21126; text-align: center; color: #FFFFFF; font-size: 17px; width: 88px; margin: 0 9px 0 0; box-sizing: border-box; padding: 5px 0 6px 0; }

.pc-main .pc_index section#cont02 div.inner div.lead ol li:last-child { width: 142px; margin: 0; }

.pc-main .pc_index section#cont02 div.inner div.lead ol li:nth-child(2) { color: #c21126; background: #FFFFFF; }

.pc-main .pc_index section#cont02 div.inner div.lead p { font-size: 12px; color: #4d4d4d; text-align: justify; line-height: 1.875; }

.pc-main .pc_index section#cont02 div.inner p.img { width: 900px; margin: 0 auto; }

.pc-main .pc_index section#cont02 div.inner p.img img { width: 872px; height: auto; }

.pc-main .pc_index section#cont03 { margin: 0 0 100px 0; }

.pc-main .pc_index section#cont03 p.link { width: 320px; margin: 104px auto 0 auto; }

.pc-main .pc_index section#cont03 p.link a { border-radius: 55px; display: block; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-size: 20px auto; background-position: right 20px center; letter-spacing: 0.35em; text-align: center; text-indent: -15px; font-size: 14px; color: #FFFFFF; padding: 16px 0 18px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_index section#cont03 p.link a:hover { background-position: right 14px center; opacity: 0.8; }

.pc-main .pc_index section#cont03 div.min_cont { position: relative; top: 0; left: 0; margin: 0 0 68px 0; z-index: 1; }

.pc-main .pc_index section#cont03 div.min_cont::before { display: block; content: ''; position: absolute; width: 50vw; }

.pc-main .pc_index section#cont03 div.min_cont div.inner { position: relative; top: 0; left: 0; max-width: 1200px; width: 100%; margin: 0 auto; }

.pc-main .pc_index section#cont03 div.min_cont div.inner::before { display: block; content: ''; position: absolute; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 { margin: 0 0 51px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01::before { background: #ffbfbe; top: 20px; left: 0; height: 460px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.inner::before { background: #ffbfbe; top: 20px; left: 0; width: 860px; height: 460px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg { justify-content: flex-end; background: url(../images/index/cont03_bg01.png) center top no-repeat; padding: 72px 50px 0 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg div.box { padding: 82px 0 55px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg div.box strong { top: -100px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg div.box div { margin: 0 auto 21px auto; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont01 div.bg div.box div h4 { margin: 0 0 24px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02::before { background: #fbc280; top: 48px; right: 0; height: 504px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.inner::before { background: #fbc280; top: 48px; right: 0; width: 840px; height: 504px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg { background: url(../images/index/cont03_bg02.png) center top no-repeat; padding: 126px 0 0 48px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg div.box { padding: 71px 0 56px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg div.box strong { top: -110px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg div.box div { margin: 0 auto 22px auto; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont02 div.bg div.box div h4 { margin: 0 0 24px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 { margin: 0 0 75px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03::before { background: #ffbfbe; top: 32px; left: 0; height: 492px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.inner::before { background: #ffbfbe; top: 32px; left: 0; width: 860px; height: 492px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg { justify-content: flex-end; background: url(../images/index/cont03_bg03.png) center top no-repeat; padding: 111px 50px 0 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg div.box { padding: 70px 0 53px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg div.box strong { top: -107px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg div.box div { margin: 0 auto 22px auto; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont03 div.bg div.box div h4 { margin: 0 0 17px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 { margin: 0 0 82px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04::before { background: #fbc280; top: 24px; right: 0; height: 501px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.inner::before { background: #fbc280; top: 24px; right: 0; width: 840px; height: 501px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg { background: url(../images/index/cont03_bg04.png) center top no-repeat; padding: 90px 0 0 48px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg div.box { padding: 74px 0 54px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg div.box strong { top: -100px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg div.box div { margin: 0 auto 28px auto; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont04 div.bg div.box div h4 { margin: 0 0 24px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 { margin: 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05::before { background: #ffbfbe; top: 20px; left: 0; height: 472px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.inner::before { background: #ffbfbe; top: 20px; left: 0; width: 860px; height: 472px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg { justify-content: flex-end; background: url(../images/index/cont03_bg05.png) center top no-repeat; padding: 90px 50px 0 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg div.box { padding: 75px 0 52px 0; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg div.box strong { top: -106px; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg div.box div { margin: 0 auto 22px auto; }

.pc-main .pc_index section#cont03 div.min_cont.min_cont05 div.bg div.box div h4 { margin: 0 0 18px 0; }

.pc-main .pc_index section#cont03 div.min_cont div.bg { position: relative; top: 0; left: 0; display: -webkit-flex; display: -ms-flex; display: flex; box-sizing: border-box; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box { position: relative; top: 0; left: 0; border: 1px solid #c21126; background: #FFFFFF; width: 423px; box-sizing: border-box; padding: 72px 0 55px 0; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box strong { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; position: absolute; left: 138px; background: url(../images/common/comment.svg) center top no-repeat; background-size: contain; text-align: center; color: #FFFFFF; font-size: 16px; line-height: 1.5; letter-spacing: 0.5em; width: 145px; height: 147px; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box strong em { display: block; text-align: center; margin: 0 auto; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box div { width: 320px; margin: 0 auto 14px auto; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box div h4 { display: block; text-align: center; margin: 0 0 14px 0; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box div p { color: #4d4d4d; font-size: 14px; text-align: justify; line-height: 2; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box p.link { width: 320px; margin: 0 auto; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box p.link a { border-radius: 55px; display: block; background: #c21126 url(../images/common/icon01.svg) no-repeat; background-size: 20px auto; background-position: right 20px center; letter-spacing: 0.35em; text-align: center; text-indent: -15px; font-size: 14px; color: #FFFFFF; padding: 16px 0 18px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_index section#cont03 div.min_cont div.bg div.box p.link a:hover { background-position: right 14px center; opacity: 0.8; }

.pc-main .pc_index section#cont04 { background: #ffd3d3; padding: 73px 0 100px 0; }

.pc-main .pc_index section#cont04 div.inner h2 { text-align: center; color: #c21126; font-size: 15px; line-height: 1.2; letter-spacing: 0.06em; margin: 0 0 40px 0; }

.pc-main .pc_index section#cont04 div.inner h2 span { display: block; font-size: 65px; margin: 0 0 7px 0; }

.pc-main .pc_index section#cont04 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; }

.pc-main .pc_index section#cont04 div.inner ul li { position: relative; top: 0; left: 0; width: 222px; margin: 0 34px 0 0; }

.pc-main .pc_index section#cont04 div.inner ul li:last-child { margin: 0; }

.pc-main .pc_index section#cont04 div.inner ul li a { position: relative; top: 0; left: 0; display: block; border: 1px solid #c21126; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.pc-main .pc_index section#cont04 div.inner ul li a:hover { opacity: 0.7; }

.pc-main .pc_index section#cont04 div.inner ul li a span { display: block; }

.pc-main .pc_index section#cont04 div.inner ul li a em { position: relative; top: 0; left: 0; display: block; background: #c21126 url(../images/common/icon02.svg) right bottom no-repeat; background-size: 34px auto; text-align: center; color: #FFFFFF; font-size: 16px; letter-spacing: 0.5em; padding: 20px 0; }

.pc-main .pc_index section#cont05 { margin: 90px 0 0 0; }

.pc-main .pc_index section#cont05 div.inner { width: 920px; margin: 0 auto; }

.pc-main .pc_index section#cont05 div.inner h3 { font-size: 36px; letter-spacing: 0.07em; text-align: center; color: #4d4d4d; line-height: 1.0em; margin: 0 0 40px 0; }

.pc-main .pc_index section#cont05 div.inner h3 span { display: block; color: #c21126; font-size: 20px; letter-spacing: 0.16em; margin: 0 0 2px 0; }

.pc-main .pc_index section#cont05 div.inner div.scroll { border: 1px solid #a8a8a8; width: 100%; height: 320px; overflow-y: scroll; }

.pc-main .pc_index section#cont05 div.inner div.scroll p.link { padding: 29px 0 29px 0; text-align: right; }

.pc-main .pc_index section#cont05 div.inner div.scroll p.link a { display: inline-block; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; padding: 0 20px; }

.pc-main .pc_index section#cont05 div.inner div.scroll p.link a:hover { opacity: 0.7; }

.pc-main .pc_index section#cont05 div.inner div.scroll ul li { display: -webkit-flex; display: -ms-flex; display: flex; border-bottom: 1px solid #a8a8a8; padding: 29px 0 29px 0; }

.pc-main .pc_index section#cont05 div.inner div.scroll ul li span { display: block; text-align: center; font-size: 12px; color: #ababab; letter-spacing: 0.4em; width: 218px; }

.pc-main .pc_index section#cont05 div.inner div.scroll ul li p { padding: 0 0 0 17px; }

.pc-main .pc_index section#cont05 div.inner div.scroll ul li p a { display: block; font-size: 14px; letter-spacing: 0.26em; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.pc-main .pc_index section#cont05 div.inner div.scroll ul li p a:hover { opacity: 0.7; }

.pc-main .pc_policy #main_img.main_img01 div { padding: 63px 0 47px 0; }

.pc-main .pc_policy #main_img.main_img01 div strong { font-size: 20px; letter-spacing: 0.14em; margin: 0 0 11px 0; }

.pc-main .pc_policy section#cont01 { padding: 42px 0 145px 0; }

.pc-main .pc_policy section#cont01 div.inner div.text { margin: 0 0 120px 0; }

.pc-main .pc_policy section#cont01 div.inner div.text strong { display: block; text-align: center; color: #c21126; font-size: 25px; letter-spacing: 0.25em; line-height: 1.92; margin: 0 0 33px 0; }

.pc-main .pc_policy section#cont01 div.inner div.text p { text-align: center; font-size: 14px; letter-spacing: 0.14em; color: #4d4d4d; line-height: 2; }

.pc-main .pc_policy section#cont01 div.inner h2 { text-align: center; font-size: 36px; line-height: 1.1; color: #c21126; margin: 0 0 73px 0; }

.pc-main .pc_policy section#cont01 div.inner h2 span { display: block; font-size: 20px; margin: 0 0 11px 0; }

.pc-main .pc_policy section#cont01 div.inner div.flex { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 1000px; margin: 0 auto; }

.pc-main .pc_policy section#cont01 div.inner div.flex div.img { position: relative; top: 0; left: 0; width: 565px; }

.pc-main .pc_policy section#cont01 div.inner div.flex div.img span { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; top: 120px; right: -86px; background: url(../images/policy/cont01_icon.svg) center center no-repeat; background-size: contain; font-size: 20px; letter-spacing: 0.14em; text-align: center; line-height: 1.6; color: #FFFFFF; width: 179px; height: 179px; }

.pc-main .pc_policy section#cont01 div.inner div.flex div.comment { width: 335px; }

.pc-main .pc_policy section#cont01 div.inner div.flex div.comment strong { display: block; color: #c21126; font-size: 30px; letter-spacing: 0.1em; line-height: 1.5; margin: 0 0 12px 0; }

.pc-main .pc_policy section#cont01 div.inner div.flex div.comment p { color: #4d4d4d; font-size: 14px; letter-spacing: 0.14em; line-height: 2; }

.pc-main .pc_policy section#cont02 { background: url(../images/policy/cont02_bg.jpg) center center no-repeat; background-size: cover; padding: 96px 0 100px 0; }

.pc-main .pc_policy section#cont02 div.inner h2 { text-align: center; color: #c21126; font-size: 15px; letter-spacing: 0.2em; margin: 0 0 67px 0; }

.pc-main .pc_policy section#cont02 div.inner h2 span { display: block; letter-spacing: 0.25em; font-size: 36px; }

.pc-main .pc_policy section#cont02 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 1000px; margin: 0 auto; }

.pc-main .pc_policy section#cont02 div.inner ul li { position: relative; top: 0; left: 0; border-radius: 15px; background: #c21126; width: 130px; height: 200px; text-align: center; box-sizing: border-box; padding: 24px 0 0 0; }

.pc-main .pc_policy section#cont02 div.inner ul li img { display: block; margin: 0 auto 13px auto; }

.pc-main .pc_policy section#cont02 div.inner ul li span { display: block; font-size: 14px; letter-spacing: 0.1em; line-height: 1.71429; text-align: center; color: #FFFFFF; }

.pc-main .pc_policy section#cont02 div.inner ul li p { visibility: hidden; opacity: 0; transition: .3s linear; position: absolute; bottom: 102%; left: -16%; width: 132%; border: 1px solid #c21126; border-radius: 15px; background: #FFFFFF; }

.pc-main .pc_policy section#cont02 div.inner ul li p::before { content: ""; position: absolute; bottom: -24px; left: 50%; margin-left: -15px; border: 12px solid transparent; border-top: 12px solid #FFFFFF; z-index: 2; }

.pc-main .pc_policy section#cont02 div.inner ul li p:after { content: ""; position: absolute; bottom: -28px; left: 50%; margin-left: -17px; border: 14px solid transparent; border-top: 14px solid #c21126; z-index: 1; }

.pc-main .pc_policy section#cont02 div.inner ul li p em { -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; display: block; font-size: 14px; padding: 25px 30px; }

.pc-main .pc_policy section#cont02 div.inner ul li:hover p { visibility: visible; opacity: 1; }

.pc-main .pc_policy section#cont03 { background: url(../images/policy/cont03_bg.svg) no-repeat; background-size: 1200px auto; background-position: center 187px; padding: 84px 0 102px 0; }

.pc-main .pc_policy section#cont03 div.inner div.arrow.arrow_first { margin: 0 0 75px 0; }

.pc-main .pc_policy section#cont03 div.inner div.arrow strong { display: block; text-align: center; font-size: 25px; color: #c21126; letter-spacing: 0.25em; line-height: 1.92; margin: 0 0 38px 0; }

.pc-main .pc_policy section#cont03 div.inner div.arrow span { display: block; text-align: center; }

.pc-main .pc_policy section#cont03 div.inner div.arrow p { margin: 104px 0 0 0; }

.pc-main .pc_policy section#cont03 div.inner div.arrow p a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_policy section#cont03 div.inner div.arrow p a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_policy section#cont03 div.inner h3 { text-align: center; margin: 0 auto 70px auto; }

.pc-main .pc_policy section#cont03 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; width: 1000px; margin: 0 auto 23px auto; }

.pc-main .pc_policy section#cont03 div.inner ul li { position: relative; top: 0; left: 0; background: url(../images/policy/cont03_list_bg.svg) center center no-repeat; background-size: 322px auto; width: 322px; height: 95px; box-sizing: border-box; margin: 0 0 18px 0; }

.pc-main .pc_policy section#cont03 div.inner ul li.text { background: none; }

.pc-main .pc_policy section#cont03 div.inner ul li p { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; justify-content: center; background: transparent no-repeat; background-position: right 5px center; background-size: 88px auto; text-align: center; font-size: 14px; line-height: 1.57143; color: #c21126; letter-spacing: 0.1em; width: 322px; height: 95px; box-sizing: border-box; padding: 0 0 0 40px; }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon01 { background-image: url(../images/policy/cont03_img01.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon02 { background-image: url(../images/policy/cont03_img02.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon03 { background-image: url(../images/policy/cont03_img03.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon04 { background-image: url(../images/policy/cont03_img04.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon05 { background-image: url(../images/policy/cont03_img05.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon06 { background-image: url(../images/policy/cont03_img06.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon07 { background-image: url(../images/policy/cont03_img07.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon08 { background-image: url(../images/policy/cont03_img08.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon09 { background-image: url(../images/policy/cont03_img09.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon10 { background-image: url(../images/policy/cont03_img10.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li p.icon11 { background-image: url(../images/policy/cont03_img11.svg); }

.pc-main .pc_policy section#cont03 div.inner ul li.text { font-size: 10px; line-height: 2.4; padding: 20px 0 0 34px; }

.pc-main .pc_policy section#cont03 div.inner ul li div { visibility: hidden; opacity: 0; transition: .3s linear; position: absolute; bottom: 102%; left: -16%; width: 132%; border: 1px solid #c21126; border-radius: 15px; background: #FFFFFF; }

.pc-main .pc_policy section#cont03 div.inner ul li div::before { content: ""; position: absolute; bottom: -24px; left: 50%; margin-left: -15px; border: 12px solid transparent; border-top: 12px solid #FFFFFF; z-index: 2; }

.pc-main .pc_policy section#cont03 div.inner ul li div:after { content: ""; position: absolute; bottom: -28px; left: 50%; margin-left: -17px; border: 14px solid transparent; border-top: 14px solid #c21126; z-index: 1; }

.pc-main .pc_policy section#cont03 div.inner ul li div span { -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; display: block; font-size: 14px; padding: 25px 30px; }

.pc-main .pc_policy section#cont03 div.inner ul li:hover div { visibility: visible; opacity: 1; }

.pc-main .pc_price #main_img.main_img02 div.bg { background: url(../images/price/main.png) center top no-repeat; }

.pc-main .pc_price #main_img.main_img02 div.bg div.txt { padding: 63px 0 0 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.txt strong { margin: 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.txt h1 { margin: 0 0 44px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left h3 { margin: 0 0 47px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left div { padding: 0 0 0 150px; width: 286px; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left div strong { margin: 0 0 2px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left div ul { margin: 0 0 10px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left div ul li { padding: 0 0 0 39px; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.left div ul li span { width: 248px; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.right h3 { margin: 0 0 34px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.right div { padding: 0 0 0 62px; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 24px 0; }

.pc-main .pc_price #main_img.main_img02 div.bg div.flex div.right div p { width: 285px; }

.pc-main .pc_price section#cont01 { padding: 38px 0 48px 0; }

.pc-main .pc_price section#cont01 div.inner strong { display: block; text-align: center; line-height: 1.92; font-size: 25px; letter-spacing: 0.34em; color: #c21126; margin: 0 0 11px 0; }

.pc-main .pc_price section#cont01 div.inner p { text-align: center; color: #4d4d4d; letter-spacing: 0.09em; font-size: 14px; line-height: 2; }

.pc-main .pc_price section#cont02 div.inner { position: relative; top: 0; left: 0; max-width: 1200px; width: 100%; margin: 0 auto; padding: 73px 0 0 0; }

.pc-main .pc_price section#cont02 div.inner em.title { position: absolute; top: 0; left: 0; display: block; color: #c21126; line-height: 1.0; font-size: 120px; letter-spacing: 0.1em; opacity: 0.1; }

.pc-main .pc_price section#cont02 div.inner h2 { font-size: 15px; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.1; margin: 0 0 48px 0; }

.pc-main .pc_price section#cont02 div.inner h2 span { display: block; text-align: center; font-size: 65px; line-height: 1.1; letter-spacing: 0.12em; margin: 0 0 13px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; border: 1px solid #c21126; max-width: 1000px; width: 100%; padding: 58px 0 60px 0; margin: 0 auto 90px auto; box-sizing: border-box; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left { position: relative; top: 0; left: 0; width: 439px; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left::after { position: absolute; right: 0; top: 0; display: block; content: ''; background: #c21126; width: 1px; height: 100%; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.img span { display: block; font-size: 14px; letter-spacing: 0.01em; margin: 0 0 4px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.img strong { display: block; font-size: 38px; color: #c21126; letter-spacing: 0; margin: 0 0 2px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.img strong b { font-size: 39px; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.img p { width: 410px; margin: 0 0 40px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text { border: 1px solid #c21126; width: 409px; height: 264px; padding: 18px 0 0 0; box-sizing: border-box; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text a{
  display: block;
  border-radius: 30px;
  background: #c21126 url(../images/common/icon01.svg) no-repeat;
  background-position: right 40px center;
  background-size: 18px auto;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.36em;
  margin: 0 auto;
  padding: 16px 0 17px 0;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  transition: 0.30s;
}
.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text div.parts_btn{
  margin: 13px auto;
  width:350px;
}

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text strong { display: block; text-align: center; font-size: 20px; letter-spacing: 0.4em; color: #c21126; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text strong::after { content: ''; display: block; background: #c21126; width: 349px; height: 1px; margin: 15px auto 0 auto; }

.pc-main .pc_price section#cont02 div.inner div.flex div.left div.text p { color: #4d4d4d; font-size: 12px; line-height: 2.16667; width: 350px; margin: 13px auto 0 auto; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right { width: 414px; padding: 0 0 0 25px; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right strong { display: block; text-align: center; font-size: 24px; color: #c21126; letter-spacing: 0.02em; margin: 0 0 17px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right p { margin: 0 0 45px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right p img { margin: 0 auto; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li a { display: block; border-radius: 30px; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li:first-child { margin: 0 0 25px 0; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li:first-child a { background: #c21126 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li:first-child a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li:last-child a { background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_price section#cont02 div.inner div.flex div.right ul li:last-child a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_price section#cont02 div.inner div.link { padding: 0 0 56px 0; }

.pc-main .pc_price section#cont02 div.inner div.link strong { display: block; text-align: center; font-size: 25px; line-height: 1.92; letter-spacing: 0.34em; color: #c21126; margin: 0 0 43px 0; }

.pc-main .pc_price section#cont02 div.inner div.link p { text-align: center; }

.pc-main .pc_price section#cont03 { background: #ffd3d3 url(../images/price/cont03_bg.svg) center top no-repeat; background-size: 1200px auto; padding: 91px 0 102px 0; }

.pc-main .pc_price section#cont03 div.inner h2 { font-size: 15px; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.1; margin: 0 0 51px 0; }

.pc-main .pc_price section#cont03 div.inner h2 span { display: block; text-align: center; font-size: 65px; line-height: 1.1; letter-spacing: 0.14em; margin: 0 0 15px 0; }

.pc-main .pc_price section#cont03 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 1000px; width: 100%; margin: 0 auto 42px auto; }

.pc-main .pc_price section#cont03 div.inner ul li { width: 483px; margin: 0 0 50px 0; }

.pc-main .pc_price section#cont03 div.inner ul li a { -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.pc-main .pc_price section#cont03 div.inner ul li a:hover { opacity: 0.7; }

.pc-main .pc_price section#cont03 div.inner ul li:last-child a { display: block; width: 484px; }

.pc-main .pc_price section#cont03 div.inner ul li:last-child a img { display: block; }

.pc-main .pc_price section#cont03 div.inner div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.36em; }

.pc-main .pc_price section#cont03 div.inner div.link p { text-align: center; margin: 36px 0 102px 0; }

.pc-main .pc_price section#cont03 div.inner div.link a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_price section#cont03 div.inner div.link a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_result #main_img.main_img02 div.bg { background: url(../images/result/main.png) center top no-repeat; }

.pc-main .pc_result #main_img.main_img02 div.bg div.txt { padding: 63px 0 0 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.txt strong { margin: 0 0 6px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.txt h1 { margin: 0 0 40px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left h3 { margin: 0 0 47px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left div { padding: 0 0 0 150px; width: 300px; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left div strong { margin: 0 0 2px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left div ul { margin: 0 0 13px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left div ul li { padding: 0 0 0 39px; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.left div ul li span { width: 248px; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.right h3 { margin: 0 0 50px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.right div { padding: 0 0 0 62px; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 12px 0; }

.pc-main .pc_result #main_img.main_img02 div.bg div.flex div.right div p { width: 285px; }

.pc-main .pc_result section#cont01 { padding: 38px 0 0 0; }

.pc-main .pc_result section#cont01 div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.18em; }

.pc-main .pc_result section#cont01 div.link p { text-align: center; margin: 37px 0 0 0; }

.pc-main .pc_result section#cont01 div.link.link_seccond p { margin: 36px 0 102px 0; }

.pc-main .pc_result section#cont01 div.link.link_seccond a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_result section#cont01 div.link.link_seccond a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_result section#cont01 ul { margin: 58px 0 0 0; }

.pc-main .pc_result section#cont01 ul li { overflow: hidden; }

.pc-main .pc_result section#cont01 ul li.color_bg { background: #ffd3d3; }

.pc-main .pc_result section#cont01 ul li div.inner { display: -webkit-flex; display: -ms-flex; display: flex; width: 1200px; margin: 0 auto; box-sizing: border-box; }

.pc-main .pc_result section#cont01 ul li div.inner div.img { position: relative; top: 0; left: 0; width: 565px; padding: 10px 0 0 0; }

.pc-main .pc_result section#cont01 ul li div.inner div.img span { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; background: url(../images/policy/cont01_icon.svg) center center no-repeat; background-size: contain; font-size: 20px; line-height: 1.55; color: #FFFFFF; text-align: center; width: 179px; height: 179px; }

.pc-main .pc_result section#cont01 ul li div.inner div.box div.title strong { display: block; font-size: 65px; color: #c21126; opacity: 0.1; line-height: 1.0; letter-spacing: 0.14em; }

.pc-main .pc_result section#cont01 ul li div.inner div.box div.title span { display: block; font-size: 15px; letter-spacing: 0.2em; line-height: 1.0; color: #c21126; }

.pc-main .pc_result section#cont01 ul li div.inner div.box div.text strong { display: block; color: #c21126; font-size: 30px; letter-spacing: 0.14em; line-height: 1.5; }

.pc-main .pc_result section#cont01 ul li div.inner div.box div.text p { font-size: 14px; line-height: 2; color: #4d4d4d; width: 329px; }

.pc-main .pc_result section#cont01 ul li div.inner div.box div.text p sup { font-size: 12px; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.inner { padding: 42px 0 50px 100px; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.img { margin: 0 108px 0 0; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.img span { top: 156px; right: -78px; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.box { background: url(../images/result/icon01.svg) no-repeat; background-size: 77.56px auto; background-position: right 0 top 50px; width: 348px; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit1 div.box div.text strong { margin: 0 0 8px 0; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.inner { padding: 42px 0 50px 100px; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.img span { top: 126px; left: -90px; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.box { background: url(../images/result/icon02.svg) no-repeat; background-size: 116px auto; background-position: right -6px top 0; width: 434px; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.box div.title { margin: 0 0 3px 0; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit2 div.box div.text strong { margin: 0 0 8px 0; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.inner { padding: 40px 0 49px 100px; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.img { margin: 0 108px 0 0; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.img span { top: 159px; right: -77px; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.box { background: url(../images/result/icon03.svg) no-repeat; background-size: 100px auto; background-position: right 0 top 96px; width: 381px; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit3 div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner { padding: 46px 0 88px 100px; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.img { width: 582px; padding: 4px 0 0 0; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.img span { top: 97px; right: -122px; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.box { background: url(../images/result/icon04.svg) no-repeat; background-size: 110px auto; background-position: right 20px top 95px; width: 339px; padding: 0 25px 0 0; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.box div.title { margin: 0 0 2px 0; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_result section#cont01 ul li.lsit4 div.inner div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg { background: url(../images/feature/main.png) center top no-repeat; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.txt { padding: 63px 0 0 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.txt strong { margin: 0 0 6px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.txt h1 { margin: 0 0 40px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left h3 { margin: 0 0 47px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left div { padding: 0 0 0 150px; width: 305px; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left div strong { margin: 0 0 3px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left div ul { margin: 0 0 14px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left div ul li { padding: 0 0 0 39px; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.left div ul li span { width: 248px; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.right h3 { margin: 0 0 23px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.right div { padding: 0 0 0 62px; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 7px 0; }

.pc-main .pc_feature #main_img.main_img02 div.bg div.flex div.right div p { letter-spacing: 0; width: 285px; }

.pc-main .pc_feature section#cont01 { padding: 38px 0 89px 0; }

.pc-main .pc_feature section#cont01 div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.18em; }

.pc-main .pc_feature section#cont01 div.link p { text-align: center; margin: 37px 0 0 0; }

.pc-main .pc_feature section#cont01 div.link.link_seccond p { margin: 36px 0 102px 0; }

.pc-main .pc_feature section#cont01 div.link.link_seccond a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_feature section#cont01 div.link.link_seccond a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_feature section#cont01 ul { margin: 58px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li { overflow: hidden; }

.pc-main .pc_feature section#cont01 ul li.color_bg { background: #ffd3d3; }

.pc-main .pc_feature section#cont01 ul li div.inner { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 1000px; margin: 0 auto; box-sizing: border-box; }

.pc-main .pc_feature section#cont01 ul li div.inner div.img { position: relative; top: 0; left: 0; width: 505px; padding: 10px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li div.inner div.img p { position: relative; top: 0; left: 0; }

.pc-main .pc_feature section#cont01 ul li div.inner div.img p em { display: block; position: absolute; bottom: 0; left: 0; width: 100%; font-size: 15px; text-align: center; color: #c21126; background: rgba(255, 255, 255, 0.5); padding: 16px 0 15px 28px; box-sizing: border-box; }

.pc-main .pc_feature section#cont01 ul li div.inner div.img span { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; background: url(../images/policy/cont01_icon.svg) center center no-repeat; background-size: cover; font-size: 20px; line-height: 1.55; color: #FFFFFF; text-align: center; width: 162px; height: 162px; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box { width: 495px; box-sizing: border-box; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.title strong { display: block; font-size: 65px; color: #c21126; opacity: 0.1; line-height: 1.0; letter-spacing: 0.14em; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.title span { display: block; font-size: 15px; letter-spacing: 0.2em; line-height: 1.0; color: #c21126; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.text strong { display: block; color: #c21126; font-size: 30px; letter-spacing: 0.14em; line-height: 1.5; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.text p { font-size: 14px; line-height: 2; color: #4d4d4d; width: 379px; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.text p sup { font-size: 12px; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.text a { display: block; border-radius: 30px; background: #c21126 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 380px; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_feature section#cont01 ul li div.inner div.box div.text a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.inner { padding: 42px 0 54px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.img { padding: 2px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.img span { top: 134px; left: -78px; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.box { background: url(../images/feature/icon01.svg) no-repeat; background-size: 77px auto; background-position: right 80px top 0; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.box div.title { margin: 0 0 2px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit1 div.box div.text strong { margin: 0 0 8px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.inner { padding: 39px 0 55px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.img { padding: 13px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.img span { top: 133px; right: -77px; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.box { background: url(../images/feature/icon02.svg) no-repeat; background-size: 89px auto; background-position: right 2px top 16px; padding: 0 0 0 118px; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.box div.title { margin: 0 0 3px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit2 div.box div.text strong { margin: 0 0 8px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.inner { padding: 42px 0 51px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.img { padding: 16px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.img span { top: 174px; left: -77px; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.box { background: url(../images/feature/icon03.svg) no-repeat; background-size: 123px auto; background-position: right 58px top 34px; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit3 div.box div.text p { margin: 0 0 16px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner { padding: 45px 0 56px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.img { padding: 6px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.img span { top: 131px; right: -81px; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.box { position: relative; top: 0; left: 0; padding: 0 0 0 168px; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.box::after { content: ''; display: block; position: absolute; top: 58px; right: -13px; background: url(../images/feature/icon04.svg) no-repeat; background-size: 46px auto; width: 46px; height: 107px; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.box div.title { margin: 0 0 5px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.box div.title strong { margin: 0 0 3px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit4 div.inner div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner { padding: 39px 0 50px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.img { padding: 13px 0 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.img span { top: 137px; left: -77px; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.box { background: url(../images/feature/icon05.svg) no-repeat; background-size: 147px auto; background-position: right 65px top 18px; width: 455px; padding: 0 22px 0 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_feature section#cont01 ul li.lsit5 div.inner div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_feature section#cont02 h2 { font-size: 15px; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.1; margin: 0 0 56px 0; }

.pc-main .pc_feature section#cont02 h2 span { display: block; text-align: center; font-size: 65px; line-height: 1.1; letter-spacing: 0.12em; margin: 0 0 15px 0; }

.pc-main .pc_feature section#cont02 nav { border-bottom: 22px solid #c21126; margin: 0 0 52px 0; }

.pc-main .pc_feature section#cont02 nav ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; }

.pc-main .pc_feature section#cont02 nav ul li { width: 49.58333%; }

.pc-main .pc_feature section#cont02 nav ul li a { display: block; background: #b6c0c0; color: #FFFFFF; font-size: 14px; letter-spacing: 0.36em; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_feature section#cont02 nav ul li a.on, .pc-main .pc_feature section#cont02 nav ul li a:hover { background: #c21126; }

.pc-main .pc_feature section#cont02 nav ul li:first-child a { border-radius: 0 10px 0 0; text-align: right; padding: 12px 240px 7px 0; }

.pc-main .pc_feature section#cont02 nav ul li:last-child a { border-radius: 10px 0 0 0; padding: 12px 0 7px 112px; }

.pc-main .pc_feature section#cont02 div.link { margin: 86px 0 0 0; }

.pc-main .pc_feature section#cont02 div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.18em; }

.pc-main .pc_feature section#cont02 div.link p { text-align: center; margin: 36px 0 102px 0; }

.pc-main .pc_feature section#cont02 div.link a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_feature section#cont02 div.link a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont { display: none; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont.show { display: block; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 1000px; margin: 0 auto 27px auto; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li { position: relative; top: 0; left: 0; width: 216px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li span, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li span { display: block; position: relative; top: 0; left: 0; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li span em, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li span em { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; top: 177px; left: -16px; background: url(../images/feature/cont02_icon.svg) center center no-repeat; background-size: cover; color: #c21126; font-size: 29px; letter-spacing: 0; width: 51px; height: 51px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li strong, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li strong { display: block; background: #c21126; color: #FFFFFF; text-align: center; font-size: 18px; line-height: 1.66667; letter-spacing: 0.21em; padding: 24px 0 26px 0; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li strong sup, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li strong sup { font-size: 14px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li p, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li p { font-size: 14px; line-height: 2; color: #4d4d4d; letter-spacing: 0.1em; padding: 11px 0 0 0; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li p sup, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li p sup { display: block; font-size: 10px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ul li:last-child strong, .pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li:last-child strong { letter-spacing: 0.07em; padding: 9px 0 11px 0; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol { flex-wrap: wrap; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li { margin: 0 0 42px 0; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li span em { top: 125px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li strong { padding: 8px 0 7px 35px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(1) strong { padding: 8px 0 7px 35px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(7) strong { letter-spacing: 0.1em; padding: 8px 0 7px 35px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(6) span em { background: url(../images/feature/cont02_icon02.svg) center center no-repeat; background-size: cover; text-align: center; font-size: 12px; line-height: 1.21; color: #4a8dd7; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(6) strong { background: #4a8dd7; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont div.flex { display: -webkit-flex; display: -ms-flex; display: flex; border-radius: 10px; background: #ffd3d3; width: 1000px; margin: 0 auto; box-sizing: border-box; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont div.flex div { position: relative; top: 0; left: 0; width: 330px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont div.flex div strong { position: absolute; display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; top: -15px; left: -10px; background: url(../images/policy/cont01_icon.svg) center center no-repeat; background-size: cover; font-size: 14px; line-height: 1.54771; color: #FFFFFF; text-align: center; width: 117px; height: 117px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont div.flex div span { display: block; position: absolute; bottom: 0; left: 125px; }

.pc-main .pc_feature section#cont02 div#tab_box div.tab_cont div.flex p { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; color: #4d4d4d; font-size: 14px; line-height: 2; width: 624px; height: 100px; }

.pc-main .pc_reserve #main_img.main_img02 div.bg { background: url(../images/reserve/main.png) center top no-repeat; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.txt { padding: 63px 0 0 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.txt strong { margin: 0 0 6px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.txt h1 { margin: 0 0 40px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left h3 { margin: 0 0 47px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left div { padding: 0 0 0 150px; width: 305px; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left div strong { margin: 0 0 4px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left div ul { margin: 0 0 13px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left div ul li { padding: 0 0 0 39px; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.left div ul li span { width: 248px; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.right h3 { margin: 0 0 23px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.right div { padding: 0 0 0 62px; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 9px 0; }

.pc-main .pc_reserve #main_img.main_img02 div.bg div.flex div.right div p { letter-spacing: 0; width: 285px; }

.pc-main .pc_reserve section#cont01 { padding: 38px 0 56px 0; }

.pc-main .pc_reserve section#cont01 div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.34em; }

.pc-main .pc_reserve section#cont01 div.link p { text-align: center; margin: 37px 0 0 0; }

.pc-main .pc_reserve section#cont02 { background: #ffd0d0; padding: 42px 0 88px 0; }

.pc-main .pc_reserve section#cont02 div.flex { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; background: url(../images/reserve/cont1_img01.svg) no-repeat; background-size: 645px auto; background-position: right 10px top 4px; width: 1100px; margin: 0 auto; padding: 0 0 78px 0; }

.pc-main .pc_reserve section#cont02 div.flex div.box { width: 495px; box-sizing: border-box; padding: 0 0 0 50px; }

.pc-main .pc_reserve section#cont02 div.flex div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont02 div.flex div.box div.title strong { display: block; font-size: 65px; color: #c21126; opacity: 0.1; line-height: 1.0; letter-spacing: 0.14em; margin: 0 0 3px 0; }

.pc-main .pc_reserve section#cont02 div.flex div.box div.title span { display: block; font-size: 15px; letter-spacing: 0.2em; line-height: 1.0; color: #c21126; }

.pc-main .pc_reserve section#cont02 div.flex div.box div.text strong { display: block; color: #c21126; font-size: 30px; letter-spacing: 0.14em; line-height: 1.5; margin: 0 0 3px 0; }

.pc-main .pc_reserve section#cont02 div.flex div.box div.text p { font-size: 14px; line-height: 2; color: #4d4d4d; width: 379px; }

.pc-main .pc_reserve section#cont02 div.inner { width: 1000px; margin: 0 auto; }

.pc-main .pc_reserve section#cont02 div.inner div#sim { background: linear-gradient(to bottom, #e89fa2 0%, #f1abae 100%); width: 100%; box-sizing: border-box; padding: 0 35px; margin: 0 0 60px 0; }

.pc-main .pc_reserve section#cont02 div.inner div#sim #ald_ginza_calla_depilation_simulator .ald_input { width: 100%; }

.pc-main .pc_reserve section#cont02 div.inner div.list h2 { font-size: 30px; letter-spacing: 0.18em; color: #c21126; text-align: center; }

.pc-main .pc_reserve section#cont02 div.inner div.list ul { display: -webkit-flex; display: -ms-flex; display: flex; flex-wrap: wrap; justify-content: space-between; }

.pc-main .pc_reserve section#cont02 div.inner div.list ul li { border: solid #b11425 1px; width: 234px; box-sizing: border-box; margin: 8px 0 12px 0; }

.pc-main .pc_reserve section#cont02 div.inner div.list ul li span { display: block; }

.pc-main .pc_reserve section#cont02 div.inner div.list ul li strong { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; background: #b11425; text-align: center; color: #FFFFFF; font-size: 14px; line-height: 1.71429; height: 70px; box-sizing: border-box; }

.pc-main .pc_reserve section#cont03 ul li { width: 100%; }

.pc-main .pc_reserve section#cont03 ul li div.inner { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 1100px; margin: 0 auto; box-sizing: border-box; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.img { position: relative; top: 0; left: 0; padding: 10px 0 0 0; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.img p { position: relative; top: 0; left: 0; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.img p em { display: block; position: absolute; bottom: 0; left: 0; width: 100%; font-size: 15px; text-align: center; color: #c21126; background: rgba(255, 255, 255, 0.5); }

.pc-main .pc_reserve section#cont03 ul li div.inner div.img span { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; background: url(../images/policy/cont01_icon.svg) center center no-repeat; background-size: cover; font-size: 20px; line-height: 1.55; color: #FFFFFF; text-align: center; width: 162px; height: 162px; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box { width: 405px; box-sizing: border-box; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.title strong { display: block; font-size: 65px; color: #c21126; opacity: 0.1; line-height: 1.0; letter-spacing: 0.14em; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.title span { display: block; font-size: 15px; letter-spacing: 0.2em; line-height: 1.0; color: #c21126; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.text strong { display: block; color: #c21126; font-size: 30px; letter-spacing: 0.14em; line-height: 1.5; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.text strong em { letter-spacing: -0.54em; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.text p { font-size: 14px; line-height: 2; color: #4d4d4d; width: 379px; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.text a { display: block; border-radius: 30px; background: #c21126 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 380px; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_reserve section#cont03 ul li div.inner div.box div.text a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner { padding: 44px 0 70px 50px; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner div.img { position: relative; top: 0; left: 0; width: 600px; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner div.img p { position: absolute; top: -60px; left: -2px; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner div.box div.title strong { letter-spacing: 0.07em; margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit1 div.inner div.box div.text strong { letter-spacing: 0.07em; margin: 0 0 8px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 { background: #ffd3d3; overflow: hidden; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner { position: relative; top: 0; left: 0; justify-content: flex-start; padding: 32px 0 59px 50px; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner::before { content: ''; display: block; position: absolute; bottom: 0; right: -78px; background: #ffd3d3 url(../images/reserve/cont02_img02.png) right bottom no-repeat; background-size: 751px auto; width: 100%; height: 100%; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner div.box { position: relative; top: 0; left: 0; width: 425px; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit2 div.inner div.box div.text strong { margin: 0 0 7px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.inner { padding: 12px 0 49px 127px; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.img span { top: 159px; left: -77px; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.box { padding: 30px 0 0 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.box div.title { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.box div.title strong { margin: 0 0 4px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.box div.text strong { margin: 0 0 9px 0; }

.pc-main .pc_reserve section#cont03 ul li.lsit3 div.box div.text p { width: 330px; }

.pc-main .pc_reserve section#cont03 div.link { margin: 74px 0 0 0; }

.pc-main .pc_reserve section#cont03 div.link strong { display: block; font-size: 25px; line-height: 1.92; text-align: center; color: #c21126; letter-spacing: 0.18em; }

.pc-main .pc_reserve section#cont03 div.link p { text-align: center; margin: 36px 0 102px 0; }

.pc-main .pc_reserve section#cont03 div.link a { display: block; border-radius: 30px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 40px center; background-size: 18px auto; color: #FFFFFF; text-align: center; font-size: 14px; letter-spacing: 0.36em; width: 410px; margin: 0 auto; padding: 16px 0 17px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_reserve section#cont03 div.link a:hover { background-position: right 37px center; opacity: 0.8; }

.pc-main .pc_faq #main_img { position: relative; top: 0; left: 0; background: url(../images/faq/main_text.svg) no-repeat; background-size: 592px auto; background-position: left -28px top 22px; width: 100%; overflow: hidden; padding: 86px 0 46px 0; }

.pc-main .pc_faq #main_img div { position: relative; top: 0; left: 0; width: 1000px; margin: 0 auto; }

.pc-main .pc_faq #main_img div::after { content: ''; display: block; position: absolute; top: -14px; right: 129px; background: url(../images/faq/main_icon.svg) no-repeat; background-size: cover; width: 115px; height: 119px; }

.pc-main .pc_faq #main_img div strong { display: block; text-align: center; font-size: 65px; letter-spacing: 0.14em; color: #c21126; line-height: 1.1; margin: 0 0 11px 0; }

.pc-main .pc_faq #main_img div h1 { text-align: center; font-size: 15px; letter-spacing: 0.2em; color: #c21126; }

.pc-main .pc_faq section#cont01 div.inner { width: 1000px; margin: 0 auto; }

.pc-main .pc_faq section#cont01 div.inner div.tag { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; border-radius: 10px; background: #c7cdcd; padding: 16px 0 17px 25px; }

.pc-main .pc_faq section#cont01 div.inner div.tag strong { color: #c21126; font-size: 15px; letter-spacing: 0.2em; margin: 0 36px 0 0; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul li { margin: 0 34px 0 0; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul li:last-child { margin: 0; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul li a { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; font-size: 12px; letter-spacing: 0.18em; color: #4d4d4d; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul li a::after { content: ''; display: block; background: url(../images/faq/icon_link.svg) center center no-repeat; background-size: cover; width: 5px; height: 7px; margin: 0 0 0 12px; }

.pc-main .pc_faq section#cont01 div.inner div.tag ul li a:hover { opacity: 0.7; }

.pc-main .pc_faq section#cont01 div.inner nav { border-bottom: solid #c21126 14px; }

.pc-main .pc_faq section#cont01 div.inner nav ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; }

.pc-main .pc_faq section#cont01 div.inner nav ul li { width: 245px; }

.pc-main .pc_faq section#cont01 div.inner nav ul li a { display: block; border-radius: 10px 10px 0 0; background: #b6c0c0; font-size: 14px; color: #FFFFFF; letter-spacing: 0.36em; text-align: center; padding: 10px 0 12px 0; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; }

.pc-main .pc_faq section#cont01 div.inner nav ul li a.on, .pc-main .pc_faq section#cont01 div.inner nav ul li a:hover { background: #c21126; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body { border: solid 2px #c21126; border-radius: 0 0 10px 10px; margin: 0 0 60px 0; box-sizing: border-box; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont { display: none; padding: 50px 54px 39px 56px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont.show { display: block; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul { display: -webkit-flex; display: -ms-flex; display: flex; flex-wrap: wrap; justify-content: space-between; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li { position: relative; top: 0; left: 0; width: 419px; padding: 40px 0 42px 0; box-sizing: border-box; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li::after, .pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li::before { content: ''; display: block; position: absolute; background: #c21126; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li::after { bottom: 0; left: 0; width: 100%; height: 1px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li:nth-child(odd)::before { top: 12px; right: -24px; width: 1px; height: calc(100% - 24px); }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li:nth-child(2n) { padding: 42px 0 42px 23px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li:nth-child(2), .pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li:first-child { padding-top: 0; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li.last::after { display: none; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; margin: 0 0 16px 0; padding: 0 0 0 2px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt span { display: block; width: 38px; margin: 0 10px 0 0; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt p { font-weight: bold; color: #c21126; font-size: 16px; letter-spacing: 0.15em; line-height: 2; width: 345px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd { display: -webkit-flex; display: -ms-flex; display: flex; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd span { display: block; width: 38px; padding: 4px 10px 0 0; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p { color: #4d4d4d; font-size: 13px; letter-spacing: 0; line-height: 2; width: 345px; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p strong { font-weight: bold; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p em { font-style: italic; }

.pc-main .pc_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd a { color: #c21126; }
