/*
Theme Name: calla_pc
*/

body.login {
  background:url('./resource/img/common/bg1.png');
}
.login h1 a{
  background: url('./resource/img/common/head-logo-L.png') no-repeat center center;
  width:100%;
  pointer-events: none;

}
.login form .submit .button{
  background:#d01027;
  box-shadow: none;
  text-shadow: none;
  border:1px solid #d01027;
}
