@charset "utf-8";

/*=========================================================

		
=========================================================*/

/*
--------------------------------------------------------
 commonlayouts
--------------------------------------------------------
*/


/* basics
-----------------------------*/
body{
	font-family: Helvetica,Arial,’Hiragino Kaku Gothic Pro’,'ヒラギノ角ゴ Pro W3','Droid Sans',sans-serif;
	line-height:1.2;
	font-size: .8em;
	color: #000;
	background:#000;
	
}
img {
    max-width: 100%;
    height:auto;
}
p {
	padding-bottom:20px;
	line-height:1.6;
}
#wrapper{
	margin: 0 auto;
	text-align: center;
}


/* header
-----------------------------------------------*/
#header{
	margin: 0;
	padding: 0;
	background:#D01026;	
}

#headerIn{
	padding:12px 0;
}

#headerLogo{
	padding-bottom:12px;
	text-align:center;
	border-bottom:1px solid #F2C3C9;
}

#headerNav{
	padding:12px 14px 0;
}
#headerNav h1{
	float:left; 
}
#headerNav ul#headerList{
	float:right; 
}
ul#headerList li{
	display:block;
	float:right;
}
.navFb{
	padding-left:16px;
	border-left:1px solid #E4987F; 
}
.navMenu{
	padding-right:16px; 
}
.sidr{
	width:170px !important;
}
.sidr.right {
    left: auto;
    right: 0 !important;	
}
.sidr li{
	width:160px !important;
}
.sidr li.sideEntry{
	width:160px !important;
}
.sidr li.sideClose{
	margin-top:20px;
	padding:0;
	text-align:center;
	width:160px !important;
	border-bottom:none;
	border-top:none;
}
.sidr ul li.sideClose a:hover,
.sidr ul li.sideClose a:active {
    box-shadow: none;
}

/* page & contents
-----------------------------------------------*/
#conteiner{
	text-align: left;
	background:#FFF;
}

#conteiner h2{
	margin-bottom: 15px;
}

#slideBox {
	margin:0 auto;
	width:320px;
	height:356px;
	overflow:hidden;
	z-index:-9999px;
}
#slideBox img {
	width:100%;
	height:auto;		
}

.section {
	clear:both;
	margin:0 auto;
	width:100%;
	background:#D01026;
}

.sectionBox {
	margin:0 auto;
	width:320px;
}

.sectionInner {
	padding:15px;
}

#message {
	font-size:96%;	
}

#voice {
	background:url(../images/voice_bg.png) repeat;
	background-size: 26px 26px;
	
}
#voiceInner {
	background:#FFF;
	padding:12px;	
}
.voiceMenu {
	margin-bottom:14px;
	border-bottom:2px solid #DCDDDD;	
}
#voiceInner h3 {
	margin-bottom:4px;	
	padding:8px 14px;	
	color:#FFF;
	font-size:115%;
	font-weight:bold;
	line-height:1.6;
	letter-spacing:.1em;
	background:#D01026;	
}
#voiceInner h3.schedule {
	margin-bottom:4px;
	padding:8px 0;			
	color:#D01026;
	font-size:110%;
	font-weight:bold;
	line-height:1.6;
	letter-spacing:.1em;
	background:none;			
}
#voiceInner h4 {
	margin:14px 0 8px;
	padding:14px 10px;	
	color:#D01026;
	font-size:110%;
	font-weight:bold;
	line-height:1.6;
	background:url(../images/voice_%EF%BD%884_bg.png) no-repeat left top;	
}
.timeBox {
	line-height:1.6;	
	background:url(../images/voice_time_line.jpg) no-repeat 10px top;	
}
.timeBox dt {		
	font-weight:bold;	
}
.timeBox dd {
	margin:0 0 10px 30px;
	padding:0 0 14px;
	border-bottom:1px dotted #F6D2D6;	
}
.timeBox dd.nonDotline {
	margin:0 0 0 30px;
	padding:0 0 14px;
	border-bottom:none !important;	
}
.timeBox dd div {
	padding-top:10px;	
}
.timeBox dd div p {
	line-height:1.4;
    padding: 0 0 0 42px;
    text-indent: -42px;		
}

.timeBox span {
	padding-right:10px;
	font-weight:bold;	
	color:#D01026;	
}
span.time1100 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1100.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1145 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1145.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1200 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1200.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1400 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1400.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1500 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1500.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1600 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1600.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1700 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1700.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1730 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1730.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time1800 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_1800.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time2100 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_2100.png) no-repeat left 0;
	background-size: 24px 23px;		
}
span.time2130 {
	display:inline-block;
	padding:3px 10px 2px 30px;
	background:url(../images/voice_time_2130.png) no-repeat left 0;
	background-size: 24px 23px;		
}
.timeBox p {
	font-weight:bold;	
}
.tIndent{
	margin:0 !important;
	padding:0 !important;
	color:#000 !important;
	display:block;
	text-indent:72px;
}

.voiceMessage{
	clear:both;
	margin:25px 0;
	border:1px solid #D01026;		
}

.voiceMessage dt{	
	padding:4px;	
	color:#FFF;
	font-size:110%;
	font-weight:bold;
	letter-spacing:.1em;
	text-align:center;
	background:#D01026;		
}
.voiceMessage dd{	
	padding:12px;	
	color:#D01026;
	line-height:1.4;			
}

.displayNon{
	display:none;
}

#modal{
	top:0;
}

#qa{
	background:url(../images/qa_bg.gif) repeat-y center top;
	background-size: 320px 25px;	
}
#qaInner{
	padding:12px;
}
.qaMenu{
	margin-bottom:10px;
	padding-bottom:6px;
	border-bottom:2px solid #6D605C;
	
}
#qaInner dt{
	margin:15px 0;
	padding-left:30px;
	color:#DE666B;
	font-weight:bold;
	line-height:1.6;
	background:url(../images/qa_a.png) no-repeat left top;
	background-size:24px 32px;
}
#qaInner dd{
	padding-left:30px;
}


#entry{
	clear:both;
	margin:0 auto;
	width:100%;
	background:#DF7073;
}
#entry p{
	padding-bottom:8px;
}
#entry p.fw{
	color:#FFF;
	font-size:90%;
	font-weight:bold;
	text-align:center;
}
#entry li{
	display:block;
	margin-bottom:8px;
}

#salonlist{
}
#salonlist h3{
	margin:20px 0 0;
	color:#D01026;
	font-weight:bold;
	font-size:90%;	
}
.salonMenu{
	margin-bottom:10px;
	padding-bottom:6px;
	border-bottom:1px solid #E78792;
	
}
#salonlist dt{
	margin:6px 0 3px;
	padding-left:12px;
	font-weight:bold;
	line-height:1.4;
	background:url(../images/salonlist_icon.png) no-repeat left center;
	background-size:9px 12px;
}
#salonlist dd{
	margin-bottom:15px;
	padding-left:12px;	
	font-size:80%;	
}
	



/* footer
-----------------------------------------------*/

#goTop{
	display: none;
	position: fixed;
	bottom: 30px;
	right: 0;
    z-index: 9999px;	
}

#goTop a {
    background: url(../images/pagetop.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-size:39px 41px;	
    display: block;
    height: 41px;
    outline: medium none;
    text-indent: -9999px;
    width: 39px;
}

#footer{
	clear:both;
	padding:15px;
}
#footer #footerInner{
	padding-bottom:8px;	
	border-bottom:2px solid #D01026;
	
}
#footer #footerLogo{
	float: left;
	margin:3px 8px 0 0;
}
#footer #footerInner dt{
	padding:0 0 3px 8px;	
	font-size:64%;
	font-weight:bold;	
}
#footer #footerInner dd{	
	font-size:7px;	
}

#footer #copyRight{
	clear: both;
	margin: 4px 0;
	font-size:80%;	
	text-align: left;
}

