@charset "utf-8";
/*=========================================================

		
=========================================================*/

/* margin
---------------------------------------------------------*/

#conteiner .mg5 {
	margin: 5px;
}
#conteiner .mg10 {
	margin: 10px;
}
#conteiner .mg15 {
	margin: 15px;
}
#conteiner .mg20 {
	margin: 20px;
}
#conteiner .mt0 {
	margin-top: 0 !important;
}
#conteiner .mt3 {
	margin-top: 3px;
}
#conteiner .mt5 {
	margin-top: 5px;
}
#conteiner .mt10 {
	margin-top: 10px !important;
}
#conteiner .mt15 {
	margin-top: 15px;
}
#conteiner .mt20 {
	margin-top: 20px;
}
#conteiner .mt25 {
	margin-top: 25px;
}
#conteiner .mt30 {
	margin-top: 30px;
}
#conteiner .mr5 {
	margin-right: 5px;
}
#conteiner .mr10 {
	margin-right: 10px;
}
#conteiner .mr15 {
	margin-right: 15px;
}
#conteiner .mr20 {
	margin-right: 20px;
}
#conteiner .mr25 {
	margin-right: 25px;
}
#conteiner .mr30 {
	margin-right: 30px;
}

#conteiner .mb3 {
	margin-bottom: 3px;
}
#conteiner .mb5 {
	margin-bottom: 5px;
}
#conteiner .mb10 {
	margin-bottom: 10px;
}
#conteiner .mb15 {
	margin-bottom: 15px;
}
#conteiner .mb20 {
	margin-bottom: 20px;
}
#conteiner .mb25 {
	margin-bottom: 25px;
}
#conteiner .mb30 {
	margin-bottom: 30px;
}
#conteiner .mb40 {
	margin-bottom: 40px;
}
#conteiner .mb0 {
	margin-bottom: 0 !important;
}
#conteiner .ml5 {
	margin-left: 5px;
}
#conteiner .ml10 {
	margin-left: 10px;
}
#conteiner .ml15 {
	margin-left: 15px;
}
#conteiner .ml20 {
	margin-left: 20px;
}
#conteiner .ml25 {
	margin-left: 25px;
}
#conteiner .ml30 {
	margin-left: 30px;
}

/* padding
---------------------------------------------------------*/
#conteiner .pd5 {
	padding: 5px;
}
#conteiner .pd10 {
	padding: 10px;
}
#conteiner .pd15 {
	padding: 15px;
}
#conteiner .pd20 {
	padding: 20px;
}
#conteiner .py3 {
	padding-top: 3px;
}
#conteiner .py5 {
	padding-top: 5px;
}
#conteiner .py10 {
	padding-top: 10px;
}
#conteiner .py15 {
	padding-top: 15px;
}
#conteiner .py20 {
	padding-top: 20px;
}
#conteiner .pr5 {
	padding-right: 5px;
}
#conteiner .pr10 {
	padding-right: 10px;
}
#conteiner .pr15 {
	padding-right: 15px;
}
#conteiner .pr20 {
	padding-right: 20px;
}
#conteiner .pb5 {
	padding-bottom: 5px;
}
#conteiner .pb10 {
	padding-bottom: 10px;
}
#conteiner .pb15 {
	padding-bottom: 15px;
}
#conteiner .pb20 {
	padding-bottom: 20px;
}
#conteiner .pl5 {
	padding-left: 5px;
}
#conteiner .pl10 {
	padding-left: 10px;
}
#conteiner .pl15 {
	padding-left: 15px;
}
#conteiner .pl20 {
	padding-left: 20px;
}
/* vertical-align 
---------------------------------------------------------*/
#conteiner .vTop {
	vertical-align: top;
}
#conteiner .vMiddle {
	vertical-align: middle;
}
#conteiner .vBottom {
	vertical-align: bottom;
}
#conteiner .vBase {
	vertical-align: baseline;
}

/* text-align
---------------------------------------------------------*/
#conteiner .tLeft {
	text-align: left !important;
}
#conteiner .tRight {
	text-align: right !important;
}
#conteiner .tCenter {
	text-align: center !important;
}


/* float
---------------------------------------------------------*/
#conteiner .floatL {
	_display: inline;
	float: left;
}
#conteiner .floatR {
	_display: inline;
	float: right;
}
#conteiner .floatL-Object, #conteiner .floatL-ObjectBorder {
	margin: 0 25px 15px 0 !important;
}
#conteiner .floatR-Object, #conteiner .floatR-ObjectBorder {
	margin: 0 0 15px 25px !important;
}
#conteiner .floatL-Object span, #conteiner .floatR-Object span, #conteiner .photoCaption {
	width: 350px;
	display: inline-block !important;
	margin-top: 1px;
	padding: 4px;
	line-height: 1.4;
	font-size: 85%;
}
#conteiner .floatL-ObjectBorder img, #conteiner .floatR-ObjectBorder img {
	border: 1px solid #ccc;
}



/* clear-fix & clear
---------------------------------------------------------*/
.clear {
	clear: both;
}
.clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearFix {
	display: inline-block;
	min-height: 1%;  /* for ie7 */
}
/* Hides from IE-mac \*/
* html .clearFix {
	height: 1%;
}
.clearFix {
	display: block;
}
/* End hide from IE-mac */

