@charset "shift_jis";

/*=============================================================*/


td.sun{
	color:#F10825;
}

.align-center {
text-align: center;
}

td.sun{
	color:#F10825;
}

td.sat{
	color:#256EBB;
}