@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}



.block-about {
  padding: 22px 0 20px;
}
.block-about.salon {
  margin: 30px 0;
}


.box_about {
	margin:0 4.6875% 0 4.6875%;
}

.box_about h2 img {
	width:100%;
}

.block-about h3 {
	position: relative;
    text-align: center;
	font-weight:bold;
	margin:0 4.6875% 15px 4.6875%;
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
}

.block-about h3:before {
	border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.block-about .bg_white {
	background-color: #ffffff;
    display: inline-block;
    padding: 0 15px;
	position:relative;
}



.jishin3_area {
	margin:0 4.6875% 0 4.6875%;
}

.jishin3_area a {
	display: block;
	margin-bottom:10px;
}

.jishin3_box {
	width:100%;
	display:inline-block;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	background-color:#fef7f7;
}

.jishin3_box .jishin3_mds {
	padding:10px 0 10px 10px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	background: url("/sp/resource/img/common/arrow-red-s.png") no-repeat center right;
	background-color:#fbe8e8;
}

.jishin3_box .jishin3_mds img {
	display:inline-block;
	float:left;
	margin:3px 0 0 0;
}

.jishin3_box .jishin3_mds h4 {
	display:inline-block;
	color:#d71f21;
	font-size:20px;
	margin:1px 0 0 8px;
}

.jishin3_box p {
	padding:10px;
	color:#333333;
}


.block-about.course {
  margin: 10px 0;
  padding-bottom: 15px;
}
.block-about.course ul {
  padding-left: 4.6875%;
  overflow: hidden;
}
.block-about.course li {
  margin: 5px 0;
  margin-right: 3.2786885%;
  float: left;
  width: 45.9016393%;
}
.block-about.course .btn-stripe {
  padding: 0;
  height: 50px;
  width: 100%;
  line-height: 1.07em;
}
.block-about.course .btn-stripe:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.4em;
}
.block-about.course .btn-stripe span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:13px;
}

.line-about {
	height:1px;
	margin:5px 4.6875% 5px 4.6875%;
	background:url("/sp/resource/img/common/uline_dot.gif") repeat-x center bottom;
}

.block-about.course .btn-stripe2 {
  padding: 0;
  height: 50px;
  width: 100%;
  line-height: 1.07em;
}
.block-about.course .btn-stripe2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.4em;
}
.block-about.course .btn-stripe2 span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:13px;
}

.btn-stripe2 {
  display: block;
  margin: 0 auto;
  padding: 13px 25px;
  width: 65.625%;
  background: url('/sp/resource/img/common/bg-redstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  position: relative;
}
.btn-stripe2 span {
  color: #d01027;
}
.btn-stripe2:after {
  content: "";
  display: block;
  width: 15.5px;
  height: 14.5px;
  background: url('/sp/resource/img/common/arrow-white.png') no-repeat top right;
  background-size: contain;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -7px;
}
