@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-anshin {
  padding: 22px 0 20px;
}


.line-anshin {
	height:1px;
	margin:5px 4.6875% 5px 4.6875%;
	background:url("/sp/resource/img/common/bg-dot-line.gif") repeat-x center bottom;
}

.anshin-box {
	margin:0 4.6875% 0 4.6875%;
}

.anshin-box  ul li{
	display:table;
	width:100%;
}

.anshin-box  ul li a{
	display:block;
}

.anshin-box  ul li .anshin-image-area{
	display:table-cell;
	vertical-align:top;
	width:74px;
}

.anshin-box  ul li .anshin-image-area img{
	width:74px;
	height:auto;
}

.anshin-box  ul li .anshin-tx-area {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
}

.anshin-box  ul li .anshin-tx-area h2 {
	line-height: 1.25;
	font-size: 20px;
	color: #d01027;
	margin-bottom:5px;
}

.anshin-box  ul li .anshin-tx-area p {
	margin:0 auto;
}