@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN
  @ Block Campaign
	@ Campaign Head Block
--------------------------- */



/* ---------------------------
	@ Block Campaign
--------------------------- */
.block-campaign {
  margin: 0 1.5625%;
}
.block-campaign > p {
  width: 310px;
  margin: 20px auto 0;
}
.block-campaign p:first-child {
  margin-top: 0;
}
.block-campaign a {
  display: block;
  position: relative;
}
.block-campaign a span {
  color: #f06993;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 41px;
  left: 37px;
}
.bnr-campaign-box01{
  background: url('/sp/resource/img/common/bg-pink-arrow01.png') no-repeat;
  background-position:285px 40px;
  background-size: 10px 26px;
  background-color: #fff0ee;
  border: 1px solid #ff7272;
  padding: 5px 12px;
  width: 280px;
  margin: 20px auto 5px;
}
.bnr-campaign-box01 p:first-child{
  color: #ff0155;
  font-size: 11px;
  border-bottom: 1px dotted #ff0155;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.bnr-tit-campaign{
  font-size: 20px;
  color: #ff0155;
  background-size: 17px 22px;
  line-height: 1.9;
  font-weight: bold;
  text-align: center;
  background-position: 23px 7px;
}
.bnr-stripe-pink{
  margin: 0 auto 2px;
  padding: 5px 10px;
  width: 86.5%;
  background: url('/sp/resource/img/common/bg-pinkstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 10px;
  text-align: center;
  line-height: 1;
  color: #fff;
}

/* ---------------------------
	@ Campaign Head Block
--------------------------- */
.campaign-head-block {
  background: #fff8ef;
  border-top: #F7E3E4 3px solid;
  text-align: center;
}
