@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN SHOKAI
  @ Shokai Head Lower
  @ Shokai Area Stripe
  @ Block Shokai White
--------------------------- */

/* ---------------------------
	@ Shokai Area Lower
--------------------------- */
.shokai-head-lower {
  padding: 13px 0 11px;
  background: #ff7775;
  position: relative;
}
.shokai-head-lower:after {
  content: "";
  display: block;
  width: 51.5px;
  height: 21px;
  background: url('/sp/resource/img/campaign/shokai/icon-triangle.png') no-repeat;
  background-position: center bottom;
  background-size: contain;
  position: absolute;
  left: 50%;
  bottom: -19px;
  margin-left: -25.5px;
}
.shokai-head-lower p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.35;
  margin-top: 10px;
}
.shokai-head-lower p span {
  color: #fff000;
}

/* ---------------------------
	@ Shokai Area Stripe
--------------------------- */
.shokai-area-stripe {
  background: url('/sp/resource/img/campaign/shokai/bg-stripe.png');
  padding: 25px 0 20px;
}
.block-shokai-tokuten {
  background: url('/sp/resource/img/campaign/shokai/bg-alpha.png');
  margin: 0 4.6875%;
  padding: 15px 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.block-shokai-tokuten p {
  font-size: 19px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: -0.05em;
}
.block-shokai-tokuten p .text-red {
  color: #ff5564;
  font-weight: bold;
}
.block-shokai-tokuten p .text-blue {
  color: #008fdd;
  font-weight: bold;
}
.block-shokai-tokuten p:first-child {
  font-size: 14px;
}
.block-shokai-tokuten .tokuten-inner {
  width: 92.24137%;
  margin: 0 6.89655% 0 0.86206%;
  position: relative;
}
.block-shokai-tokuten .tokuten-inner > div {
  margin-top: 60.25px;
  text-align: center;
}
.block-shokai-tokuten .tokuten-inner div:first-child {
  margin-top: 0;
}
.shokai-area-stripe .tokuten-txt {
  text-align: center;
  margin: -15px 4.6875% 0;
  position: relative;
}

/* ---------------------------
	@ Block Shokai White
--------------------------- */
.block-shokai-white {
  background-color: #fff;
  border-bottom: #F7E3E4 3px solid;
  padding: 20px 0 15px;
}
.block-shokai-white .title {
  width: 90.9375%;
  height: 0;
  padding-top: 38.23711%;
  background: url('/sp/resource/img/campaign/shokai/img-flow.png') no-repeat;
  background-size: contain;
  margin: 0 auto 30px;
  overflow: hidden;
}
.block-shokai-white ol {
  margin: 0 4.6875%;
}
.block-shokai-white ol li {
  margin-top: 30px;
}
.block-shokai-white ol li:first-child {
  margin-top: 0;
}
.block-shokai-white ol li dl {
  width: 100%;
  display: table;
  margin-bottom: 12px;
}
.block-shokai-white ol li dt {
  width: 35px;
  height: 42px;
  display: table-cell;
  vertical-align: top;
}
.block-shokai-white ol li dd {
  padding-left: 3.4%;
  letter-spacing: -0.08em;
}
.block-shokai-white ol li span {
  display: block;
  margin: 0 4.3% 0 9.48%;
}
.block-shokai-white ul {
  font-size: 13px;
  padding: 10px 0 0;
  margin: 30px 4.6875% 0;
  border-top: #999 1px dashed;
}
