@charset "UTF-8";

/* ---------------------------
  GINZA CALLA CAMPAIGN OTAMESHI
  @ Otameshi Head
  @ Block Otameshi Bui
  @ Block Otameshi Stripe
  @ Block Otameshi Lower
--------------------------- */


/* ---------------------------
	@ Otameshi Head
--------------------------- */
.otameshi-head {
  width: 310px;
  margin: 5px auto 20px;
  position: relative;
}
.otameshi-head span {
  color: #f06993;
  letter-spacing: 0.05em;
  display: inline-block;
  position: absolute;
  top: 27px;
  left: 34px;
}

/* ---------------------------
	@ Block Otameshi Bui
--------------------------- */
.block-otameshi-bui {
  background: url('/sp/resource/img/campaign/otameshi/bg-stripe-1.png');
  padding: 12px 1.5625% 15px;
  margin: 0 0 30px;
}
.block-otameshi-bui .otameshi-bui-txt {
  color: #6c5448;
  font-size: 12px;
  text-align: center;
  margin: 0 0 7px;
}
.block-otameshi-bui .otameshi-bui-txt:before ,
.block-otameshi-bui .otameshi-bui-txt:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  position: relative;
}
.block-otameshi-bui .otameshi-bui-txt:before {
  background-image: url('/sp/resource/img/campaign/otameshi/icon-parts-left.png');
  top: 5px;
  right: 10px;
}
.block-otameshi-bui .otameshi-bui-txt:after {
  background-image: url('/sp/resource/img/campaign/otameshi/icon-parts-right.png');
  top: 5px;
  left: 10px;
}
.block-otameshi-bui ul {
  background: #fff;
  padding: 10px 3.125% 0;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.block-otameshi-bui li {
  color: #6c5448;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  width: 31.25%;
  float: left;
  margin: 0 1% 10px;
  background: #fbe8e8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* ---------------------------
	@ Block Otameshi Stripe
--------------------------- */
.block-otameshi-stripe {
  background: url('/sp/resource/img/campaign/otameshi/bg-stripe-2.png');
  margin-bottom: 30px;
}
.block-otameshi-stripe p {
  text-align: center;
  width: 79.6875%;
  margin: 0 auto;
  padding: 42px 9.375% 120px;
  background: url('/sp/resource/img/campaign/otameshi/img-person.png') no-repeat;
  background-position: right bottom;
  background-size: 223px auto;
}

/* ---------------------------
  @ Block Otameshi Lower
--------------------------- */
.block-otameshi-lower .title {
  width: 85.9375%;
  height: 0;
  padding-top: 14.36363%;
  background: url('/sp/resource/img/campaign/otameshi/img-point.png') no-repeat;
  background-position: center top;
  background-size: contain;
  margin: 0 auto 5px;
  overflow: hidden;
}
.block-otameshi-lower dl {
  background: url('/sp/resource/img/campaign/otameshi/bg-stripe-3.png');
}
.block-otameshi-lower dt {
  background: url('/sp/resource/img/campaign/otameshi/bg-dotted-line.png') repeat-x;
  background-position: center bottom;
  padding: 12px 0;
  margin-bottom: 19px;
}
.block-otameshi-lower dt span {
  display: block;
  width: 86.71875%;
  height: 0;
  padding-top: 4.34056%;
  background: url('/sp/resource/img/campaign/otameshi/txt-please-check.png') no-repeat;
  background-position: center top;
  background-size: contain;
  margin: 0 auto;
  overflow: hidden;
}
.block-otameshi-lower dd {
  width: 67.1875%;
  height: auto;
  padding-left: 10.9375%;
  padding-bottom: 20px;
}
.block-otameshi-lower ul {
  color: #6c5448;
  font-size: 12px;
  margin-top: 12px;
  padding: 0 4.6875%;
}
