@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COLUMN COMMON
  @ パーツ「コラムボタン」
	@ ブロック「カテゴリリスト」
	@ ブロック「エントリーズ」
	@ ブロック「カテゴリナビ」
	@ ブロック「記事詳細」
--------------------------- */

/* ---------------------------
  @ パーツ「コラムボタン」
--------------------------- */
.btn-column {
  display: block;
  padding: 2px 8px 2px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}
.btn-column:after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 8px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
  top: 1px;
}

/*	Yellow
-----------------------------*/
.btn-column.btn-yellow {
  background: #fff1c5;
  color: #ec6941;
}
.btn-column.btn-yellow:after {
  background-image: url("/sp/resource/img/column/index/icon-arrow-archive.png");
}

/*	Red
-----------------------------*/
.btn-column.btn-red {
  background: #fbe8e8;
  color: #d01027;  
}
.btn-column.btn-red:after {
  background-image: url("/sp/resource/img/column/index/icon-arrow-detail.png");
}



/* ---------------------------
	@ ブロック「カテゴリリスト」
--------------------------- */
.block-category {
  margin-top: 25px;
}

/*	Heading
-----------------------------*/
.block-category-head {
  margin-bottom: 14px;
  padding: 4px 0;
  background: url("/sp/resource/img/column/index/bg-stripe-column.png");
  background-size: 3px auto;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: #d01027;
  position: relative;
}


/*	Body
-----------------------------*/
.block-category-body .lead {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
}
.block-category-body .image {
  margin: 10px auto;
  width: 56.8965517%;
}
.block-category-body .image img {
  width: 100%;
}
.block-category-body p {
  margin-top: 10px;
}
.block-category-body p + p {
  margin-top: 13px;
}


/*	Links
-----------------------------*/
.block-category-links {
  margin: 15px 0 5px;
  text-align: center;
  letter-spacing: -0.3em;
}
.block-category-links li {
  margin: 0 18.5px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}


/* ---------------------------
	@ ブロック「エントリーズ」
--------------------------- */
.block-entries {
  margin-top: 20px;
}
.block-entry {
  border-top: 1px dashed #d01027;
}
.block-entry a {
  display: block;
  padding-top: 15px;
  margin-bottom: 15px;
  color: #d01027;
}
.block-entry .title {
  margin-top: -3px;
  width: 75%;
  float: right;
  line-height: 1.4;
  font-weight: bold;
  font-size: 16px;
  color: #ff6a6a;
}
.block-entry .thumbnail {
  width: 21%;
  float: left;
}
.block-entry .thumbnail img {
  width: 100%;
}
.block-entry .more {
  padding-top: 5px;
  clear: both;
}
.block-entry .more span {
  margin-left: auto;
  width: 93px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* ---------------------------
	@ ブロック「カテゴリナビ」
--------------------------- */
.block-category-nav {
  margin: 30px 0;
}
.block-category-nav li {
  position: relative;
}
.block-category-nav li:before {
  content: "";
  width: 10px;
  height: 1px;
  background: #fbf0e4;
  position: absolute;
  top: -1px;
  left: -10px;
}
.block-category-nav ul li:first-child {
  border-top: 0;
}
.block-category-nav ul li:first-child:before {
  display: none;
}
.block-category-nav a {
  display: block;
  padding-left: 14px;
  padding-right: 30px;
  height: 65px;
  background-color: #fbe8e8;
  font-weight: bold;
  font-size: 16px;
  color: #ff6a6a;
}
.block-category-nav a:after {
  content: "";
  display: block;
  width: 11.5px;
  height: 15.5px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}
.block-category-nav a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.block-category-nav span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.03em;
  line-height: 1.25;
}


/*	Pink
-----------------------------*/
.block-category-nav.pink {
  border-top: 1px solid #ff7373;
  border-bottom: 1px solid #ff7373;
}
.block-category-nav.pink li {
  border-top: 1px dotted #fda5a5;
  border-left: 10px solid #ff8383;
}
.block-category-nav.pink a:after {
  background-image: url("/sp/resource/img/care/index/icon-arrow-red.png");
}



/* ---------------------------
	@ ブロック「記事詳細」
--------------------------- */
.block-article {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.block-article strong {
  font-weignt: bold;
}

/*	Head
-----------------------------*/
.block-article-head {
  margin-bottom: 30px;
}
.block-article-head h2 {
  line-height: 1.4;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #d01027;
}
.block-article-head .thumbnail {
  margin: 15px auto;
  width: 68.9655172%;
}
.block-article-head .thumbnail img {
  width: 100%;
}


/*	Body
-----------------------------*/
.block-article-body {
  border-top: 1px dashed #d01027;
  border-bottom: 1px dashed #d01027;
  padding-bottom: 30px;
}
.block-article-body > section {
  margin: 20px 0;
}
.block-article-body h3 {
  margin-bottom: 20px;
  text-align: center;
}
.block-article-body h3 span {
  display: inline-block;
  padding: 10px 25px;
  line-height: 1.4;
  font-size: 18px;
  color: #d01027;
  position: relative;
  margin-top: 30px;
}
.block-article-body h3 span:before,
.block-article-body h3 span:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}
.block-article-body h3 span:before {
  background-image: url("/sp/resource/img/column/01/column-01/bg-corner-left.png");
  top: 0;
  left: 0;
}
.block-article-body h3 span:after {
  background-image: url("/sp/resource/img/column/01/column-01/bg-corner-right.png");
  right: 0;
  bottom: 0;
}
.block-article-body .image {
  margin: 15px auto;
  width: 68.9655172%;
}
.block-article-body .image img {
  width: 100%;
}
.block-article-body p {
  font-size: 14px;
}




/*	Summary
-----------------------------*/
.block-article-summary {
  margin: 12px 0 15px;
}
.block-article-summary h3 {
  margin-bottom: 8px;
  line-height: 1.25;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #d01027;
}
.block-article-summary p {
  font-size: 12px;
}



/*	Author
-----------------------------*/
.block-article-author {
  margin: 15px 0;
}
.block-article-author h3 {
  margin-bottom: 20px;
  background: url("/sp/resource/img/column/index/bg-stripe-column.png");
  background-size: 3px auto;
  text-align: center;
  font-size: 17px;
  color: #d01027;
}
.block-article-author figure {
  margin: 20px 0 12px;
  text-align: center;
}
.block-article-author figure img {
  max-width: 82px;
}
.block-article-author figcaption {
  font-size: 12px;
}
.block-article-author p {
  font-size: 12px;
}



/*	Nav
-----------------------------*/
.block-article-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}
.block-article-nav li {
  display: table-cell;
  vertical-align: top;
  font-size: 10px;
  color: #ff6a6a;
}
.block-article-nav li a {
  display: block;
  font-size: 10px;
  color: #ff6a6a;
}
.block-article-nav .archive a {
  text-align: center;
}
.block-article-nav .archive {
  width: 55px;
}
.block-article-nav .prev,
.block-article-nav .next {
  width: 92px;
}
.block-article-nav .prev a {
  text-align: left;
}
.block-article-nav .next a {
  text-align: right;
}
.block-article-nav .prev a:before,
.block-article-nav .next a:after {
  content: "";
  display: inline-block;
  width: 8.5px;
  height: 9.5px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
  top: 1px;
}
.block-article-nav .prev a:before {
  margin-right: 10px;
  background-image: url("/sp/resource/img/column/01/column-01/icon-arrow-prev.png");
}
.block-article-nav .next a:after {
  margin-left: 10px;
  background-image: url("/sp/resource/img/column/01/column-01/icon-arrow-next.png");
}
.block-article-nav .seperator {
  text-align: center;
}


/*  SNS
-----------------------------*/
.btn-share {
    margin-bottom: 20px;
}

.btn-share > div {
  float: right;
  margin-right:20px;
}

.btn-share > #twitter-widget-0 {
  float: right;
  margin-right:20px;
}
