@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block sitemap
  
--------------------------- */

/* ---------------------------
	@ Block sitemap
--------------------------- */

.sitemap-box {
	margin:0 4.6875% 0 4.6875%;
}

.mds-sitemap {
	width:95%;
	margin:0 auto;
	padding:5px 0 5px 4.6875%;
	background:url("/sp/resource/img/company/bg-mds-dot.gif") repeat;
}

.mds-sitemap img {
	display:inline-block;
	margin:0;
	padding-top:3px;
}

.mds-sitemap h2 {
	display:inline-block;
	margin:0 0 0 7px;
	font-size:16px;
	color:#d71f21;
	font-weight:bold;
}

.block_sitemap {
	margin:15px 0 15px 30px;
}

.block_sitemap a {
	color:#333333;
}

.box_sitemap {
	width:260px;
	display:inline-block;
	margin:0 0 20px 0;
	vertical-align:top;
}

.box_sitemap h2 {
	margin:0 0 10px 15px;
	font-size:14px;
	color:#d71f21;
}
	
.box_sitemap h3 {
	background:url("/sp/resource/img/common/icon-triangle-red_r.png") no-repeat left center;
	background-size:7px 9px;
	padding:2px 0 0 15px;
	margin:0 0 3px 0;
	font-size:12px;
	font-weight:bold;
}

.new-shop {
	font-size:14px;
	color:#d71f21;
	font-weight:normal;
}

.box_sitemap ul {
	margin:0 0 0 15px;
}

.box_sitemap li {
	background:url("/sp/resource/img/common/arrow-red-dot.png") no-repeat left center;
	background-size:9px 15px;
	padding:2px 0 0 15px;
	line-height:180%;
	font-size:12px;
}

.half_area_l {
	width:292px;
	display:inline-block;
	margin:0 38px 0 0;
}

.half_area_r {
	width:292px;
	display:inline-block;
	margin:0 0 0 0;
}

.line-sitemap {
	width:100%;
	height:1px;
	margin:0 auto;
	background:url("/sp/resource/img/common/uline_dot.gif") repeat-x center bottom;
}
	