@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
	@ Block Policy
--------------------------- */


/* ---------------------------
	@ Block Policy
--------------------------- */
.block-policy {
  padding: 0 4.6875%;
}
.block-policy > h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.block-policy > p {
  font-size: 12px;
  margin-bottom: 25px;
}
.policy-body {
  width: 94%;
  margin: 0 auto;
}
.box-policy {
  font-size: 12px;
  padding-left: 1em;
  margin-top: 25px;
}
.box-policy > h3 {
  font-weight: bold;
  text-indent: -1em;
  margin-bottom: 5px;
}
.box-policy > ol {
  margin-top: 20px;
}
.policy-body > dl {
  font-size: 12px;
  margin-top: 30px;
}
.policy-body > dl dt {
  font-weight: bold;
  line-height: 1;
  text-indent: -0.5em;
  margin-bottom: 5px;
}
.policy-body > dl dt:first-child + dd {
  margin-bottom: 20px;
}

