@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block history
  
--------------------------- */

/* ---------------------------
	@ Block history
--------------------------- */

.section-year {
}
.section-year>.capt {
    padding: 0 16px 0 16px;
    background: #fbe8e8;
    color: #cb0000;
    font-size: 20px;
}
.section-year .para-tx {
    margin: 0 16px 0 16px;
    padding: 10px 0 10px 0;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
    line-height: 1.3;
}
.section-year .para-month {
    position: relative;
    margin: 0 16px 0 16px;
    border-bottom: 1px dotted #cccccc;
}
.section-year .para-month .capt {
    position: absolute;
    left: 0;
    top: 9px;
    color: #ff8c8c;
    font-size: 15px;
    line-height: 1.3;
}
.section-year .para-month .tx {
    margin: 0 0 0 42px;
    padding: 10px 0 10px 0;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
    line-height: 1.3;
}
.section-year .para-ad {
    position: relative;
    margin: 10px 16px 0 16px;
    padding: 16px 16px 16px 16px;
    background: #fef7f7;
    border-radius: 6px;
}
.section-year .para-ad .capt {
    margin: 0 0 16px 0;
    font-size: 14px;
    line-height: 1.3;
}
.section-year .para-ad .img {
    margin: 0 0 10px 0;
    text-align: center;
}
.section-year .para-ad .lead {
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
}
.section-year>.inner *:last-child {
    border-bottom: none;
}



