@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
  @ Layout
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
--------------------------- */

/* ---------------------------
	@ Layout
--------------------------- */
.page-body > .block-white {
  padding-bottom: 10px;
}

.block-counsel {
  margin:0 auto;
}


.line-counsel {
	height:1px;
	margin:15px 4.6875% 15px 4.6875%;
	background:url("/sp/resource/img/common/bg-dot-line.gif") repeat-x center bottom;
}

.counsel-box {
	margin:0 4.6875% 0 4.6875%;
}

.counsel-box .counsel02-image {
	text-align:center;
	width:80%;
	max-width:400px;
	margin:15px auto 10px auto;
	padding:2px;
	border:1px solid #e4a0a8;
}

.counsel-box .counsel02-image img {
	width:100%;
}


#tab-counsel-step {
	width:100%;
	height:50px;
	border-bottom:5px solid #d2081f;
	z-index:1;
	margin:0 0 20px 0;
	position:relative;
}

#tab-counsel-step p {
	font-size:12px;
}

#tab-counsel-step .tab-counsel-on {
	border-bottom: 50px solid #f96b6e;
	border-right: 30px solid transparent;
	height: 0;
	width: 46%;
	position:absolute;
	left:0;
	z-index:10px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	text-align:center;
}

#tab-counsel-step .tab-step-off {
	border-bottom: 50px solid #ededed;
	border-left: 30px solid transparent;
	height: 0;
	width: 46%;
	position:absolute;
	right:0;
	z-index:5px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	text-align:center;
}

#tab-counsel-step .tab-counsel-off {
	border-bottom: 50px solid #ededed;
	border-right: 30px solid transparent;
	height: 0;
	width: 46%;
	position:absolute;
	left:0;
	z-index:10px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	text-align:center;
}

#tab-counsel-step .tab-step-on {
	border-bottom: 50px solid #f96b6e;
	border-left: 30px solid transparent;
	height: 0;
	width: 46%;
	position:absolute;
	right:0;
	z-index:5px;
	border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
	text-align:center;
}

#tab-counsel-step .tab-counsel-on p {
	color:#ffffff;
	padding:11px;
	line-height:130%;
}

#tab-counsel-step .tab-step-off p {
	color:#333;
	padding:11px;
	line-height:130%;
}


#tab-counsel-step .tab-counsel-off p {
	color:#333;
	padding:11px;
	line-height:130%;
}

#tab-counsel-step .tab-step-on p {
	color:#ffffff;
	padding:11px;
	line-height:130%;
}






.counsel-title-box {
	margin:10px 0 10px 0;
	text-align:center;
}

.counsel-title-box  ul li{
	display:table;
	width:100%;
}

.counsel-title-box  ul li a{
	display:block;
}

.counsel-title-box  ul li .counsel-box-mds {
	display:table-cell;
	vertical-align:middle;
}

.counsel-title-box  ul li .counsel-box-mds h2 {
	line-height: 1.25;
	font-size: 20px;
	font-weight:bold;
	color:#d01027;
	text-align:left;
	margin-left:5px;
}

.counsel-title-box  ul li .counsel-box-photo {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
	width:59px;
	height:53px;
	background:url("/sp/resource/img/about/bg-step.png") no-repeat center top;
	background-size:59px 53px;
}

.counsel-title-box  ul li .counsel-box-photo p {
	text-align:center;
	font-size:12px;
	color:#d01027;
	padding:10px 2px 0 0;
	line-height:130%;
}

.counsel-title-box  ul li .counsel-box-photo .step-num {
	font-size:18px;
}



.onepoint-area {
	background-color:#fff8ee;
	padding:10px;
}

.onepoint-area h3 {
	float:left;
	margin:0 auto;
}

.onepoint-area p {
	clear:left;
	margin:0 auto;
}

.onepoint-area .onepoint-image {
	float:right;
	margin:0 auto;
}


/*--------------------------------------------*/

.bihada-title-area01 {
	margin:0 4.6875% 10px 4.6875%;
	text-align:center;
}

.bihada-title-area01 p {
	text-align:center;
	font-size:14px;
	color:#37bee5;
}

.bihada-title-area01 h2 {
	display:inline-block;
	font-size:13px;
	font-weight:bold;
	color:#37bee5;
	margin:5px 0 0 0;
}

.bihada-title-area01 img {
	display:inline-block;
	margin:0 auto;
	max-width:40%;
}



.step-bihada-box {
	margin:0 4.6875% 10px 4.6875%;
	background-color:#ecf6f9;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding:10px;
}

.bihada-box {
	margin:0 auto;
	text-align:center;
}

.bihada-box  ul li{
	display:table;
	width:100%;
}

.bihada-box  ul li a{
	display:block;
}

.bihada-box  ul li .bihada-logo-area{
	display:table-cell;
	vertical-align:top;
}

.bihada-box  ul li .bihada-photo-area {
	display:table-cell;
	vertical-align:top;
	padding-left:5px;
	min-width:100px;
	max-width:200px;
}

.bihada-box  ul li .bihada-logo-area p{
	text-align:left;
	margin:0;
}

/*--------------------------------------------*/