@charset "UTF-8";

/* ---------------------------
  GINZA CALLA FAQ COMMON
	@ ブロック「Qリスト」
	@ ブロック「FAQリスト」
--------------------------- */


/* ---------------------------
	@ ブロック「Qリスト」
--------------------------- */
.block-question {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #fbe8e8;
}
.block-question-title {
  display: table;
  margin-bottom: 15px;
  vertical-align: middle;
  width: 100%;
  height: 2.5em;
}
.block-question-title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1.25;
  font-weight: bold;
  font-size: 19px;
  color: #d01027;
}
.block-question ul {
  padding: 15px 10px 12px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-question li {
  margin-top: 15px;
}
.block-question li:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  width: 38.5px;
  height: 33px;
  background: url("/sp/resource/img/faq/icon-q.png") no-repeat left center;
  background-size: 100% auto;
}
.block-question li:first-child {
  margin-top: 0;
}
.block-question li a {
  display: table-cell;
  padding-left: 8px;
  padding-top: 2px;
  vertical-align: middle;
  line-height: 1.25;
  color: #333;
}



/* ---------------------------
	@ ブロック「FAQリスト」
--------------------------- */
.block-faq {
  margin-top: 30px;
}
.block-faq:first-child {
  margin-top: 0;
}
.block-faq-title {
  padding-bottom: 8px;
  border-bottom: 1px dashed #d01027;
  text-align: center;
  line-height: 1.25;
  font-weight: bold;
  font-size: 20px;
  color: #d01027;
}
.block-faq dl {
  padding-top: 10px;
  padding-bottom: 12px;
  border-top: 1px solid #fbe8e8;
}
.block-faq-title + dl {
  border-top: 0;
}
.block-faq dl:last-child {
  padding-bottom: 5px;
}

/*	block-btn-submenu
-----------------------------*/
.block-btn-submenu {
  margin-bottom: 17.5px;
}
.block-btn-submenu .btn-stripe.btn-lightpink {
  padding: 8.5px 16px;
  height: 100%;
  display: table;
}
.block-btn-submenu .btn-stripe.btn-lightpink span {
  font-size: 13px;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.block-btn-submenu .btn-stripe.btn-lightpink:after {
  right: 6px;
}
.block-btn-submenu li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  height: 3.5em;
  margin-bottom: 5px;
}
.block-btn-submenu li:nth-child(2n+1) {
  padding-right: 5px;
}
.block-btn-submenu li:nth-child(2n) {
  padding-left: 5px;
}

/*	Question
-----------------------------*/
.block-faq dt {
  display: table;
  width: 100%;
  margin-bottom: 6px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-faq dt:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  width: 38.5px;
  height: 33px;
  background: url("/sp/resource/img/faq/icon-q.png") no-repeat left center;
  background-size: 100% auto;
}
.block-faq dt p {
  display: table-cell;
  padding-left: 6px;
  padding-top: 2px;
  vertical-align: middle;
  letter-spacing: -0.03em;
  line-height: 1.25;
  font-size: 16px;
  color: #d01027;
}


/*	Answer
-----------------------------*/
.block-faq dd {
  padding: 15px 8px 13px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  line-height: 1.4;
}
.block-faq strong {
  font-weight: bold;
}
.block-faq dd:before {
  content: "";
  display: block;
  margin-top: -8px;
  margin-right: 5px;
  width: 38.5px;
  height: 33px;
  background: url("/sp/resource/img/faq/icon-a.png") no-repeat left center;
  background-size: 100% auto;
  float: left;
}