@charset "UTF-8";

/* ---------------------------
  GINZA CALLA GAKUWARI INDEX
--------------------------- */


/* ---------------------------
  @ Block Gakuwari Head
--------------------------- */
.block-gakuwari-head {
  margin-bottom: 15px;
  padding-top: 5px;
}
.block-gakuwari-head h2 {
  margin: 10px 0 5px;
  background: url("/sp/resource/img/gakuwari/index/bg-title.png") no-repeat center;
  background-size: 173.5px auto;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.05em;
  font-weight: bold;
  font-size: 19px;
  color: #d71f21;
}
.block-gakuwari-head p {
  margin-bottom: 10px;
}
.block-gakuwari-head p em {
  font-weight: bold;
}
.block-gakuwari-head .lead {
  letter-spacing: -1px;
  font-size: 16px;
}
.block-gakuwari-head .figure {
  margin: 0 auto;
  width: 102px;
  height: auto;
}



/* ---------------------------
  @ Block Gakuwari Special
--------------------------- */
.block-gakuwari-special {
  margin-top: 15px;
  padding: 0 10px;
  border: 1px solid #d01027;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-gakuwari-special:first-child {
  margin-top: 0;
}


/*	Head
-----------------------------*/
.block-gakuwari-special-head {
  padding-top: 6px;
  padding-left: 70px;
  margin-bottom: 10px;
  min-height: 88px;
  position: relative;
}
.block-gakuwari-special h2 {
  margin-right: -10px;
  line-height: 1.3;
}
.block-gakuwari-special h2 .title {
  font-size: 15px;
  font-weight: bold;
  color: #d01027;
}
.block-gakuwari-special-head .ribbon {
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.block-gakuwari-special-head p {
  font-size: 12px;
  margin-top: 3px;
}
.block-gakuwari-special-head .note {
  display: block;
  font-size: 10px;
}


/*	Body
-----------------------------*/

/* Panel Layout */
.block-gakuwari-special-body .block-panel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.block-gakuwari-special-body .block-panel-head {
  background: #fbe8e8;
  text-align: center;
  font-size: 16px;
  color: #d01027;
}
.block-gakuwari-special-body .block-panel-body {
  background: #fef7f7;
}
.block-gakuwari-special-body .block-panel-body02{
  padding: 12px 0 10px;
}
/* Plus Icon */
.block-gakuwari-special-body .block-icon-plus {
  padding: 5px 0;
  text-align: center;
  line-height: 1;
}
.block-gakuwari-special-body .block-icon-plus img {
  vertical-align: top;
}

/* Down Icon */
.block-gakuwari-special-body .block-icon-down {
  padding: 5px 0;
  text-align: center;
  line-height: 1;
}
.block-gakuwari-special-body .block-icon-down img {
  vertical-align: top;
}

/* Student Price */
.block-student-price {
  margin: 7px 0 12px;
  text-align: center;
}
.block-student-price dl {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 1;
}
.block-student-price dt {
  padding-bottom: 4px;
  border-bottom: 1px solid #d01027;
  font-size: 10px;
  color: #d01027;
}
.block-student-price dt img {
  width: 12px;
  height: auto;
  vertical-align: middle;
  margin-top: -3px;
}
.block-student-price dd {
  padding-top: 4px;
}
.block-student-price dd em {
  font-weight: bold;
  font-size: 24px;
  color: #d01027;
}


/* Special Lead */
.special-lead {
  margin-bottom: 10px;
  font-size: 12px;
}

/* Block Stripe */
.block-stripe {
  margin-left: auto;
  margin-right: auto;
  width: 269px;
  padding: 5px 0 4px;
  position: relative;
}
.block-stripe:before,
.block-stripe:after {
  content: "";
  display: block;
  width: 100%;
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
}
.block-stripe:before {
  height: 6px;
  background-image: url("/sp/resource/img/gakuwari/index/bg-border-top.png");
  top: 0;
}
.block-stripe:after {
  height: 4px;
  background-image: url("/sp/resource/img/gakuwari/index/bg-border-bottom.png");
  background-position: bottom left;
  bottom: 0;
}
.block-stripe-inner {
  padding: 6px 8px;
  background: url("/sp/resource/img/gakuwari/index/bg-border-middle.png") repeat-y top left;
  background-size: 100% auto;
}
.block-figures .figure-side{
  width: 30%;
}
.block-figures .figure-center{
  width: 20%;
  margin: 0 0 20px;
  vertical-align: bottom;
}

/* add 201508 */
.block-gakuwari-special-body .block-labels {
	margin-bottom: 20px;
}
.block-student-price-02 dd {
	line-height: 1.75em;
	text-align:center;
}
.block-student-price-03 {
	margin: 15px auto 0;
}

/* ---------------------------
  @ Block Gakuwari Special 1
--------------------------- */
.special1 {
  padding-bottom: 10px;
}
.special1 .block-gakuwari-special-body .tit-gakuwari-h3{
  font-size: 14px;
  color: #d01027;
  border: 1px solid #d01027;
  text-align: center;
  padding: 1px 0;
  border-radius: 8px;
  margin: 0 0 6px;
}

/*	Regular Course
-----------------------------*/
.special1 .regular {
  text-align: center;
}
.special1 .regular ul {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
}
.special1 .regular li {
  margin-top: 3px;
  padding: 0 2px;
  width: 100px;
  line-height: 14px;
  font-size: 10px;
  background-color: #fff;
  border: 1px solid #d01027;
}
.special1 .regular li:first-child {
  margin-top: 0;
}
.special1 .regular span {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  text-align: left;
  line-height: 1.2;
}
.special1 .regular em {
  font-size: 18px;
}


/*	Admission Course
-----------------------------*/
.special1 .admission dd {
  overflow: hidden;
  text-align: center;
}
.special1 .admission dd div{
  border: 1px dotted #cd0000;
  padding: 10px 0;
  width: 93%;
  margin: 0 auto;
}
.special1 .admission dd div:last-child{
  border: none;
  padding: 0;
  margin-top: -6px;
}
.special1 .admission em {
  font-size: 18px;
}
/* Table */
.special1 .admission table {
  margin: 12px auto 0;
  width: 225px;
  border-spacing: 0;
  border-collapse: collapse;
}
.special1 .admission td {
  vertical-align: baseline;
  line-height: 1.2;
  font-size: 11px;
}
.special1 .admission  li{
  margin-top: 3px;
  padding: 0 2px;
  width: 100px;
  line-height: 14px;
  font-size: 10px;
  background-color: #fff;
  border: 1px solid #d01027;
  text-align: center;
}
.special1 .admission ul {
  margin-top: -28px;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
}
.special1 .admission .ul-admission01{
  vertical-align: bottom;
  padding: 3px 3px 5px;
}
.special1 .admission li:first-child {
  margin-top: 0;
}
.special1 .admission span {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  text-align: left;
  line-height: 1.2;
}
.special1 .admission span:last-child{
  line-height: 0.6;
  vertical-align: baseline;
}
.special1 .admission span span{
  border-bottom: 1px solid #000;
  width: 104px;
}
.special1 .admission td .text {
  display: block;
  font-size: 10px;
  border-bottom: 1px solid #000;
}
.special1 .admission td em {
  font-size: 19px;
}
.special1 .admission .hyphen {
  padding: 15px 10px 0px;
  vertical-align: middle;
}
.special1 .admission dd div img{
  display: block;
  margin: 5px auto 0;
}
.special1 .admission dd .icon-gakuwari-red01{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin-top: -6px;
}
.special1 .admission dd p{
  width: 193px;
  text-align: center;
  background: url('/sp/resource/img/common/icon-entrance.png') no-repeat;
  background-color: #fff;
  border: 1px solid #d01027;
  color: #d01027;
  border-radius: 7px;
  margin: 5px auto 0;
  padding-left: 40px;
  background-position: 28px 5px;
  background-size: 31px 31px;
  font-weight: bold;
}
.special1 .admission dd p em{
  font-size: 28px;
}


/*	Result
-----------------------------*/
.special1 .result > div {
  padding: 12px 0px 5px;
  text-align: center;
  height: 55px;
}
.special1 .result .text {
  margin-bottom: 10px;
  line-height: 1;
  font-size: 11px;
}
.special1 .result .text em {
  font-size: 19px;
  font-weight: bold;
}
.special1 .result .text i {
  font-weight: bold;
}
.special1 .result .price {
  margin: 0 23px 0 0;
  width: 145px;
  line-height: 1;
  font-size: 11px;
  float: right;
}
.special1 .result .price img {
  margin-right: 5px;
  vertical-align: baseline;
}
.special1 .result .price em {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.special1 .result .price .note {
  margin-top: 5px;
  font-size: 9px;
  letter-spacing: -0.05em;
}
.special1 .result .box-gakuwari-11kai{
  float: right;
  width: 100px;
  text-align: center;
  margin-top: 5px;
}
.special1 .result .box-gakuwari-11kai p{
  font-size: 10px;
  text-align: center;
}
.special1 .result .annotation {
  margin-top: 14px;
  line-height: 1;
  font-size: 9px;
}
.block-panel .block-panel-body .annotation{
  margin-top: 0;
  width: 172px;
  font-size: 8px;
  text-align: left;
  margin-left: 10px;
}
.special1 .result .annotation:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url("/sp/resource/img/common/icon-dot.png") no-repeat top center;
  background-size: contain;
}




/* ---------------------------
  @ Block Gakuwari Special 2
--------------------------- */
.special2 .block-gakuwari-special-body .block-icon-plus {
  padding-bottom: 12px;
}



/* ---------------------------
  @ Block Gakuwari Special 3
--------------------------- */
.special3 .block-gakuwari-special-head {
  margin-bottom: 0;
}
.special3 .block-gakuwari-special-head p {
  margin-top: 20px;
  font-size: 16px;
  color: #d01027;
}
.special3 .block-gakuwari-special-head p img {
  margin-top: 3px;
  width: 45px;
}
.special3 .block-gakuwari-special-head .eyecatch {
  width: 56px;
  position: absolute;
  right: -5px;
  bottom: 5px;
}
.special3 .block-gakuwari-special-body > p {
  margin-bottom: 5px;
  font-size: 12px;
}
.special3 .block-stripe {
  line-height: 1.2;
  font-size: 10px;
}
.special3 .block-stripe .bold {
  font-weight: bold;
  font-size: 12px;
}
.special3 .block-stripe .note {
  display: block;
  margin: 5px 0;
  font-size: 8px;
}
.special3 .block-stripe .block-stripe-inner .alert {
  display: block;
  margin-top: 5px;
  line-height: 1;
  font-size: 16px;
  color: #d01027;
}
.special3 .block-stripe .alert em {
  font-size: 25px;
}
.special3 ul {
  margin: 4px 0;
}
.special3 li {
  font-size: 8px;
}
