@charset "UTF-8";

/* ---------------------------
  GINZA CALLA TOP PAGE
	@ Main Visual
	@ Layout Adjustment
	@ Parts Adjustment
--------------------------- */



/* ---------------------------
	@ Main Visual
--------------------------- */
.main-visual {
  margin-top: 4px;
  overflow: hidden;
}
.main-visual li img {
  width: 100%;
  height: auto;
}



/* ---------------------------
	@ Layout Adjustment
--------------------------- */
.main {
  margin-bottom: 0;
}
.footer {
  background-color: #fff;
}



/* ---------------------------
	@ Parts Adjustment
--------------------------- */
.block-btn-stripe a {
  margin-top: 15px;
}
.block-btn-stripe a:first-child {
  margin-top: 0;
}