@charset "UTF-8";

/* ---------------------------
  GINZA CALLA MODULE LIST
  @ モジュール「メインナビゲーション」
  @ バナー「予約の取りやすさ第1位を獲得」
  @ モジュール「最新コラム」「お知らせ」
  @ モジュール「お近くの店舗を探す」
  @ モジュール「お客様の声」
  @ モジュール「サロンからのメッセージ」
  @ モジュール「はじめての方にオトク」
  @ モジュール「プラン・料金」
  @ ブロック「矢印付きリスト」
  @ ブロック「お客様の声リスト」
  @ ブロック「タブ」
  @ ブロック「タブ・部位」
  @ ブロック「ラベルリスト」
	@ ブロック「人物画像」
--------------------------- */


/* ---------------------------
  @ モジュール「メインナビゲーション」
--------------------------- */
.main-nav {
  margin: 15px 0;
}
.main-nav ul {
  text-align: center;
  letter-spacing: -0.3em;
}
.main-nav li {
  display: inline-block;
  margin: 3.125% 1.5625% 0;
  width: 28.125%;
  vertical-align: top;
  letter-spacing: normal;
}
.main-nav li:nth-child(1),
.main-nav li:nth-child(2),
.main-nav li:nth-child(3) {
  margin-top: 0;
}
.main-nav li a {
  display: block;
  padding: 7.5% 0 2.5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: url('/sp/resource/img/common/bg-redstripe.png');
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.main-nav li img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
	pointer-events: none;
}
.main-nav p {
  margin-top: 2.5%;
  display: table;
  width: 100%;
  height: 2.4em;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
}
.main-nav p span {
  display: table-cell;
  vertical-align: middle;
}



/* ---------------------------
	@ バナー「予約の取りやすさ第1位を獲得」
--------------------------- */
.mod-rank {
  margin: 30px auto;
  width: 90.625%;
}
.mod-rank img {
  width: 100%;
}



/* ---------------------------
  @ モジュール「最新コラム」「お知らせ」
--------------------------- */

/*	Layout
-----------------------------*/
.mod-list {
  margin: 30px 0;
  overflow: hidden;
}
.mod-list-body {
  padding: 20px 4.6875%;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-list-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}


/*	Table
-----------------------------*/
.mod-list-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.mod-list-body tr {
  border-top: 1px dotted #d01027;
}
.mod-list-body tr:first-child {
  border: 0;
}


/*	Table Head
-----------------------------*/
.mod-list-body th {
  padding: 10px 0;
  width: 60px;
  line-height: 1.2;
  border-right: 1px solid transparent;
}
.mod-list-body th > span {
  display: table;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.mod-list-body th > span > span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
}
.mod-list-news th > span {
  background: #bea899;
  color: #fff;
}
.mod-list-body .column-box01 th span{
  background: url('/sp/resource/img/index/sp_top_column_img_01.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box02 th span{
  background: url('/sp/resource/img/index/sp_top_column_img_02.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box03 th span{
  background: url('/sp/resource/img/index/sp_top_column_img_03.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box04 th span{
  background: url('/sp/resource/img/index/sp_top_column_img_04.png') no-repeat;
  background-size: 60px 38px;
}
.mod-list-body .column-box05 th span{
  background: url('/sp/resource/img/index/sp_top_column_img_05.png') no-repeat;
  background-size: 60px 38px;
}

/*	Table Cell
-----------------------------*/
.mod-list-body td {
  padding: 10px 0 10px 12px;
}
.mod-list-body a,
.mod-list-date,
.mod-list-text {
  display: inline-block;
  color: #333333;
}
.mod-list-body a.btn-stripe {
  display: block;
  color: #fff;
}
.mod-list-body a:hover {
  text-decoration: underline;
}
.mod-list-body a:visited {
  text-decoration: none;
}




/* ---------------------------
  @ モジュール「お近くの店舗を探す」
--------------------------- */
.mod-search {
  margin: 32px 0 0;
  padding: 17px 0 40px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
}
.mod-search h2 {
  margin-bottom: 17px;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}
.mod-search h2:before {
  margin-right: 5px;
}
.mod-search ul {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -0.4em;
}
.mod-search li {
  display: inline-block;
  margin: 0 5px 10px;
  width: 90px;
  letter-spacing: normal;
}




/* ---------------------------
  @ モジュール「お客様の声」
--------------------------- */
.mod-voice {
	margin: 30px 0;
}
.mod-voice .btn-stripe {
	margin-top: 12px;
}
.mod-voice-body {
  margin-bottom: 20px;
  padding: 17px 4.6875% 20px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-voice-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}
.mod-voice dl {
	background: #fbe8e8;
	padding: 20px 3.44827% 18px 100px;
	margin-top: 13px;
	position: relative;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
}
.mod-voice dt {
	color: #d01027;
	font-size: 16px;
	margin-bottom: 5px;
}
.mod-voice .image {
	width: 79px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -39.5px;
}




/* ---------------------------
  @ モジュール「サロンからのメッセージ」
--------------------------- */
.mod-message p {
	padding: 20px 6.03448% 18px;
	margin-top: 13px;
	background: #fbe8e8;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
}
.mod-message-body {
  margin-bottom: 20px;
  padding: 17px 4.6875% 20px;
  background: #fff;
  border-top: 3px solid #F7E3E4;
  border-bottom: 3px solid #F7E3E4;
}
.mod-message-body h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}



/* ---------------------------
  @ モジュール「はじめての方にオトク」
--------------------------- */
.mod-beginner {
	padding: 0 4.6875%;
	margin: 25px 0;
}
.mod-beginner h2 {
	padding-bottom: 5px;
	border-bottom: #d01027 1px solid;
	line-height: 1.2;
	text-align: center;
	font-size: 20px;
	color: #d01027;
	margin-bottom: 13px;
}
.mod-beginner ul {
	overflow: hidden;
}
.mod-beginner li {
	width: 49%;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
}
.mod-beginner a {
	display: block;
	position: relative;
}
.mod-beginner li img {
	width: 100%;
	height: auto;
}
.mod-beginner li:first-child ,
.mod-beginner li:nth-child(2) {
	margin-top: 0;
}
.mod-beginner li:nth-child(2n+1) {
	margin-left: 0;
}
.mod-beginner a:after {
	content: "";
	display: block;
	width: 10.5px;
	height: 14.5px;
	background: url('/sp/resource/img/common/arrow-red-m.png') no-repeat;
	background-position: right center;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 1.5%;
	margin-top: -7px;
}



/* ---------------------------
  @ モジュール「プラン・料金」
--------------------------- */
.mod-plan {
	padding: 0 4.6875%;
	margin: 25px 0 30px;
}
.mod-plan h2 {
	padding-bottom: 5px;
	border-bottom: #d01027 1px solid;
	line-height: 1.2;
	text-align: center;
	font-size: 20px;
	color: #d01027;
	margin-bottom: 13px;
}
/* mod-plan-body */
.mod-plan-body {
	margin-bottom: 30px;
	margin-right: -1%;
	margin-left: -1%;
	overflow: hidden;
}
/* wide */
.mod-price-block.wide {
	margin: 0 1%;
	width: 98%;
}
.mod-price-block.wide em {
	width: 100%;
	position: relative;
}
.mod-price-block.wide em span:before ,
.mod-price-block.wide em span:after {
	content: "";
	display: inline-block;
	background: url('/sp/resource/img/common/icon-diamond.png') no-repeat;
	background-size: contain;
	background-position: left center;
	width: 8.5px;
	height: 11px;
}
.mod-price-block.wide em span:before {
	position: absolute;
	top: 50%;
	left: 4px;
	margin-top: -5px;
}
.mod-price-block.wide em span:after {
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -5px;
}
.mod-price-block.wide div {
	padding: 10px 5% 8px 3.44875%;
}
.mod-price-recommend > div:after ,
.mod-price-popular > div:after {
	content: "";
	display: block;
	width: 10.5px;
	height: 14.5px;
	background: url('/sp/resource/img/common/arrow-red-m.png') no-repeat;
	background-position: right center;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 1.5%;
	margin-top: -7px;
}
.mod-price-block.wide h3 {
	font-size: 24px;
}
/* wide-inner */
.mod-price-block.wide .wide-inner {
	width: 100%;
	padding: 0;
	display: table;
	box-sizing: border-box;
}
/* wide-icon */
.mod-price-block.wide .wide-icon ,
.mod-price-block.wide .wide-title {
	vertical-align: middle;
	padding: 0;
	display: table-cell;
}
.mod-price-block.wide .wide-icon {
	width: 75px;
}
.mod-price-block.wide .wide-title {
	padding-left: 3%;
}
/* mod-price-block */
.mod-price-block {
	width: 48%;
	margin: 9px 1% 0;
	float: left;
	display: block;
}
.mod-price-block div {
	background: #faf6ec;
	padding: 8px 7.14285% 6px;
	border-radius: 5px;
	-webkit-border-radius 5px;
	-moz-border-radius 5px;
	position: relative;
}
.mod-price-block em {
	display: block;
	padding: 2px 0 1px;
	text-align: center;
	box-sizing: border-box;
	font-size: 10px;
}
.mod-price-block h3 {
	margin: 7px 0;
	line-height: 1;
	padding-bottom: 1px;
	border-bottom: #d01027 1px solid;
	letter-spacing: -1px;
	font-size: 17px;
	color: #d01027;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mod-price-block li {
  letter-spacing: -0.04em;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
/* mod-price-recommend */
.mod-price-recommend em {
	width: 75px;
	background: #d01027;
	border: #d01027 1px solid;
	color: #fff;
}
/* .mod-price-popular */
.mod-price-popular em {
	width: 75px;
	background: #fff;
	border: #d01027 1px solid;
	color: #d01027;
}










/* ---------------------------
  @ ブロック「矢印付きリスト」
--------------------------- */
.block-arrow-list {
  margin-top: -2px; /* Hide Dotted Border */
}
.block-arrow-list-title {
  padding: 10px 0 12px;
  border-top: 1px solid #d01027;
  background: url("/sp/resource/img/salon/common/bg-rounded-stripe.png") repeat-x top center;
  background-size: 28px 44px;
  line-height: 1.25;
  text-align: center;
  font-size: 18px;
}
.block-arrow-list li,
.block-arrow-list dd,
.block-arrow-list section {
border-bottom: 1px dashed #FB717B;
}
.block-arrow-list dt,
.block-arrow-list-pref {
margin: 10px 1.40625% 0;
border: 1px solid #d01027;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #fcefef;
line-height: 25px;
text-align: center;
color: #d01027;
}
.block-arrow-list a {
  display: block;
  padding: 18px 4.6875%;
  line-height: 1.2;
  color: #d01027;
  position: relative;
}
.block-arrow-list a:after {
  content: "";
  display: inline-block;
  padding-left: 7px;
  width: 10.5px;
  height: 14.5px;
  background: url('/sp/resource/img/common/arrow-red-m.png') no-repeat;
  background-position: right center;
  background-size: contain;
  position: absolute;
  right: 4.375%;
  top: 50%;
  margin-top: -7px;
}
.block-arrow-list a span {
  margin-right: 3em;
}


/*	Arrow List Border Capped
-----------------------------*/
.block-arrow-list.line-cap {
  border-top: 1px dashed #FB717B;
}


/*	Arrow List Border Top
-----------------------------*/
.block-arrow-list.line-top {
	margin-top: 30px;
}
.block-arrow-list.line-top li,
.block-arrow-list.line-top dd {
  border: 0;
  border-top: 1px dashed #FB717B;
}


/*	Arrow List Narrow
-----------------------------*/
.block-arrow-list.list-narrow a {
  padding: 12px 4.6875%;
}


/*	With Arrow Down
-----------------------------*/
.block-arrow-list-title.with-arrow-down {
  position: relative;
}
.block-arrow-list-title.with-arrow-down:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 6px 0 6px;
  border-color: #d01027 transparent transparent transparent;
  position: absolute;
  right: 4.6875%;
  top: 50%;
  margin-top: -6px;
}
.block-arrow-list-title.with-arrow-down.on:after {
  border-width: 0 6px 11px 6px;
  border-color: transparent transparent #d01027 transparent;
}


/*	For Accordion
-----------------------------*/
.block-arrow-list.accordion {
  margin: 0;
  background: url("/sp/resource/img/salon/common/bg-rounded-stripe.png") repeat-x top center;
  background-size: 28px 44px;
}
.block-arrow-list.accordion:last-child {
  border-bottom: 1px solid #D01027;
}
.block-arrow-list.accordion .block-arrow-list-title {
  padding: 10px 0 9px;
  background: none;
  font-weight: bold;
  font-size: 16px;
}
.block-arrow-list.accordion .block-arrow-list-title.on {

}
.block-arrow-list.accordion dt {
  font-weight: bold;
  font-size: 15px;
}
.block-arrow-list.accordion dl:last-child dd:last-child {
  border: 0;
}




/* ---------------------------
  @ ブロック「お客様の声リスト」
--------------------------- */
.block-voice-list dl {
  margin-bottom: 10px;
  padding: 8px 10px 10px;
  background: #fbe8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-voice-list dt {
  margin-bottom: 12px;
  font-size: 16px;
  color: #d01027;
}
.block-voice-list dt img {
  margin: 0 5px 0 10px;
  width: 45px;
  height: auto;
  vertical-align: middle;
}
.block-voice-list dd {
  padding: 12px 10px;
  background: #fff;
  line-height: 1.4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.block-voice-list dd {
  padding: 12px 10px;
  background: #fff;
  line-height: 1.4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.block-voice-list dd:before {
  content: "";
  display: block;
  width: 11px;
  height: 12px;
  background: url("/sp/resource/img/salon/common/arrow-voice.png") no-repeat bottom center;
  background-size: contain;
  position: absolute;
  top: -12px;
  left: 50px;
}




/* ---------------------------
  @ ブロック「タブ」
--------------------------- */
.block-tab-nav {
  margin: 25px 0 18px;
  border-bottom: 2px solid #da4044;
}
.block-tab-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.block-tab-nav li {
  display: table-cell;
  width: 25%;
  vertical-align: bottom;
}
.block-tab-nav a {
  display: block;
  margin-left: -1px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: #f9f9f9;
  border-radius: 5px 5px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-bottom: 0;
  line-height: 39px;
  letter-spacing: -0.05em;
  font-size: 20px;
  color: #666;
}
.block-tab-nav a.on {
  background: #f96b6e;
  border-color: #f96b6e;
  border-left-color: #c9c9c9;
  color: #fff;
}



/* ---------------------------
  @ ブロック「タブ・部位」
--------------------------- */
/*	Layout
-----------------------------*/
.block-voice.region {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}
.block-voice.region > div {
  overflow: hidden;
}


/*	Navigation
-----------------------------*/
.block-tab-region {
  margin: 10px 0;
  width: 100%;
  height: 47px;
  overflow: hidden;
  border-bottom: 4px solid #ce162e;
  margin-bottom: 8px;
  position: relative;
}
.block-tab-region li {
  width: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 10;
}
.block-tab-region .left-tab {
  padding-right: 22px;
  left: 0;
}
.block-tab-region .right-tab {
  padding-left: 22px;
  right: 0;
}
.block-tab-region .left-tab a {
  padding-left: 20px;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.block-tab-region .right-tab a {
  padding-right: 20px;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.block-tab-region li.on {
  z-index: 20;
}
.block-tab-region li a {
  display: block;
  line-height: 47px;
  background-color: #f9f9f9;
  border-color: #cecece;
  border-width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  font-size: 20px;
  color: #666;
  position: relative;
}
.block-tab-region li a:before {
  content: "";
  display: block;
  width: 30px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 30px 47px;
  background-position: top center;
  position: absolute;
  top: -1px;
}
.block-tab-region li.on a {
  background-color: #F96B6E;
  border-color: #F96B6E;
  color: #fff;
}

/* Change Backgrounds */
.block-tab-region .left-tab a:before { background-image: url('/sp/resource/img/voice/index/bg-taboff-left.png'); right: -30px; }
.block-tab-region .right-tab a:before { background-image: url('/sp/resource/img/voice/index/bg-taboff-right.png'); left: -30px; }
.block-tab-region .left-tab.on a:before { background-image: url('/sp/resource/img/voice/index/bg-tabon-left.png'); }
.block-tab-region .right-tab.on a:before { background-image: url('/sp/resource/img/voice/index/bg-tabon-right.png'); }


/*	Button Stripe
-----------------------------*/
.block-region .btn-stripe {
  padding: 0;
  margin-bottom: 7px;
  width: 100%;
  height: 37px;
  font-size: 10px;
}
.block-region .btn-stripe:after {
  display: none;
}
.block-region .btn-stripe a {
  display: block;
  height: 100%;
}
.block-region .btn-stripe a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 103%;
  width: 0;
}
.block-region .btn-stripe span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

/*	Contents
-----------------------------*/
.block-region {
  margin-bottom: 15px;
}
.block-region-body {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.block-region-btns {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  min-width: 60px;
  float: left;
}
.region-right{
  float: right;
}
.block-region-image {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8%;
  width: 60%;
  text-align: center;
}
.block-region-image img {
	width: 120px;
}

#front .block-plan-body{
  width: 290px;
  height: 440px;
  background: url('/sp/resource/img/common/img-front.png') no-repeat;
  margin: 0 auto;
  background-size: 290px 427px;
}
#back .block-plan-body{
  width: 290px;
  height: 440px;
  background: url('/sp/resource/img/common/img-back.png') no-repeat;
  margin: 0 auto;
  background-size: 290px 427px;
}



/* ---------------------------
  @ ブロック「ラベルリスト」
--------------------------- */
.block-labels {
  margin-left: 0.6451613%;
}
.block-labels {
  letter-spacing: -0.35em;
}
.block-labels li {
  width: 29.0322581%;
  margin-bottom: 7px;
  margin-left: 2.5806452%;
  display: inline-block;
  vertical-align: top;
  background: #fef7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fac5c5;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 11px;
  color: #eb7a88;
}

/*	Full
-----------------------------*/
.block-labels.full {
  overflow: hidden;
  margin-left: 0;
}
.block-labels.full ul {
  margin-left: -2%;
}
.block-labels.full li {
  margin-left: 2%;
  width: 31.3333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*	Caption
-----------------------------*/
.block-labels .block-labels-cap {
  margin-bottom: 5px;
  letter-spacing: normal;
  text-align: center;
  font-size: 13px;
  color: #d01027;
}
.block-labels .block-labels-cap span {
  display: inline-block;
  margin-right: 2px;
  padding: 1px 5px;
  line-height: 1;
  border: 1px solid #d01027;
}



/* ---------------------------
	@ ブロック「人物画像」
--------------------------- */
.block-figures {
  margin: 20px 0 25px;
  letter-spacing: -0.35em;
  text-align: center;
}
.block-figures figure {
  display: inline-block;
  vertical-align: top;
  width: 37.6451613%;
  margin: 0 3.5483871%;
}
.block-figures-wide figure {
  width: 74%;
  margin: 0 3.5483871%;
}

.relative {
  position: relative;
}
