@charset "UTF-8";

/* ---------------------------
  GINZA CALLA NEWS PAGE
  @ Entries
  @ Entry
  @ Entries Nav
--------------------------- */


/* ---------------------------
	@ Entries
--------------------------- */
.entries {
  padding: 5px 4.6875%;
}
.entries-title {
  margin-bottom: 15px;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  color: #d71f21;
}


/* ---------------------------
	@ Entry
--------------------------- */
.entry {
  margin-bottom: 20px;
  padding: 25px 0;
  border-bottom: 1px dashed #d52329;
  position: relative;
}
.entry-title {
  margin-bottom: 10px;
}
.entry-title,
.entry-title a {
  line-height: 1.4;
  font-weight: bold;
  font-size: 16px;
  color: #d52329;
}
.entry-date {
  padding: 2px 5px 1px 10px;
  background: #ff8888;
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.entry-date:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 5px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.entry-image {
  margin-bottom: 12px;
  text-align: center;
}
.entry-body {
  word-break: break-all;
}


/* ---------------------------
  @ Entries Nav
--------------------------- */
.entries-nav li {
  margin-top: 10px;
}
.entries-nav li:first-child {
  margin-top: 0;
}