@charset "UTF-8";

/* ---------------------------
	GINZA CALLA PARTS LIST
	@ Utilities
  @ Block
  @ Icon
  @ Heading
  @ Typography
  @ Button
  @ Button Tel
  @ Button Stripe
  @ Baloon
  @ Form
--------------------------- */



/* ---------------------------
  @ Utilities
--------------------------- */

/*	Container
-----------------------------*/
.container {
  width: 100%;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-narrow {
  width: 100%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*	Clearfix
-----------------------------*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/*	Transition
-----------------------------*/
.trans {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0); /* for Safari */
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.trans:hover {
  opacity: 0.6;
}



/* ---------------------------
	@ Block
--------------------------- */

/*	Block White
-----------------------------*/
.block-white {
  padding: 15px 0;
	background-color: #fff;
	border-top: #F7E3E4 3px solid;
	border-bottom: #F7E3E4 3px solid;
}
.block-white > .text {
  margin-bottom: 12px;
  padding: 0 4.6875%;
}

.block-white > .text-center {
  margin-bottom: 12px;
  padding: 0 4.6875%;
  text-align:center;
}

/* With Margin */
.block-white.with-space {
  margin: 30px 0;
}
.block-white.with-lower-space {
  padding-bottom: 30px;
}
.block-white.with-lower-no {
  padding-bottom: 0;
}


/*	Block Bordered
-----------------------------*/
.block-bordered {
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px dashed #d01027;
}

.block-bordered-narrow {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px dashed #d01027;
}


/*	Block Promotion
-----------------------------*/
.block-promotions {
  margin: 30px 0;
  padding: 0;
}


/*	Block Image
-----------------------------*/
.block-space {
  margin-bottom: 10px;
}


/*	Block Button
-----------------------------*/
.block-btn {
  margin: 30px 0 33px;
}

/* Last of .block-white */
.block-btn-lower {
  margin: 30px 0 15px;
}

/* Block Button Counsel */
.block-btn-counsel {
  margin: 30px 0 40px;
}

/* Block Button Stripe */
.block-btn-stripe {
  margin: 20px 0 30px;
}

/* Block Button Stripe Smaller */
.block-btn-stripe-small {
  margin: 20px 0;
}

/* Block Button Stripe Lower */
.block-btn-stripe-lower {
  margin: 20px 0 5px;
}

/* Block Button Stripe Margin */
[class^="block-btn-stripe"] a {
  margin-top: 10px;
}
[class^="block-btn-stripe"] a:first-child {
  margin-top: 0;
}





/* ---------------------------
  @ Icon
--------------------------- */
[class*="icon-"]:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  vertical-align: top;
}
.icon-web:before {
  width: 26.5px;
  height: 21.5px;
  background-image: url('/sp/resource/img/common/icon-pc.png');
}
.icon-search:before {
  width: 24.5px;
  height: 24.5px;
  background-image: url('/sp/resource/img/common/icon-search.png');
}
.icon-menu:before {
  width: 27px;
  height: 21px;
  background-image: url('/sp/resource/img/common/icon-menu.png');
}
.icon-column:before {
  margin: -1px 5px 0 0;
  width: 35.5px;
  height: 23.5px;
  background-image: url('/sp/resource/img/common/icon-column.png');
}
.icon-info:before {
  margin: 1px 5px 0 0;
  width: 21px;
  height: 21px;
  background-image: url('/sp/resource/img/common/icon-info.png');
}
/* icon-voice */
.icon-voice:before {
	background-image: url('/sp/resource/img/common/icon-voice.png');
	width: 30px;
	height: 24.5px;
	margin: -1px 5px 0 0;
	vertical-align: middle;
}

.icon-voice__absolute:before {
  background-image: url('/sp/resource/img/common/icon-voice.png');
  width: 30px;
  height: 24.5px;
  position: absolute;
  left: -36px;
  top: 7px;
}

.icon-voice__absolute--parts:before {
  background-image: url('/sp/resource/img/common/icon-voice.png');
  width: 30px;
  height: 24.5px;
  position: absolute;
  left: -62px;
  top: 7px;
}
/* icon-beginner */
.icon-beginner:before {
	background-image: url('/sp/resource/img/common/icon-beginner.png');
	width: 17.5px;
	height: 26.5px;
	margin: -1px 10px 0 0;
}
/* icon-plan */
.icon-plan:before {
	background-image: url('/sp/resource/img/common/icon-plan.png');
	width: 25px;
	height: 24px;
	margin: -1px 10px 0 0;
}
.icon-plan-white:before {
	background-image: url('/sp/resource/img/common/icon-plan-white.png');
	width: 25px;
	height: 24px;
	margin: 1px 10px 0 0;
}
.icon-datsumou-white:before {
  background-image: url("/sp/resource/img/common/icon-datsumou-white.png");
  width: 23px;
  height: 28px;
  margin: -3px 10px 0 0;
}
.icon-datsumou-white2:before {
 background-image: url("/sp/resource/img/common/icon-datsumou-white2.png");
 width: 25px;
 height: 30px;
 margin: -3px 8px 0 0;
}
.icon-datsumou-white-thick:before {
  background-image: url("/sp/resource/img/common/icon-datsumou-white2.png");
  width: 25px;
  height: 30px;
  margin: 0px -5px 0 -20px;
  vertical-align: middle;
}
.icon-exclamation:before {
  background-image: url("/sp/resource/img/common/icon-exclamation.png");
  width: 25px;
  height: 25px;
  margin: -1px 8px 0 0;
}
.icon-member:before {
  background-image: url("/sp/resource/img/common/icon-member.png");
  width: 23px;
  height: 23px;
}
.icon-rank:before {
  background-image: url("/sp/resource/img/common/icon-ranking-white.png");
  width: 18px;
  height: 33px;
  margin-right: 7px;
  position: relative;
  top: -5px;
}
.icon-rank-red:before {
  background-image: url("/sp/resource/img/common/icon-ranking-red.png");
  width: 24.5px;
  height: 45px;
  margin-right: 7px;
  position: relative;
  top: -5px;
}
.icon-yen:before {
  background-image: url("/sp/resource/img/common/icon-yen.png");
  width: 23.5px;
  height: 23.5px;
  margin-right: 2px;
}
.icon-dinner:before {
  background-image: url("/sp/resource/img/common/icon-dinner.png");
  width: 12.5px;
  height: 22.5px;
  margin-right: 7px;
}

.icon-dinner__absolute:before {
  background-image: url("/sp/resource/img/common/icon-dinner.png");
  width: 12.5px;
  height: 22.5px;
  position: absolute;
  top: 14px;
  left: 22px;
}

.icon-dinner-white:before {
  background-image: url("/sp/resource/img/common/icon-dinner-white.png");
  width: 16px;
  height: 28.5px;
  margin-right: 9px;
  margin-top: -3px;
}

.icon-dinner-white__absolute:before {
  background-image: url("/sp/resource/img/common/icon-dinner-white.png");
  width: 16px;
  height: 28.5px;
  position: absolute;
  top: 9px;
  left: -32px;
}

.icon-talk-white:before {
  background-image: url("/sp/resource/img/common/icon-talk-white.png");
  width: 26.5px;
  height: 23px;
  margin-right: 9px;
  margin-top: 0px;
}

.icon-talk-white__absolute:before {
  background-image: url("/sp/resource/img/common/icon-talk-white.png");
  width: 26.5px;
  height: 23px;
  position: absolute;
  top: 9px;
  left: -32px;

}

.icon-baloon:before {
  background-image: url("/sp/resource/img/common/icon-baloon.png");
  width: 21.5px;
  height: 18.5px;
  margin-right: 7px;
  margin-top: 2px;
}

.icon-baloon__absolute:before {
  background-image: url("/sp/resource/img/common/icon-baloon.png");
  width: 21.5px;
  height: 18.5px;
  position: absolute;
  top: 14px;
  left: 48px;
}

.icon-flag:before {
  background-image: url("/sp/resource/img/common/icon-flag.png");
  width: 17.5px;
  height: 23px;
  margin-right: 6px;
}

.icon-flag__absolute:before {
  background-image: url("/sp/resource/img/common/icon-flag.png");
  width: 17.5px;
  height: 23px;
  position: absolute;
  top: 14px;
  left: 48px;
}

.icon-flag-white:before {
  background-image: url("/sp/resource/img/common/icon-flag-white.png");
  width: 17.5px;
  height: 26px;
  margin-right: 6px;
}

.icon-flag-white__absolute:before {
  background-image: url("/sp/resource/img/common/icon-flag-white.png");
  width: 17.5px;
  height: 26px;
  position: absolute;
  top: 7px;
  left: -21px;
}

.icon-note:before {
  background-image: url("/sp/resource/img/common/icon-note.png");
  width: 21px;
  height: 19.5px;
  margin-right: 5px;
}
.icon-city:before {
  background-image: url("/sp/resource/img/common/icon-city.png");
  width: 19.5px;
  height: 23px;
  margin-right: 7px;
  margin-top: -2px;
}
.icon-book:before {
  background-image: url("/sp/resource/img/common/icon-book.png");
  width: 25.5px;
  height: 17px;
  margin-right: 4px;
  margin-top: 1px;
}
.icon-book-white:before {
  background-image: url("/sp/resource/img/common/icon-book-white.png");
  width: 25.5px;
  height: 17px;
  margin-right: 4px;
  margin-top: 3px;
}

.icon-book-white__absolute:before {
  background-image: url("/sp/resource/img/common/icon-book-white.png");
  width: 25.5px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: -33px;
}

.icon-book-red:before {
  background-image: url("/sp/resource/img/common/icon-book-red.png");
  width: 28px;
  height: 18.5px;
  margin-right: 4px;
  margin-top: -1px;
}

.icon-book-red__absolute:before {
  background-image: url("/sp/resource/img/common/icon-book-red.png");
  width: 28px;
  height: 18.5px;
  position: absolute;
  top: 18px;
  left: 38px;
}

.icon-building-white:before {
  background-image: url("/sp/resource/img/common/icon-building-white.png");
  width: 24px;
  height: 26px;
  margin-right: 4px;
  margin-top: -3px;
}
.icon-building-white__absolute:before {
  background-image: url("/sp/resource/img/common/icon-building-white.png");
  width: 24px;
  height: 26px;
  position: absolute;
  top: 8px;
  left: -26px;
}

.icon-location:before {
  background-image: url("/sp/resource/img/common/icon-location.png");
  width: 21px;
  height: 22.5px;
  margin-right: 2px;
  margin-top: -2px;
}

.icon-location__absolute:before {
  background-image: url("/sp/resource/img/common/icon-location.png");
  width: 21px;
  height: 22.5px;
  position: absolute;
  top: 3px;
  left: 21px;
}
/* icon-about */
.icon-about:before {
	background-image: url("/sp/resource/img/common/icon-about-white.png");
	width: 20px;
	height: 28px;
	margin: -1px 5px 0 0;
}

.icon-heart:before {
	background-image: url("/sp/resource/img/common/icon-heart.png");
	width: 23px;
	height: 20px;
	margin: 2px 5px 0 0;
}

.icon-heart-large:before {
	background-image: url("/sp/resource/img/common/icon-heart.png");
	width: 23px;
	height: 20px;
	margin: 12px 5px 0 0;
}
.icon-double-dia-white:before {
  background-image: url("/sp/resource/img/common/icon-double-dia-white.png");
  width: 22px;
  height: 25px;
  margin-right: 8px;
}

.icon-research:before {
	background-image: url("/sp/resource/img/common/icon-research.png");
	width: 16px;
	height: 30px;
	margin: -3px 5px 0 0;
}

.icon-jishin:before {
	background-image: url("/sp/resource/img/common/icon-jishin.png");
	width: 30px;
	height: 45px;
	margin: 0;
}

.icon-jishin__absolute:before {
  background-image: url("/sp/resource/img/common/icon-jishin.png");
  width: 30px;
  height: 45px;
  position: absolute;
  left: -32px;
  top: -2px;
}

.icon-anshin:before {
	background-image: url("/sp/resource/img/common/icon-anshin-white.png");
	width: 31px;
	height: 31px;
	margin: -4px 0 0 0;
}

.icon-crown:before {
	background-image: url("/sp/resource/img/common/icon-crown-white.png");
	width: 33px;
	height: 33px;
	margin: -4px 7px 0 0;
}

 .icon-diamond-red:before {
	background-image: url("/sp/resource/img/common/icon-diamond-red.png");
	width: 10px;
	height: 13px;
	padding-left: 10px;
}
 .icon-diamond-red:after {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  vertical-align: top;
	background-image: url("/sp/resource/img/common/icon-diamond-red.png");
	width: 10px;
	height: 13px;
	padding-right: 10px;
}

.icon-search-white:before {
  margin: -3px 5px 0 0;
  width: 28px;
  height: 28px;
  background-image: url('/sp/resource/img/common/icon-search-white.png');
}

.icon-qa:before {
    margin: -3px 10px 0 0;
    width: 26px;
    height: 26px;
    background-image: url('/resource/img/common/icon-qa.png');
}

.icon-selfcheck-white:before {
  background-image: url("/sp/resource/img/common/icon-selfcheck-white.png");
  width: 29.5px;
  height: 29px;
  margin: -5px 10px 0 0;
}


/* ---------------------------
	@ Heading
--------------------------- */
.title-red {
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.25;
  font-size: 20px;
  color: #d01027;
}
.title-red-narrow {
  margin-bottom: 4px;
  text-align: center;
  line-height: 1.25;
  font-size: 20px;
  color: #d01027;
}
.title-red-small {
  margin-bottom: 4px;
  text-align: center;
  line-height: 1.25;
  font-size: 14px;
  color: #d01027;
}
.title-bordered-red {
  margin-bottom: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d01027;
  text-align: center;
  line-height: 1.25;
  font-size: 20px;
  color: #d01027;
}

/*	Title Rank
-----------------------------*/
.title-rank {
  position: relative;
}
.title-rank:before {
  vertical-align: text-top;
  top: -1px;
}
.title-rank span {
  display: inline-block;
  vertical-align: middle;
}
.title-rank small {
  display: block;
  font-size: 14px;
  display: block;
}
.title-rank small:before,
.title-rank small:after {
  content: "";
  display: inline-block;
  width: 8.5px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin-bottom: -5px
}
.title-rank small:before {
  background-image: url('/sp/resource/img/common/icon-ask-left.png');
  margin-right: 5px;
}
.title-rank small:after {
  background-image: url('/sp/resource/img/common/icon-ask-right.png');
  margin-left: 5px;
}
.page-head-thick.title-rank:before {
  top: -9px;
}


/*	Title Background Stripe
-----------------------------*/
.title-bg-stripe {
  margin-bottom: 15px;
  padding: 3px 0;
  background: url("/sp/resource/img/common/bg-stripe-title.png");
  background-size: 3px auto;
  background-color: #FBE8E8;
  text-align: center;
  font-size: 13px;
  color: #d01027;
}
.title-bg-stripe:after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("/sp/resource/img/common/icon-double-dia.png") no-repeat top center;
  background-size: contain;
  vertical-align: sub;
}


/*   Title-shape
 * ------------------------- */
.title-shape-right {
 	width: 30%;
	display: inline;
	font-size: 14px;
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-ms-box-sizing: border-box;
 	-o-box-sizing: border-box;
	border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
 	padding: 2px 10px;
 	margin-left: 3px;
 	background: #f78888;
 	color: #fff;
 	position: relative;
 	text-align: center;
}
.title-shape-right:before{
 	content: "";
 	display: block;
 	position: absolute;
 	top: 0;
 	right: -22px;
 	width: 0;
 	height: 0;
 	border-top: solid 20px transparent;
 	border-right: solid 12px transparent;
 	border-bottom: solid 20px transparent;
 	border-left: solid 10px #f78888;
 	z-index: 10;
}


/* ---------------------------
  @ Typography
--------------------------- */

/*	Marker
-----------------------------*/
.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.40, #fff268), color-stop(0.40, #fff));
  background: -webkit-linear-gradient(top, #fff 30%, #fff268 30%);
  background: linear-gradient(to bottom, #fff 30%, #fff268 30%);
  padding-bottom: .1em;
}
.marker-centered {
  background: #fff268;
}


/* ---------------------------
  @ Button
--------------------------- */

/*	Button Base
-----------------------------*/
.btn {
  display: block;
  margin: 0 auto;
  padding: 12px 0;
  width: 65.625%;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d01027;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 14px;
  color: #d01027;
  position: relative;
}
.btn:after {
  content: "";
  display: block;
  width: 15px;
  height: 14.5px;
  background: url('/sp/resource/img/common/arrow-red.png') no-repeat top right;
  background-size: contain;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -7px;
}


/*	Background Filled Red
-----------------------------*/
.btn.btn-filled {
  width: 100%;
  padding: 14px 0 15px;
  background: #dc3a4d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.btn.btn-filled:after {
  display: none;
}


/*	Background Filled Pink
-----------------------------*/
.btn.btn-pink {
  background: #ff8888;
  font-weight: normal;
}
.btn.btn-thin {
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: -0.05em;
}


/*	Background Filled Light Pink
-----------------------------*/
.btn.btn-lightpink {
  border-color: #e06473;
  background: #fbe8e8;
  color: #eb7a88;
}
.btn:after {
  width: 8px;
  height: 8px;
  background: url('/sp/resource/img/common/arrow-pink.png') no-repeat top right;
  background-size: contain;
  margin-top: -4px;
}


/* ---------------------------
  @ Button Tel
--------------------------- */
.btn-tel {
  display: block;
  margin: 4.6875% auto;
  width: 84.375%;
}
.btn-tel img {
  width: 100%;
}


/* ---------------------------
  @ Button Stripe
--------------------------- */

/*	Button Stripe Base
-----------------------------*/
.btn-stripe {
  display: block;
  margin: 0 auto;
  padding: 13px 25px;
  width: 65.625%;
  background: url('/sp/resource/img/common/bg-pinkstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  position: relative;
}
.btn-stripe span {
  color: #d01027;
}
.btn-stripe:after {
  content: "";
  display: block;
  width: 15.5px;
  height: 14.5px;
  background: url('/sp/resource/img/common/arrow-white.png') no-repeat top right;
  background-size: contain;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -7px;
}
.btn-stripe-cicle-pink{
  margin: 0 auto 15px;
  padding: 5px 30px;
  width: 86.5%;
  background: url('/sp/resource/img/common/bg-pinkstripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
.btn-stripe-cicle-orange{
  margin: 0 auto 15px;
  padding: 5px 30px;
  width: 86.5%;
  background: url('/sp/resource/img/common/bg-orangestripe.png');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}


/*	With Shadow
-----------------------------*/
.btn-stripe.btn-shadow {
  margin-bottom: 2px;
  -webkit-box-shadow: 0 2px 0 #563606;
  -moz-box-shadow: 0 2px 0 #563606;
  box-shadow: 0 2px 0 #563606;
}
.btn-stripe.btn-shadow:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #563606;
  -moz-box-shadow: 0 0 0 #563606;
  box-shadow: 0 0 0 #563606;
}


/*	Large Size
-----------------------------*/
.btn-stripe.btn-large {
  padding: 10px 0;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 20px;
}
.btn-stripe.btn-large:after {
  width: 15.5px;
  height: 14.5px;
  background: url('/sp/resource/img/common/arrow-white.png') no-repeat top right;
  background-size: contain;
}


/*	Wide Size
-----------------------------*/
.btn-wide {
	margin: 10px auto 15px;
}
.btn-wide a {
	font-size: 12px;
}
.btn-wide .btn-stripe {
	padding: 10px;
}
.btn-wide .btn-stripe:after {
	width: 8px;
	height: 9px;
	margin-top: -4px
}

/*	Background Orange
-----------------------------*/
.btn-stripe.btn-counsel {
  width: 84.375%;
  background: url('/sp/resource/img/common/bg-orangestripe.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*	Background Green
-----------------------------*/
.btn-stripe.btn-counsel-green {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.1em;
  width: 90.625%;
  background: url('/sp/resource/img/common/bg-stripe-green.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-stripe.btn-counsel-green:after {
  width: 14.5px;
  height: 19px;
  background: url('/sp/resource/img/common/arrow-white-large.png') no-repeat top right;
  background-size: contain;
  margin-top: -9.5px;
}
.btn-stripe.btn-counsel-green.btn-shadow {
  margin-bottom: 2px;
  -webkit-box-shadow: 0 2px 0 #345400;
  -moz-box-shadow: 0 2px 0 #345400;
  box-shadow: 0 2px 0 #345400;
}


/* Friends Button
-----------------------------*/
.btn-stripe.btn-friends {
  font-size: 17px;
  padding: 13px 0 11px;
  width: 84.375%;
  background: url('/sp/resource/img/common/bg-stripe-green.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-stripe.btn-friends.btn-shadow {
  margin-bottom: 2px;
  -webkit-box-shadow: 0 2px 0 #348300;
  -moz-box-shadow: 0 2px 0 #348300;
  box-shadow: 0 2px 0 #348300;
}
.btn-stripe.btn-friends span {
	color: #fff;
	font-size: 20px;
}

/*	With Down Bullet
-----------------------------*/
.btn-stripe.btn-down-bullet:after {
  width: 11px;
  height: 7px;
  background: url('/sp/resource/img/common/arrow-down-bullet.png') no-repeat top right;
  background-size: contain;
  right: 8px;
  margin-top: -3.5px;
}


/*	Thick Button
-----------------------------*/
.btn-stripe.btn-thick {
	font-size: 16px;
    padding: 13.3px 0;
}


/*	Narrow Padding
-----------------------------*/
.btn-stripe.btn-space {
  letter-spacing: -0.1em;
  padding: 13px 30px 13px 20px;
}


/*	Wide
-----------------------------*/
.btn-stripe.btn-wide {
  width: 72.4137931%;
}


/*	Icon Plus
-----------------------------*/
.btn-stripe.btn-icon-plus:after {
  width: 12.5px;
  height: 13.5px;
  background: url('/sp/resource/img/common/icon-plus.png');
  background-size: contain;
  margin-top: -7px;
}


/*	Light Pink Stripe
-----------------------------*/
.btn-stripe.btn-lightpink {
  width: 100%;
  padding: 11px 30px;
  background: url('/sp/resource/img/common/bg-lightpink.png');
  background-size: 3px;
  border: 1px solid #d01027;
  font-weight: normal;
  color: #333;
}
.btn-stripe.btn-lightpink:after {
  width: 8.5px;
  height: 14px;
  background: url("/sp/resource/img/common/arrow-red-single.png") no-repeat top center;
  background-size: contain;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}
.btn-stripe.btn-lightpink span {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
}


/* ---------------------------
	@ Baloon
--------------------------- */
.baloon {
  display: block;
  margin: 0 auto;
  padding: 12px 0;
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d01027;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 14px;
  color: #d01027;
  position: relative;
}
.baloon:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("/sp/resource/img/voice/index/icon-triangle.png") no-repeat top center;
  background-size: contain;
  position: absolute;
  top: auto;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
}



/* ---------------------------
	@ Form
--------------------------- */
.select {
  margin: 18px 0;
  width: 100%;
  position: relative;
}
.select select {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 40px !important;
  border: 0;
  outline: none;
}
.select .select-view {
  display: block !important;
  padding-right: 50px;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/sp/resource/img/common/icon-pulldown.png") no-repeat right center;
  background-size: 40px auto;
  border: 1px solid #d01027;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.select .select-viewInner {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}

/* ---------------------------
  @ neighborfood
--------------------------- */
.mod-neighborfood {
  margin-bottom: 20px;
  padding: 17px 4.6875% 20px;
  background: #fff;
}

.mod-neighborfood h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d01027;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}

.mod-neighborfood p {
  margin-top: 13px;
  text-align: center;
}


/* ---------------------------
  @ Slider
--------------------------- */

/* Pager
-----------------------------*/
.bx-pager {
  text-align: center;
  padding-top: 7px;
  line-height: 1;
}
.bx-pager-item {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
}
.bx-pager-link {
  display: block;
  padding-top: 14px;
  width: 14px;
  height: 0;
  overflow: hidden;
  background: #ccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.bx-pager-link.active {
  background: #d01027;
}
