@charset "UTF-8";

/* ---------------------------
  GINZA CALLA PLAN COURSE COMMON
  @ Adjustment
  @ Block Lead
  @ Block Choice
  @ Block Labels
  @ Title Centered Line
  @ Marker
--------------------------- */

/* ---------------------------
	@ Adjustment
--------------------------- */
.block-voice {
  margin-top: 25px;
  padding-bottom: 25px;
}



/* ---------------------------
	@ Block Lead
--------------------------- */
.block-lead {
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 13px;
}
.block-lead p {
  margin-top: 1em;
}
.block-lead p:first-child {
  margin-top: 0;
}
.block-lead .left {
  text-align: left;
}
.block-lead02 {
  text-align: left;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
}


/* ---------------------------
	@ Block Tag
--------------------------- */
.block-tag {
  text-align: center;
}
.block-tag a {
  display: block;
  border: 1px solid #d01027;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  padding-bottom: 8px;
}
.block-tag dt {
  background: url("/sp/resource/img/common/bg-course-stripe.png");
  background-size: 3px;
  font-size: 20px;
  line-height: 40px;
  color: #d01027;
}
.block-tag dt small {
  font-size: 14px;
  line-height: 40px;
  color: #d01027;
}
.block-tag dd {
  padding: 6px 5px 0;
  font-size: 12px;
  color: #333;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
  margin-bottom: 10px;
}
.block-tag dd .label {
  margin-bottom: 4px;
  background-color: #FBECED;
  background-image: url("/sp/resource/img/plan/course/zenshin/img-diamond-orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 116px auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 22px;
  font-size: 14px;
  color: #d01027;
}
.block-tag dd .label2 {
  margin-bottom: 4px;
  background-color: #FBECED;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 116px auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 22px;
  font-size: 14px;
  color: #d01027;
}
.block-tag .total-price,
.block-tag .monthly-price {
  padding: 6px 0 0;
}
.block-tag .total-price {
  width: 145px;
  display: inline-block;
  position:relative;
  padding-top: 0;
}
.block-tag .monthly-price {
  width: 135px;
  display: inline-block;
  border-left: #d01027 1px solid;
  margin-bottom: 10px;
  padding: 0 0 0 2px;
}
.block-tag dd span {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}
.block-tag .total-price span,
.block-tag .monthly-price span {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: bold;
}
.block-tag dd em {
  font-weight: bold;
  font-size: 23px;
  color: #d01027;
}
.block-tag dd small {
  display: block;
  font-size: 11px;
  line-height: 1.25;
  margin-left: 3px;
}
.block-tag a > p {
  font-size: 11px;
  color: #d01027;
  position: absolute;
  right: 5px;
  bottom: 1px;
}
.block-tag a > p:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 4.5px;
  background: url("/sp/resource/img/common/arrow-red-ss.png") no-repeat right center;
  background-size: contain;
  vertical-align: top;
  margin-top: 6%;
}
.block-tag .block-tag-list a:not(:first-child) {
  margin-top: 15px;
}

.block-tag dd.course-parts {
  padding: 0;
  font-size: 14px;
}


/* ---------------------------
	@ Block Choice
--------------------------- */
.block-choice {
  margin-bottom: 10px;
  padding: 10px;
  background: #fbe8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.block-choice-narrow {
  margin-bottom: 5px;
}
.title-centered-line + .block-choice {
  margin-top: 15px;
}
.block-choice-head {
  margin: 7px 0 10px;
  text-align: center;
}
.block-choice-head p {
  margin-bottom: 15px;
  line-height: 1;
  font-size: 18px;
}
.block-choice-head .with-triangle:before,
.block-choice-head .with-triangle:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url("/sp/resource/img/common/icon-triangle-down.png") no-repeat top center;
  background-size: contain;
  position: relative;
  top: 1px;
}
.block-choice-head span {
  display: block;
  line-height: 1;
  font-size: 35px;
  color: #d01027;
  position: relative;
}
.block-choice-head span:before,
.block-choice-head span:after {
  content: "";
  display: inline-block;
  margin: 0 10px;
  vertical-align: super;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.block-choice-head span:before {
  width: 23.5px;
  height: 24px;
  background-image: url("/sp/resource/img/plan/course/zenshin/img-diamond-left.png");
}
.block-choice-head span:after {
  width: 22.5px;
  height: 23px;
  background-image: url("/sp/resource/img/plan/course/zenshin/img-diamond-right.png");
}

.block-choice-head span em {
  font-size: 60px;
}
.block-choice-inner {
  text-align: center;
}

.block-choice dt {
  margin-bottom: 7px;
  overflow: hidden;
  position: relative;
}
.block-choice dt img {
  position: absolute;
  left: 0;
  top: 0;
}
.block-choice dt span {
  display: block;
  margin: 4px 23px 4px;
  background: #fef7f7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  line-height: 22px;
}
.block-choice dt.bg-title-shape {
  font-size: 14px;
  height: 40px;
  display: inline-block;
}
.block-choice dt.bg-title-shape span {
  height: 40px;
  float: left;
  line-height: 1.3em;
  margin: 0;
}
.block-choice dt.bg-title-shape span:last-child {
  width: 70%;
  background: #fef7f7;
   padding: 2px 20px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
}
.block-choice dt.bg-title-shape span.title-shape-right {
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
   background: #f78888;
}
.block-choice dd {
  text-align: center;
  line-height: 1;
  letter-spacing: 0.03em;
  font-size: 20px;
  margin: 0 5px;
}
.block-choice dd em {
  letter-spacing: normal;
  font-size: 34px;
  font-weight: bold;
  color: #d01027;
}
.block-labels-large {
  margin: 0 3.8183871% 0 5.0483871%;
}
.block-labels-large li {
  display: inline-block;
  vertical-align: top;
  width: 42.9451613%;
  margin: 0 0 7px 3.5483871%;
  background: #fef7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fac5c5;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 12px;
  color: #eb7a88;
}

.sub-text {
  text-align: right;
  display: block;
  font-size: 10px;
}
.block-choice dd .sub-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.block-parts-choice {
  padding-bottom: 25px;
}
.block-parts-choice img {
  width: 100%;
  margin-top: 15px;
}
.block-parts-choice p {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.block-parts-choice p em {
  font-size: 22px;
  color: #d01027;
}

.block-part-box {
  margin: 10px auto 0;
}
.block-figures .text-vio-set {
  margin-bottom: 20px;
}

/* ---------------------------
	@ Block Centered Line
--------------------------- */
.title-centered-line {
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
}
.title-centered-line span {
  display: block;
  margin: 0 auto 5px;
  width: 65.8064516%;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
  font-size: 16px;
  color: #d01027;
  position: relative;
}
.title-centered-line span:before,
.title-centered-line span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #d01027;
  position: absolute;
  top: 50%;
}
.title-centered-line span:before { right: 100%; }
.title-centered-line span:after { left: 100%; }
