@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON SHOP AREA
  @ Layout
  @ Salon Shop Area
--------------------------- */


/* ---------------------------
	@ Layout & Adjustment
--------------------------- */
.block-white {
  padding-bottom: 0;
}



/* ---------------------------
	@ Salon Shop Area
--------------------------- */
.shop-area {
  margin-top: 15px;
}
.shop-area h2 {
  margin-bottom: -4px;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  color: #d01027;
}