@charset "UTF-8";

/* ---------------------------
  GINZA CALLA SALON TOP
  @ Salon Shop Navigation
--------------------------- */



/* ---------------------------
  @ Salon Shop Navigation
--------------------------- */
.shop-nav {
    margin: 25px 0 5px;
    overflow: hidden;
}
.shop-nav a {
  width: 100%;
}


/*	Left Column
-----------------------------*/
.shop-nav-left {
  padding-left: 4.6875%;
  width: 43.75%;
  float: left;
}
.shop-nav-left li {
  margin-bottom: 9px;
}


/*	Right Column
-----------------------------*/
.shop-nav-right {
  margin-right: 4.6875%;
  padding: 14px 9px 10px;
  width: 43.75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/sp/resource/img/common/bg-pinkstripe.png');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
.shop-nav-right dt {
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.shop-nav-right dd {
  margin-top: 6px;
}
.shop-nav-right dd a {
  padding: 15px 30px;
  background: #fff;
  color: #ff8888;
}
.shop-nav-right dd a.btn-down-bullet:after {
  background: url('/sp/resource/img/common/arrow-down-bullet-pink.png') no-repeat top right;
  background-size: contain;
}

/*	追加：160114
-----------------------------*/
.shop_infobox {
    background: #fff8f7 none repeat scroll 0 0;
    border: 1px solid #d71f21;
    border-radius: 10px;
    margin: 0 auto 40px;
    padding: 10px 0;
    width: 90%;
}
.shop_infobox p {
    color: #d71f21;
    font-weight: bold;
    text-align: center;
}