@charset "UTF-8";

/* ---------------------------
  GINZA CALLA COMPANY
  @ Block xxxxx
  
--------------------------- */

/* ---------------------------
	@ Block xxxxx
--------------------------- */

.block-white {
    padding: 0;
}
.bx-wrapper {
    position: relative;
}
.bx-wrapper .bx-controls-direction {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    width: 40px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 20px;
    text-indent: -6789px;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
.bx-wrapper .bx-controls-direction .bx-prev {
    left: 0;
    bottom: 0;
    background-image: url(/sp/resource/img/selfcheck/bt-slide-prev.png);
}
.bx-wrapper .bx-controls-direction .bx-next {
    right: 0;
    bottom: 0;
    background-image: url(/sp/resource/img/selfcheck/bt-slide-next.png);
}


