@charset "UTF-8";

/* ---------------------------
  GINZA CALLA VOICE
	@ サロンについてのお客様の声
	@ コースについてのお客様の声
	@ 部位についてのお客様の声
--------------------------- */



/* ---------------------------
	@ サロンについてのお客様の声
--------------------------- */
.block-voice {
  padding: 22px 0 20px;
}
.block-voice.salon {
  margin: 30px 0;
}



/* ---------------------------
	@ コースについてのお客様の声
--------------------------- */
.block-voice.course {
  margin: 30px 0;
  padding-bottom: 15px;
}
.block-voice.course ul {
  padding-left: 4.6875%;
  overflow: hidden;
}
.block-voice.course li {
  margin: 5px 0;
  margin-right: 3.2786885%;
  float: left;
  width: 45.9016393%;
}
.block-voice.course .btn-stripe {
  padding: 0;
  height: 50px;
  width: 100%;
}
.block-voice.course .btn-stripe:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.4em;
}
.block-voice.course .btn-stripe span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

/* ---------------------------
	@ 部位についてのお客様の声
--------------------------- */
.block-voice.region {
  padding: 22px 4.6875% 10px;
}
.block-region{
  margin: 0;
}

