@charset "UTF-8";
/* ***************************** Import file to Scss or Sass. */
/* -----------------------------------------------------------------
Title: reset.css
Created: 2019-11-27
Last Modified: 2018-12-28
------------------------------------------------------------------ */
/*　目次
-----------------------------------------------------------------

#01-リセット
#02-基本タグの定義
#03-CSSハック

------------------------------------------------------------------ */
/* -----------------------------------------------------------------

#01　リセット

------------------------------------------------------------------ */
/* -----------------------------------------------------------------

#02　基本タグの定義

------------------------------------------------------------------ */
body { font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; -webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1; letter-spacing: 0.05em; }

@media all and (-ms-high-contrast: none) { body { letter-spacing: 0; } }

.sp-main { /** anchors */ /**************************************/ }

.sp-main h1, .sp-main h2, .sp-main h3, .sp-main h4, .sp-main h5, .sp-main h6 { font-weight: 100; }

.sp-main p { text-align: left; font-size: 1.3em; }

.sp-main span { font-size: 1em; }

.sp-main address, .sp-main caption, .sp-main cite, .sp-main code, .sp-main dfn, .sp-main em, .sp-main strong, .sp-main th, .sp-main var { font-style: normal; font-weight: 100; }

.sp-main a img { border-style: none; outline: medium none; }

.sp-main object { border-style: none; outline: medium none; }

.sp-main a { color: #c21126; text-decoration: none; outline: none; }

.sp-main a:link { outline: medium none; }

.sp-main a:visited { outline: medium none; }

/* -----------------------------------------------------------------
@mixin
------------------------------------------------------------------ */
.century_font { font-family: Century Gothic,arial,sans-serif; }

.hannari_font { font-family: "Hannari",'Noto Serif JP','Sawarabi Mincho', serif; font-weight: 400; }

main { position: relative; top: 0; left: 0; padding: 17.33333vw 0 0 0; z-index: 1; }

main .mv-top-senyo { padding: 1vw; background-color: #eb4158; }

main .mv-top-senyo p { text-align: center; font-size: 3.5vw; color: #ffffff; }

@media screen and (min-width: 1000px) { /* ----------------------------------------------------------------- float ------------------------------------------------------------------ */
  .float_l { float: left; }
  .float_r { float: right; } }

/* -----------------------------------------------------------------
ClearFix
------------------------------------------------------------------ */
.clear:after { content: " "; height: 0px; clear: both; visibility: hidden; display: block; }

.clear { display: inline-block; }

* html .clear { height: 1%; }

.clear { display: block; }

/* -----------------------------------------------------------------
margin
------------------------------------------------------------------ */
.ma { margin: 0 auto; }

.mt5 { margin-top: 5px; }

.mr5 { margin-right: 5px; }

.mb5 { margin-bottom: 5px; }

.ml5 { margin-left: 5px; }

.pt5 { padding-top: 5px; }

.pr5 { padding-right: 5px; }

.pb5 { padding-bottom: 5px; }

.pl5 { padding-left: 5px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.mb10 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.pt10 { padding-top: 10px; }

.pr10 { padding-right: 10px; }

.pb10 { padding-bottom: 10px; }

.pl10 { padding-left: 10px; }

.mt15 { margin-top: 15px; }

.mr15 { margin-right: 15px; }

.mb15 { margin-bottom: 15px; }

.ml15 { margin-left: 15px; }

.pt15 { padding-top: 15px; }

.pr15 { padding-right: 15px; }

.pb15 { padding-bottom: 15px; }

.pl15 { padding-left: 15px; }

.mt20 { margin-top: 20px; }

.mr20 { margin-right: 20px; }

.mb20 { margin-bottom: 20px; }

.ml20 { margin-left: 20px; }

.pt20 { padding-top: 20px; }

.pr20 { padding-right: 20px; }

.pb20 { padding-bottom: 20px; }

.pl20 { padding-left: 20px; }

.mt25 { margin-top: 25px; }

.mr25 { margin-right: 25px; }

.mb25 { margin-bottom: 25px; }

.ml25 { margin-left: 25px; }

.pt25 { padding-top: 25px; }

.pr25 { padding-right: 25px; }

.pb25 { padding-bottom: 25px; }

.pl25 { padding-left: 25px; }

.mt30 { margin-top: 30px; }

.mr30 { margin-right: 30px; }

.mb30 { margin-bottom: 30px; }

.ml30 { margin-left: 30px; }

.pt30 { padding-top: 30px; }

.pr30 { padding-right: 30px; }

.pb30 { padding-bottom: 30px; }

.pl30 { padding-left: 30px; }

.mt35 { margin-top: 35px; }

.mr35 { margin-right: 35px; }

.mb35 { margin-bottom: 35px; }

.ml35 { margin-left: 35px; }

.pt35 { padding-top: 35px; }

.pr35 { padding-right: 35px; }

.pb35 { padding-bottom: 35px; }

.pl35 { padding-left: 35px; }

.mt40 { margin-top: 40px; }

.mr40 { margin-right: 40px; }

.mb40 { margin-bottom: 40px; }

.ml40 { margin-left: 40px; }

.pt40 { padding-top: 40px; }

.pr40 { padding-right: 40px; }

.pb40 { padding-bottom: 40px; }

.pl40 { padding-left: 40px; }

.mt45 { margin-top: 45px; }

.mr45 { margin-right: 45px; }

.mb45 { margin-bottom: 45px; }

.ml45 { margin-left: 45px; }

.pt45 { padding-top: 45px; }

.pr45 { padding-right: 45px; }

.pb45 { padding-bottom: 45px; }

.pl45 { padding-left: 45px; }

.mt50 { margin-top: 50px; }

.mr50 { margin-right: 50px; }

.mb50 { margin-bottom: 50px; }

.ml50 { margin-left: 50px; }

.pt50 { padding-top: 50px; }

.pr50 { padding-right: 50px; }

.pb50 { padding-bottom: 50px; }

.pl50 { padding-left: 50px; }

.mt55 { margin-top: 55px; }

.mr55 { margin-right: 55px; }

.mb55 { margin-bottom: 55px; }

.ml55 { margin-left: 55px; }

.pt55 { padding-top: 55px; }

.pr55 { padding-right: 55px; }

.pb55 { padding-bottom: 55px; }

.pl55 { padding-left: 55px; }

.mt60 { margin-top: 60px; }

.mr60 { margin-right: 60px; }

.mb60 { margin-bottom: 60px; }

.ml60 { margin-left: 60px; }

.pt60 { padding-top: 60px; }

.pr60 { padding-right: 60px; }

.pb60 { padding-bottom: 60px; }

.pl60 { padding-left: 60px; }

.mt65 { margin-top: 65px; }

.mr65 { margin-right: 65px; }

.mb65 { margin-bottom: 65px; }

.ml65 { margin-left: 65px; }

.pt65 { padding-top: 65px; }

.pr65 { padding-right: 65px; }

.pb65 { padding-bottom: 65px; }

.pl65 { padding-left: 65px; }

.mt70 { margin-top: 70px; }

.mr70 { margin-right: 70px; }

.mb70 { margin-bottom: 70px; }

.ml70 { margin-left: 70px; }

.pt70 { padding-top: 70px; }

.pr70 { padding-right: 70px; }

.pb70 { padding-bottom: 70px; }

.pl70 { padding-left: 70px; }

.mt75 { margin-top: 75px; }

.mr75 { margin-right: 75px; }

.mb75 { margin-bottom: 75px; }

.ml75 { margin-left: 75px; }

.pt75 { padding-top: 75px; }

.pr75 { padding-right: 75px; }

.pb75 { padding-bottom: 75px; }

.pl75 { padding-left: 75px; }

.mt80 { margin-top: 80px; }

.mr80 { margin-right: 80px; }

.mb80 { margin-bottom: 80px; }

.ml80 { margin-left: 80px; }

.pt80 { padding-top: 80px; }

.pr80 { padding-right: 80px; }

.pb80 { padding-bottom: 80px; }

.pl80 { padding-left: 80px; }

.mt85 { margin-top: 85px; }

.mr85 { margin-right: 85px; }

.mb85 { margin-bottom: 85px; }

.ml85 { margin-left: 85px; }

.pt85 { padding-top: 85px; }

.pr85 { padding-right: 85px; }

.pb85 { padding-bottom: 85px; }

.pl85 { padding-left: 85px; }

.mt90 { margin-top: 90px; }

.mr90 { margin-right: 90px; }

.mb90 { margin-bottom: 90px; }

.ml90 { margin-left: 90px; }

.pt90 { padding-top: 90px; }

.pr90 { padding-right: 90px; }

.pb90 { padding-bottom: 90px; }

.pl90 { padding-left: 90px; }

.mt95 { margin-top: 95px; }

.mr95 { margin-right: 95px; }

.mb95 { margin-bottom: 95px; }

.ml95 { margin-left: 95px; }

.pt95 { padding-top: 95px; }

.pr95 { padding-right: 95px; }

.pb95 { padding-bottom: 95px; }

.pl95 { padding-left: 95px; }

.mt100 { margin-top: 100px; }

.mr100 { margin-right: 100px; }

.mb100 { margin-bottom: 100px; }

.ml100 { margin-left: 100px; }

.pt100 { padding-top: 100px; }

.pr100 { padding-right: 100px; }

.pb100 { padding-bottom: 100px; }

.pl100 { padding-left: 100px; }

.fs10 { font-size: 1em; }

.fs11 { font-size: 1.1em; }

.fs12 { font-size: 1.2em; }

.fs13 { font-size: 1.3em; }

.fs14 { font-size: 1.4em; }

.fs15 { font-size: 1.5em; }

/* -----------------------------------------------------------------
@mixin
------------------------------------------------------------------ */
/* -----------------------------------------------------------------
.index
------------------------------------------------------------------ */
.mg-gnav .mg-gnav-inside p.nav_link { margin: 8.93333vw 0 0 -2.93333vw; }

.mg-gnav .mg-gnav-inside p.nav_link a { display: block; border-radius: 2vw; background: #FFFFFF url(../images/common/icon02.svg) no-repeat; background-position: right 7.2vw center; background-size: 5.33333vw auto; color: #dc2733; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; padding: 5.2vw 0 5.06667vw 0; }

.sp-main { position: relative; top: 0; left: 0; background: #FFFFFF; }

.sp-main img { width: 100%; height: auto; }

.sp-main .inview_block, .sp-main .inview_item, .sp-main .inview_item2, .sp-main .inview_item3, .sp-main .inview_item4 { zoom: 0; }

.sp-main .inview_block .inview_item { transform: translateY(30px); -webkit-transform: translateY(30px); opacity: 0; position: relative; }

.sp-main .inview_block .inview_item1 { transition: transform 0.5s ease-out, 0.5s ease-out 0.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.2s; }

.sp-main .inview_block .inview_item2 { transition: transform 0.5s ease-out, 0.5s ease-out 0.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.4s; }

.sp-main .inview_block .inview_item3 { transition: transform 0.5s ease-out, 0.5s ease-out 0.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.6s; }

.sp-main .inview_block .inview_item4 { transition: transform 0.5s ease-out, 0.5s ease-out 0.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 0.8s; }

.sp-main .inview_block .inview_item5 { transition: transform 0.5s ease-out, 0.5s ease-out 1s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1s; }

.sp-main .inview_block .inview_item6 { transition: transform 0.5s ease-out, 0.5s ease-out 1.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.2s; }

.sp-main .inview_block .inview_item7 { transition: transform 0.5s ease-out, 0.5s ease-out 1.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.4s; }

.sp-main .inview_block .inview_item8 { transition: transform 0.5s ease-out, 0.5s ease-out 1.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.6s; }

.sp-main .inview_block .inview_item9 { transition: transform 0.5s ease-out, 0.5s ease-out 1.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 1.8s; }

.sp-main .inview_block .inview_item10 { transition: transform 0.5s ease-out, 0.5s ease-out 2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2s; }

.sp-main .inview_block .inview_item11 { transition: transform 0.5s ease-out, 0.5s ease-out 2.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.2s; }

.sp-main .inview_block .inview_item12 { transition: transform 0.5s ease-out, 0.5s ease-out 2.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.4s; }

.sp-main .inview_block .inview_item13 { transition: transform 0.5s ease-out, 0.5s ease-out 2.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.6s; }

.sp-main .inview_block .inview_item14 { transition: transform 0.5s ease-out, 0.5s ease-out 2.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 2.8s; }

.sp-main .inview_block .inview_item15 { transition: transform 0.5s ease-out, 0.5s ease-out 3s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3s; }

.sp-main .inview_block .inview_item16 { transition: transform 0.5s ease-out, 0.5s ease-out 3.2s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.2s; }

.sp-main .inview_block .inview_item17 { transition: transform 0.5s ease-out, 0.5s ease-out 3.4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.4s; }

.sp-main .inview_block .inview_item18 { transition: transform 0.5s ease-out, 0.5s ease-out 3.6s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.6s; }

.sp-main .inview_block .inview_item19 { transition: transform 0.5s ease-out, 0.5s ease-out 3.8s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 3.8s; }

.sp-main .inview_block .inview_item20 { transition: transform 0.5s ease-out, 0.5s ease-out 4s; -webkit-transition: -webkit-transform 0.5s ease-out, 0.5s ease-out 4s; }

.sp-main .inview_block.show_item .inview_item { transform: none; -webkit-transform: none; opacity: 1.0; }

.sp-main #main_img.main_img02 { position: relative; top: 0; left: 0; }

.sp-main #main_img.main_img02::before { display: block; content: ''; position: absolute; top: 0; left: 0; background: #c41126; width: 100%; height: 252.8vw; }

.sp-main #main_img.main_img02 div.title { position: relative; top: 0; left: 0; padding: 5.46667vw 0 3.73333vw 0; }

.sp-main #main_img.main_img02 div.title strong, .sp-main #main_img.main_img02 div.title h1 { text-align: center; color: #FFFFFF; }

.sp-main #main_img.main_img02 div.title strong { display: block; font-size: 3.33333vw; letter-spacing: 0.14em; margin: 0 0 0.8vw 0; }

.sp-main #main_img.main_img02 div.title h1 { font-size: 7.33333vw; letter-spacing: 0.2em; }

.sp-main #main_img.main_img02 div.bg { position: relative; top: 0; left: 0; }

.sp-main #main_img.main_img02 div.bg div.txt { position: relative; top: 0; left: 0; padding: 8.13333vw 0 8.26667vw 0; width: 100%; }

.sp-main #main_img.main_img02 div.bg div.txt p { text-align: center; color: #FFFFFF; font-size: 6.66667vw; line-height: 1.5; letter-spacing: 0.075em; }

.sp-main #main_img.main_img02 div.bg div.flex { position: relative; top: 0; left: 0; background: url(../images/common/tilte_bg.svg) center top no-repeat; background-size: cover; width: 90.66667vw; height: 207.2vw; margin: 0 auto; }

.sp-main #main_img.main_img02 div.bg div.flex div.left { position: relative; top: 0; left: 0; width: 90.66667vw; height: 98.8vw; padding: 6.8vw 0 0 30.13333vw; box-sizing: border-box; }

.sp-main #main_img.main_img02 div.bg div.flex div.left em { display: block; position: absolute; bottom: 0; left: -4.66667vw; width: 33.06667vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.left em img { width: 100%; height: auto; }

.sp-main #main_img.main_img02 div.bg div.flex div.left h3, .sp-main #main_img.main_img02 div.bg div.flex div.left h2 { font-size: 3.6vw; letter-spacing: 0.14em; color: #4d4d4d; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div { width: 53.33333vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div strong { display: block; font-size: 6vw; line-height: 1.33333; letter-spacing: 0.14em; font-weight: bold; color: #4d4d4d; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div ul { margin: 2.8vw 0 2.8vw 0; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div ul li { background: url(../images/pc/common/icon03.svg) left top no-repeat; background-position: left 0 top 0.8vw; background-size: 6.4vw auto; font-size: 3.6vw; color: #4d4d4d; line-height: 2.17222; padding: 0 0 0 8.53333vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div ul li span { position: relative; top: 0; left: 0; display: block; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div ul li span::after { position: absolute; bottom: 0; left: 0; display: block; content: ''; background: #4d4d4d; width: 100%; height: 0.13333vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; letter-spacing: 0.14em; text-align: justify; }

.sp-main #main_img.main_img02 div.bg div.flex div.left div p.img { margin: 3.2vw 0 3.46667vw 0; }

.sp-main #main_img.main_img02 div.bg div.flex div.right { position: relative; top: 0; left: 0; width: 90.66667vw; height: 108.53333vw; padding: 9.2vw 0 0 7.73333vw; box-sizing: border-box; }

.sp-main #main_img.main_img02 div.bg div.flex div.right em { display: block; position: absolute; bottom: 0; right: -4.66667vw; width: 36.66667vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.right em img { width: 100%; height: auto; }

.sp-main #main_img.main_img02 div.bg div.flex div.right div { width: 75.33333vw; }

.sp-main #main_img.main_img02 div.bg div.flex div.right div h3, .sp-main #main_img.main_img02 div.bg div.flex div.right div h2 { font-size: 3.6vw; letter-spacing: 0.14em; color: #c41126; margin: 0 0 0.66667vw 0; }

.sp-main #main_img.main_img02 div.bg div.flex div.right div span { display: block; margin: 0 0 3.73333vw 0; }

.sp-main #main_img.main_img02 div.bg div.flex div.right div p { font-size: 3.6vw; line-height: 2; text-align: justify; color: #4d4d4d; letter-spacing: 0.06em; width: 50.4vw; }

.sp-main .sp_index section#key_img ul li a { display: block; pointer-events: inherit; }

.sp-main .sp_index section#key_img ul li a img { width: 100%; height: auto; }

.sp-main .sp_index section#key_img ol { display: -webkit-flex; display: -ms-flex; display: flex; }

.sp-main .sp_index section#key_img ol li { width: 50%; }

.sp-main .sp_index section#key_img ol li img { width: 100%; height: auto; }

.sp-main .sp_index section#cont01 { background: #ffcecd; padding: 7.6vw 0 6.8vw 0; }

.sp-main .sp_index section#cont01 div.inner ul li { margin: 0 1.73333vw; }

.sp-main .sp_index section#cont01 div.inner ul li img { width: 100%; height: auto; }

.sp-main .sp_index section#cont01 div.inner .slick-dots { position: relative; bottom: 0; padding: 3.46667vw 0 0 0; }

.sp-main .sp_index section#cont01 div.inner .slick-dots li button { background: #4d4d4d; width: 1.33333vw; height: 1.33333vw; }

.sp-main .sp_index section#cont01 div.inner .slick-dots li.slick-active button { background: #c21126; }

.sp-main .sp_index section#cont02 { padding: 4.8vw 0 3.73333vw 0; }

.sp-main .sp_index section#cont02 div.inner h2 { margin: 0 0 5.73333vw 0; }

.sp-main .sp_index section#cont02 div.inner h2 p { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; margin: 0 0 0.66667vw 0; }

.sp-main .sp_index section#cont02 div.inner h2 p span { display: block; width: 26.13333vw; }

.sp-main .sp_index section#cont02 div.inner h2 p em { display: block; font-size: 4.8vw; width: 64vw; padding: 6.8vw 0 0 1.6vw; color: #4d4d4d; }

.sp-main .sp_index section#cont02 div.inner h2 strong { display: block; text-align: center; width: 84.53333vw; margin: 0 auto; }

.sp-main .sp_index section#cont02 div.inner div.lead { background: url(../images/index/cont02_head.jpg) center top no-repeat; background-size: 100% auto; padding: 12vw 0 0 0; }

.sp-main .sp_index section#cont02 div.inner div.lead div { position: relative; top: 0; left: 0; width: 100%; }

.sp-main .sp_index section#cont02 div.inner div.lead strong { display: block; font-size: 8vw; text-align: center; letter-spacing: -0.06em; line-height: 1.01667; color: #c21126; margin: 0 0 2.4vw 0; }

.sp-main .sp_index section#cont02 div.inner div.lead ol { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; margin: 0 0 28.93333vw 0; }

.sp-main .sp_index section#cont02 div.inner div.lead ol li { border: solid 1px #c21126; background: #c21126; text-align: center; color: #FFFFFF; font-size: 3.2vw; width: 14vw; margin: 0 1.73333vw 0 0; box-sizing: border-box; padding: 1.46667vw 0 1.2vw 0; }

.sp-main .sp_index section#cont02 div.inner div.lead ol li:last-child { width: 29.33333vw; margin: 0; }

.sp-main .sp_index section#cont02 div.inner div.lead ol li:nth-child(2) { color: #c21126; background: #FFFFFF; }

.sp-main .sp_index section#cont02 div.inner div.lead p { border-left: 0.13333vw solid #a3a3a3; border-right: 0.13333vw solid #a3a3a3; font-size: 3.6vw; line-height: 2; color: #4d4d4d; width: 74.66667vw; margin: 0 auto; padding: 3.2vw 6.66667vw 6vw 5.86667vw; box-sizing: border-box; }

.sp-main .sp_index section#cont03 div.min_cont { position: relative; top: 0; left: 0; }

.sp-main .sp_index section#cont03 div.min_cont div.inner strong { display: block; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box { width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box div h4 { display: block; text-align: center; font-size: 9.33333vw; letter-spacing: -0.12em; line-height: 1.5; color: #c41126; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box div h4 em { border-bottom: 0.13333vw solid #c41126; padding: 0 0 1.86667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box div p { color: #4d4d4d; text-align: justify; font-size: 3.6vw; line-height: 2; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box p.link { margin: 0; }

.sp-main .sp_index section#cont03 div.min_cont div.inner div.box p.link a { display: block; border-radius: 100px; background: #c41126 url(../images/common/icon01.svg) no-repeat; background-position: right 3.73333vw center; background-size: 5.33333vw auto; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 100%; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont01 div.inner div.box { padding: 11.46667vw 0 4.93333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont01 div.inner div.box h4 { margin: 0 0 3.46667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont01 div.inner div.box p { margin: 0 0 5.06667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont02 div.inner div.box { padding: 7.2vw 0 11.06667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont02 div.inner div.box h4 { letter-spacing: -0.16em; margin: 0 0 4vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont02 div.inner div.box p { margin: 0 0 4.53333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont03 div.inner div.box { padding: 7.2vw 0 6.8vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont03 div.inner div.box h4 { letter-spacing: -0.2em; margin: 0 0 4.53333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont03 div.inner div.box p { margin: 0 0 4.4vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont04 div.inner div.box { padding: 6.4vw 0 4vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont04 div.inner div.box h4 { margin: 0 0 4.53333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont04 div.inner div.box p { margin: 0 0 4.53333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont05 div.inner div.box { padding: 2.8vw 0 10.66667vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont05 div.inner div.box h4 { margin: 0 0 4.13333vw 0; }

.sp-main .sp_index section#cont03 div.min_cont.min_cont05 div.inner div.box p { margin: 0 0 5.2vw 0; }

.sp-main .sp_index section#cont03 p.link_box { width: 90.66667%; margin: 0 auto 22.13333vw auto; }

.sp-main .sp_index section#cont03 p.link_box a { display: block; border-radius: 100px; background: #0fbe00 url(../images/common/icon01.svg) no-repeat; background-position: right 3.73333vw center; background-size: 5.33333vw auto; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 100%; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_index section#cont04 { background: #ffd3d3; padding: 8.66667vw 0 3.06667vw 0; }

.sp-main .sp_index section#cont04 div.inner h2 { text-align: center; color: #c21126; font-size: 4vw; line-height: 1.33333; letter-spacing: 0.14em; margin: 0 0 5.33333vw 0; }

.sp-main .sp_index section#cont04 div.inner h2 span { display: block; font-size: 8vw; margin: 0 0 0.26667vw 0; }

.sp-main .sp_index section#cont04 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; width: 90.66667%; margin: 0 auto; }

.sp-main .sp_index section#cont04 div.inner ul li { position: relative; top: 0; left: 0; width: 42.66667vw; margin: 0 0 7.46667vw 0; }

.sp-main .sp_index section#cont04 div.inner ul li a { position: relative; top: 0; left: 0; display: block; border: 0.13333vw solid #c21126; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.sp-main .sp_index section#cont04 div.inner ul li a:hover { opacity: 0.7; }

.sp-main .sp_index section#cont04 div.inner ul li a span { display: block; }

.sp-main .sp_index section#cont04 div.inner ul li a em { position: relative; top: 0; left: 0; display: block; background: #c21126 url(../images/pc/common/icon02.svg) right bottom no-repeat; background-size: 6.66667vw auto; text-align: center; color: #FFFFFF; font-size: 3.06667vw; letter-spacing: 0.5em; padding: 3.86667vw 0 3.86667vw 0; }

.sp-main .sp_index section#cont05 { margin: 18.93333vw 0 0 0; }

.sp-main .sp_index section#cont05 div.inner { width: 90.66667%; margin: 0 auto; }

.sp-main .sp_index section#cont05 div.inner h3 { font-size: 9.33333vw; letter-spacing: -0.14em; text-align: center; color: #4d4d4d; line-height: 1.21429; margin: 0 0 7.6vw 0; }

.sp-main .sp_index section#cont05 div.inner h3 span { display: block; color: #c21126; font-size: 3.6vw; letter-spacing: 0.26em; margin: 0 0 1.06667vw 0; }

.sp-main .sp_index section#cont05 div.inner div.scroll { border: 0.13333vw solid #a8a8a8; width: 100%; height: 120.93333vw; overflow: scroll; }

.sp-main .sp_index section#cont05 div.inner div.scroll p.link { padding: 10.26667vw 6.13333vw 8.26667vw 6.13333vw; text-align: right; }

.sp-main .sp_index section#cont05 div.inner div.scroll p.link a { display: inline-block; font-size: 3.6vw; }

.sp-main .sp_index section#cont05 div.inner div.scroll ul li { border-bottom: 0.13333vw solid #a8a8a8; padding: 10.26667vw 6.13333vw 8.26667vw 6.13333vw; }

.sp-main .sp_index section#cont05 div.inner div.scroll ul li span { display: block; font-size: 3.33333vw; color: #ababab; letter-spacing: 0.4em; }

.sp-main .sp_index section#cont05 div.inner div.scroll ul li p { padding: 2.26667vw 0 0 0; }

.sp-main .sp_index section#cont05 div.inner div.scroll ul li p a { display: block; font-size: 3.6vw; line-height: 2; letter-spacing: 0.26em; -webkit-transition: opacity 0.30s; -moz-transition: opacity 0.30s; -ms-transition: opacity 0.30s; -o-transition: opacity 0.30s; transition: opacity 0.30s; }

.sp-main .sp_index section#cont05 div.inner div.scroll ul li p a:hover { opacity: 0.7; }

.sp-main .sp_policy div.upimg { display: none; }

.sp-main .sp_policy #main_img { position: relative; top: 0; left: 0; background: #c41126; width: 100%; padding: 5.86667vw 0 0 0; }

.sp-main .sp_policy #main_img div { position: relative; top: 0; left: 0; padding: 0 0 3.33333vw 0; }

.sp-main .sp_policy #main_img div strong { display: block; text-align: center; font-size: 3.33333vw; letter-spacing: 0.36em; color: #FFFFFF; line-height: 3.2; line-height: 1.1; margin: 0 0 1.33333vw 0; }

.sp-main .sp_policy #main_img div h1 { text-align: center; font-size: 7.33333vw; line-height: 1.36364; letter-spacing: 0.05em; color: #FFFFFF; }

.sp-main .sp_policy section#cont01 { padding: 2.93333vw 0 18.8vw 0; }

.sp-main .sp_policy section#cont01 div.inner div.text { margin: 0 0 9.06667vw 0; }

.sp-main .sp_policy section#cont01 div.inner div.text strong { display: block; text-align: center; color: #c21126; font-size: 6.66667vw; letter-spacing: 0.25em; line-height: 1.5; margin: 0 0 6.66667vw 0; }

.sp-main .sp_policy section#cont01 div.inner div.text p { text-align: center; font-size: 3.6vw; letter-spacing: 0.12em; color: #4d4d4d; line-height: 2; }

.sp-main .sp_policy section#cont01 div.inner h2 { text-align: center; font-size: 8vw; line-height: 1.1; color: #c21126; margin: 0 0 10.26667vw 0; }

.sp-main .sp_policy section#cont01 div.inner h2 span { display: block; font-size: 3.33333vw; margin: 0 0 1.86667vw 0; }

.sp-main .sp_policy section#cont01 div.inner h2 em { display: block; font-size: 3.6vw; margin: 0.93333vw 0 0 0; }

.sp-main .sp_policy section#cont01 div.inner div.flex div.img { margin: 0 0 7.46667vw 0; }

.sp-main .sp_policy section#cont01 div.inner div.flex div.comment strong { display: block; color: #c21126; text-align: center; font-size: 6.66667vw; letter-spacing: 0.08em; line-height: 1.5; margin: 0 0 6.93333vw 0; }

.sp-main .sp_policy section#cont01 div.inner div.flex div.comment p { color: #4d4d4d; text-align: center; font-size: 3.6vw; letter-spacing: 0.12em; line-height: 2; }

.sp-main .sp_policy section#cont02 { background: #ffdfdf url(../images/policy/cont02_bg.jpg) center top no-repeat; background-size: cover; padding: 18.8vw 0 17.06667vw 0; }

.sp-main .sp_policy section#cont02 div.inner h2 { text-align: center; color: #c21126; font-size: 3.6vw; letter-spacing: 0.3em; margin: 0 0 7.73333vw 0; }

.sp-main .sp_policy section#cont02 div.inner h2 span { display: block; letter-spacing: 0.05em; font-size: 8vw; }

.sp-main .sp_policy section#cont02 div.inner h2 span b { font-size: 8.4vw; }

.sp-main .sp_policy section#cont02 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; width: 90.66667vw; margin: 0 auto; }

.sp-main .sp_policy section#cont02 div.inner ul li { border-radius: 2vw; background: #c21126; width: 43.73333vw; height: 21.33333vw; margin: 0 0 3.06667vw 0; }

.sp-main .sp_policy section#cont02 div.inner ul li a { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; }

.sp-main .sp_policy section#cont02 div.inner ul li img { display: block; width: 14.8vw; }

.sp-main .sp_policy section#cont02 div.inner ul li span { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; font-size: 3.33333vw; letter-spacing: 0.08em; line-height: 1.52; color: #FFFFFF; }

.sp-main .sp_policy section#cont03 { background: url(../images/policy/cont03_bg.svg) no-repeat; background-position: center top 54.66667vw; padding: 17.2vw 0 0 0; }

.sp-main .sp_policy section#cont03 div.inner div.arrow.arrow_first { margin: 0 0 21.86667vw 0; }

.sp-main .sp_policy section#cont03 div.inner div.arrow.arrow_first strong { margin: 0 0 8.66667vw 0; }

.sp-main .sp_policy section#cont03 div.inner div.arrow strong { display: block; text-align: center; font-size: 6.66667vw; color: #c21126; letter-spacing: 0.08em; line-height: 1.5; margin: 0 0 7.2vw 0; }

.sp-main .sp_policy section#cont03 div.inner div.arrow span { display: block; text-align: center; width: 26vw; margin: 0 auto; }

.sp-main .sp_policy section#cont03 div.inner div.arrow p { margin: 10.26667vw 0 0 0; }

.sp-main .sp_policy section#cont03 div.inner div.arrow p a { display: block; border-radius: 100px; background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_policy section#cont03 div.inner h3 { width: 54.8vw; text-align: center; margin: 0 auto 7.6vw auto; }

.sp-main .sp_policy section#cont03 div.inner ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; width: 90.66667vw; margin: 0 auto 23.86667vw auto; }

.sp-main .sp_policy section#cont03 div.inner ul li { position: relative; top: 0; left: 0; background: url(../images/policy/cont03_list_bg.svg) center center no-repeat; background-size: cover; width: 43.6vw; height: 20vw; box-sizing: border-box; margin: 0 0 3.33333vw 0; padding: 7.33333vw 0 0 0; }

.sp-main .sp_policy section#cont03 div.inner ul li::after { display: block; content: ''; background: url(../images/policy/cont03_icon.svg) center center no-repeat; background-size: 14vw auto; width: 100%; height: 2.93333vw; position: absolute; top: 2.53333vw; left: 0; }

.sp-main .sp_policy section#cont03 div.inner ul li.text { background: none; font-size: 2.26667vw; line-height: 2.23529; padding: 2.8vw 0 0 0.26667vw; letter-spacing: 0; }

.sp-main .sp_policy section#cont03 div.inner ul li.text::after { display: none; }

.sp-main .sp_policy section#cont03 div.inner ul li a { display: block; }

.sp-main .sp_policy section#cont03 div.inner ul li p { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; background: transparent no-repeat; background-position: right 2.66667vw center; text-align: center; font-size: 3.2vw; line-height: 1.375; color: #c21126; letter-spacing: 0; width: 100%; height: 12vw; box-sizing: border-box; }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon01 { background-image: url(../images/policy/cont03_img01.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon02 { background-image: url(../images/policy/cont03_img02.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon03 { background-image: url(../images/policy/cont03_img03.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon04 { background-image: url(../images/policy/cont03_img04.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon05 { background-image: url(../images/policy/cont03_img05.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon06 { background-image: url(../images/policy/cont03_img06.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon07 { background-image: url(../images/policy/cont03_img07.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon08 { background-image: url(../images/policy/cont03_img08.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon09 { background-image: url(../images/policy/cont03_img09.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon10 { background-image: url(../images/policy/cont03_img10.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p.icon11 { background-image: url(../images/policy/cont03_img11.svg); }

.sp-main .sp_policy section#cont03 div.inner ul li p span { display: block; text-align: center; padding: 0 0 0 4vw; }

.sp-main .sp_policy section#cont03 div.inner ul li:nth-child(even) span { display: block; width: 26.93333vw; text-align: center; padding: 0 0 0 4vw; }

.sp-main .sp_policy section#cont03 div.inner ul li:nth-child(odd) span { display: block; width: 26.93333vw; text-align: center; padding: 0 0 0 4vw; }

.sp-main .sp_price #main_img.main_img02::before { height: 227.06667vw; }

.sp-main .sp_price #main_img.main_img02 div.title { background: url(../images/price/main.jpg) center top no-repeat; background-size: cover; }

.sp-main .sp_price #main_img.main_img02 div.bg div.flex { background: url(../images/common/tilte_bg3.svg) center top no-repeat; background-size: cover; height: 197.2vw; }

.sp-main .sp_price #main_img.main_img02 div.bg div.flex div.right { height: 97.86667vw; }

.sp-main .sp_price section#cont01 { padding: 10.66667vw 0 8.26667vw 0; }

.sp-main .sp_price section#cont01 div.inner strong { display: block; width: 76.93333vw; margin: 0 auto 4.8vw auto; }

.sp-main .sp_price section#cont01 div.inner p { color: #4d4d4d; letter-spacing: 0.06em; font-size: 3.6vw; line-height: 2; width: 90.93333vw; margin: 0 auto 9.33333vw auto; }

.sp-main .sp_price section#cont01 div.inner span { display: block; width: 26vw; margin: 0 auto; }

.sp-main .sp_price section#cont02 { padding: 0 0 5.6vw 0; }

.sp-main .sp_price section#cont02 div.inner { position: relative; top: 0; left: 0; width: 100%; padding: 12.4vw 0 0 0; }

.sp-main .sp_price section#cont02 div.inner em.title { position: absolute; top: 0; left: -1.33333vw; display: block; color: #c21126; line-height: 1.0; font-size: 16.4vw; letter-spacing: 0.1em; opacity: 0.15; }

.sp-main .sp_price section#cont02 div.inner h2 { font-size: 7.33333vw; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.1; margin: 0 0 9.06667vw 0; }

.sp-main .sp_price section#cont02 div.inner h2 span { display: block; text-align: center; font-size: 3.33333vw; line-height: 1.1; letter-spacing: 0.14em; margin: 0 0 2.53333vw 0; }

.sp-main .sp_price section#cont02 div.inner div.flex { border-top: 5.06667vw solid #c21126; padding: 7.46667vw 0 17.06667vw 0; margin: 0 auto; box-sizing: border-box; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left { position: relative; top: 0; left: 0; margin: 0 0 9.06667vw 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.img strong { display: block; font-size: 8.53333vw; color: #c21126; text-align: center; letter-spacing: -0.08em; margin: 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.img strong b { font-size: 8.8vw; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.img span { display: block; text-align: center; font-size: 2.93333vw; letter-spacing: 0.06em; width: 90.66667%; margin: 0 auto 2.4vw auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.img p { width: 91.06667%; margin: 0 auto 10.66667vw auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text { border: 0.13333vw solid #c21126; width: 90.66667vw; padding: 5.46667vw 0 6.4vw 0; margin: 0 auto; box-sizing: border-box; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text strong { display: block; text-align: center; font-size: 4vw; letter-spacing: 0.46em; color: #c21126; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text strong::after { content: ''; display: block; background: #c21126; width: 77.33333vw; height: 0.13333vw; margin: 3.33333vw auto 0 auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text p { color: #4d4d4d; font-size: 2.93333vw; line-height: 2.09091; width: 77.33333vw; margin: 3.06667vw auto 0 auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text div.parts_btn {
  margin: 3.06667vw auto 0 auto;
  width: 77.33333vw;
}

.sp-main .sp_price section#cont02 div.inner div.flex div.left div.text div.parts_btn a {
  display: block;
  border-radius: 100px;
  background: #C21127 url(../images/pc/common/icon01.svg) no-repeat;
  background-size: 5.6vw auto;
  background-position: right 6.93333vw center;
  color: #FFFFFF;
  text-align: center;
  font-size: 3.6vw;
  letter-spacing: 0.36em;
  margin: 0 auto;
  padding: 4.93333vw 0 5.06667vw 0;
}

.sp-main .sp_price section#cont02 div.inner div.flex div.right { width: 100%; padding: 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right strong { display: block; text-align: center; font-size: 5.33333vw; color: #c21126; letter-spacing: 0.07em; margin: 0 0 4.26667vw 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right p { width: 90.66667%; margin: 0 auto 11.33333vw auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right p img { margin: 0 auto; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right ul li a { display: block; border-radius: 100px; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right ul li:first-child { margin: 0 0 5.73333vw 0; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right ul li:first-child a { background: #c21126 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; }

.sp-main .sp_price section#cont02 div.inner div.flex div.right ul li:last-child a { background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; }

.sp-main .sp_price section#cont02 div.inner div.link { padding: 0 0 20.53333vw 0; }

.sp-main .sp_price section#cont02 div.inner div.link strong { display: block; text-align: center; font-size: 6.66667vw; line-height: 1.5; letter-spacing: 0.08em; color: #c21126; margin: 0 0 10.13333vw 0; }

.sp-main .sp_price section#cont02 div.inner div.link p { text-align: center; width: 26vw; margin: 0 auto; }

.sp-main .sp_price section#cont03 { background: #ffd3d3 url(../images/price/cont03_bg.svg) center top no-repeat; background-size: 100% auto; padding: 19.06667vw 0 21.86667vw 0; }

.sp-main .sp_price section#cont03 div.inner h2 { font-size: 3.33333vw; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.1; margin: 0 0 6.66667vw 0; }

.sp-main .sp_price section#cont03 div.inner h2 span { display: block; text-align: center; font-size: 8vw; line-height: 1.1; letter-spacing: 0.14em; margin: 0 0 2.4vw 0; }

.sp-main .sp_price section#cont03 div.inner ul { width: 90.66667%; margin: 0 auto 8.26667vw auto; }

.sp-main .sp_price section#cont03 div.inner ul li { width: 100%; margin: 0 0 4.4vw 0; }

.sp-main .sp_price section#cont03 div.inner div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: 0.08em; margin: 0 0 7.73333vw 0; }

.sp-main .sp_price section#cont03 div.inner div.link p { text-align: center; width: 26vw; margin: 8.8vw auto 11.33333vw auto; }

.sp-main .sp_price section#cont03 div.inner div.link a { display: block; border-radius: 100px; background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_result #main_img.main_img02 div.title { background: url(../images/result/main.jpg) center top no-repeat; background-size: cover; padding: 5.6vw 0 4vw 0; }

.sp-main .sp_result #main_img.main_img02 div.title strong { margin: 0 0 0.4vw 0; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.left div strong { letter-spacing: 0.09em; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.left div ul { margin: 2.53333vw 0 2.8vw 0; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right { padding: 6.8vw 0 0 7.73333vw; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right em { display: block; position: absolute; bottom: 0; right: -4.66667vw; width: 36.66667vw; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right em img { width: 100%; height: auto; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right div { width: 75.33333vw; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right div h3 { font-size: 3.6vw; letter-spacing: 0.14em; color: #c41126; margin: 0 0 0.66667vw 0; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right div span { display: block; margin: 0 0 3.73333vw 0; }

.sp-main .sp_result #main_img.main_img02 div.bg div.flex div.right div p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; letter-spacing: 0.06em; width: 49.6vw; }

.sp-main .sp_result section#cont01 { padding: 7.73333vw 0 0 0; }

.sp-main .sp_result section#cont01 div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: -0.01em; }

.sp-main .sp_result section#cont01 div.link p { text-align: center; width: 26vw; margin: 10.4vw auto 0 auto; }

.sp-main .sp_result section#cont01 div.link.link_seccond p { margin: 8.8vw auto 11.33333vw auto; }

.sp-main .sp_result section#cont01 div.link.link_seccond a { display: block; border-radius: 100px; background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_result section#cont01 ul { margin: 16.13333vw 0 0 0; }

.sp-main .sp_result section#cont01 ul li { overflow: hidden; }

.sp-main .sp_result section#cont01 ul li div.box div.title { width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_result section#cont01 ul li div.box div.title strong { display: block; font-size: 16.4vw; color: #c21126; opacity: 0.15; line-height: 1.0; letter-spacing: 0.1em; }

.sp-main .sp_result section#cont01 ul li div.box div.title span { display: block; font-size: 4vw; letter-spacing: 0.15em; line-height: 1.0; color: #c21126; }

.sp-main .sp_result section#cont01 ul li div.box div.text strong { display: block; color: #c21126; font-size: 8vw; letter-spacing: 0.14em; line-height: 1.5; width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_result section#cont01 ul li div.box div.text p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_result section#cont01 ul li div.box div.text p sup { font-size: 3.06667vw; }

.sp-main .sp_result section#cont01 ul li.lsit1 { background: #ffd3d3 url(../images/result/icon01.svg) no-repeat; background-position: right 6.93333vw top 39.2vw; background-size: 22vw auto; padding: 8.53333vw 0 18.53333vw 0; }

.sp-main .sp_result section#cont01 ul li.lsit1 div.box div.title { margin-bottom: 1.46667vw; }

.sp-main .sp_result section#cont01 ul li.lsit1 div.box div.title strong { margin-bottom: 3.06667vw; }

.sp-main .sp_result section#cont01 ul li.lsit1 div.box div.text strong { margin-bottom: 7.33333vw; }

.sp-main .sp_result section#cont01 ul li.lsit1 div.box div.text div.img { margin-bottom: 2.66667vw; }

.sp-main .sp_result section#cont01 ul li.lsit2 { background: url(../images/result/icon02.svg) no-repeat; background-position: right -2vw top 42.26667vw; background-size: 25.46667vw auto; padding: 8.26667vw 0 18.4vw 0; }

.sp-main .sp_result section#cont01 ul li.lsit2 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_result section#cont01 ul li.lsit2 div.box div.title strong { margin-bottom: 2.8vw; }

.sp-main .sp_result section#cont01 ul li.lsit2 div.box div.text strong { margin-bottom: 6.8vw; }

.sp-main .sp_result section#cont01 ul li.lsit2 div.box div.text div.img { margin-bottom: 8.93333vw; }

.sp-main .sp_result section#cont01 ul li.lsit3 { background: #ffd3d3 url(../images/result/icon03.svg) no-repeat; background-position: right 6.93333vw top 46.53333vw; background-size: 28.53333vw auto; padding: 8.26667vw 0 18.26667vw 0; }

.sp-main .sp_result section#cont01 ul li.lsit3 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_result section#cont01 ul li.lsit3 div.box div.title strong { margin-bottom: 3.46667vw; }

.sp-main .sp_result section#cont01 ul li.lsit3 div.box div.text strong { margin-bottom: 0; }

.sp-main .sp_result section#cont01 ul li.lsit3 div.box div.text div.img { margin-bottom: 9.46667vw; }

.sp-main .sp_result section#cont01 ul li.lsit4 { background: url(../images/result/icon04.svg) no-repeat; background-position: right 6vw top 26.4vw; background-size: 19.33333vw auto; padding: 8.4vw 0 16.4vw 0; }

.sp-main .sp_result section#cont01 ul li.lsit4 div.box div.title { margin-bottom: 1.46667vw; }

.sp-main .sp_result section#cont01 ul li.lsit4 div.box div.title strong { margin-bottom: 2.93333vw; }

.sp-main .sp_result section#cont01 ul li.lsit4 div.box div.text strong { margin-bottom: 8.53333vw; }

.sp-main .sp_result section#cont01 ul li.lsit4 div.box div.text div.img { position: relative; top: 0; left: 0; margin-bottom: 9.06667vw; }

.sp-main .sp_result section#cont01 ul li.lsit4 div.box div.text div.img::after { position: absolute; top: -24.13333vw; right: 4.66667vw; display: block; content: ''; background: url(../images/result/cont01_img04_icon.png) center center no-repeat; background-size: cover; width: 32.4vw; height: 24.13333vw; }

.sp-main .sp_feature #main_img.main_img02 div.title { background: url(../images/feature/main.jpg) center top no-repeat; background-size: cover; padding: 5.33333vw 0 3.86667vw 0; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.left { padding: 6.53333vw 0 0 30.13333vw; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.left div strong { letter-spacing: 0.1em; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.left div ul { margin: 2.53333vw 0 2.53333vw 0; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.left div p { letter-spacing: 0.12em; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.right { padding: 6.4vw 0 0 7.73333vw; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.right div h3 { margin: 0 0 1.2vw 0; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 3.2vw 0; }

.sp-main .sp_feature #main_img.main_img02 div.bg div.flex div.right div p { letter-spacing: 0; }

.sp-main .sp_feature section#cont01 { padding: 9.2vw 0 0 0; }

.sp-main .sp_feature section#cont01 div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: 0.08em; }

.sp-main .sp_feature section#cont01 div.link strong img { width: 58.93333vw; height: auto; margin: 0 auto; }

.sp-main .sp_feature section#cont01 div.link p { text-align: center; width: 26vw; margin: 10.4vw auto 0 auto; }

.sp-main .sp_feature section#cont01 ul { margin: 20vw 0 0 0; }

.sp-main .sp_feature section#cont01 ul li { overflow: hidden; }

.sp-main .sp_feature section#cont01 ul li div.box div.title { width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_feature section#cont01 ul li div.box div.title strong { display: block; font-size: 16.4vw; color: #c21126; opacity: 0.15; line-height: 1.0; letter-spacing: 0.1em; }

.sp-main .sp_feature section#cont01 ul li div.box div.title span { display: block; font-size: 4vw; letter-spacing: 0.15em; line-height: 1.0; color: #c21126; }

.sp-main .sp_feature section#cont01 ul li div.box div.text strong { display: block; color: #c21126; font-size: 8vw; letter-spacing: 0.075em; line-height: 1.5; width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_feature section#cont01 ul li div.box div.text span { display: block; }

.sp-main .sp_feature section#cont01 ul li div.box div.text p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; width: 90.66667%; margin-left: auto; margin-right: auto; }

.sp-main .sp_feature section#cont01 ul li div.box div.text p sup { font-size: 3.06667vw; }

.sp-main .sp_feature section#cont01 ul li div.box div.text a { display: block; border-radius: 100px; background: #c21126 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 3.73333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; margin-left: auto; margin-right: auto; }

.sp-main .sp_feature section#cont01 ul li.lsit1 { background: #ffd3d3 url(../images/feature/icon01.svg) no-repeat; background-position: right 10.66667vw top 32.53333vw; background-size: 21.6vw auto; padding: 9.06667vw 0 18.26667vw 0; }

.sp-main .sp_feature section#cont01 ul li.lsit1 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit1 div.box div.title strong { margin-bottom: 3.06667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit1 div.box div.text strong { margin-bottom: 6.53333vw; }

.sp-main .sp_feature section#cont01 ul li.lsit1 div.box div.text span { margin-bottom: 4.8vw; }

.sp-main .sp_feature section#cont01 ul li.lsit2 { background: url(../images/feature/icon02.svg) no-repeat; background-position: right 6.4vw top 18.66667vw; background-size: 21.46667vw auto; padding: 8.4vw 0 18.4vw 0; }

.sp-main .sp_feature section#cont01 ul li.lsit2 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit2 div.box div.title strong { margin-bottom: 3.2vw; }

.sp-main .sp_feature section#cont01 ul li.lsit2 div.box div.text strong { margin-bottom: 7.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit2 div.box div.text span { margin-bottom: 3.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit3 { background: #ffd3d3 url(../images/feature/icon03.svg) no-repeat; background-position: right 6.93333vw top 46.26667vw; background-size: 29.33333vw auto; padding: 8vw 0 20vw 0; }

.sp-main .sp_feature section#cont01 ul li.lsit3 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit3 div.box div.title strong { margin-bottom: 3.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit3 div.box div.text strong { margin-bottom: 7.33333vw; }

.sp-main .sp_feature section#cont01 ul li.lsit3 div.box div.text span { margin-bottom: 3.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit3 div.box div.text p { margin-bottom: 5.73333vw; }

.sp-main .sp_feature section#cont01 ul li.lsit4 { background: url(../images/feature/icon04.svg) no-repeat; background-position: right 10.66667vw top 30.66667vw; background-size: 10.4vw auto; padding: 6.4vw 0 18.66667vw 0; }

.sp-main .sp_feature section#cont01 ul li.lsit4 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit4 div.box div.title strong { margin-bottom: 3.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit4 div.box div.text strong { margin-bottom: 7.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit4 div.box div.text span { margin-bottom: 4.8vw; }

.sp-main .sp_feature section#cont01 ul li.lsit5 { background: #ffd3d3 url(../images/feature/icon05.svg) no-repeat; background-position: right 4.26667vw top 52.93333vw; background-size: 29.2vw auto; padding: 8.13333vw 0 18.8vw 0; }

.sp-main .sp_feature section#cont01 ul li.lsit5 div.box div.title { margin-bottom: 1.6vw; }

.sp-main .sp_feature section#cont01 ul li.lsit5 div.box div.title strong { margin-bottom: 3.46667vw; }

.sp-main .sp_feature section#cont01 ul li.lsit5 div.box div.text strong { margin-bottom: 7.2vw; }

.sp-main .sp_feature section#cont01 ul li.lsit5 div.box div.text span { margin-bottom: 1.33333vw; }

.sp-main .sp_feature section#cont02 { padding: 19.33333vw 0 0 0; }

.sp-main .sp_feature section#cont02 h2 { font-size: 7.33333vw; color: #c21126; text-align: center; letter-spacing: 0.2em; line-height: 1.36364; margin: 0 0 6.66667vw 0; }

.sp-main .sp_feature section#cont02 h2 span { display: block; text-align: center; font-size: 3.6vw; line-height: 1.1; letter-spacing: 0.26em; margin: 0 0 0.8vw 0; }

.sp-main .sp_feature section#cont02 nav { border-bottom: 5.6vw solid #c21126; margin: 0 0 9.2vw 0; }

.sp-main .sp_feature section#cont02 nav ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 91.33333vw; margin: 0 auto; }

.sp-main .sp_feature section#cont02 nav ul li { width: 44.26667vw; }

.sp-main .sp_feature section#cont02 nav ul li a { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; justify-content: center; border-radius: 1.33333vw 1.33333vw 0 0; background: #b6c0c0; color: #FFFFFF; text-align: center; font-size: 4.13333vw; line-height: 1.6129; letter-spacing: 0.12em; -webkit-transition: 0.30s; -moz-transition: 0.30s; -ms-transition: 0.30s; -o-transition: 0.30s; transition: 0.30s; height: 22.4vw; }

.sp-main .sp_feature section#cont02 nav ul li a.on, .sp-main .sp_feature section#cont02 nav ul li a:hover { background: #c21126; }

.sp-main .sp_feature section#cont02 div.link { margin: 11.73333vw 0 0 0; }

.sp-main .sp_feature section#cont02 div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: 0.08em; }

.sp-main .sp_feature section#cont02 div.link p { text-align: center; width: 26vw; margin: 8.4vw auto 12.13333vw auto; }

.sp-main .sp_feature section#cont02 div.link a { display: block; border-radius: 100px; background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; margin-left: auto; margin-right: auto; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont { display: none; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont.show { display: block; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; flex-wrap: wrap; width: 90vw; margin: 0 auto; padding: 0 0 1.86667vw 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li { position: relative; top: 0; left: 0; width: 41.46667vw; margin: 0 0 5.06667vw 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li span, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li span { display: block; position: relative; top: 0; left: 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li strong, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li strong { position: relative; top: 0; left: 0; display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; background: #c21126; color: #FFFFFF; text-align: center; font-size: 3.33333vw; line-height: 1.66667; letter-spacing: 0.21em; height: 8.4vw; padding: 0 0 0 7.33333vw; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li strong span, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li strong span { display: block; width: 100%; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li strong sup, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li strong sup { font-size: 2.4vw; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li strong em, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li strong em { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; position: absolute; top: -0.93333vw; left: -2.4vw; background: url(../images/feature/cont02_icon.svg) center center no-repeat; background-size: cover; color: #c21126; font-size: 5.46667vw; letter-spacing: 0; width: 10.13333vw; height: 10.13333vw; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li p, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li p { font-size: 3.33333vw; line-height: 1.8; color: #4d4d4d; text-align: justify; letter-spacing: 0.06em; padding: 2vw 0 0 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li p sup, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li p sup { display: block; font-size: 2.13333vw; margin: 0.53333vw 0 0 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li.last strong, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li.last strong { padding: 0; height: 15.06667vw; letter-spacing: 0.09em; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ul li.last strong span, .sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li.last strong span { text-indent: 7.33333vw; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li { margin: 0 0 7.86667vw 0; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(1) strong { padding: 0 0 0 7.33333vw; box-sizing: border-box; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(7) strong { letter-spacing: 0.05em; padding: 0 0 0 7.33333vw; box-sizing: border-box; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(6) strong { background: #4a8dd7; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont ol li:nth-child(6) strong em { background: url(../images/feature/cont02_icon02.svg) center center no-repeat; background-size: cover; text-align: center; font-size: 2.4vw; line-height: 1.19771; color: #4a8dd7; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont div.flex { position: relative; top: 0; left: 0; display: -webkit-flex; display: -ms-flex; display: flex; width: 92vw; margin: 0 auto; padding: 4.8vw 0 0 4vw; box-sizing: border-box; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont div.flex div { position: absolute; top: 0; left: -0.26667vw; width: 26vw; }

.sp-main .sp_feature section#cont02 div#tab_box div.tab_cont div.flex p { border-radius: 1.33333vw; background: #ffd3d3; display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; color: #4d4d4d; font-size: 3.33333vw; line-height: 2; width: 88.26667vw; height: 42.13333vw; padding: 0 4.66667vw 0 23.06667vw; }

.sp-main .sp_reserve #main_img.main_img02 div.title { background: url(../images/reserve/main.jpg) center top no-repeat; background-size: cover; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex { background: url(../images/common/tilte_bg2.svg) center top no-repeat; background-size: cover; height: 200.8vw; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.left div strong { letter-spacing: 0.08em; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.left div ul li { letter-spacing: -0.03em; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.right { height: 102.13333vw; padding: 6.8vw 0 0 7.73333vw; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.right div h3 { margin: 0 0 1.06667vw 0; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.right div span { margin: 0 0 3.46667vw 0; }

.sp-main .sp_reserve #main_img.main_img02 div.bg div.flex div.right div p { letter-spacing: 0; }

.sp-main .sp_reserve section#cont01 { padding: 6.4vw 0 20.53333vw 0; }

.sp-main .sp_reserve section#cont01 div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: 0.08em; }

.sp-main .sp_reserve section#cont01 div.link p { text-align: center; width: 25.06667vw; margin: 8.93333vw auto 0 auto; }

.sp-main .sp_reserve section#cont02 { background: #ffdfdf; padding: 10.13333vw 0 20.66667vw 0; }

.sp-main .sp_reserve section#cont02 div.flex { padding: 0 0 5.46667vw 0; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.title { width: 90.66667vw; margin: 0 auto 0.53333vw auto; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.title strong { display: block; margin: 0 0 4.53333vw 0; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.title span { display: block; font-size: 4vw; letter-spacing: 0.15em; line-height: 1.0; color: #c21126; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.text strong { display: block; color: #c21126; font-size: 8vw; letter-spacing: 0.01em; line-height: 1.5; width: 90.66667vw; margin: 0 auto 6.13333vw auto; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.text span { display: block; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.text span.arrow { width: 25.06667vw; margin: 0 auto; }

.sp-main .sp_reserve section#cont02 div.flex div.box div.text p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; width: 90.66667vw; margin: 2.26667vw auto 6.4vw auto; }

.sp-main .sp_reserve section#cont02 div.inner { width: 90.66667%; margin: 0 auto; }

.sp-main .sp_reserve section#cont02 div.inner div#sim { background: linear-gradient(to bottom, #e89fa2 0%, #f1abae 100%); width: 100%; box-sizing: border-box; padding: 0 3.46667vw; margin: 0 0 5.73333vw 0; }

.sp-main .sp_reserve section#cont02 div.inner div#sim #ald_ginza_calla_depilation_simulator .ald_input { width: 100%; }

.sp-main .sp_reserve section#cont02 div.inner div.list h2 { font-size: 5.33333vw; letter-spacing: 0.2em; color: #c21126; text-align: center; }

.sp-main .sp_reserve section#cont02 div.inner div.list ul { display: -webkit-flex; display: -ms-flex; display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; }

.sp-main .sp_reserve section#cont02 div.inner div.list ul li { border: solid #b11425 0.13333vw; width: 43.46667vw; box-sizing: border-box; margin: 4vw 0 0 0; }

.sp-main .sp_reserve section#cont02 div.inner div.list ul li:first-child, .sp-main .sp_reserve section#cont02 div.inner div.list ul li:nth-child(2) { margin: 2.8vw 0 0 0; }

.sp-main .sp_reserve section#cont02 div.inner div.list ul li span { display: block; }

.sp-main .sp_reserve section#cont02 div.inner div.list ul li strong { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; background: #b11425; text-align: center; color: #FFFFFF; font-size: 2.53333vw; line-height: 1.73684; height: 13.33333vw; box-sizing: border-box; }

.sp-main .sp_reserve section#cont03 ul li div.box div.title { width: 90.66667%; margin-right: auto; margin-left: auto; }

.sp-main .sp_reserve section#cont03 ul li div.box div.title strong { display: block; font-size: 16.4vw; color: #c21126; opacity: 0.15; line-height: 1.0; letter-spacing: 0.1em; }

.sp-main .sp_reserve section#cont03 ul li div.box div.title span { display: block; font-size: 4vw; letter-spacing: 0.15em; line-height: 1.0; color: #c21126; }

.sp-main .sp_reserve section#cont03 ul li div.box div.text strong { display: block; color: #c21126; font-size: 8vw; letter-spacing: 0.14em; line-height: 1.5; width: 90.66667%; margin-right: auto; margin-left: auto; }

.sp-main .sp_reserve section#cont03 ul li div.box div.text p { font-size: 3.6vw; line-height: 2; color: #4d4d4d; width: 90.66667%; margin-right: auto; margin-left: auto; }

.sp-main .sp_reserve section#cont03 ul li.lsit1 { padding: 7.46667vw 0 16.93333vw 0; }

.sp-main .sp_reserve section#cont03 ul li.lsit1 div.box div.title { margin-bottom: 0.26667vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit1 div.box div.title strong { margin-bottom: 2.93333vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit1 div.box div.text strong { letter-spacing: 0.06em; margin-bottom: 4.4vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit1 div.box div.text div.img { margin-bottom: 8.13333vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit2 { background: #ffdfdf; padding: 5.86667vw 0 18.66667vw 0; }

.sp-main .sp_reserve section#cont03 ul li.lsit2 div.box div.title { margin-bottom: 0.4vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit2 div.box div.title strong { margin-bottom: 2.53333vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit2 div.box div.text strong { margin-bottom: 2.66667vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit2 div.box div.text div.img { margin-bottom: 5.6vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit3 { padding: 6.26667vw 0 8vw 0; }

.sp-main .sp_reserve section#cont03 ul li.lsit3 div.box div.title { margin-bottom: 0.4vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit3 div.box div.title strong { margin-bottom: 2.93333vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit3 div.box div.text strong { margin-bottom: 10vw; }

.sp-main .sp_reserve section#cont03 ul li.lsit3 div.box div.text div.img { margin-bottom: 13.73333vw; }

.sp-main .sp_reserve section#cont03 div.link { margin: 74px 0 0 0; }

.sp-main .sp_reserve section#cont03 div.link strong { display: block; font-size: 6.66667vw; line-height: 1.5; text-align: center; color: #c21126; letter-spacing: 0.18em; }

.sp-main .sp_reserve section#cont03 div.link p { text-align: center; width: 25.06667vw; margin: 8.26667vw auto 10.13333vw auto; }

.sp-main .sp_reserve section#cont03 div.link a { display: block; border-radius: 100px; background: #0fbe00 url(../images/pc/common/icon01.svg) no-repeat; background-size: 5.6vw auto; background-position: right 6.93333vw center; color: #FFFFFF; text-align: center; font-size: 4vw; letter-spacing: 0.36em; width: 90.66667vw; margin: 0 auto; padding: 4.93333vw 0 5.06667vw 0; }

.sp-main .sp_faq #main_img { position: relative; top: 0; left: 0; background: url(../images/faq/main.jpg) center top no-repeat; background-size: 100% auto; width: 100%; padding: 5.2vw 0 5.73333vw 0; }

.sp-main .sp_faq #main_img div { position: relative; top: 0; left: 0; }

.sp-main .sp_faq #main_img div strong { display: block; text-align: center; font-size: 8vw; letter-spacing: 0.14em; color: #FFFFFF; line-height: 1.33333; line-height: 1.1; margin: 0 0 0.13333vw 0; }

.sp-main .sp_faq #main_img div h1 { text-align: center; font-size: 3.33333vw; letter-spacing: 0.2em; color: #FFFFFF; }

.sp-main .sp_faq section#cont01 { margin: 0 auto; }

.sp-main .sp_faq section#cont01 div.tag { background: #cbd1d1; border-radius: 1.33333vw; width: 90.66667vw; padding: 1.86667vw 0 2.26667vw 3.33333vw; box-sizing: border-box; margin: 2.66667vw auto 0 auto; }

.sp-main .sp_faq section#cont01 div.tag strong { display: block; color: #c21126; font-size: 3.33333vw; letter-spacing: 0.2em; margin: 0 0 1.6vw 0; }

.sp-main .sp_faq section#cont01 div.tag ul { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; }

.sp-main .sp_faq section#cont01 div.tag ul li { margin: 0 3.73333vw 0 0; }

.sp-main .sp_faq section#cont01 div.tag ul li:last-child { margin: 0; }

.sp-main .sp_faq section#cont01 div.tag ul li a { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; font-size: 2.8vw; letter-spacing: 0.18em; color: #4d4d4d; }

.sp-main .sp_faq section#cont01 div.tag ul li a::after { content: ''; display: block; background: url(../images/faq/icon_link.svg) center center no-repeat; background-size: cover; width: 1.06667vw; height: 1.73333vw; margin: 0 0 0 3.06667vw; }

.sp-main .sp_faq section#cont01 div.tag ul li a:hover { opacity: 0.7; }

.sp-main .sp_faq section#cont01 nav { border-bottom: solid #ffc0bf 5.6vw; background: #c41126; }

.sp-main .sp_faq section#cont01 nav ul { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-between; width: 90.66667%; margin: 0 auto; }

.sp-main .sp_faq section#cont01 nav ul li { width: 22vw; }

.sp-main .sp_faq section#cont01 nav ul li a { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: center; align-items: center; border-radius: 1vw 1vw 0 0; background: #b6c0c0; font-size: 3.33333vw; line-height: 1.6; color: #FFFFFF; letter-spacing: 0.12em; text-align: center; width: 100%; height: 16.8vw; }

.sp-main .sp_faq section#cont01 nav ul li a.on { background: #ffc0bf; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body { margin: 0 0 60px 0; box-sizing: border-box; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont { display: none; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont.show { display: block; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li { position: relative; top: 0; left: 0; border-bottom: solid #c41126 0.13333vw; width: 100%; padding: 12vw 0 11.2vw 0; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl { width: 90.66667%; margin: 0 auto; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt { border-bottom: solid #c41126 0.4vw; display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; margin: 0 0 1.6vw -0.26667vw; padding: 0 0 2.93333vw 0; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt span { display: block; width: 7.2vw; margin: 0 1.6vw 0 0; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dt p { font-weight: bold; color: #c21126; font-size: 4.8vw; letter-spacing: 0.16em; line-height: 1.41667; width: 81.6vw; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd { display: -webkit-flex; display: -ms-flex; display: flex; margin: 0 0 0 -0.8vw; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd span { display: block; width: 8.13333vw; margin: 0.93333vw 1.86667vw 0 0; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p { color: #4d4d4d; font-size: 3.6vw; letter-spacing: 0; line-height: 2; width: 78.66667vw; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p strong { font-weight: bold; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd p em { font-style: italic; }

.sp-main .sp_faq section#cont01 div.inner div#tab_body div.tab_cont ul li dl dd a { color: #c21126; }
