@charset "UTF-8";
/* ***************************** Import file to Scss or Sass. */
/* -----------------------------------------------------------------
Title: reset.css
Created: 2019-11-27
Last Modified: 2018-12-28
------------------------------------------------------------------ */
#fancybox-overlay { background: rgba(204, 204, 204, 0.4) !important; }

#fancybox-wrap { left: 15vw !important; width: 70vw !important; box-sizing: border-box; }

#fancybox-wrap #fancybox-close { top: 7.46667vw; right: 5.33333vw; background: url(../images/common/close.svg) left center no-repeat; background-size: 100% auto; width: 10.66667vw; height: 12.26667vw; }

#fancybox-wrap #fancybox-outer { position: relative; top: 0; left: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; padding: 8vw; box-sizing: border-box; }

#fancybox-wrap #fancybox-outer #fancybox-content { width: 100% !important; }

#fancybox-wrap #fancybox-outer #fancybox-content .upimg { padding: 14.93333vw 0 0 0; }

#fancybox-wrap #fancybox-outer #fancybox-content .upimg strong { display: block; color: #c41126; text-align: center; font-size: 6.66667vw; line-height: 1.5; margin: 0 0 6vw 0; }

#fancybox-wrap #fancybox-outer #fancybox-content .upimg p { color: #606060; font-size: 3.6vw; line-height: 2; }